<% namecolwidth = 18 %>
<% colwidth = 7  %>

<TR style ="background-color: white;"<% if prefix %>id='<%= prefix %>_1' style="display:none"<% end %>>

<TH WIDTH="<%= namecolwidth %>%">
	Stats
</TH>

<TH COLSPAN="2" WIDTH="<%= colwidth*2 %>%">
	<img src="<%= @grades_bar_charts[:review] %>" >
	<div class="circle" id="review-circle">
					
	</div>
</TH>

<TH COLSPAN="2" WIDTH="<%= colwidth*2 %>%">
	<img src="<%= @grades_bar_charts[:metareview] %>" >
  <div class="circle" id="metareview-circle">
          
  </div>
</TH>

<TH COLSPAN="2" WIDTH="<%= colwidth*2 %>%">
	<img src="<%= @grades_bar_charts[:feedback] %>" >
  <div class="circle" id="feedback-circle">
          
  </div>
</TH>

<% if @assignment.team_assignment? %>		
  <TH COLSPAN="2" WIDTH="<%= colwidth*2 %>%">
  	<img src="<%= @grades_bar_charts[:teammate] %>" >
    <div class="circle" id="teammate-circle">
          
  </div>
  </TH>
<% end %>

<TH WIDTH="<%= colwidth %>%">&nbsp;</TH></TR>

<script type="text/javascript">
  <% ['review', 'metareview', 'feedback', 'teammate'].each do |type| %>
  <% if @pscore[type.to_sym][:scores][:avg]%>
	var myCircle = Circles.create({
  id:           '<%= "#{type}-circle" %>',
  radius:       25,
  value:        <%= @pscore[type.to_sym][:scores][:avg].to_i %>,
  maxValue:     100,
  width:        7,
  text:         '<%=@pscore[type.to_sym][:scores][:avg].to_i%>',
  colors:       ['#FFEB99', '#FFCC00'],
  duration:       700,
  textClass:      'circles-text'
});
  <%end%>
  <%end%>
</script> 

<style>
  .circles-text{
    font-size: 12px !important;    
  }
</style>          

