<!-- PARTICIPANT -->
<% 
  participant = pscore[:participant]
  if pscore[:review]
    @rscore_review=Rscore.new(pscore,:review)
  end
  if pscore[:metareview]
    @rscore_metareview=Rscore.new(pscore,:metareview)
  end
  if pscore[:feedback]
    @rscore_feedback=Rscore.new(pscore,:feedback)
  end
  if pscore[:teammate]
    @rscore_teammate=Rscore.new(pscore,:teammate)
  end
%>

<TR class="row" <% if team %> id="<%= prefix %>" style="display:none" <% end %>>
    <TD><%= participant.fullname %>
    <BR/><FONT SIZE="-1"><a href="#" id="<%=prefix%>_filesLink" name="<%=prefix%>_filesLink" onClick="toggleElement('<%=prefix%>_files','submission');return false;">show submission</a>
	<% if @topic %> (<%= @topic.topic_identifier %>)<% end %>
	</FONT>  	
    </TD>
    
    <% if @rscore_review.my_avg %>
  	<TD ALIGN="CENTER" VALIGN="TOP"><%= sprintf("%.2f",@rscore_review.my_avg) %>%
  	<BR/><FONT SIZE="-1"><a href="#" id="<%=prefix%>_reviewsLink" name="<%=prefix%>_reviewsLink" onClick="toggleElement('<%=prefix%>_reviews','reviews');return false;">show reviews</a> (<%= pscore[:review][:assessments].size %>)</FONT>
  	</TD>    
   	<TD ALIGN="CENTER" VALIGN="TOP"><%= sprintf("%.0f",@rscore_review.my_min) %>% - <%= sprintf("%.0f",@rscore_review.my_max) %>%
   	<% if controller.action_name != "view_my_scores" %>
   	  <BR/><FONT SIZE="-1"><%= link_to 'email reviewers', :action => 'conflict_notification', :id => participant.id, :submission => 'review' %></FONT>
   	<% end %>  	 
   	</TD>
    <% else %>
   	<TD ALIGN="CENTER">---</TD>
    <TD ALIGN="CENTER">---</TD>
    <% end %>
    
    <% if @rscore_metareview.my_avg %>
    <TD ALIGN="CENTER" VALIGN="TOP"><%= sprintf("%.2f",@rscore_metareview.my_avg) %>%
    <BR/><FONT SIZE="-1"><a href="#" id="<%=prefix%>_mreviewsLink" name="<%=prefix%>_mreviewsLink" onClick="toggleElement('<%=prefix%>_mreviews','metareviews');return false;">show metareviews</a> (<%= pscore[:metareview][:assessments].size %>)</FONT>
    </TD>
    <TD ALIGN="CENTER" VALIGN="TOP"><%= sprintf("%.0f",@rscore_metareview.my_min) %>% - <%= sprintf("%.0f",@rscore_metareview.my_max) %>%
    <% if controller.action_name != "view_my_scores" %>
      <BR/><FONT SIZE="-1"><%= link_to 'email metareviewers', :action => 'conflict_notification', :id => participant.id, :submission => 'review_of_review' %></FONT>
    <% end %>  	    
    </TD>
    <% else %>
    <TD ALIGN="CENTER">---</TD>
    <TD ALIGN="CENTER">---</TD>
    <% end %>
    
    <% if @rscore_feedback.my_avg %>
    <TD ALIGN="CENTER" VALIGN="TOP"><%= sprintf("%.2f",@rscore_feedback.my_avg) %>%
    <BR/><FONT SIZE="-1"><a href="#" id="<%=prefix%>_feedbackLink" name="<%=prefix%>_feedbackLink" onClick="toggleElement('<%=prefix%>_feedback','author feedbacks');return false;">show author feedbacks</a> (<%= pscore[:feedback][:assessments].size %>)</FONT>
    </TD>

    <TD ALIGN="CENTER" VALIGN="TOP"><%= sprintf("%.0f",@rscore_feedback.my_min) %>% - <%= sprintf("%.0f",@rscore_feedback.my_max) %>%
    <% if controller.action_name != "view_my_scores" %>
      <BR/><FONT SIZE="-1"><%= link_to 'email authors', :action => 'conflict_notification', :id => participant.id, :submission => 'review_feedback' %></FONT>
    <% end %>  	    
    </TD>
    <% else %>
    <TD ALIGN="CENTER">---</TD>
    <TD ALIGN="CENTER">---</TD>
    <% end %>
  <!--ACS Teammate review needs to be done only if there are more than one person in the team-->
  <% if @assignment.max_team_size > 1 %>
    <% if @rscore_teammate.my_avg %>
    <TD ALIGN="CENTER" VALIGN="TOP">
    	<%if controller.action_name != "view_my_scores"%>
    		<%= sprintf("%.2f",@rscore_teammate.my_avg) %>
    		<BR/><FONT SIZE="-1"><a href="#" id="<%=prefix%>_teammate_reviewsLink" name="<%=prefix%>_teammate_reviewsLink" onClick="toggleElement('<%=prefix%>_teammate_reviews','teammate reviews');return false;">show teammate reviews</a> (<%= pscore[:teammate][:assessments].size %>)</FONT>
    	<% end %>
    </TD>
    <TD ALIGN="CENTER" VALIGN="TOP"><%= sprintf("%.0f",@rscore_teammate.my_min) %>% - <%= sprintf("%.0f",@rscore_teammate.my_max) %>%
    <% if controller.action_name != "view_my_scores" %>
      <BR/><FONT SIZE="-1"><%= link_to 'email authors', :action => 'conflict_notification', :id => participant.id, :submission => 'teammate_review' %></FONT>
    <% end %>  	    
    </TD>
    <% else %>
    <TD ALIGN="CENTER">---</TD>
    <TD ALIGN="CENTER">---</TD>
    <% end %>    
    <% end %>
    <!-- If we have a total point value, display in "out of" format rather than percentage for total score -->
    <% if pscore[:max_pts_available]
      score_postfix = sprintf(" / %.2f",pscore[:max_pts_available])
    else
      score_postfix = "%"
    end %>
    <% stage = @stage %>
    <% if controller.action_name == 'view' or controller.action_name == "view_my_scores" %>
    	<TD ALIGN="CENTER">
    	<% if stage == "Finished" %>
        <% if participant.grade
          total_score = participant.grade
          title = "A score in blue indicates that the value was overwritten by the instructor or teaching assistant."
        else
          total_score = pscore[:total_score] 
          title = nil
        end %>

            <% hardline = 85
               if @rscore_teammate.my_avg.to_i > hardline
                 total_score = total_score + 0.05*total_score
               elsif @rscore_teammate.my_avg.to_i < hardline and (hardline - @rscore_teammate.my_avg.to_i) > 40
                  total_score = total_score - 10
               elsif @rscore_teammate.my_avg.to_i < hardline and (hardline -@rscore_teammate.my_avg.to_i) > 20
                 total_score = total_score - (hardline -@rscore_teammate.my_avg.to_i)*0.5

            %>
             <%end%>
              <% if total_score>100
              total_score = 100
              %>
              <%end%>
        <div <% if title %>title="<%=title%>" style="color:#0033FF"<% end %>><%= sprintf("%.2f",total_score) %><%= score_postfix %></div>
        <% if controller.action_name != "view_my_scores" %> 
          <BR/><FONT SIZE="-1"><%= link_to 'edit score', :action => 'edit', :id => participant.id %></FONT>
        <% end %>
    	<% else %>
      	<FONT SIZE="-1">(in <%= stage %>)</FONT>
    	<% end %>      
    	</TD>
   	<% else %>
      <% if participant.grade %>
      <TD ALIGN="CENTER"><%= text_field("participant", "grade", :size => 10) %><%= score_postfix %></TD>
      <% else %>
        <TD ALIGN="CENTER"><%= text_field("participant", "grade", :size => 10, :value => sprintf("%.2f", pscore[:total_score])) %><%= score_postfix %></TD>
      <% end %>
   	<% end %>
</TR>
<TR  class="row" id="<%= prefix %>_files" style="display:none">
	<TD COLSPAN="9"><%= render :partial=>'grades/submissions', :locals => {:participant => participant} %></TD>
</TR>
<TR  class="row" id="<%= prefix %>_reviews" style="display:none">
	<TD COLSPAN="9"><%= render :partial=>'grades/reviews', :locals => {:prefix => 'user', :participant => participant, :rscore => pscore[:review]} %></TD>
</TR>
<TR  class="row" id="<%= prefix %>_mreviews" style="display:none">
	<TD COLSPAN="9"><%= render :partial=>'grades/metareviews', :locals => {:prefix => prefix, :participant => participant, :rscore => pscore[:metareview]} %></TD>
</TR>
<TR  class="row" id="<%= prefix %>_feedback" style="display:none">
	<TD COLSPAN="9"><%= render :partial=>'grades/author_feedbacks', :locals => {:prefix => 'user', :participant => participant, :rscore => pscore[:feedback]} %></TD>
</TR>
<TR  class="row" id="<%= prefix %>_teammate_reviews" style="display:none">
	<TD COLSPAN="9"><%= render :partial=>'grades/teammate_reviews', :locals => {:prefix => prefix, :participant => participant, :rscore => pscore[:teammate]} %></TD>
</TR>
<!-- END PARTICIPANT -->