<table class="grades">    
	<tr><th>&nbsp;</th>
		<% for i in 0...reviews.size%>
			<th><%= collabel %>&nbsp;<%=i+1%></th>
		<% end %>
	</tr>
	<% if controller.action_name != "view_my_scores" %>
	<tr class="head"><td align="right"><b><%= rowlabel %></b></td>

      <% weighted_submission = params[:weighted_submission] %>
		<% for review in reviews %>
         <% if !(weighted_submission.nil?) %>
              <% puts "im not nil" %>
              <% for review_hamer in weighted_submission.reviews %>
                  <%if review.id == review_hamer.id %>
                      <% thisReputation = review_hamer.reviewer.inaccuracy.to_s %>
                  <% end %>
              <% end %>
          <% else %>
              <% thisReputation = "NIL_OBJECT" %>
          <% end %>

           <td align="center">                       
           <% if prefix %>

             <a href="#<%= prefix+"_"+review.map.reviewer.name %>"><%= review.map.reviewer.fullname %></a>&nbsp;<%=link_to '<img src="/images/delete_icon.png"/>', :controller => 'response', :action => 'delete', :id => review.id, :return => 'instructor' %> <img src="/images/info.png" title=<%=thisReputation%>>
		   <% else %>
		     <%= link_to review.map.reviewer.fullname, :controller=>ctrl, :action => caction, :id=> review.id%>
		   <% end %>
		   </td>	    
	    <% end %>
	</tr>
	<% end %>
	<tr class="head"><td align="right"><b>Average score</b></td>
		<% for review in reviews %>
		   <td align="center">
             <!-- get the score latest version from all reviews available -->
             <% all_resp=Response.find_all_by_map_id(review.map_id) %>
             <% sort_to=all_resp.sort { |m1,m2|(m1.version_num and m2.version_num) ? m2.version_num <=> m1.version_num : (m1.version_num ? -1 : 1)} %>

             <% score = Score.get_total_score(:response => sort_to[0], :questions => @questions[symbol], :q_types => Array.new) %>
             <% if controller.action_name != "view_my_scores" %>
               <input type="hidden" id="mailer_<%= review.map.reviewer.fullname %>_grade" name="mailer[<%= review.map.reviewer.fullname %>_grade]" value="<%= score  %>"%>
             <% end %>
             <%= sprintf("%.2f",score) %>% &nbsp;
	  	   </td>
	    <% end %>
	</tr>

	<% weighted_submission = params[:weighted_submission] %>

	<!-- "This is a diff. from E-730 F12" -->
    <% if(!(weighted_submission.nil?) && (@post_review_deadline))  %>
        <tr> <td><b>Reviewer Inaccuracy</b></td>
        <% for review in reviews %>
            <td>
            <% for review_hamer in weighted_submission.reviews %>
                <%if review.id == review_hamer.id %>
                    <%= review_hamer.reviewer.inaccuracy %>&nbsp;
                <% end %>
            <% end %>
            </td>
        <% end %>
      </tr>
      <!-- Ignore cycles for now -->
      <% if false %>      
      <tr class="head"> <td><b>2 Cycle Similarity <br> Score</b></td>
        <% for review in reviews %>
            <td>
            <% for similarity_cycle in weighted_submission.submission.get_two_node_cycles %>
                <% if review.map.reviewer.user_id== similarity_cycle[1][0].user_id %>
                    <%= weighted_submission.submission.get_cycle_similarity_score(similarity_cycle) %>&nbsp;
                    <%break %>
                <% end %>
            <% end %>
            </td>
        <% end %>
      </tr>
      
      <tr class="head"> <td><b>3 Cycle Similarity <br> Score</b></td>
        <% for review in reviews %>
            <td>
            <% for similarity_cycle in weighted_submission.submission.get_three_node_cycles %>
                <% if review.map.reviewer.user_id== similarity_cycle[1][0].user_id %>
                    <%= weighted_submission.submission.get_cycle_similarity_score(similarity_cycle) %>&nbsp;<br>
                <% elsif review.map.reviewer.user_id== similarity_cycle[2][0].user_id %>
                    <%= weighted_submission.submission.get_cycle_similarity_score(similarity_cycle) %>&nbsp;<br>
                <% end %>
            <% end %>
            </td>
        <% end %>
      </tr>
      <% end %>
      <%# We allow instructors, admins and TAs to drop a review %>
      <% if session[:user].role_id == 2 || session[:user].role_id == 3 || session[:user].role_id == 4 || session[:user].role_id == 6%>
          <tr> <td><b>Add / Drop <br> Review</b></td>
            <% for review in reviews %>
                <%= review.id %> <%= review.cycle %>
                <%
                   if review.cycle == 0
                     drop_add_review = "Add"
                   else
                     drop_add_review = "Drop"
                   end
                %>
                <td><%= button_to drop_add_review ,{:controller => 'response', :action => 'update_cycle', :id => review.id,:assignment_id => params[:id]} %> </td>


            <% end %>
          </tr>
      <% end  %>
      
    <% end  %>
    <!-- "Diff. ends" -->
</table>
