<table class="table table-striped grades" class="width: 100%">
  <%if ctrl=='review' && @assignment.vary_by_round? %>
      <% reviews = reviews.select{|response| response.round == round}.reverse.uniq{|response| response.map_id}.sort_by{|response| response.map_id} %>
  <%else%>
      <% reviews = reviews.sort_by{|response| response.map_id} %>
  <%end%>
	<tr><th style="text-align:center;">&nbsp;</th>
		<% for i in 0...reviews.size%>
			<th style="text-align:center;"><%= collabel %>&nbsp;<%=i+1%>&nbsp;</th>
		<% end %>
	</tr>
	<% unless controller.action_name == "view_my_scores" && @assignment.is_anonymous?%>
	<tr class="head"><td align="right"><b><%= rowlabel %></b></td>	    	
		<% for review in reviews %>
       <td align="center">
       <% unless controller.action_name == "view_my_scores"%>
         &nbsp;<%= review.map.reviewer.fullname(session[:ip]) %></a>&nbsp;<%=link_to image_tag("/assets/delete_icon.png", :border => 0), {:controller => 'response', :action => 'delete', :id => review.id, :return => 'instructor'} %>
		   <% else %>
         &nbsp;<%= review.map.reviewer.fullname(session[:ip]) %>&nbsp;
		   <% end %>
		   </td>	    
    <% end %>
	</tr>
	<% end %>

	<tr class="head">
	<td align="right"><b>Average score</b></td>

		<% for review in reviews %>
		   <td align="center">
             <% score = Response.score(:response => [review], :questions => @questions) %>
             <% unless controller.action_name == "view_my_scores" %>
               <input type="hidden" class="form-control" id="mailer_<%= review.map.reviewer.fullname(session[:ip]) %>_grade" name="mailer[<%= review.map.reviewer.fullname(session[:ip]) %>_grade]" value="<%= score %>">
             <% end %>
             <%if score==-1%>
               <%= sprintf("--") %>% &nbsp;
             <%else%>
               <%= sprintf("%.2f",score) %>% &nbsp;
             <%end%>
	  	   </td>
	    <% end %>
	</tr>
  &nbsp;

  <!--Adding code for fetching the reputation -->
  <% unless @assignment.reputation_algorithm == '' %>
    <tr class="head" id="reputation_row" style="visibility: hidden">
      <% if reviews.count > 0 and reviews[0].round == @assignment.rounds_of_reviews %>
          <td align="right"><b>Reputation</b>&nbsp;<button class="btn btn-sm btn-default" onclick="hide_reputation()">Hide</button></td>
          <% for review in reviews %>
              <td align="center">
                <% review_participant = Participant.find(review.map.reviewer.id) %>
                <% case @assignment.reputation_algorithm %>
                <% when 'Lauw' %>
                    <p id = "reputation_score" class = <%= get_css_style_for_lauw_reputation(review_participant.Lauw)%> style = "width:60px;">
                  <%= review_participant.Lauw%></p>
                <% when 'Hamer' %>
                    <p id = "reputation_score" class = <%= get_css_style_for_hamer_reputation(review_participant.Hamer)%> style = "width:60px;">
                  <%= review_participant.Hamer%></p>
                <% end %>
              </td>
          <% end %>        
      <% end %>
    </tr>
  <% end %>
</table>

<button class="btn btn-sm btn-default" id="show_button" onclick="show_reputation()">Show Reputation</button>

<script>

function hide_reputation(){
  $("#show_button").css("visibility", "visible");
  $("#reputation_row").css("visibility", "hidden");
}

function show_reputation(){
  $("#show_button").css("visibility", "hidden");
  $("#reputation_row").css("visibility", "visible");
}

</script>