<table class="grades">    
	<tr><th>&nbsp;</th>
		<% for i in 0...reviews.size%>
			<th><%= collabel %>&nbsp;<%=i+1%></th>
		<% end %>
	</tr>
	<% if controller.action_name != "grades_show" %>
	<tr class="head"><td align="right"><b><%= rowlabel %></b></td>	    	
		<% for review in reviews %>
           <td align="center">                       
           <% if prefix %>         
             <a href="#<%= prefix+"_"+review.map.reviewer.name %>"><%= review.map.reviewer.fullname %></a>&nbsp;<%=link_to image_tag("/images/delete_icon.png"), :controller => 'response', :action => 'delete', :id => review.id, :return => 'instructor' %>
		   <% else %>
		     <%= link_to review.map.reviewer.fullname, :controller=>ctrl, :action => caction, :id=> review.id%>
		   <% end %>
           </td>
	    <% end %>
	</tr>
	<% end %>
	<tr class="head"><td align="right"><b>Average score</b></td>
		<% for review in reviews %>
		   <td align="center">

             <!-- get the score latest version from all reviews available -->
             <% all_resp=Response.where(map_id: review.map_id) %>
             <% sort_to=all_resp.sort { |m1,m2|(m1.version_num and m2.version_num) ? m2.version_num <=> m1.version_num : (m1.version_num ? -1 : 1)} %>

             <% score = Score.get_total_score(:response => sort_to[0], :questions => @questions[symbol], :q_types => Array.new) %>
             <% if controller.action_name != "grades_show" %>
               <input type="hidden" id="mailer_<%= review.map.reviewer.fullname %>_grade" name="mailer[<%= review.map.reviewer.fullname %>_grade]" value="<%= score  %>">
           <% end %>
             <%= sprintf("%.2f",score) %> &nbsp;
             <!--if the instructor think the reviewer's grade is not fair,send a email to the reviewer-->
             <% if controller.action_name != "grades_show" %>
                 <BR/><FONT SIZE="-1"><%= link_to 'email reviewer', :action => 'conflict_email',:remote=> true,:reviewer_id=> review.map.reviewer.user,:participant_id=>participant,:score=>sprintf("%.2f",score) %></FONT>

           <% end %>
	  	   </td>
	    <% end %>
	</tr>
</table>
