<%
    participant = pscore[:participant]
if pscore[:review]
  s_max = pscore[:review][:scores][:max]
  s_min = pscore[:review][:scores][:min]
  s_avg = pscore[:review][:scores][:avg]
end
if pscore[:metareview]
  r_max = pscore[:metareview][:scores][:max]
  r_min = pscore[:metareview][:scores][:min]
  r_avg = pscore[:metareview][:scores][:avg]
end
if pscore[:feedback]
  f_max = pscore[:feedback][:scores][:max]
  f_min = pscore[:feedback][:scores][:min]
  f_avg = pscore[:feedback][:scores][:avg]
end
if pscore[:teammate]
  tr_max = pscore[:teammate][:scores][:max]
  tr_min = pscore[:teammate][:scores][:min]
  tr_avg = pscore[:teammate][:scores][:avg]
end
%>

<div class="row">
  <div class="col-md-12">
    <h1>Scores for <b><%= @assignment.name %></b></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table round-border-table text-center">
      <thead>
        <tr style="background-color:#dddddd">
          <th width="18%"></th>
          <th colspan="2" width="14%">Submitted work</th>
          <th colspan="2" width="14%">Reviewing</th>
          <th colspan="2" width="14%">Author Feedback</th>
          <th colspan="2" width="14%">Teammate Review</th>
          <th width="7%"></th>
        </tr>
        <tr style="background-color:#dddddd">
          <th width="18%">Contributor</th>
          <th width="6%">Average</th>
          <th width="8%">Range</th>
          <th width="6%">Average</th>
          <th width="8%">Range</th>
          <th width="6%">Average</th>
          <th width="8%">Range</th>
          <th width="6%">Average</th>
          <th width="8%">Range</th>
          <th width="7%">Stage</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= participant.fullname %>
          <br/><a href="http://expertiza.ncsu.edu/grades/view_my_scores/25132#" id="user_filesLink" name="user_filesLink" onclick="toggleElement(&#39;user_files&#39;,&#39;submission&#39;);return false;">show
            submission</a>
        </td>
        <td>
          <% if s_avg %>
            <%= sprintf("%.2f", s_avg) %>%
          <% else %>
            ---
          <% end %>
        </td>
        <td>
          <% if s_avg %>
            <%= sprintf("%.0f", s_min) %>% - <%= sprintf("%.0f", s_max) %>%
          <% else %>
            ---
          <% end %>
        </td>
        <td>
          <% if r_avg %>
            <%= sprintf("%.2f", r_avg) %>%
          <% else %>
            ---
          <% end %>
        </td>
        <td>
          <% if r_avg %>
            <%= sprintf("%.0f", r_min) %>% - <%= sprintf("%.0f", r_max) %>%
          <% else %>
            ---
          <% end %>
        </td>
        <td>
          <% if f_avg %>
            <%= sprintf("%.2f", f_avg) %>%
          <% else %>
            ---
          <% end %>
        </td>
        <td>
          <% if f_avg %>
            <%= sprintf("%.0f", f_min) %>% - <%= sprintf("%.0f", f_max) %>%
          <% else %>
            ---
          <% end %>
        </td>
        <td>
          <% if tr_avg %>
            <%= sprintf("%.2f", tr_avg) %>
          <% else %>
            ---
          <% end %>
        </td>
        <td>
          <% if tr_avg %>
            <%= sprintf("%.0f", tr_min) %>% - <%= sprintf("%.0f", tr_max) %>%
          <% else %>
            ---
          <% end %>
        </td>
        <td><%= stage %></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
