<!-- PARTICIPANT -->
<%
    participant = pscore[:participant]
%>


<% namecolwidth = 18 %>
<% colwidth = 7  %>

<TABLE class="grades">

  <TR>
    <TH WIDTH="<%=colwidth %>%">Contributor</th>
    <TH WIDTH="<%= colwidth %>%">Average</th>
    <TH WIDTH="<%= colwidth %>%">Range</th>
  </TR>

  <TR <% if team %> id="<%= prefix %>" style="display:none; background-color: white;" <% end %>>
    <TD ALIGN="CENTER" VALIGN="TOP"><%= participant.fullname(session[:ip]) %>
    <% if participant.topic %> (<%= participant.topic.topic_identifier %>)<% end %>
  </FONT>
</TD>
<% if @rscore_review.my_avg %>
  <TD ALIGN="CENTER" VALIGN="TOP"><%= sprintf("%.2f",@rscore_review.my_avg) %>%

  </TD>
  <TD ALIGN="CENTER" VALIGN="TOP"><%= sprintf("%.0f",@rscore_review.my_min) %>% - <%= sprintf("%.0f",@rscore_review.my_max) %>%
  </TD>
<% else %>
  <TD ALIGN="CENTER">---</TD>
  <TD ALIGN="CENTER">---</TD>

<% end %>

</TABLE>

<%= render :partial=>'grades/reviews', :locals => {:prefix => 'user', :participant => participant, :rscore => pscore[:review]} %>
