<!-- SUMMARY REVIEWS -->
  <table class="table_stretch">
    <%
      @summary.keys.each do |round|
    %>
        <tr class='header_class' data-toggle='collapse' data-target='#round_<%= round %>'>
          <td><h5><img src='/assets/arrow_down.png' class='arrow_icon'/>[avg score: <%= @avg_scores_by_round[round].to_s %>%]&nbsp;Round <%=round %> </h5></tr></td>
        <tr>
          <td>
            <div id = 'round_<%=round %>' class='collapse'>
              <table class="table_stretch">
        <% @summary[round].keys.each do |q| %>
                <tr bgcolor='#BDBDBD'>
                  <t>
                    <h5>
                      <%= q %>
                      </br>Average score: <%=@avg_scores_by_criterion[round][q].round(2).to_s %>
                    </h5>
                  </t>
                </tr>
                <tr>
                  <td>
                    <%
                      if !@summary[round][q].eql?("")
                        @summary[round][q].each do |sentence|
                          safe_concat "<p>"
                          concat sentence
                        end
                      else
                        safe_concat "&nbsp;"
                      end
                    %>
                  </td>
                </tr>
       <% end %>
              </table>
            </div>
          </td>
        </tr>
    <% end %>
  </table>
<!-- END SUMMARY REVIEWS -->