<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.stack.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/excanvas.js"> </script>

<a href="#" name='team-chartLink' onClick="toggleElement('team-chart', 'stats');return false;">Hide stats</a>
<br>
<TR style ="background-color: white;" class="team" id="team-chart">
	<th>

	<div class="circle" id="average-score">          
  			
  	</div>
  	Class Average
	</th>
  <TH COLSPAN="8">
		<img src="<%= @average_chart  %>" ><br>
		Class Distribution
		<br>
	</th>
	<TH WIDTH="2">&nbsp;</th>
</TR>

<script type="text/javascript">
  var myCircle = Circles.create({
    id:           'average-score',
    radius:       50,
    value:        <%= @avg_of_avg.to_i %>,
    maxValue:     100,
    width:        15,
    text:         '<%=@avg_of_avg.to_i%>',
    colors:       ['#FFEB99', '#FFCC00'],
    duration:       700,
    textClass:      'circles-final'  
  });

</script>

<div id="flot_scores_on_rubric_questions" style="width:1000px;height:300px;"> </div>

<script type="text/javascript">
  $(function () {
    $.plot($("#flot_scores_on_rubric_questions"), <%= @flot_series_data.to_json.html_safe %>, {
      xaxis: {
        ticks: <%= @flot_categories.to_json.html_safe %>
      },
        yaxis: {
            tickFormatter: function(val, axis) { return val < axis.max ? val.toFixed(2) : "Percentage of teams";}
        },
      grid: {
        hoverable: true,
        clickable: true
      },
      series: {
        stack: true,
        lines: {
          show: false,
          fill: true,
          steps: 0
        },
        bars: {
          show: true,
          align: 'center',
          barWidth: 1
        }
      }
    });

    $("<div id='flot_team_scores_tooltip'></div>").css({
      position: "absolute",
      display: "none",
      border: "1px solid #fdd",
      padding: "2px",
      "background-color": "#fee",
      opacity: 0.80
    }).appendTo("body");

    $("#flot_scores_on_rubric_questions").bind("plothover", function (event, pos, item) {

      if (item) {
        var x = item.datapoint[0],
        y = item.datapoint[1];

        $("#flot_team_scores_tooltip").html(item.series.xaxis.ticks[x].label + ": " + item.series.data[x][1].toFixed(2) + "% of the class scored " + item.seriesIndex)
        .css({top: item.pageY+5, left: item.pageX+5})
        .fadeIn(200);
      } else {
        $("#flot_team_scores_tooltip").hide();
      }
    });

      /**
       * Convert data from backend to format that can be used by flot
       */
      function compileData() {
            var allData = <%= @scores.to_json.html_safe %>;
            var frequencyDataByTeam = collectFrequencyDataByTeam(allData);
            var aggregate = calculateAggregateFrequencies(frequencyDataByTeam);
            var data = convertAggregateFrequencyArraysToFlotData(aggregate);

            return data;
        }

      /**
       * Collects pertinent data from backend data object
       * @param allData data from backend
       * @returns {Array} array of objects specifying team info and score occurrences/frequency
       *              for each round
       */
        function collectFrequencyDataByTeam(allData) {
            var frequencyData = [];
            for(var teamIdx in allData.teams) {
                var team = allData.teams[teamIdx].team;
                var scoresByRound = allData.teams[teamIdx].scores.scores_by_round;
                frequencyData.push({
                    team: {
                        id: team.id,
                        name: team.name
                    },
                    scoresByRound: scoresByRound
                });
            }
            return frequencyData;
        }

      /**
       * Compiles object with six-element frequency arrays for each round and the sum of those arrays to the
       * "all" key
       * @param frequencyData
       */
        function calculateAggregateFrequencies(frequencyData) {
            var aggregate = aggregateByRound(frequencyData);

            aggregate.all = aggregateAllRounds(aggregate);

            return aggregate;
        }

      /**
       * Combines/sums data in all rounds to a single six-element array
       * @param aggregate
       * @returns {[number,number,number,number,number,number]}
       */
        function aggregateAllRounds(aggregate) {
            var all = [0,0,0,0,0,0];
            for(var round in aggregate) {
                for(var idx = 0;idx < aggregate[round].length;idx++) {
                    all[idx] += aggregate[round][idx];
                }
            }
            return all;
        }

      /**
       * Takes frequency data for each team by round and aggregates data for each round
       * @param frequencyData
       * @returns {{}}
       */
        function aggregateByRound(frequencyData) {
            var aggregate = {};

            for(var teamDataKey in frequencyData) {
                var teamData = frequencyData[teamDataKey];
                for(var round in teamData.scoresByRound) {
                    var scores = teamData.scoresByRound[round];
                    if(aggregate[round] == null) {
                        aggregate[round] = [0, 0, 0, 0, 0, 0];
                    }
                    for(var idx = 0;idx < scores.length;idx++) {
                        aggregate[round][idx] += scores[idx];
                    }
                }
            }

            return aggregate;
        }

      /**
       * Converts aggregate data for rounds to Flot points
       * @param aggregate
       * @returns {{}}
       */
        function convertAggregateFrequencyArraysToFlotData(aggregate) {
            var data = {};
            for(var round in aggregate) {
                data[round] = [];
                for(var idx = 0;idx < aggregate[round].length;idx++) {
                    data[round].push([idx, aggregate[round][idx]]);
                }
            }

            return data;
        }

        // assign dimensions to plot span and radio button span
        $("#class-performance-plot").width($("#class-performance-plot").parent().innerWidth()*0.8);
        $("#class-performance-plot").height($("#team-chart").innerHeight());

        $("#radioBtns").width($("#radioBtns").parent().innerWidth()*0.2);
        $("#radioBtns").height($("#team-chart").innerHeight());

        var cpdata = compileData();

        // plot frequency data for all round initially
        var classPerformance = $.plot($("#class-performance-plot"),[cpdata.all],
            {
                grid: {
                    hoverable: true,
                    clickable: false
                },series: {
                lines: {
                    show: false,
                    fill: true,
                    steps: 0
                },
                bars: {
                    show: true,
                    align: 'center',
                    barWidth: 1
                }
            }
            });


        // create and hide tooltip div
        $("<div id='class-performance-plot-tooltip'></div>").css({
            position: "absolute",
            display: "none",
            border: "1px solid #fdd",
            padding: "2px",
            "background-color": "#fee",
            opacity: 0.80
        }).appendTo("body");

        // specify tooltip display behavior and text when hovering over plot
        $("#class-performance-plot").bind("plothover", function (event, pos, item) {

            if (item) {
                var x = item.datapoint[0],
                    y = item.datapoint[1];

                $("#class-performance-plot-tooltip").html("Score: " + x + "; Frequency: " + y)
                    .css({top: item.pageY+5, left: item.pageX+5})
                    .fadeIn(200);
            } else {
                $("#class-performance-plot-tooltip").hide();
            }

        });

        // Add ration button options to UI
        var radioBtn = $('<label><input type="radio" name="assignmentRound" value="all" checked onclick="showAggregation(\'all\')"/>All Rounds</label>')
        radioBtn.appendTo('#radioBtns');

        for (var round = 1; round <= <%= @assignment.num_review_rounds %>; round++) {
            var radioBtn = $('<label><input type="radio" name="assignmentRound" onclick="showAggregation(\''+round+'\')"/>Round '+round+'</label>');
            radioBtn.attr("value",round);
            radioBtn.appendTo('#radioBtns');

        }

        // method executed on radio button selection
        window.showAggregation = function(round) {
            classPerformance.setData([cpdata[round]]); // set data for plot to selected round
            classPerformance.setupGrid(); // needed in case axes and ticks need to be redrawn
            classPerformance.draw(); // draws plot with new data and grid
        }
    });
</script>

<style> 
 .circles-final{
    font-size: 16px !important;    
  }
</style> 