<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    // Load the Visualization API and the corechart package.
    google.charts.load('current', {'packages':['corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawSingleChart);

    // Values set in grades_controller#view
    var round_names = <%= @round_names.to_json.html_safe %>;
    var criteria_names = <%= @criteria_names.to_json.html_safe %>;
    var avg_data = <%= @avg_data.to_json.html_safe %>;
    var avg_data_to_compare = <%= @assignment_avg_data.to_json.html_safe %>;
    var assignment_names_to_compare = <%= @assignment_names.to_json.html_safe %>;
    var assignment_name = <%= @assignment_name.to_json.html_safe %>;
    var med_data = <%= @med_data.to_json.html_safe %>;

    var source_data = avg_data;
    var selected_assignment = 0;
</script>
<script type="text/javascript" src="/assets/rubric_stats.js"></script>

<!--Assign the controller variable to use a better name-->
<% @assignment_names_to_compare = @assignment_names %>

<% unless @assignment_names_to_compare.length.zero? %>
  <div id="tab_0_selector">Analyze Assignment | <a href="javascript:void(0);" onclick="switchToTab(1); return false;">Compare Assignments</a></div>
<% else %>
  <div id="tab_0_selector">Analyze Assignment | Compare Assignments (none available)</div>
<% end %>
<div id="tab_1_selector" style="display:none"><a href="javascript:void(0);" onclick="switchToTab(0); return false;">Analyze Assignment</a> | Compare Assignments</div>

<div id="chart_div"></div>

<div style="text-align:center" id="tab_0">
  <table>
    <tr style="vertical-align:top">

      <td id='pad_9'>
        <div><label>Round:</label></div>
        <div>
          <%= select_tag('round_selector', options_for_select(@round_names, @round_names[0]),
                         :onchange => 'toggleRound(this);', :autocomplete => 'off') %>
        </div>
      </td>

      <td id='pad_9'>
        <div><label>Criteria:</label></div>
        <% @criteria_names.each_with_index do |crow, i| %>
          <div id=<%= "round_#{i}_criteria" %> style=<%= "display:none" unless i.zero? %>>
            <% crow.each_with_index do |c, j| %>
              <div><label><input id=<%= "round_#{i}_criterion_#{j}_selector" %> type="checkbox" checked='true' onclick="drawChart();"/><%= c %></label></div>
            <% end %>
          </div>
        <% end %>
      </td>

      <td id='pad_9'>
        <div><label>Metric:</label></div>
        <div>
          <%= select_tag('metric_selector', options_for_select(@metric_names, @metric_names[0]),
                         :onchange => 'toggleMetric(this);', :autocomplete => 'off') %>
        </div>
      </td>
    </tr>
  </table>
</div>

<div style="text-align:center;display:none" id="tab_1">
  <table>
    <tr style="vertical-align:top">

      <td id='pad_9'>
        <div><label>Assignment:</label></div>
        <%= select_tag('assignment_selector',
                       options_for_select(@assignment_names_to_compare, @assignment_names_to_compare[0]),
                       :onchange => 'toggleAssignment(this);', :autocomplete => 'off') %>
      </td>

      <td id='pad_9'>
        <div><label>Round:</label></div>
        <%= select_tag('round_selector', options_for_select(@round_names, @round_names[0]),
                       :onchange => 'toggleAssignmentRound(this);', :autocomplete => 'off') %>
      </td>

      <td id='pad_9'>
        <div><label>Criteria:</label></div>
        <% @assignment_names_to_compare.each_index do |k| %>
          <% @criteria_names.each_with_index do |crow, i| %>
            <div id=<%= "assignment_#{k}_round_#{i}_criteria" %> style=<%= "display:none" unless (i.zero? and k.zero?) %>>
              <% crow.each_with_index do |c, j| %>
                <div><label><input id=<%= "assignment_#{k}_round_#{i}_criterion_#{j}_selector" %> type="checkbox" checked='true' onclick="drawChart();"/><%= c %></label></div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </td>
    </tr>
  </table>

</div>

<style>
  td#pad_9{
    padding: 9px;
  }
</style>
