<TR id="<%= prefix %>_header" style="background-color: white"><TD>       
     <a href="#" id="<%= prefix %>Link" name="<%= prefix %>Link" onclick="toggleTeam('<%= prefix %>');return false;" style="padding-right: 20px"><%=image_tag("expand.png")%></a>

  <% topic_id = tscore[:team].topic%>
  <% if topic_id%>
    <%= tscore[:team].name + ' ('+SignUpTopic.find(topic_id).topic_identifier+')' %>
  <% else %>
    <% if @assignment.max_team_size == 1 %>
      <%= tscore[:team].users.first.name(session[:ip]) + ' (' + tscore[:team].users.first.fullname(session[:ip]) + ')' rescue '' %>
    <% else %>
      <%= tscore[:team].name %> |
      <% for index in 0 .. tscore[:team].users.length - 2 %> 
        <%= tscore[:team].users[index].name(session[:ip]) %>, 
      <% end %>
      <%= tscore[:team].users[tscore[:team].users.length - 1].name(session[:ip]) %>
    <% end %>
  <% end %>
     <% if tscore[:scores][:avg] %>
      	<TD COLSPAN="<%= col_avg_th_span_value %>" ALIGN="CENTER"><%= sprintf("%.2f",tscore[:scores][:avg]) %>%</TD>
       	<TD COLSPAN="<%= col_range_th_span_value %>" ALIGN="CENTER"><%= sprintf("%.0f",tscore[:scores][:min]) %>% - <%= sprintf("%.0f",tscore[:scores][:max]) %>%</TD>
     <% else %>
        <TD COLSPAN="<%= col_avg_th_span_value %>" ALIGN="CENTER">---</TD>
        <TD COLSPAN="<%= col_range_th_span_value %>" ALIGN="CENTER">---</TD>
     <% end %>
     <TD WIDTH="9">&nbsp;</TD></TR>  
     
<%= render :partial => 'tabbing', :locals => {:prefix => prefix, :tscore => tscore } %>

