<!-- PARTICIPANT -->
<%
    participant = pscore[:participant]
%>


<% namecolwidth = 18 %>
<% colwidth = 7  %>

<TABLE class="grades">

  <TR>
    <th style="text-align:left;" WIDTH="<%=colwidth %>%">Contributor</th>
    <th style="text-align:center;" WIDTH="<%= colwidth %>%">Average</th>
    <th style="text-align:center;" WIDTH="<%= colwidth %>%">Range</th>
  </TR>

  <TR  <% if team %> id="<%= prefix %>" style="display:none; background-color: white;" <% end %>>
    <TD ALIGN="CENTER" VALIGN="TOP"><%= participant.fullname(session[:ip]) %>
    <% if participant.topic %> (<%= participant.topic.topic_identifier %>)<% end %>
  </FONT>
</TD>
<% if @assignment.max_team_size > 1 %>
  <% if @rscore_teammate.my_avg %>
    <TD ALIGN="CENTER" VALIGN="TOP">
      <%if controller.action_name != "view_my_scores"%>
        <%= sprintf("%.2f",@rscore_teammate.my_avg) %>
      <% end %>
    </TD>
    <TD ALIGN="CENTER" VALIGN="TOP"><%= sprintf("%.0f",@rscore_teammate.my_min) %>% - <%= sprintf("%.0f",@rscore_teammate.my_max) %>%

    </TD>
  <% else %>
    <TD ALIGN="CENTER">---</TD>
    <TD ALIGN="CENTER">---</TD>
  <% end %>
<% end %>

</TABLE>
</br> </br>
<%= render :partial=>'grades/teammate_reviews', :locals => {:prefix => prefix, :participant => participant, :rscore => pscore[:teammate]} %>
</br>
