<!-- PARTICIPANT -->
<%
    participant = pscore[:participant]
if pscore[:teammate]
  tr_max = pscore[:teammate][:scores][:max]
  tr_min = pscore[:teammate][:scores][:min]
  tr_avg = pscore[:teammate][:scores][:avg]
end

%>


<% namecolwidth = 18 %>
<% colwidth = 7  %>

<TABLE class="grades">

  <TR>
    <TH WIDTH="<%=colwidth %>%">Contributor</TH>
    <TH WIDTH="<%= colwidth %>%">Average</TH>
    <TH WIDTH="<%= colwidth %>%">Range</TH>
  </TR>

  <TR class="row" <% if team %> id="<%= prefix %>" style="display:none" <% end %>>
    <TD ALIGN="CENTER" VALIGN="TOP"><%= participant.fullname %>
    <% if participant.topic %> (<%= participant.topic.topic_identifier %>)<% end %>
  </FONT>
</TD>
<% if @assignment.max_team_size > 1 %>
  <% if tr_avg %>
    <TD ALIGN="CENTER" VALIGN="TOP">
      <%if controller.action_name != "view_my_scores"%>
        <%= sprintf("%.2f",tr_avg) %>
      <% end %>
    </TD>
    <TD ALIGN="CENTER" VALIGN="TOP"><%= sprintf("%.0f",tr_min) %>% - <%= sprintf("%.0f",tr_max) %>%

    </TD>
  <% else %>
    <TD ALIGN="CENTER">---</TD>
    <TD ALIGN="CENTER">---</TD>
  <% end %>
<% end %>

</TABLE>
</br> </br>
<%= render :partial=>'grades/teammate_reviews', :locals => {:prefix => prefix, :participant => participant, :rscore => pscore[:teammate]} %>
</br>
