<a href="#" name='team-chartLink' onClick="toggleElement('team-chart', 'stats');return false;">Hide stats</a>
<br>

<TR style ="background-color: white;" class="team" id="team-chart">
	<th>

	<div class="circle" id="average-score">

  	</div>
  	Class Average
	</th>
	<TH COLSPAN="8">
		<img src="<%= @average_chart  %>" ><br>
		Class Distribution
		<br>
	</th>
	<TH WIDTH="9">&nbsp;</th>
</TR>


<script type="text/javascript">
  var myCircle = Circles.create({
    id:           'average-score',
    radius:       50,
    value:        <%= @avg_of_avg.to_i %>,
    maxValue:     100,
    width:        15,
    text:         '<%=@avg_of_avg.to_i%>',
    colors:       ['#FFEB99', '#FFCC00'],
    duration:       700,
    textClass:      'circles-final'
  });

</script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script type="text/javascript">
    Highcharts.chart('container', {
        chart: {
            type: 'column'

        },
        credits: {
            text: 'Expertiza',
            href: 'https://github.com/expertiza/expertiza'
        },
        colors: <%= @highchart_colors.to_json.html_safe %> , // This is an array of colors which highchart rotates on
        title: {
            text: 'Class Overall Grades, by rubric item'
        },
        xAxis: {
            categories: <%= @highchart_categories.to_json.html_safe %> // Rubric Items
        },
        yAxis: {
            allowDecimals: false,
            min: 0,
            title: {
                text: 'Percentage of teams'
            }
        },
        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
            shared: true
        },
        plotOptions: {
            column: {
                stacking: 'percent' /* Will automagically convert each set of numbers into percentages */
            }
        },

        series: <%= @highchart_series_data.to_json.html_safe %> //series array is created dynamically. See the grades_controller#view method for more details

    });
</script>

<style>
 .circles-final{
    font-size: 16px !important;    
  }
</style>

<!-- FOR DEBUGGING - REMOVE ONCE HIGHCHARTS WORKS -->
<%= debug @highchart %>