<h1>Summary report for <%= @assignment.name %></h1>
<BR/>

<h1>Summary report for team <%= @team.name %></h1>
<h1>Summary report for part <%= @participant.fullname %></h1>

<h1># of reviews: <%= @reviews.length().to_s %></h1>


<h1># of answers: <%= @answers.length().to_s %></h1>


<table style="border: 1px solid black">
         <tr>          <td>Question</td>      <td>Weight</td>
  <% i = 1 %>
  <% @reviews.each do |review| %>
    
    <td style="border: 1px solid black"> <a href= "../grades/view_reviewer?id=<%= review.id.to_s %>"><%= "Rev" + i.to_s %></a> </td>
    <% i += 1 %>
  <% end %>
  </tr>

    <% @vm.listofrows.each do |item| %>
        <tr>
          <td style="border: 1px solid black;"> <%= item.questionText[0...25] %>   </td>
          <td style="border: 1px solid black;"> <%= item.weight %>   </td>
          <% for index in 0 .. item.score_row.length - 1 %>
              <td style="border: 1px solid black"><%= item.score_row[index].to_s %></td>
          <% end %>
        </tr>
    <% end %>
  </table>
</table>



