<H1>Score for <%= @assignment.name %></H1>



<TABLE class="grades" >
<%= render :partial => 'grades/participant_charts', :locals => {:prefix => nil} %> 
<%= render :partial => 'grades/participant_title', :locals => {:prefix => nil} %>
<%= render :partial => 'grades/participant', :locals => {:prefix => 'user',
														 :team => false,
														 :participant_id => ptid = @participant.id,
														 :index => 0,
                            	   						 :team_size => 1, 
														 :pscore => @pscore} %>

</TABLE>
<h3>Reputation</h3>
<% if @assignment.lauw == false %>
    <p style = "
    <% if @current_participant.Hamer < 0.5 %>
        background-color:red; width:60px;
        <%elsif @current_participant.Hamer >= 0.5 && @current_participant.Hamer <= 1 %>
        background-color:yellow; width:60px;
    <%elsif  @current_participant.Hamer > 1 && @current_participant.Hamer <= 1.5 %>
        background-color:orange; width:60px;
    <%elsif  @current_participant.Hamer > 1.5 && @current_participant.Hamer <= 2   %>
        background-color:lightgreen; width:60px;
    <%else%>
        background-color:greenyellow; width:60px;
        <%end%>
    "><%= @current_participant.Hamer %></p>
<%else%>
    <p style = "
    <% if @current_participant.Lauw < 0.2 %>
        background-color:red; width:60px;
        <%elsif @current_participant.Lauw >= 0.2 && @current_participant.Lauw <= 0.4 %>
        background-color:yellow; width:60px;
    <%elsif  @current_participant.Lauw > 0.4 && @current_participant.Lauw <= 0.6 %>
        background-color:orange; width:60px;
    <%elsif  @current_participant.Lauw > 0.6 && @current_participant.Hamer <= 0.8   %>
        background-color:lightgreen; width:60px;
    <%else%>
        background-color:greenyellow; width:60px;
        <%end%>
    "><%= @current_participant.Lauw %></p>
<%end%>
<BR/>
<a href="javascript:window.history.back()">Back</a>

