<H1>Score for <%= @assignment.name %></H1>
<div>
  <ul class="ui-tabs-nav pull right">abc</ul>
</div>
<BR/>
<%= stylesheet_link_tag 'jquery-ui-timepicker-addon' %>
<%= stylesheet_link_tag 'jquery-ui-1.10.3.custom.min' %>
<script src="/javascripts/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/javascripts/jquery-ui-timepicker-addon.js"></script>

<%= form_for @assignment, html: {id: 'assignment_form'} do %>
    <div id="tabs">
      <ul>
        <li id="tab1"><a href="#tabs-11">Submitted Work</a></li>
        <li id="tab2"><a href="#tabs-12">Reviewing</a></li>
        <li id="tab3"><a href="#tabs-13">Meta Reviews</a></li>
        <li id="tab4"><a href="#tabs-14">Author Feedback</a></li>
      </ul>
      <div id="tabs-11">
       <p><%= render :partial => 'grades/submittedwork', :locals => {:prefix => 'user',  :team => false, :pscore => @participant.get_scores(@questions)} %> </p>
      </div>
      <div id="tabs-12">
        <%= render :partial => 'grades/submittedwork', :locals => {:prefix => 'user',  :team => false, :pscore => @participant.get_scores(@questions)} %>
      </div>
      <div id="tabs-13">
        <%= render :partial => 'grades/reviewingscoretab',:locals => {:prefix => 'user',  :team => false, :pscore => @participant.get_scores(@questions)} %>
      </div>
      <div id="tabs-14">
        <%= render :partial => 'grades/authorfeedbacktab',:locals => {:prefix => 'user',  :team => false, :pscore => @participant.get_scores(@questions)} %>
      </div>
    </div>
    <script>
        jQuery(document).ready(function () {
            jQuery("#tabs").tabs();
        });
    </script>
<% end %>


<a href="javascript:window.history.back()">Back</a>
