<script type="text/javascript" src="/assets/view_my_scores_helper.js"></script>

<script type="text/javascript">
    // Added March 2021 -- Set up the mini tagging report on first loading the page
    $( document ).ready(function() {
        var total_tags = countTotalTags()
        var tagged_tags = countTaggedTags()
        document.getElementById("tag_stats").innerHTML = "Tag Finished: " + tagged_tags + "/" + total_tags
        //  Hides Mini Tagging Report when no reviews to tag
        var link_main = document.getElementById("view_link");
        if (total_tags === 0) {
            link_main.style.display = "none";
        }
    });
</script>


<H1><%=t ".score_for"%> <%= @assignment.name %></H1>
<div id="view_link">
  <div id="tag_stats"></div>
  <%= link_to t(".main_view"), controller: 'grades', action: 'view_team', id: params[:id] %>
  <BR/>
</div>

<table class="grades" >
<%= render :partial => 'grades/participant_charts', :locals => {:prefix => nil} %> 
<%= render :partial => 'grades/participant_title', :locals => {:prefix => nil} %>
<%= render :partial => 'grades/participant', :locals => {:prefix => 'user',
								:team => false,
								:participant_id => ptid = @participant.id,
								:index => 0,
								:team_size => 1, 
								:pscore => @pscore} %>

</table>
<% case @assignment.reputation_algorithm %>
<% when 'Hamer' %>
	<h3><%=t ".reputation"%></h3>
    <p id="reputation_score" class = <%= get_css_style_for_hamer_reputation(@participant.Hamer)%> style="width:60px;"><%= @participant.Hamer %></p>
<% when 'Lauw' %>
	<h3><%=t ".reputation"%></h3>
    <p id="reputation_score" class = <%= get_css_style_for_lauw_reputation(@participant.Lauw)%> style="width:60px;"><%= @participant.Lauw %></p>
<%end%>
<BR/>
<a href="javascript:window.history.back()"><%=t ".back"%></a>

