  <style>
    .hiddenRow {padding:0 !important;}
  </style>

<h1>Summary report for <%= @assignment.name %></h1>
<h2>Summary report for team <%= @team.name %>(<%= @participant.fullname %>)</h2>


<% @vmlist.each do |vm| %>


      <% if vm.listofreviewers.length > 0 %>

          <div id="hid<%= vm.questionnaire_type + vm.round.to_s %>" class="accordion-body collapse" >
          <table style="border: 1px solid grey;">
            <thead>
            <th style="border: 1px solid grey;padding: 5px 5px 5px 5px;">#</th>
            <th style="border: 1px solid grey;padding: 5px 5px 5px 5px;">Question</th>
            </thead>
            <% count = 0 %>
            <% vm.listofrows.each do |row| %>
                <% if row.score_row.count > 0 %>
                    <tr>
                      <td style="border: 1px solid grey;padding: 5px 5px 5px 5px;background-color: #ffffff;"><%= count += 1 %></td>
                      <td style="border: 1px solid grey;padding:5px; 5px 5px 5px;background-color: #ffffff;"><%= row.questionText %></td>
                    </tr>
                <% end %>
            <% end %>
          </table>
            </div>


<span style="width:100%;">
    <h4 style="font-weight:bold;display:inline-block;"><%= vm.questionnaire_display_type %>
      <% if vm.questionnaire_type == "ReviewQuestionnaire" %>
            (Round: <%= vm.round.to_s  %> of <%= vm.rounds.to_s  %>)
      <%end %>
    </h4>
    <span style="padding-left:30px;cursor: pointer;" data-toggle="collapse" class="accordion-toggle" data-target="#hid<%= vm.questionnaire_type + vm.round.to_s %>">display questions</span>
</span>
<table id="tbl_heat">
         <tr>          <th>Question</th>      <th>Max</th>

           <% i = 1 %>
           <% vm.listofreviews.each do |review| %>
               <% if @current_role_name.eql?'Student' %>
                   <th style="border: 1px solid black"> <a target="_blank" href="../grades/view_reviewer?id=<%=@participant.id%>&response_id=<%= review.id.to_s %>"><%= "Rev" + i.to_s %></a>  </th>
                   <% i += 1 %>
               <% end %>

               <% if @current_role_name.eql?'Instructor' %>
                   <% user_name = User.find(Participant.find(ResponseMap.find(Response.find(review.id).map_id).reviewer_id).user_id).fullname.to_s %>

                   <th style="border: 1px solid black"> <a target="_blank" href="../grades/view_reviewer?id=<%=@participant.id%>&response_id=<%= review.id.to_s %>"><%= user_name.to_s %></a>  </th>
                   <% i += 1 %>
               <% end %>
           <% end %>


           <th style="border: 1px solid black" align="right">
             Average
           </th>
           <th># of comments >10</th>

         </tr>
  <% score_row_count = vm.listofrows.first.score_row.count %>
    <% vm.listofrows.each do |row| %>
        <tr data-toggle="collapse" class="accordion-toggle" data-target="#hid<%= row.question_id.to_s %>">
          <td class = 'cf' style="border: 1px solid black;"> <%= row.questionText[0...20] %>   </td>
          <td class = 'cf' style="border: 1px solid black;"> <%= vm.max_score %>   </td>
          <% row.score_row.each do |score| %>
              <td style="border: 1px solid black" class="<%= score.color_code %>" align="center">
                <%= score.score_value.to_s %>
              </td>
          <% end %>

          <% if row.score_row.count == 0 %>
              <% for index in 0 .. score_row_count - 1 %>
                  <td style="border: 1px solid black" align="center">
                    <%= "" %>
                  </td>
              <% end %>
          <% end %>


          <td  class = 'cf' style="border: 1px solid black;" align="right">
            <%= row.average_score_for_row.to_s %>
          </td>
          <td  class = 'cf' style="border: 1px solid black;" align="center">
            <%= row.countofcomments.to_s %>
          </td>

        </tr>
      <tr >

        <td colspan="<%= (i+1).to_s %>" class="hiddenRow" ><div id="hid<%= row.question_id.to_s %>" class="accordion-body collapse" style="margin-left:10px;">
          <div style="background-color:lightblue;padding:4px;"><%= row.questionText %></div>
          <div>
          <table style="border: 1px solid grey;">
            <thead>
                <th style="border: 1px solid grey;padding: 5px 5px 5px 5px;">Score</th>
                <th style="border: 1px solid grey;padding: 5px 5px 5px 5px;">Comment</th>
            </thead>
            <% for index in 0 .. row.score_row.length - 1 %>
            <tr><td style="border: 1px solid grey;padding: 5px 5px 5px 5px;background-color: #ffffff;"><%= row.score_row[index].score_value.to_s %></td>
              <td style="border: 1px solid grey;padding:5px; 5px 5px 5px;background-color: #ffffff;"><%= row.score_row[index].comment %></td></tr>
            <% end %>
          </table>
          </div>
        </div></td>
      </tr>
    <% end %>
  <tr>
    <td style="border: 1px solid black;">
      Review Total
    </td>
    <td style="border: 1px solid black;" align="center">
      <%= vm.max_score_for_questionnaire %>
    </td>
    <% vm.get_total_review_scores.each do |total_score| %>
      <td style="border: 1px solid black;" align="center">
        <%= total_score.round.to_s %>
      </td>
    <% end %>
    <!-- To complete the last two columns of the table, these will just be
         empty cells. -->
    <td style="border: 1px solid black;">
    </td>
    <td style="border: 1px solid black;">
    </td>
  </tr>
  <tr>
    <td style="border: 1px solid black;">
      Column Average
    </td>
    <td>
      <%= vm.max_score %>
    </td>
    <% vm.get_average_review_scores.each do |average_score| %>
      <td style="border: 1px solid black;" align="center">
        <%= average_score.round(2).to_s %>
      </td>
    <% end %>
    <!-- To complete the last two columns of the table, these will just be
         empty cells. -->
    <td style="border: 1px solid black;">
    </td>
    <td style="border: 1px solid black;">
    </td>
  </tr>
  </table>
          <span> <%= vm.displayTeamMembers %></span>


        <% elsif vm.questionnaire_type != "ReviewQuestionnaire" %>
         <div class="flash_error">NO REVIEW OF <%= vm.questionnaire_type %> TYPE EXISTS. </div>
        <% end %>

  <br/>   <br/>
<% end %>
