<H1>Edit Group</H1>
<%= form_for '/student_groups/update', method: :put do %>
  <%= hidden_field_tag 'group_id', @group.id %>
  <%= hidden_field_tag 'student_id', @student.id %>
  <label for="group_name">Group Name:</label>&nbsp;
  <%= text_field 'group', 'name'%>
  <br>
  <br>
  <%= submit_tag "Save" %>
<% end %>
<br/>
<a href="javascript:window.history.back()">Back</a>
