<h1> New course Survey pages</h1>
<%= form_for @survey_response_questionnaire do |s|%>
    <table>
      <% i=0 %>
      <% if !@questions.nil? %>
          <%=  @questions.each do |question| %>
              <% i=i+1 %>
              <tr>
                <td>Question <%= i%> :  <%= question.txt %> </td>

                <td><%= s.text_field :score %></td>
              </tr>



          <% end %>
      <%else%>
          <h2>No questions found in this questionnaire.</h2>
      <% end %>

    </table>

<% end %>