<h3>Suggested topics for <%=h @assignment.name %></h3>

<%= render :partial => 'page_header'%>
<%if @suggestions.size > 0 %>
<div class="flash_note">
	Click View link to view the suggestion and to comment, edit, and/or approve
</div>

<table class="general" cellpadding=5 width=100% border=1>
  <tr>
    <th>Title</th>
	<th>Status</th>
	<th>Submitter's unity ID</th>
	<th>Date</th>
	<th>Action</th>

  </tr>

<% for suggestion in @suggestions %>
  <tr class="listingRow">
    <td><%=h suggestion.title %></td>
    <td align="center"><%=h suggestion.status %></td>
	<td align="center"><%=h suggestion.unityID %></td>
	<td align="center"><%=h suggestion.updated_at %></td>
	<td align="center"><%= link_to 'View', :action => 'show', :id => suggestion %>&nbsp;&nbsp;&nbsp;
	<%=link_to 'Activity Log', :action => 'activity', :id => suggestion, :assignment_id => @assignment.id %></td>	
  </tr>
<% end %>
</table>
<%else%>
	<b>No suggestions yet.</b>
<%end%>