<h2>Suggested topics for <%=h @assignment.name %></h2>
<%if @suggestions.size > 0 %>
  <div class="flash_note">
    Click View link to view the suggestion and to comment and/or approve
  </div>

  <table class="general" cellpadding=5 width=100% border=1>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Submitter's user name</th>
      <th>Action</th>
      <th>Feedback</th>
      <th>Save</th>
    </tr>

    <% for suggestion in @suggestions %>
      <tr class="listingRow">
	<%= form_for :suggestion, :url => update_feedback_suggestion_index_path(:suggestion_id => suggestion.id, :id => params[:id], :type=>params[:type])   	do |f| %>
        <td style="max-width: 200px"><%=h suggestion.title %></td>
        <td align="center"><%=h suggestion.status %></td>
        <td align="center"><%=h suggestion.unityID %></td>
        <td align="center"><%= link_to 'View', :action => 'show', :id => suggestion %></td>
	<td align="center"><%= f.text_field :feedback %></td>
	<td align="center"><%= f.submit 'Save Feedback' %></td>
	<% end %>
      </tr>
    <% end %>
  </table>
<%else%>
  <b>No suggestions yet.</b>
<%end%>
