<<<<<<< HEAD
=======
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 126e61ecf11c9abb3ccdba784bf9528251d30eb0
<h3>New suggestion</h3>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <p>
  	<%= submit_tag "Submit" %>
  </p>
<% end %>

<%= link_to 'Back', :controller => 'student_task', :action => 'list' %>

<<<<<<< HEAD
=======
=======
<h3>New suggestion</h3>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <p>
  	<%= submit_tag "Submit" %>
  </p>
<% end %>

<%= link_to 'Back', :controller => 'student_task', :action => 'list' %>

>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
=======
<h3>New suggestion</h3>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <p>
  	<%= submit_tag "Submit" %>
  </p>
<% end %>

<%= link_to 'Back', :controller => 'student_task', :action => 'list' %>

>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
>>>>>>> 126e61ecf11c9abb3ccdba784bf9528251d30eb0
