<h1> List of Deployments </h1>

<table border=1>
  <% if @survey_deployments.size > 0 %>
    <tr>
      <th> Survey questionnaire&nbsp;&nbsp;</th>
      <th> Associated to&nbsp;&nbsp;</th>
      <th> Start date&nbsp;&nbsp;</th>
      <th> End date&nbsp;&nbsp;</th>
      <th> Actions&nbsp;&nbsp;</th>
      <th> Global survey actions</th>
    </tr>
  <% end %>
  <% @survey_deployments.each do |survey_deployment| %>
    <tr>
      <td align=center><%= @survey_questionnaires[survey_deployment.id] %></td>
      <td align=center><%= survey_deployment.parent_name %></td>
      <td align=center><%= survey_deployment.start_date.strftime('%A %B %d %Y, %I:%M%p') %></td>
      <td align=center><%= survey_deployment.end_date.strftime('%A %B %d %Y, %I:%M%p') %></td>
      <td align=center><%= link_to "View Responses", {:action=>'view_responses',:id=>survey_deployment.id} %>
      <%= link_to "Statistics", {:action => "generate_statistics", :id => survey_deployment.id, :global_survey => 'false'} %>
      <%= link_to "Delete", {:action=>"delete", :id=>survey_deployment.id}, :confirm=>"Are You Sure?", :method=>"post" %>
    </td>
      <td align=center>
        <% if survey_deployment.global_survey_id %>
          <%= link_to "Statistics", {:action => "generate_statistics", :id => survey_deployment.id, :global_survey => 'true'} %>
        <% end %>
      </td>
  </tr>
<% end %>
</table>

