<a id="teamsMembers" onclick="showHideTeamMembersInTeamsListPage();">Show all team members</a>
<%= render :partial => '/tree_display/page_footer' %><br/>
<% session[:return_to] = request.url %>
<%= link_to 'Create Team', :action => 'new', :id=> @root_node.node_object_id, :model => @model %>
<% if @root_node.class == AssignmentNode %>
  <% modelType = 'AssignmentTeam' %>
<% else %>
  <% modelType = 'CourseTeam' %>
<% end %>
| <%= link_to 'Import Teams',
              :controller=>'import_file',
              :action=>'start',
              :model => modelType,
              :title => 'Teams',
              :expected_fields =>  "Team Name <em>(optional)</em>&nbsp;&nbsp;|&nbsp;&nbsp;TeamMember1&nbsp;&nbsp;|&nbsp;&nbsp;TeamMember2&nbsp;&nbsp;|&nbsp;&nbsp;...&nbsp;&nbsp;|&nbsp;&nbsp;TeamMemberN",
              :id => @root_node.node_object_id %>
|<%= link_to 'Export Teams',
  :controller=>'export_file',
  :action=>'start',
  :model=> modelType,
  :id=>@root_node.node_object_id %>
|<%= link_to 'Delete All Teams', :action => 'delete_all', :id=> @root_node.node_object_id, :model => @model %>
|<%= link_to 'Bequeath All Teams', :action=>'bequeath_all', :id => @root_node.node_object_id, :model => @model %>
|<%= render :partial => '/shared_scripts/back' %>
