<h1>Mine Review Data</h1>

<%
    dataPoint = [
      {:name => 'review 1', :data => [9.9, 7.5, 6.4, 9.2, 4.0, 6.0, 5.6, 8.5, 6.4, 4.1, 5.6, 4.4]},
      {:name => 'review 2', :data =>  [3.6, 8.8, 8.5, 3.4, 6.0, 4.5, 5.0, 4.3, 9.2, 8.5, 6.6, 9.3]},
      {:name => 'review 3', :data => [8.9, 8.8, 9.3, 4.4, 7.0, 8.3, 9.0, 9.6, 5.4, 6.2, 9.3, 5.2]}
]
    dataPointForPie1 = {:name => 'marketShare', :data => [1,2,3,4]}
    dataPointForPie2 = {:name => 'marketShare', :data => [["company A",1],["company B",2],["company C",3],["company D",4]]}
    dataPointForScatter = [
      {
        :name => 'Type A',
        :data => [[161.2, 51.6], [167.5, 59.0], [159.5, 49.2], [157.0, 63.0], [155.8, 53.6],
                  [170.0, 59.0], [159.1, 47.6], [166.0, 69.8], [176.2, 66.8], [160.2, 75.2],
                  [172.5, 55.2], [170.9, 54.2], [172.9, 62.5], [153.4, 42.0], [160.0, 50.0],
                  [147.2, 49.8], [168.2, 49.2], [175.0, 73.2], [157.0, 47.8], [167.6, 68.8],
                  [159.5, 50.6], [175.0, 82.5], [166.8, 57.2], [176.5, 87.8], [170.2, 72.8]]

      }, {
        :name => 'Type B',
        :data => [[174.0, 65.6], [175.3, 71.8], [193.5, 80.7], [186.5, 72.6], [187.2, 78.8],
                  [181.5, 74.8], [184.0, 86.4], [184.5, 78.4], [175.0, 62.0], [184.0, 81.6],
                  [180.0, 76.6], [177.8, 83.6], [192.0, 90.0], [176.0, 74.6], [174.0, 71.0],
                  [184.0, 79.6], [192.7, 93.8], [171.5, 70.0], [173.0, 72.4], [176.0, 85.9],
                  [176.0, 78.8], [180.5, 77.8], [172.7, 66.2], [176.0, 86.4], [173.5, 81.8],
                  [178.0, 89.6], [180.3, 82.8], [180.3, 76.4], [164.5, 63.2], [173.0, 60.9],
                  [183.5, 74.8], [175.5, 70.0], [188.0, 72.4], [189.2, 84.1], [172.8, 69.1],
                  [170.0, 59.5], [182.0, 67.2], [170.0, 61.3], [177.8, 68.6], [184.2, 80.1]]
      }
    ]
    options1 = {
      :title => "this is title",
      :subtitle => "this is subtitle",
      :x_axis => "x_axis_display_name",
      :y_axis => "y_axis_display_name"
    }
    options2 = {
      :title => "this is title2",
      :x_axis_categories => [ 'Problem1', 'Problem2', 'Problem3', 'Problem4', 'Problem5', 'Problem6', 'Problem7', 'Problem8', 'Problem9', 'Problem10', 'Problem11','Problem12']
    }
    options3 = {
      :title => "this is title3"
    }
  %>
<%=render :partial => 'chart', :locals => {:chart => Chart.new(:line,dataPoint)}%>
<%=render :partial => 'chart', :locals => {:chart => Chart.new(:line, dataPoint, options1)}%>
<%=render :partial => 'chart', :locals => {:chart => Chart.new(:bar, dataPoint, options2)}%>
<%=render :partial => 'chart', :locals => {:chart => Chart.new(:pie, dataPointForPie1,options3, 450)}%>
<%=render :partial => 'chart', :locals => {:chart => Chart.new(:pie, dataPointForPie2,nil,600)}%>
<%=render :partial => 'chart', :locals => {:chart => Chart.new(:scatter, dataPointForScatter, options1, 850)}%>
