<table width = "100%">
  <tr>
    <% bookmark_title = search_result["title"] %>
    <td width = "60%"><%= link_to( bookmark_title, :action =>"view", :id =>search_result["id"]) %> </td>
    <% if (@order_by == "most_recent") %>
      <td width = "400%">Added at <%= search_result["created_at"].asctime %> </td>
    <% else%>
      <td width = "40%">Bookmarked by <%= search_result["copied_by"] %> users</td>
    <% end%>
  </tr>
  <tr>
    <td width = "60%">Tags: <%= search_result["tags"] %></td>
    <td width = "40%">Owned by <%= search_result["user"]%></td>
  </tr>

  <tr>
    <td>Rating: <%= search_result["bmapping_rating"] %></td>
  </tr>
</table>
<%= link_to('Rate Bookmark',:controller => 'bookmarks', :action => 'bookmark_rate', :id => @topic, :assignment_id => @assignment_id, :bookmark_id => search_result["id"]) %>


