<h1>Add new bookmark</h1>
<h5>Please enter the following fields to create a new bookmark</h5>



  <%= form_tag(:action => "add_bookmark", :method => "post") do %>
    <%= hidden_field_tag("topicid", @topic_id) %>

  
      <%= label_tag 'Topics' %>
      <%= select_tag "topics", options_from_collection_for_select(@sign_up_topics, "id","topic_name") %> 
    
    <br>
      <%= label_tag 'Bookmark URL'%>
      <%= text_field_tag(:b_url) %> 
    <br>
  
      <%= label_tag 'Bookmark Title'%>
    <%= text_field_tag(:b_title) %> 
   <br>
      <%= label_tag 'Tags'%>
      <%= text_field_tag(:b_tags_text) %>
 <br>
      <%= label_tag 'Description'%>
      <%= text_field_tag(:b_description) %> 
    <br>
      <%= submit_tag("Add", :name => nil) %>
    
  <% end %>


