<h1>Editing bookmark</h1>

<%= form_for @bookmark, :action => 'update' do |f| %>
  <!-- :required attribute checks to see if title, url, and description are all present -->
  <p>
    <%= label_tag 'Title' %><br/>
    <%= f.text_field :title, :required => true %><br/><br/>
    <%= label_tag 'Url' %><br/>
    <%= f.text_field :url, :required => true %><br/><br/>
    <%= label_tag 'Description' %><br/>
    <%= f.text_area :description, :required => true %><br/>
  </p>
  <p>
    <%= f.submit 'Update' %> |
    <%= link_to 'Back', '#', :onclick => 'pageBack()' %>
  </p>
<% end %>

<script>
    function pageBack() {
        history.back()
    }
</script>