<h1>Bookmarks list for <%= @topic.topic_name %></h1>

<div class = "exp">
	<table>
	  <tr>
	    <th class="head">Title</th>
	    <th class="head">Description</th>
	    <th class="head">Avg. rating</th>
	    <th class="head" colspan='3'>Action</th>
	  </tr>

	  <% @bookmarks.each do |bookmark| %>
	    <tr>
	      <td><a href=<%= "http://#{bookmark.url}"%> target='_blank'><%=bookmark.title %></td>
	      <!--Set maximum length of bookmark description and keep description in one line.-->
	      <td><%=truncate(bookmark.description, length: 100) %></td>
	      <!--Average rating score-->
	  	  <% @bookmark_ratings = BookmarkRating.where(bookmark_id: bookmark.id) %>
	  	  <% sum = 0 %>
	  	  <% @bookmark_ratings.each do |bookmark_rating| %>
	  	  	<% sum += bookmark_rating.rating %>
	  	  <% end %>
	  	  <td>
	  	  	<% if @bookmark_ratings.size > 0 %>
	  	  		<%= (sum * 1.0 / @bookmark_ratings.size).round(1) %>
	  	  	<% else %>
	  	  		<%= '-' %>
	  	  	<% end %>
	  	  </td>
	      <td><%= link_to 'Rate', :action => 'bookmark_rating', :id => bookmark.id %></td>
	      <% if bookmark.user_id == session[:user].id %>
	      	<td><%= link_to 'Edit', :action => 'edit', :id => bookmark.id %></td>
	        <td><%= link_to 'Destroy', bookmark, :confirm => "Delete bookmark \"#{bookmark.title}\"?", :method => :delete %></td>
	      <% end %>
	    </tr>
	  <% end %>
	</table>
</div>

<br />

<%= link_to 'New bookmark', :action => 'new', :id => @topic.id %> |
<%= link_to 'Back', :controller=> 'sign_up_sheet', :action=>'list', :assignment_id => @topic.assignment_id %>
