<h1>Add new bookmark</h1>
<h5>Please enter the following fields to create a new bookmark</h5>
<table>
  <%= form_tag :action => "create" do %>
    <%= hidden_field_tag("topic_id", @topic.id) %>

    <!-- :required attribute checks to see if title, url, and description are all present -->
    <p>
      <%= label_tag 'Title' %><br/>
      <%= text_field_tag :title, params[:title], :required => true %><br/><br/>
      <%= label_tag 'Url' %><br/>
      <%= text_field_tag :url, params[:url], :required => true %><br/><br/>
      <%= label_tag 'Description' %><br/>
      <%= text_area_tag :description, params[:description], :required => true %><br/>
    </p>
    <p>
      <td> <%= submit_tag "Add new bookmark" %> |
        <%= link_to 'Back', '#', :onclick => 'pageBack()' %>
    </p>
  <% end %>

</table>
<script>
    function pageBack() {
        history.back()
    }
</script>
