%p#notice= notice

%p
  %b Tenant key:
  = @tenant.tenant_key
%p
  %b Secret:
  = @tenant.secret
%p
  %b Tenant name:
  = @tenant.tenant_name

= link_to 'Edit', edit_tenant_path(@tenant)
\|
= link_to 'Back', tenants_path
