<h2>Select Surveys to Assign for: <%= @assignment.name %></h2>
<%= form_tag(:action=>'assign_survey') do %>
        <div class="field">
                <label> My Surveys</label>
                <%= select_tag "my_survey", options_from_collection_for_select(@my_surveys, "id", "name", {required: true }) %>
        </div>
        <div class="field">
                <label> Global Survey</label>
                 <%= select_tag "global_survey", options_from_collection_for_select(@global_surveys, "id", "name", {selected: 0}) %>
        </div>
        <input type="hidden" id="assignment_id" name="assignment_id" value="#{@assignment.id}" />

        <button name="button" type="submit">Submit</button>
<% end %>

<%= render :partial => '/shared_scripts/back' %>
