<h1>Surveys for Assignment: <%= @assignment.name %></h1>
<%= form_tag(:action=>'assign') do %>
        <div class="field">
                <%= select_tag "my_survey", options_from_collection_for_select(@my_surveys, "id", "name") %>
        </div>
        <div class="field">
                 <%= select_tag "my_survey", options_from_collection_for_select(@my_surveys, "id", "name") %>
        </div>
<% end %>

<%= render :partial => '/shared_scripts/back' %>
