<h1>Surveys for Assignment: <%= @assignment.name %></h1>
<%= form_tag(:action=>'assign') do |f| %>
        <div class="field">
          <%= f.label :My_Surveys %>
          <%= f.select :my_survey, options_for_select([[my_survey.name][my_survey.id]]) %>
        </div>
        <div class="field">
          <%= f.label = :Global_Surveys %>
          <%= f.select :global_survey, options_for_select([[global_survey.name][global_survey.id]]) %>
        </div>
<% end %>

<%= render :partial => '/shared_scripts/back' %>
