<script type="text/javascript" src="/assets/view_team_in_grades.js"></script>
<script type="text/javascript" src="/assets/view_github_metrics.js"></script>
<% status_classes = {"failure" => "failed", "success" => "passed"} %>
<h2>GitHub Metrics for assignment: <%= @assignment.name %></h2>
<h4>Team: <%= @team.name %></h4>

<!--Obtain topic name from assignment helper-->
<% topic_id, topic_name, users_for_curr_team, participants = get_data_for_list_submissions(@team) %>
<% if @assignment.topics? %>
  <h4>Topic: <%= topic_id + '. ' + topic_name %></h4>
<% end %>

<!--Toggle submission-->
<button onclick="toggleFunction('<%= @participant.id.to_s%>')" class="btn btn-default">Show Submission</button>
<div id="<%= @participant.id.to_s %>" style="display:none;">
  <% if @participant.team.hyperlinks.try(:length) %>
    <%= render :partial => 'submitted_content/hyperlink', :locals => {participant: @participant, stage: @stage} %>
  <% else %>
    <b>No Submission</b>
  <% end %>
</div><br><br>


<% if @gitVariable[:parsed_data] && @gitVariable[:authors].present? && @gitVariable[:dates] %>
  <div>
    <h3>Team Members</h3>
    <ul>
      <% @gitVariable[:check_statuses].each do |pull_number, check_status| %>
      <% end %>
      <% participants.each do | p |  %>
        <li>
          <%= p.name(session[:ip]) %>, <%= p.user.email %>
          <fieldset>
            <legend>Match emails</legend>
            <% @gitVariable[:authors].each do | email | %>
            <div>
              <input type="checkbox">
              <label><%= email %></label>
            </div>
           <% end %>
        </li>
      <% end %>
      <%= @gitVariable[:authors] %>
    </ul>
    <div id="root"></div>
  </div>
  <div>
    <h3>Code frequency</h3>
    <% github_metrics_summary = student_level_github_metrics_summary(@gitVariable[:commits], @gitVariable[:authors]) %>
    <%= select("graph","selector", GithubMetric::graph_types, {:selected=> @graph_type }) %>
    <%= select("timeline","selector", GithubMetric::timeline_types, {:selected=> @timeline_type }) %>
    <%= hidden_field_tag 'participant_id', params[:id] %>
    <button type="button" data-toggle="modal" data-target="#myModal">Show Details</button>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Github Metrics Details</h4>
            </div>
            <div class="modal-body">
              <% github_metrics_summary.each do |author_email, commit_data| %>
          <b><%= author_email %>:</b>
          <li>Commits: <%= commit_data[:commits] %></li>
          <li>Lines Added: <%= commit_data[:additions] %></li>
          <li>Lines Deleted: <%= commit_data[:deletions] %></li>
        <%end%>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>


    <div class="chart-container" style="width: 1000px; height:600px;">
      <%= display_github_metrics(@gitVariable, @graph_type, @timeline_type) %>
    </div>

    <script>
      $(document).ready(function(){
          $('#graph_selector').on('change', function(){
            var participant_id = $('#participant_id').val()
            var graphType = $('#graph_selector').val();
            var timelineType = $('#timeline_selector').val();
            window.location.href = `/github_metrics/view_github_metrics/${participant_id}?graphType=${graphType}&timelineType=${timelineType}`
          })
          $('#timeline_selector').on('change', function(){
            var participant_id = $('#participant_id').val()
            var graphType = $('#graph_selector').val();
            var timelineType = $('#timeline_selector').val();
            window.location.href = `/github_metrics/view_github_metrics/${participant_id}?graphType=${graphType}&timelineType=${timelineType}`
          })
      })
    </script>
  </div>
  <div>
    <h3>Team Statistics</h3>
    <ul>
      <li>Total number of commits:<%= @gitVariable[:total_commits] %></li>
      <li>Total number of lines added: <%= @gitVariable[:total_additions] %></li>
      <li>Total number of lines removed: <%= @gitVariable[:total_deletions] %></li>
      <li>Total number of files changed: <%= @gitVariable[:total_files_changed] %></li>
      <li>
        <div>Merge statuses:</div>
        <ul>
          <% @gitVariable[:merge_status].each do |k, v| %>
          <li>Pull Request Number <%= k %> has status: <%= v %> </li>
          <% end %>
        </ul>
      </li>
      <li>
        <span>Check Statuses:</span>
        <% if @gitVariable[:check_statuses].empty? %>
        <span>NA</span>
        <% else %>
        <ul>
          <% @gitVariable[:check_statuses].each do |pull_number, check_status| %>
          <li>
            <div>Pull request: <%= pull_number %></div>
            <div>Overall Status: <span class=<%= status_classes[check_status["state"]] %>><%= check_status["state"] %></span></div>
            <% if check_status["statuses"].present? %>
            <div>Results:</div>
            <ul>
              <% check_status["statuses"].each do |status| %>
              <li><strong><%= status["context"] %></strong>
                <div>Check status: <span class=<%= status_classes[status["state"]] %>><%= status["state"] %></span></div>
                <div>Check description: <%= status["description"] || "NA" %></div>
              </li>
              <% end %>
            </ul>
            <% end %>
          </li>
          <% end %>
        </ul>
        <% end %>
      </li>
    </ul>
  </div>
  <div>
  <h3>Individual Commits</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Additions</th>
        <th>Deletions</th>
        <th>changedFiles</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% @gitVariable[:commits].each do |commit| %>
      <tr>
        <td><%= commit["author"]["name"] %></td>
        <td><%= commit["author"]["email"] %></td>
        <td><%= commit["additions"] %></td>
        <td><%= commit["deletions"] %></td>
        <td><%= commit["changedFiles"] %></td>
        <td><a href=<%= commit["url"] %>><%= commit["committedDate"] %></a></td>
      </tr>
      <%end%>
  </tbody></table>
  </div>
</div>
<% else %>
  <h4 style="font-weight:bold;display:inline-block;">No github data to show</h4>
<% end %>
