<div class="exp">
<div style="background-color:white">
  <span><%= link_to '<button type="button" class="btn btn-default" style="background-color:DarkGray">Current</button>'.html_safe, "list_pending_requested"%></span>
  <span><%= link_to '<button type="button" class="btn btn-default" style="background-color:White">History</button>'.html_safe, "list_pending_requested_finalized"%></span>
</div>
  <table class = "table table-hover">
    <tr>
      <th class="head">Name</th>
      <th class="head">Full Name</th>
      <th class="head">Email Address</th>
      <th class="head">Role</th>
      <th class="head">Self Introduction</th>
      <th class="head" colspan="2">Status</th>
      <!--<th class="head">Actions</th>-->
      <%= form_tag action: :create_approved_user do %>
        <th class="head"> <%= submit_tag "Accept"%></th>
        <th class="head"> <%= submit_tag "Reject"%></th>
      </tr>

      <% @requested_users.each do |requested_user| %>
        <tr class="exp">
          <td><%= requested_user.username %></td>
          <td><%= requested_user.name %></td>
          <td><%= mail_to requested_user.email, requested_user.email %></td>
          <td><%= Role.find_by(id: requested_user.role_id).try(:name) %></td>
          <td style = "width:20%"><div class = "comment"><%= requested_user.self_introduction %></div></td>
          <td colspan="2"><%= requested_user.status %></td>
          <% if requested_user.status == 'Under Review' %>
            <td colspan="2"><%= check_box("selection", requested_user.id, {}, true, false)%></td>
          <% else %>
            <td colspan="4"></td>            
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
  <!--Added pagination bar for showing selected results per page -->
  <%= will_paginate @requested_users %>
</div>
<!--Using Jquery plugin to set character limit using "showChars"-->
<script type="text/javascript">
	$(document).ready(function() {	
		$(".comment").shorten({
	    "showChars" : 40
    });
	});
</script> 