<h1>Listing notes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Date</th>
      <th>Flag</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
  <tbody>
    <% @notes.each do |note| %>
      <% if note.date >= Time.now || note.flag==0 %>
      <tr>

        <td> <%= note.title %> </td>
        <td> <%= note.description %> </td>
        <td> <%= note.date %></td>
        <td>  <%= note.flag %></td>
        <td> <%= link_to 'Show', note %> </td>
        <td>  <%= link_to 'Edit', edit_note_path(note) %> </td>
        <td>  <%= link_to 'Destroy', note, :method => :delete, :data => { :confirm => 'Are you sure?' }%> </td>
      </tr>
      <% end %>
      <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Note', new_note_path %>
