%h1 Listing notes

%table
  %thead
    %tr
      %th Title
      %th Description
      %th Date
      %th Flag
      %th
      %th
      %th

  %tbody
    - @notes.each do |note|
      %tr
        %td= note.title
        %td= note.description
        %td= note.date
        %td= note.flag
        %td= link_to 'Show', note
        %td= link_to 'Edit', edit_note_path(note)
        %td= link_to 'Destroy', note, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Note', new_note_path
