<% owner_id = Object.const_get('Assignment').find(node.node_object_id).instructor_id %>

<TD WIDTH="15%">
  <ul id="actionmenu">
    <li class="daddy">&nbsp;
      <ul>
        <%= render :partial => '/tree_display/actions/shared_actions', :locals => {:model => 'Assignment', :controller => 'assignments', :node => node, :owner_id => owner_id} %>
        <% if is_available(session[:user], owner_id) || (session[:user].role_id == 6 && is_available(User.find(Ta.get_my_instructor(session[:user].id)), owner_id)) %>
          <div>
              <%= link_to image_tag('/assets/tree_view/add-participant-24.png', :title => 'Add participants'), {:controller=>'participants', :action=>'list', :id => node.node_object_id, :model => 'Assignment', :special_role => 'Participant'}, {:title => 'Add participants'}%>
            <% @assignment = Assignment.find(node.node_object_id) %>

            <!--ACS Show the create team option in the assignment for the instructor only if
            the assignment allows teams to be formed with more than 1 participant-->
            <% if @assignment.max_team_size > 1 %>
              <%= link_to image_tag('/assets/tree_view/create-teams-24.png', :title => 'Create teams'), {:controller => 'teams', :action => 'list', :id => node.node_object_id, :type => 'Assignment'}, {:title => 'Create teams'} %>
            <% end %>
            <% signup_topic = SignUpTopic.where(['assignment_id = ?', node.node_object_id]).first %>
            <% if signup_topic %>
              <% if @assignment.staggered_deadline == true %>
                <%= link_to image_tag('/assets/tree_view/edit-signup-sheet-24.png', :title => 'Edit signup sheet'), {:controller => 'sign_up_sheet', :action => 'add_signup_topics_staggered', :id => node.node_object_id}, {:title => 'Edit signup sheet'} %>
              <% else %>
                <%= link_to image_tag('/assets/tree_view/edit-signup-sheet-24.png', :title => 'Edit signup sheet'), {:controller => 'sign_up_sheet', :action => 'add_signup_topics', :id => node.node_object_id}, {:title => 'Edit signup sheet'} %>
              <% end %>
              <% if @assignment.is_intelligent %>
                <%= link_to image_tag('/assets/tree_view/run-lottery.png', :title => 'Run Intelligent Topic Assignment'), :controller => 'lottery', :action => 'run_intelligent_bid', :id => @assignment.id %>
              <% end %>
            <% else %>
              <% if @assignment.staggered_deadline == true %>
                <%= link_to image_tag('/assets/tree_view/add-signup-sheet-24.png', :title => 'Add signup sheet'), {:controller => 'sign_up_sheet', :action => 'add_signup_topics_staggered', :id => node.node_object_id}, {:title => 'Add signup sheet'} %>
              <% else %>
                <%= link_to image_tag('/assets/tree_view/add-signup-sheet-24.png', :title => 'Add signup sheet'), {:controller => 'sign_up_sheet', :action => 'add_signup_topics', :id => node.node_object_id}, {:title => 'Add signup sheet'} %>
              <% end %>
            <% end %>
          </div>
            <!-- E726 Changes Begin -->
            <div>
              <%= link_to fa_icon('building', title: 'Add Manager'), {:controller=>'participants', :action=>'list', :id => node.node_object_id, :model => 'Assignment', :special_role => 'Manager'}, {:title => 'Add Manager'} %>
              <%= link_to fa_icon('book', title: 'Add Reader'), {:controller=>'participants', :action=>'list', :id => node.node_object_id, :model => 'Assignment', :special_role => 'Reader'}, {:title => 'Add Reader'} %>
            </div>
            <!-- E726 Changes End -->

          <div>
            <% if Assignment.find(node.node_object_id).course_id %>
              <%= link_to image_tag('/assets/tree_view/remove-from-course-24.png', :title => 'Remove from course'), {:controller => 'assignments', :action => 'remove_assignment_from_course', :id => node.node_object_id}, {:title => 'Remove from course'} %>
            <% else %>
              <%= link_to image_tag('/assets/tree_view/assign-course-blue-24.png', :title => 'Assign to course'), {:controller => 'assignments', :action => 'associate_assignment_with_course', :id => node.node_object_id}, {:title => 'Assign to course'} %>
            <% end %>
            <%= link_to image_tag('/assets/tree_view/assign-reviewers-24.png', :title => 'Assign reviewers'), {:controller => 'review_mapping', :action => 'list_mappings', :id => node.node_object_id}, {:title => 'Assign reviewers'} %>
            <%= link_to image_tag('/assets/tree_view/assign-survey-24.png', :title => 'Assign surveys'), {:controller => 'survey', :action => 'assign', :id => node.node_object_id}, {:title => 'Assign surveys'} %>
            <%= link_to image_tag('/assets/tree_view/view-survey-24.png', :title => 'View quiz questions'), {:controller => 'questions', :action => 'review_questions', :id => node.node_object_id}, {:title => 'View quiz questions'} %>
            <%= link_to image_tag('/assets/tree_view/grade-essay-icon-24.png', :title => 'Grade Essay Questions'), {:controller => 'student_quiz', :action => 'grade_essays'} %>
          </div>
          <div>
            <%= link_to image_tag('/assets/tree_view/view-scores-24.png', :title => 'View scores'), {:controller => 'grades', :action => 'view', :id => node.node_object_id}, {:title => 'View scores'} %>
            <%= link_to image_tag('/assets/tree_view/view-review-report-24.png', :title => 'View review report'), {:controller => 'review_mapping', :action => 'review_report', :id => node.node_object_id}, {:title => 'View review report'} %>
            <%= link_to image_tag('/assets/tree_view/view-survey-24.png', :title => 'View survey responses'), {:controller => 'survey_response', :action => 'view_responses', :id => node.node_object_id}, {:title => 'View survey responses'} %>
            <%= link_to image_tag('/assets/tree_view/view-suggestion-24.png', :title => 'View suggestions'), {:controller => 'suggestion', :action => 'list', :id => node.node_object_id}, {:title => 'View suggestions'} %>
            <% if signup_topic %>
              <%= link_to image_tag('/assets/tree_view/view-publish-rights-24.png', :title => 'View publishing rights'), {:controller => 'sign_up_sheet', :action => 'view_publishing_rights', :id => node.node_object_id}, {:title => 'View publishing rights'} %>
            <% end %>
          </div>

        <% end %>
      </ul>
    </ul>
  </TD>
