<<<<<<< HEAD
=======
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 126e61ecf11c9abb3ccdba784bf9528251d30eb0
<TD WIDTH="15%">
  <ul id="actionmenu">
    <li class="daddy">&nbsp;
      <ul>
        <div>
          <% model = TreeFolder.find(node.node_object_id).name+"Questionnaire"
            model.gsub!(/[^\w]/,'') %>
          <li><%= link_to image_tag('/images/tree_view/add-public-24.png', :title => 'Create Public '+node.get_name), :controller=>'questionnaire', :action=>'new', :model => model, :private => 0 %></li>  
          <li><%= link_to image_tag('/images/tree_view/add-private-24.png', :title => 'Create Private '+node.get_name), :controller=>'questionnaire', :action=>'new', :model => model, :private => 1 %></li>          
        </div>
	  </ul>
    </li>
  </ul>        
<<<<<<< HEAD
=======
=======
<TD WIDTH="15%">
  <ul id="actionmenu">
    <li class="daddy">&nbsp;
      <ul>
        <div>
          <% model = TreeFolder.find(node.node_object_id).name+"Questionnaire"
            model.gsub!(/[^\w]/,'') %>
          <li><%= link_to image_tag('/images/tree_view/add-public-24.png', :title => 'Create Public '+node.get_name), :controller=>'questionnaire', :action=>'new', :model => model, :private => 0 %></li>  
          <li><%= link_to image_tag('/images/tree_view/add-private-24.png', :title => 'Create Private '+node.get_name), :controller=>'questionnaire', :action=>'new', :model => model, :private => 1 %></li>          
        </div>
	  </ul>
    </li>
  </ul>        
>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
=======
<TD WIDTH="15%">
  <ul id="actionmenu">
    <li class="daddy">&nbsp;
      <ul>
        <div>
          <% model = TreeFolder.find(node.node_object_id).name+"Questionnaire"
            model.gsub!(/[^\w]/,'') %>
          <li><%= link_to image_tag('/images/tree_view/add-public-24.png', :title => 'Create Public '+node.get_name), :controller=>'questionnaire', :action=>'new', :model => model, :private => 0 %></li>  
          <li><%= link_to image_tag('/images/tree_view/add-private-24.png', :title => 'Create Private '+node.get_name), :controller=>'questionnaire', :action=>'new', :model => model, :private => 1 %></li>          
        </div>
	  </ul>
    </li>
  </ul>        
>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
>>>>>>> 126e61ecf11c9abb3ccdba784bf9528251d30eb0
</TD>