<h1>Participant Publication Rights</h1>
<h2><%= "#{@model}: #{@parent.name}" %></h2>
<h3><%= "#{@num_granted} of #{@num_participants} students have granted publishing rights" %></h3>
<br/>
<%= render :partial => '/participants/user_pub_list',
           :locals => {:controller => 'participants', 
                       :user_list => @participants} %>
<br/>
<% session[:return_to] = request.request_uri %>
<%= link_to 'Show '+@model+' Publication Rights Trend',
            :controller=>'participants',
            :action=>'pub_rights_trend',
            :model=>@model,
            :id=>@parent.id %> |
<%= render :partial => '/shared_scripts/back' %>
<hr/>

