%h1 Listing meetings

%table
  %thead
    %tr
      %th Date
      %th Teamid
      %th
      %th
      %th

  %tbody
    - @meetings.each do |meeting|
      %tr
        %td= meeting.Date
        %td= meeting.TeamID
        %td= link_to 'Show', meeting
        %td= link_to 'Edit', edit_meeting_path(meeting)
        %td= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Meeting', new_meeting_path
