<%= form_for @results, url: show_class_performance_path do |f| %>
    <% if @class_performance.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@class_performance.errors.count, "error") %> prohibited this post from being saved:
            </h2>
            <ul>
                <% @class_performance.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class='field'>
        <%= f.label :tags %><br>
        <%= collection_check_boxes(:results, :tag_ids, Tag.all, :id, :txt) %>
    </div>
<% end %>
