<% if flash[:pwnote] -%>
  <div class="flash_note"><%= flash[:pwnote] %></div>
<% elsif flash[:pwerr] -%>
  <div class="flash_error"><h1>Error!</h1><%= flash[:pwerr] %></div>
<% end -%>

<%= form_tag :action => 'update_password' do %>

  <p><label for="reset_email">Email</label><br/>
  <%= text_field 'reset', 'email',readonly: true,:value => @email %></p>

  <p><label for="reset_password">Password</label><br/>
  <%= password_field 'reset', 'password'  %></p>

  <p><label for="reset_repassword">Confirm password</label><br/>
  <%= password_field 'reset', 'repassword' %></p>

  <%= submit_tag "Reset Password" %>
<% end %>

