<% if @user.errors.any? %>
	<div id="error_explanation">
		<h2> There are <%= pluralize(@user.errors.count, "error") %> </h2>
		<ul>
			<% @user.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<%end%>
<%= form_for(:user, url:'/reset_password/'+@user.id.to_s) do |f| %>
Reset password for: <%= @user.email %> 
<%= render :partial => 'users/password', :locals => { :new_user => false } %>
<%= f.submit "Reset Password" %>

<%end%>