<BR/>
<% form_tag({:action => 'list'}) do %>
<TABLE width="80%" rowspan=2>
<TR>
<TD width="30%" align="left">
<input type='radio' name='display[check]' id='public_radio' value='1' onclick='submit();' <% if @show == nil %>checked<% end %>>

<label for='public_radio'>Show public and private items</label>
<br/>
<input type='radio' name='display[check]' id='private_radio' value='0' onclick='submit();' <% if @show != nil %>checked<% end %>>
<label for='private_radio'>Show private items only</label>
</TD>
<TD width="50%" align="right">
Sort by: 
<select name='display[sortvar]' style="width: 10em">
  <option value='name' <% if @sortvar == 'name'%>selected<% end %>>name</option>
  <option value='created_at' <% if @sortvar == 'created_at'%>selected<% end %>>date created</option>
  <option value='directory_path' <% if @sortvar == 'directory_path'%>selected<% end %>>directory path</option>
</select>
<select name='display[sortorder]' style="width: 10em">
  <option value='asc' <% if @sortorder == 'asc'%>selected<% end %>>ascending</option>
  <option value='desc' <% if @sortorder == 'desc'%>selected<% end %>>descending</option>
</select>
</TD>
<TD width="5%" align="left"><%= submit_tag "Sort" %></TD>
</TR>

</TABLE>

<table>
  <br/>
  <tr></tr>
<TR>
  <td>
  <% if session[:assignment].to_i==1 %>

Display Only Assignments not Related to any Course
<form name="display[choice]">
            <input type="radio" name="display[choice]" value='1' onclick="submit()" <% if @show_assign == nil %>checked<% end %>> Yes</input>
            <input type="radio" name="display[choice]" value='0' onclick="submit()" <% if @show_assign != nil %>checked<% end %>> No </input>
</form>

<% end %>
<% if session[:question_naire].to_i==1 && session[:sindhura]==nil%>

Display Only Questionnaires not Related to any Assignment
<form name="display[question]">
            <input type="radio" name="display[question]" value='1' onclick="submit()" <% if @show_question == nil %>checked<% end %>> Yes</input>
            <input type="radio" name="display[question]" value='0' onclick="submit()" <% if @show_question != nil %>checked<% end %>> No </input>
</form>

<% end %>
</td>
<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
<td>
<% if @root_node %>
  <% if @root_node.get_name == 'Courses' %>

      <%= link_to 'Create Public Course',:controller=>'course', :action=>'new', :private => 0 %>

             <%= link_to 'Create Private Course',:controller=>'course', :action=>'new', :private => 1 %>

      <% end %>



       <% if @root_node.get_name == 'Assignments' %>

          <%= link_to 'Create Public Assignment',:controller=>'assignment', :action=>'new', :private => 0 %>

          <%= link_to 'Create Private Assignment',:controller=>'assignment', :action=>'new', :private => 1 %>

      <% end %>
<% end %>
</td>
</tr>

</table>




<% if @root %>
	<%= hidden_field_tag('root', @root_node.id) %>
<% end %>

<% end %>
