<tr
  <% if rowtype != nil %>class="<%= rowtype %>"
  <% elsif prefix != nil %>id="<%= prefix %>" style="display: none;" name="team member"
  <% end %>>
  <% if depth != nil
       index = 0
       while index < depth %>
     <td WIDTH="2%">&nbsp;</td>
     <%   index += 1
       end
  end %>
<% if parent_node.leaf? %>
  <td WIDTH="2%">&nbsp;</td>
  <td WIDTH="2%">&nbsp;</td>
<% else %>
  <% if parent_node.name == 'Courses'&& session[:user].role_id == 6 %>
  <%else%>
    <% if child_nodes %>
      <td WIDTH="2%" ALIGN="RIGHT"><a id="<%= prefix %>Link" name="<%= prefix %>Link" href="#" <% if child_nodes.length > 0 %>onclick="toggleList('<%= prefix %>',<%= child_nodes.length %>);alternate('theTable');return false;"><img src="/assets/expand.png"><% else %>onclick="return false;"><img src="/assets/noaction.png"><% end %></a></td>
      <td WIDTH="2%" ALIGN="RIGHT"><%= link_to image_tag('/assets/drill.png'), :controller => 'tree_display', :action => 'drill', :root => parent_node.id %></td>
    <% end %>
  <%end%>
<% end %>
<% width = 66 - depth * 2 %>
<td COLSPAN="<%= 3 - depth %>" WIDTH="<%= width %>%">
  <% if parent_node.name == 'Courses'&& session[:user].role_id == 6 %>
  <%else%>
    <%= parent_node.name(session[:ip]) %>
    <% if parent_node.directory != nil%>
      <br/><I>Directory:</I> <%= parent_node.directory %>
  <% end %>
  <% if parent_node.creation_date != nil %>
    <br/><I>Creation Date:</I> <%= parent_node.creation_date.strftime("%F") %>
<% end %>
<% if parent_node.modified_date != nil %>
  <br/><I>Updated Date:</I> <%= parent_node.modified_date %>
        <% end %>

      <%end%>
    </td>
