<TR <% if rowtype != nil %>CLASS="<%= rowtype %>"<% elsif prefix != nil %>ID="<%= prefix %>" style="display: none;"<% end %>>
<% if depth != nil
     index = 0
     while index < depth %>
<TD WIDTH="2%">&nbsp;</TD>
<%   index += 1
     end
   end %> 
<% if parent_node.is_leaf %>
  <TD WIDTH="2%">&nbsp;</TD>
  <TD WIDTH="2%">&nbsp;</TD>
<% else %>
	<% if parent_node.get_name == 'Courses'&& session[:user].role_id == 6 %>
	<%else%>
     <% if child_nodes %>
       <TD WIDTH="2%" ALIGN="RIGHT"><a id="<%= prefix %>Link" name="<%= prefix %>Link" href="#" <% if child_nodes.length > 0  %>onclick="toggleList('<%= prefix %>',<%= child_nodes.length %>);alternate('theTable');return false;"><img src="/images/expand.png"><% else %>onclick="return false;"><img src="/images/noaction.png"><% end %></a></div></TD>
       <TD WIDTH="2%" ALIGN="RIGHT"><%= link_to '<img src="/images/drill.png">', :controller => 'tree_display', :action => 'drill', :root => parent_node.id %></TD>
     <% end %>
	<%end%>	     
<% end %>    
<% width = 66 - depth * 2 %>
<TD COLSPAN="<%= 3 - depth %>" WIDTH="<%= width %>%">     
  <% if parent_node.get_name == 'Courses'&& session[:user].role_id == 6 %>
  <%else%>
	  <%= parent_node.get_name %>
	  <% if parent_node.get_directory != nil%>
	    <BR/><I>Directory:</I> <%= parent_node.get_directory %>
	  <% end %>
	  <% if parent_node.get_creation_date != nil %>
	    <BR/><I>Creation Date:</I> <%= parent_node.get_creation_date %>
	  <% end %>
  <%end%>		  
</TD>