<h1>Courses available for <%= @assignment.name %></h1>

Select a course to which the assignment will belong:
<BR/><BR/>
<%= form_for @assignment do |f| %>
  <% @courses.each do |course| %>
    <%= f.radio_button :course_id, course.id %><%= course.name %><br/>
  <% end %>

  <BR/>
  <%= f.submit "Save" %>
<% end %>

<BR/>
<%= render :partial => '/shared_scripts/back'%>
