<h1>Select the desired choice and copy the assignment</h1>
<%= form_tag(:controller => :assignments, :action => :copy, :id => @assignment_id) do%>
  <%= radio_button_tag(:copyoption, "copyWithoutTopics") %>
  <%= label_tag(:copyoption_topics, "copy without topics") %><br>
  <%= radio_button_tag(:copyoption, "copyWithTopics") %>
  <%= label_tag(:copyoption_topics, "copy with topics") %><br>
  <%= radio_button_tag(:copyoption, "copyWithTopicsTeams") %>
  <%= label_tag(:copyoption_topics_teams, "copy with topics and teams") %><br>
  <%= submit_tag("Create") %>
<% end %>