<h1>Editing Assignment: <%=@assignment_form.assignment.name%></h1>

<!--<div id="assignments" params="#{@reactjsParams}"></div>-->
<%= form_for @assignment_form.assignment, html: { id: 'assignment_form' } do %>
    <div class= "chart-table" id="tabs">
      <ul>
        <li><a href="#tabs-1" id="General">General</a></li>
        <li><a href="#tabs-2" id="Topics">Topics</a></li>
        <li><a href="#tabs-3" id="Rubrics">Rubrics</a></li>
        <li><a href="#tabs-4" id="ReviewStrategy">Review strategy</a></li>
        <li><a href="#tabs-5" id="DueDates">Due dates</a></li>
      </ul>
      <div id="tabs-1">
        <%= render 'assignments/edit/general' %>
      </div>
      <div id="tabs-2">
        <%= react_component('TopicTab', {assignment_form: @assignment_form}) %>
        <% if @assignment_form.assignment.staggered_deadline == true %>
            <%session[:duedates] = SignUpSheet.add_signup_topic(@assignment_form.assignment.id)%>
            <%= render '/sign_up_sheet/add_signup_topics_staggered.html' %>
        <% else %>
            <%= render '/sign_up_sheet/add_signup_topics.html' %>
        <% end %>
      </div>
      <div id="tabs-3">
        <%= render 'assignments/edit/rubrics' %>
      </div>
      <div id="tabs-4">
        <%= react_component('StrategyTable', {assignment_form: @assignment_form}) %>
      </div>
      <div id="tabs-5">
        <%= render 'assignments/edit/due_dates' %>
      </div>
      <%= button_tag "Save", :id => 'submit_btn' %> | <%= render :partial => '/shared_scripts/back' %>
    </div>
    <script>
        var useBookmarkChanged = function () {
            jQuery("#questionnaire_table_BookmarkRatingQuestionnaire").remove()
            var bookmark_checkbox = jQuery('#assignment_form_assignment_use_bookmark');
            if (bookmark_checkbox.is(':checked')) {
                addQuestionnaireTableRow(
                        'BookmarkRatingQuestionnaire',
                        null,
                        <%= questionnaire(@assignment_form.assignment, 'BookmarkRatingQuestionnaire',nil).to_json.html_safe %>,
                        <%= assignment_questionnaire(@assignment_form.assignment, 'BookmarkRatingQuestionnaire',nil).to_json.html_safe %>,
                        <%= questionnaire_options(@assignment_form.assignment, 'BookmarkRatingQuestionnaire',nil).to_json.html_safe %>
                );
            }
        }

        jQuery(document).ready(function () {
            jQuery("#submit_btn").click(function(e) {
                var max_team_size = jQuery('#assignment_form_assignment_max_team_size').val();
                if (max_team_size == '1' && jQuery('#team_assignment').is(':checked')) {
                    alert("Maxinum number of members per team must be greater than 1!");
                    e.preventDefault()
                }
            })
            jQuery("#tabs").tabs({
                beforeActivate: function (event, ui) {
                    var deleteTeam = 0;
                    var frm = jQuery("#assignment_form");
                    var max_team_size = jQuery('#assignment_form_assignment_max_team_size').val();
                    if (max_team_size == '1' && jQuery('#team_assignment').is(':checked')) {
                        deleteTeam = 1;
                        alert("Maxinum number of members per team must be greater than 1!");
                    }
                    if (deleteTeam == 0) {
                        jQuery.ajax({
                            url: frm.attr('action'),
                            method: frm.attr('method'),
                            data: frm.serialize(),
                        })
                    } else {
                        event.preventDefault();
                    }
                }
            });
            if (<%= params[:tab]=='tab3'%>) {
                $('#ReviewStrategy').click();
            }
        });

        $('#go_to_tabs2').click(function(){
            $('#Rubrics').click();
        });
    </script>
<% end %>

<br/>

