<h1>New Assignment</h1>

<%= form_tag @assignment do %>
    <%= hidden_field_tag('assignment[instructor_id]', @assignment.instructor_id) %>
    <%= hidden_field_tag('assignment[course_id]', @assignment.course_id) %>
    <%= hidden_field_tag('assignment[wiki_type_id]', @assignment.wiki_type_id) %>

    <%= label_tag('assignment[name]', 'Name:') %>
    <%= text_field_tag('assignment[name]') %>
    <br/><br/>

    <%= submit_tag 'Create' %> |
    <%= render :partial => '/shared_scripts/back' %>
    <br/>
<% end %>

