<%= form_for @assignment, html: { id: 'assignment_form' } do %>

<table>
  <tr id="assignment_review_topic_threshold_row">
    <td>
      <%= label_tag('assignment[review_topic_threshold]', 'Review topic threshold(k):') %>
      <%= text_field_tag('assignment[review_topic_threshold]', @assignment.review_topic_threshold) %>
      <img src="/assets/info.png" title="A topic is reviewable if the minimum number of reviews already done for the submissions
      on that topic is within k of the minimum number of reviews done on the least-reviewed submission on any topic.">
    </td>
  </tr>

  <tr>
    <td>
      <%= label_tag('assignment[max_reviews_per_submission]', 'Maximum number of reviews per submission:') %>
      <%= text_field_tag('assignment[max_reviews_per_submission]', @assignment.max_reviews_per_submission, {:style => 'width:75px'}) %>
    </td>
  </tr>

  <tr>
    <td>Offset: </td>
    <td><%= text_field :assigned, :thresh, :size=>10, :value=>20 %></td>
  </tr>
  <tr>
    <td>Redistribution Factor: </td>
    <td><%= text_field :assigned, :rfactor, :size=>10, :value=>0.5 %></td>
  </tr>
  <tr>
    <td>Maximum Deductable Points:  </td>
    <td> <%= text_field :assigned, :mpd, :size=>10, :value=>10 %></td>
  </tr>
  <tr>
    <td>use class average score as hardline?</td>
    <td><%= check_box :assigned, :ifclass, {}, true, false %></td>
  </tr>
  <tr>
    <td>Hardline: </td>
    <td><%= text_field :assigned, :hardline, :size=>10, :value=>85 %></td>
  </tr>
  <tr>
      <td><input type="submit" value="Save"/> <a href="./edit#tabs-3">Back</a></td>
  </tr>
</table>


<%end%>