
<% @assignment = Assignment.find(params[:id]) %>
<h1>Scheduled jobs for <%= @assignment.name %> assignment</h1>


<%#<%= link_to 'View all Bookmarks', :controller=>'bookmarks', :action=> 'view_bookmarks' %> <%#<br/>
<%= link_to 'Manage all Bookmarks', :controller => 'bookmarks', :action => 'manage_bookmarks' %>



<% if flash[:notice] %>
    <div class="flash_note"><%= flash_message :notice %></div>
<% end %>

<% @scheduled_jobs = Delayed::Job.all %>

<table class="general">
  <th width="25%">Deadline type #</th>
  <th width="25%">Run time</th>
  <th width="25%">Due date</th>
  <th width="25 %">Action</th>
  <% i=1 %>
  <% for delayed_job in @scheduled_jobs %>
      <tr>
        <% if delayed_job.handler.include? "assignment_id: #{@assignment.id}"%>
            <% handler = delayed_job.handler.split()%>
            <td><%= handler[5] %></td>
            <td><%= delayed_job.run_at %></td>
            <td><%= handler[7][1..-1] + ":" + handler[8][0..-2]%></td>
            <td><%= handler[1][13..-1] %></td>
        <% end %>
      </tr>
      <% i=i+1 %>
  <% end %>

</table>

<% session[:return_to] = request.url %>
<br/><br/>


<a href="javascript:history.back()">Back</a>
