<h1>Editing System Settings</h1>

<%= start_form_tag :action => 'update', :id => @system_settings %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<hr/>
<%= link_to 'Show', :action => 'show', :id => @system_settings %>
