<script type="text/javascript">
  function UpdateButton() {
      if (document.getElementById("impersonate_name").value.length > 0)
          document.getElementById("revert_button").value = "Impersonate";
      else
          document.getElementById("revert_button").value = "Revert";
  }
</script>

<% if current_user %>
  <% if session[:super_user] %>
    <%= form_for :impersonate, url: '/impersonate/impersonate' do |f| %>
      <table>
        <tr>
          <td>User: <%= current_user.username(session[:ip]) %></td>
        </tr>

        <tr><td><%= f.text_field :username, size: 12,
          title: "Enter a user account to impersonate",
          data: { onKeyUp: "UpdateButton();" } %></td></tr>
      <tr><td><%= f.submit "Revert", id: "revert_button" %></td></tr>
      </table>
    <% end %>
  <% else %>
    <%= form_tag :controller => 'auth', :action => 'logout' do %>
      <table>
        <tr>
          <td>User: <%= current_user.username(session[:ip]) %></td>
        </tr>

        <tr><td><%= submit_tag "Logout", id: 'logout-button' %></td></tr>
      </table>
    <% end %>
  <% end %>
<% else %>
<div class="login-form">
  <%= form_tag :controller => 'auth', :action => 'login' do %>
    <p><label for="login_username">User Name</label><br/>
    <%= text_field 'login', 'username', :size => 12, :class => 'form-control' %></p>

    <p>
      <label for="login_password">Password</label><br/>
      <%= password_field 'login', 'password', :size => 12, :class => 'form-control' %>
    </p>
    <p>
      <%= link_to "Forgot password?", {:controller => 'password_retrieval', :action => 'forgotten'}, :class => 'pull-right', :style => 'margin-bottom: 20px' %>
    </p>
    <p>
      <% if defined?(@attempts) and @attempts[@username] %>
          <!--<div class="g-recaptcha" data-sitekey="6LcFcRUUAAAAAP0aQmJmT0299FLzCPyVExZYlOUv"></div>-->
          <br><br><br><br>
      <% end %>
      <%= submit_tag "Sign in", :class => 'btn btn-danger', :style => 'width:100%; margin-left:auto; margin-right:auto;' %>
    </p>
  <% end %>
  <br><br><br>
  <p>
    <%= form_tag({:controller => 'account_request', :role => "Instructor", :action => 'new'}, :method => "get") do %>
        <div>
          <%= recaptcha_tags %>
        </div>
        <%= submit_tag "Request account", :class => 'btn btn-danger', :style => 'width:100%; margin-left:auto; margin-right:auto;' %>

    <% end %>
  </p>
</div>

<% end %>