<head>

  <script type="text/javascript"
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js">
      </script>

  <script type="text/javascript"
      src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.js">
      </script>

  <script type="text/javascript">

      function ajaxSubmitComment() {
          var newdom    = document.getElementById('invisible')
          var comment   = document.getElementById('forminput_2')
          var passvalue = newdom.value + comment.value

          new Ajax.Request('/review_files/method2', {
              method:'get',
              parameters: { key :passvalue }
          });
      }

      //********** HIDES THE DIV myDiv2 ****************
      function hideit() {
          document.getElementById('myDiv2').innerHTML = ""
          $("#myDiv2").fadeOut();
      }

      //******************* ONLY DISPLAYS COMMENTS ***********
      function olderVersion(e, line, filepath, offset) {
          var domObj = document.getElementById('myDiv2')
          new Ajax.Request('/review_files/method3', {
              method:'get',
              parameters: {
                  file_path :filepath,
                  file_offset :offset,
                  line_num : line
              },
              onSuccess: function(ret_val) {
                  domObj.innerHTML = "<br>"+ret_val.responseText+"<br><br><a class='line_number' href='#' onclick='hideit()'>Close [X]</a><br><br>";
                  $('#myDiv2').fadeIn();
              },
              onFailure: function() { alert('Something went wrong...') }
          });
      }

      //***** DISPLAYS PREVIOUS COMMENTS AND FORM IS PRESENT********
      function recentVersion(e, line, filepath, offset) {
          var newdom = document.getElementById('invisible')
          newdom.value = filepath + "$" + offset

          var form = document.getElementById('add_subject').innerHTML;

          var domObj = document.getElementById('myDiv2')
          var value="";

          new Ajax.Request('/review_files/method3', {
              method:'get',
              parameters: {
                  file_path :filepath,
                  file_offset :offset,
                  line_num :line
              },
              onSuccess: function(ret_val) {
                  var setter = "<br><br>"+ret_val.responseText+"<br><br>"+form+"<a class='line_number' href='#' onclick='hideit()'>Close [X]</a><br>";

                  setter = setter.replace("invisible","invisbile_2");
                  setter = setter.replace("forminput","forminput_2");

                  // click and highlight code
                  var testdom = document.getElementById('td_new_'+e)
                  testdom.style.fontWeight="900";
                  testdom.bgColor = "cyan";

                  domObj.innerHTML = setter
                  $('#myDiv2').fadeIn();
              },
              onFailure: function(){ alert('Something went wrong...') }
          });
          domObj.fadeIn("slow");
      }

  </script>

  <style >
      .parentDisable {
          position:absolute;
          width:250px;  height:200px;
          top:350px;    left:250px;
          display:none;
          z-index:3;
          color: blue;
          background-color: rgba(0,205,0,0.9);
          border:1px solid #DEDEDE;
          border-radius:5px;
          -moz-border-radius:5px;
          -webkit-border-radius:5px;
      }

      a.line_number:link {
          COLOR: black;
          text-decoration: none;
      }
      a.line_number:visited {
          COLOR: black;
          text-decoration: none;
      }
      a.line_number:active {
          COLOR: black;
      }

      a.line_number_hover :hover {
          background-color: black;
          COLOR: white;
          text-decoration: underline;
          font-weight: bold;
      }
      .close_line_hover :hover {
          font-weight: bold;
          text-decoration: underline;
      }

      .curved {
          -moz-border-radius:10px;
          -webkit-border-radius:10px;
          behavior:url(border-radius.htc);
      }

      td{ font-color: black; }

      pre{ margin: 0px; }

      .margin{ margin: 0cm; }

      #shyamdiv{
          border:1;
          width:100%;
          height:500px;
      }

      tr.highlight :hover { font-weight: bold;  }


  </style>

</head>


<font face="courier" size="2">

  </br></br>


  <script>
      $(document).ready (
          function() {
              $("#myDiv2").draggable();
              $("#add_subject").fadeOut();
          }
      );
  </script>


  <div id="dashboard_header" style= "border-style: solid;  overflow: auto; border-width: 2px;" >
    <table width="100%" cellpadding='1' cellspacing='1' style="table-layout: fixed; ">
      <tr><td>This is Code Review Dashboard</td></tr>
      <tr>
        <td>View Version:</td>
        <% for i in (0..2) %>
            <td><%= link_to i, :controller => 'review_files',
                               :action => 'show_code_review_dashboard' %></td>
        <% end %>
        

      </tr>
      <tr><td>View Diff:</td></tr>

      <tr><td colspan="4"><br/><br/><%= link_to "Upload Next version of Code files",
                          :controller => 'review_files',
                          :action => 'upload_review_file',
                          :participant_id => @participant.id %></td></tr>
    </table>
  </div>
    
  <br/>
  <!--  THE DIV OF THE TABLE -->
  <div  id="shyamdiv" class="margin" style= "border-style: solid;  overflow: auto; border-width: 2px;" >
    <table width="100%" cellpadding='0' cellspacing='0' style="table-layout: fixed; word-wrap: break-word;">
      <% for i in 0..@shareObj['linearray1'].size %>

          <!-- THESE FOUR STATEMENTS DETERMINE THE COLOR OF THE ROW -->
          <% @color = "White" %>
          <tr bgcolor="<%=@color%>" class="highlight">
            <% line1_font_weight = "normal" %>
            <% line2_font_weight = "normal" %>
            <% linecolor = 'lightgray'%>
            <% linecolor2 = 'lightgray'%>


          <% if (@shareObj['comparator'][i] == DiffHelper::ADDED) then @color="palegreen"%><%end%>
          <% if (@shareObj['comparator'][i] == DiffHelper::DELETED) then @color="pink"%><%end%>
          <% if (@shareObj['comparator'][i] == DiffHelper::CHANGED) then @color="#FEF5CA"%><%end%>
          <% if (@shareObj['comparator'][i] == DiffHelper::UNCHANGED) then @color="WHITE"%><%end%>

          <% if (@shareObj['comparator'][i] == DiffHelper::ADDED) then linecolor="#7CCD7C"%><%end%>
          <% if (@shareObj['comparator'][i] == DiffHelper::DELETED) then linecolor="#FF6A6A"%><%end%>
          <% if (@shareObj['comparator'][i] == DiffHelper::CHANGED) then linecolor="khaki"%><%end%>
          <% if (@shareObj['comparator'][i] == DiffHelper::UNCHANGED) then linecolor="lightgray"%><%end%>

          <% if (@shareObj['comparator'][i] == DiffHelper::ADDED) then linecolor2="#7CCD7C"%><%end%>
          <% if (@shareObj['comparator'][i] == DiffHelper::DELETED) then linecolor2="#FF6A6A"%><%end%>
          <% if (@shareObj['comparator'][i] == DiffHelper::CHANGED) then linecolor2="khaki"%><%end%>
          <% if (@shareObj['comparator'][i] == DiffHelper::UNCHANGED) then linecolor2="lightgray"%><%end%>


            <!-- THESE FOUR STATEMENTS DETERMINE THE COLOR OF THE LEFT LINE NUMBER -->
            <% if @shareObj['highlightfile1'].include?@shareObj['offsetarray1'][i]  %>
                <% linecolor = 'cyan'%>
                <% line1_font_weight = "bold" %>
            <%end%>

            <!-- THESE FOUR STATEMENTS DETERMINE THE COLOR OF THE RIGHT LINE NUMBER -->
            <% if @shareObj['highlightfile2'].include?@shareObj['offsetarray2'][i]  %>
                <% linecolor2 = 'cyan'%>
                <% line2_font_weight = "bold" %>
            <%end%>

            <!-- LINE NUMBER 1 -->
            <td width="28px" id="td_old_<%=i%>" bgcolor="<%= linecolor %>" style="font-weight: <%= line1_font_weight %> ;border-right: thin solid black;vertical-align: top;"><a class="line_number line_number_hover" style="display:block;" href="#" onclick="olderVersion('<%=i%>', '<%= @shareObj['linenumarray1'][i] %>', '<%=@shareObj['file1']%>','<%=@shareObj['offsetarray1'][i]%>')"><u> <pre><%=@shareObj['linenumarray1'][i]%></pre></u></a></td>

            <!-- OFFSET FOR FILE 1 -->
            <td width="1%"><pre><% @shareObj['offsetarray1'][i]%> </pre></td>

            <!-- THE ACTUAL DATA LINE -->
            <td width="48%" style="vertical-align: middle;"><pre><%=@shareObj['linearray1'][i]%></pre></td>

            <!-- LINE NUMBER 2 -->
            <td width="28px" id="td_new_<%=i%>" bgcolor="<%=linecolor2%>" style="font-weight: <%= line2_font_weight %> ;vertical-align: top; border-left: thin solid black; border-right: thin solid black;"><a class="line_number line_number_hover" style="display:block;" href="#" onclick="recentVersion('<%=i%>', '<%= @shareObj['linenumarray2'][i] %>' ,'<%=@shareObj['file2']%>','<%=@shareObj['offsetarray2'][i]%>')"><u> <pre><%=@shareObj['linenumarray2'][i]%></pre></u></a></td>

            <!-- OFFSET FOR FILE 2  -->
            <td width="1%"><pre><% @shareObj['offsetarray2'][i]%> </pre></td>

            <!--  THE ACTUAL DATA LINE-->
            <td width="48%" style="vertical-align: middle;"><pre><%=@shareObj['linearray2'][i]%> </pre></td>

          </tr>
          <tr><td></td><td></td><td><div id="x_<%=i%>"></div></td><td></td><td></td> <td><div id="<%=i%>"></div></td></tr>

      <%end%>
    </table>
  </div>

  <!--   The popup which pops up as one intends to click or view comments -->
  <div id="myDiv2" class="parentDisable" onLoad="assign()"></div>
  <!--  HIDDEN DIV WHICH LATER CREEPS INTO THE POPUP -->
  <div id="add_subject">
    <table><tr><td>FOO-BAZZLE</td></tr></table>
    <textarea id="forminput" rows="10" cols="20"></textarea> <br>
    <button onclick="ajaxSubmitComment()"><b>Save Comment</b></button>
    <input type="textarea" id="invisible" style="display:none">
  </div>
</font>




