<head>

  <script type="text/javascript"
          src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js">
  </script>

  <script type="text/javascript"
          src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.js">
  </script>

  <script type="text/javascript">

      function ajaxSubmitComment() {
          var newdom    = document.getElementById('invisible')
          var comment   = document.getElementById('forminput_2')
          var passvalue = newdom.value + comment.value

          new Ajax.Request('/review_files/method2', {
              method:'get',
              parameters: { key :passvalue }
          });
      }

      //********** HIDES THE DIV myDiv2 ****************
      function hideit() {
          document.getElementById('myDiv2').innerHTML = ""
          $("#myDiv2").fadeOut();
      }


      //******************* ONLY DISPLAYS COMMENTS ***********
      function olderVersion(e, line, filepath, offset) {
          var domObj = document.getElementById('myDiv2')
          new Ajax.Request('/review_files/method3', {
              method:'get',
              parameters: {
                  file_path :filepath,
                  file_offset :offset,
                  line_num : line
              },
              onSuccess: function(ret_val) {
                  domObj.innerHTML = "<br>"+ret_val.responseText+"<br><br><a class='line_number' href='#' onclick='hideit()'>Close [X]</a><br><br>";
                  $('#myDiv2').fadeIn();
              },
              onFailure: function() { alert('Something went wrong...') }
          });
      }

      //***** DISPLAYS PREVIOUS COMMENTS AND FORM IS PRESENT********
      function recentVersion(e, line, filepath, offset) {
          var newdom = document.getElementById('invisible')
          newdom.value = filepath + "$" + offset

          var form = document.getElementById('add_subject').innerHTML;

          var domObj = document.getElementById('myDiv2')
          var value="";

          new Ajax.Request('/review_files/method3', {
              method:'get',
              parameters: {
                  file_path :filepath,
                  file_offset :offset,
                  line_num :line
              },
              onSuccess: function(ret_val) {
                  var setter = "<br><br>"+ret_val.responseText+"<br><br>"+form+"<a class='line_number' href='#' onclick='hideit()'>Close [X]</a><br>";

                  setter = setter.replace("invisible","invisbile_2");
                  setter = setter.replace("forminput","forminput_2");

                  // click and highlight code
                  var testdom = document.getElementById('td_new_'+e)
                  testdom.style.fontWeight="900";
                  testdom.bgColor = "cyan";

                  domObj.innerHTML = setter
                  $('#myDiv2').fadeIn();
              },
              onFailure: function(){ alert('Something went wrong...') }
          });
          domObj.fadeIn("slow");
      }

  </script>

  <style >
      .parentDisable {
          position:absolute;
          width:250px;  height:200px;
          top:350px;    left:250px;
          display:none;
          z-index:3;
          color: blue;
          background-color: rgba(0,205,0,0.9);
          border:1px solid #DEDEDE;
          border-radius:5px;
          -moz-border-radius:5px;
          -webkit-border-radius:5px;
      }

      a.line_number:link {
          COLOR: black;
          text-decoration: underline;
      }
      a.line_number:visited {
          COLOR: black;
          text-decoration: underline;
      }
      a.line_number:active {
          COLOR: black;
          text-decoration: underline;
      }

      a.line_number_hover :hover {
          background-color: black;
          COLOR: white;
          text-decoration: underline;
          font-weight: bold;
      }

      .curved {
          -moz-border-radius:10px;
          -webkit-border-radius:10px;
          behavior:url(border-radius.htc);
      }

      td{ font-color: black; }

      pre{ margin: 0px; }

      .margin{ margin: 0cm; }

      #shyamdiv{
          border:1;
          width:100%;
          height:500px;
      }

      tr.highlight :hover { font-weight: bold;  }

      td.version_number {
          border-left: thin solid gray;
          border-right: thin solid gray;
          border-top: thin solid gray;
          border-bottom: thin solid gray;
      }

      td.version_number :hover {
          font-weight: bold;
          color: black;
      }

      td.current_version {
          background-color: black;
          color: white;
          font-weight: bold;
          border-left: thin solid black;
          border-right: thin solid black;
          border-top: thin solid black;
          border-bottom: thin solid black;
      }


  </style>

</head>


<font face="courier" size="2">

  <script>
      $(document).ready (
              function() {
                  $("#myDiv2").draggable();
                  $("#add_subject").fadeOut();
              }
      );
  </script>

  </br>

  <div id="dashboard_header" style= "border-style: solid; border-width: 2px; background-color: #fafad2;" >
    <table  cellpadding='3' cellspacing='4' >
      <tr><td><b style="font-size: large;"><%= File.basename(@shareObj['file1']) %> </b><i style="font-size: smaller;">(Version <%= @review_file.version_number %>)</i></td></tr>
      <tr>
        <td align="right">View Version:</td>
        <!-- Prepare the 'versions' array from the @version_fileId_map -->
        <% file_versions = [] %>
        <% @version_fileId_map.sort.each do |version, review_file_id| %>
            <% file_versions << version.to_i %>
        <% end %>

        <!-- Iterate over all hashes and display the version and link
             corresponding to each hash -->
        <% @version_fileId_map.each do |each_version, version_file_id| %>
            <% if each_version.to_s == @review_file.version_number.to_s %>
                <td class="current_version" >
                  <%= each_version %>
                </td>
            <% else %>
                <td class="version_number" >
                  <%= link_to each_version, :controller => 'review_files',
                              :action => 'show_code_file',
                              :review_file_id => version_file_id,
                              :participant_id => @participant.id,
                              :versions => file_versions %>
                </td>
            <% end %>

        <% end %>
      </tr>

      <tr>
        <td align="right">View Diff with:</td>
        <!-- Iterate over all hashes and display the version and link
             corresponding to each hash -->
        <% @version_fileId_map.each do |each_version, version_file_id| %>
            <% if each_version.to_s == @review_file.version_number.to_s %>
                <td style="color: #986633">
                  <%= each_version %>
                </td>
            <% else %>
                <td class="version_number" >
                  <%= link_to each_version, :controller => 'review_files',
                              :action => 'show_code_file_diff',
                              :participant_id => @participant.id,
                              :versions => file_versions,
                              :diff_with_file_id => version_file_id,
                              :current_version_id => @review_file.id %>
                </td>
            <% end %>

        <% end %>
      </tr>
    </table>
  </div>

  <br/><br/>


  <!--  THE DIV OF THE TABLE -->
  <div  id="shyamdiv" class="margin" style= "border-style: solid;  overflow: auto; border-width: 2px;" >
    <table width="100%" cellpadding='0' cellspacing='0' style="table-layout: fixed; word-wrap: break-word;">
      <% for i in 0..@shareObj['linearray1'].size %>

          <!-- THESE FOUR STATEMENTS DETERMINE THE COLOR OF THE ROW -->
          <% @color = "#ECF1EF" %>
          <% linecolor = "lightgreen"%>
          <% line_font_weight = "normal" %>

          <tr bgcolor="<%=@color%>" class="highlight">

            <!-- THESE FOUR STATEMENTS DETERMINE THE COLOR OF THE LEFT LINE NUMBER -->
            <% if @shareObj['highlightfile1'].include?@shareObj['offsetarray1'][i]  %>
                <%linecolor = 'cyan'%>
                <% line_font_weight = "bold" %>
            <%end%>

            <!-- Allow adding comments only if this is the most recent version-->
            <% if file_versions.sort.last == @review_file.version_number.to_i %>
                <td width="20px" id="td_new_<%=i%>" bgcolor="<%=linecolor%>" style=" font-weight: <%= line_font_weight %> ; border-right: thin solid black;vertical-align: top;"><a class="line_number line_number_hover" style="display:block;" href="#" onclick="recentVersion('<%= i %>', '<%= i %>', '<%=@shareObj['file1']%>','<%=@shareObj['offsetarray1'][i]%>')"><u> <pre><%=i%></pre></u></a></td>
            <% else %>
                <td width="20px" id="td_old_<%=i%>" bgcolor="<%=linecolor%>" style=" font-weight: <%= line_font_weight %> ; border-right: thin solid black;vertical-align: top;"><a class="line_number line_number_hover" style="display:block;" href="#" onclick="olderVersion('<%= i %>', '<%= i %>', '<%=@shareObj['file1']%>','<%=@shareObj['offsetarray1'][i]%>')"><u> <pre><%=i%></pre></u></a></td>
            <% end %>
            <!-- THE ACTUAL DATA LINE -->
            <td width="48%" style="vertical-align: middle;"><pre><%=@shareObj['linearray1'][i]%></pre></td>


          </tr>
          <tr></td><td><div id="x_<%=i%>"></div></td></tr>

      <%end%>
    </table>
  </div>

  <br/><%= link_to "Back to File Listing", :controller => 'review_files',
                   :action => 'show_all_submitted_files',
                   :participant_id => @participant.id %>

  <!--   The popup which pops up as one intends to click or view comments -->
  <div id="myDiv2" class="parentDisable" onLoad="assign()"></div>
  <!--  HIDDEN DIV WHICH LATER CREEPS INTO THE POPUP -->
  <div id="add_subject">
    <table><tr><td>FOO-BAZZLE</td></tr></table>
    <textarea id="forminput" rows="10" cols="20"></textarea> <br>
    <button onclick="ajaxSubmitComment()"><b>Save Comment</b></button>
    <input type="textarea" id="invisible" style="display:none">
  </div>
</font>




