<h1>Edit Controller</h1>

<%= form_tag @site_controller do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', @site_controller %> |
<%= link_to 'Back', SiteController %>
