= form_for @git_datum do |f|
  - if @git_datum.errors.any?
    #error_explanation
      %h2= "#{pluralize(@git_datum.errors.count, "error")} prohibited this git_datum from being saved:"
      %ul
        - @git_datum.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :pull_request
    = f.number_field :pull_request
  .field
    = f.label :author
    = f.text_field :author
  .field
    = f.label :commits
    = f.number_field :commits
  .field
    = f.label :files
    = f.number_field :files
  .field
    = f.label :additions
    = f.number_field :additions
  .field
    = f.label :deletions
    = f.number_field :deletions
  .field
    = f.label :date
    = f.datetime_select :date
  .actions
    = f.submit 'Save'
