<script>
  $('#Submit').click(function(e){
    if(!confirm('Once a review has been submitted, you cannot edit it again')){
      e.preventDefault();
      e.stopPropagation();
      return;
    }else{
      jQuery('#isSubmit').val('Yes');
      window.location.href= "../../../student_review/list?id=<%= @map.reviewer.id %>";
    }
  });
</script>

<h2>Analysis of your review</h2>
<p>Below we provided you with the auto-analysis results on the review you are about to submit. Please note
that after clicking the '<b>OK</b>' button, the peer-review will be displayed to reviewee, and you will not be able
to update it anymore. You can scroll down to see the button.</p>
<% answers = @response.scores %>
<div>
  <table style="margin-left: auto; margin-right: auto;">
    <tr>
      <th>Question</th>
      <th>Response</th>
      <th>Status</th>
    </tr>
    <% answers.each do |answer| %>
      <tr style="border-bottom: 1px solid black;">
        <td><%= answer.question.txt[0...50] + "..." %></td>
        <td><%= answer.comments.html_safe %></td>
        <td>
          <% if answer.comments.present? %>
            <% @tag_prompt_deployments.each do |tag_prompt_deployment|  %>
              <b><%= tag_prompt_deployment.tag_prompt.prompt %></b>
              <%= ReviewMetricsQuery.has(tag_prompt_deployment.id, answer.id) ?
                      "<span style='color: green'>Yes</span><br>".html_safe :
                      "<span style='color: red'>No</span><br>".html_safe %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td style="text-align: right; padding-top: 10px">
        <form action="/response/<%= @response.id %>/confirm_submit" method="get">
          <a href="javascript:$('#modal-window').modal('hide')">Back</a>
          <input type="submit" value="OK" id="Submit">
          <%= hidden_field_tag('return', @return) %>
        </form>
      </td>
    </tr>
  </table>
</div>