<script>
  $(document).ready(function() {
    $('#ok').click(function (e) {
      if (!confirm('Once a review has been submitted, you cannot edit it again')) {
        e.preventDefault();
        e.stopPropagation();
        return;
      } else {
        window.location.href= "../../../student_review/list?id=<%= @map.reviewer.id %>";
      }
    });
  });
</script>

<% tag_prompt_deployments = TagPromptDeployment.where(assignment_id: @map.reviewee.assignment.id, questionnaire_id: @questionnaire.id) %>
<% ReviewMetricsQuery.cache_ws_results(@response.scores, tag_prompt_deployments) %>

<h2>Analysis of your review</h2>
<p>Below we provided you with the auto-analysis results on the review you are about to submit. Please note
  that after clicking the '<b>OK</b>' button, the peer-review will be displayed to reviewee, and you will not be able
  to update it anymore. You can scroll down to see the '<b>OK</b>' button.</p>
<p>Empty cell either means there is no response to the question, or the machine learning algorithm is unsure of the response's quality.</p>
<% answers = @response.scores %>
<% tag_prompt_deployments = TagPromptDeployment.where(assignment_id: @map.reviewee.assignment.id, questionnaire_id: @questionnaire.id) %>
<div>
  <table  class="tbl_heat">
    <tr>
      <th>Question</th>
      <th>Response</th>
      <% tag_prompt_deployments.each do |tag_prompt_deployment|  %>
        <td>
          <b><%= tag_prompt_deployment.tag_prompt.prompt %></b><br>
          (class avg=<%= ReviewMetricsQuery.average_number_of_qualifying_comments(tag_prompt_deployment.id) %>/<%= answers.count %>)
        </td>
      <% end %>
    </tr>

    <% answers.each do |answer| %>
      <tr>
        <td><%= answer.question.txt %></td>
        <td><%= answer.de_tag_comments.html_safe %></td>
        <% tag_prompt_deployments.each do |tag_prompt_deployment|  %>
          <td>
            <% if answer.comments.present? & ReviewMetricsQuery.confident?(tag_prompt_deployment.id, answer.id) %>
              <%= ReviewMetricsQuery.has?(tag_prompt_deployment.id, answer.id) ?
                      "<span style='color: green'>Yes</span><br>".html_safe :
                      "<span style='color: red'>No</span><br>".html_safe %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <div style="text-align: right; padding-top: 5px">
    <%= form_tag(:action => 'confirm_submit', :id => @response.id) do %>
      <div id="BackLink"><a href="/response/<%= @response.id %>/edit">Back</a></div>
      <input type="submit" value="OK" id="ok">
      <%= hidden_field_tag('return', @return) %>
    <% end %>
  </div>

</div>