<%= form_for :send_email , url: "send_email" do |form| %>
  <p>
  <%= label_tag "Message to Author" %> <br>
  </p>
  <p>
  <%= label_tag "Subject: " %> <br>
  <%= form.text_area :subject %> <br>
  </p>
  <p>
   <%= label_tag "Email Content: " %> <br>
  <%= form.text_area :email_body %> <br>
  </p>
 <input name="response" type="hidden" value="<%= params[:response] %>" />
  <%= form.submit "Send Email" %>
<% end  %>