<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

<script>
    $(document).ready(function () {
        $("#accordion").accordion({ autoHeight: false });
    });
</script>
<h1><%= @header %> <%= @title %> for <%= @map.assignment.name %></h1>
<% if !@map.contributor.nil? %>

    <% if @map.assignment.team_assignment?
         team_member = TeamsUser.find_by_team_id(@map.contributor).user_id
         topic_id = Participant.where(parent_id: @map.assignment.id, user_id:  team_member).first.topic_id
       else %>
        <% topic_id = Participant.find(@map.contributor).topic_id %>
    <% end %>


    <% if !@topic_id.nil? %>
        <h2>You are reviewing <%= @signedUpTopic %></h2>
    <% end %>
    <%if @assignment.has_teams?%>
        <%= render :partial => 'submitted_content/main', :locals => {:participant => @contributor.participants.first, :stage => @assignment.get_current_stage(@participant.topic_id)} %>
    <%else%>
        <%= render :partial => 'submitted_content/main', :locals => {:participant => @contributor, :stage => @assignment.get_current_stage(@participant.topic_id)} %>
    <%end%>
    </hr>
<% end %>

<%= @map.show_review() %>

<%= form_tag :action => @next_action, :id => @modified_object %>

<%
   i = 0
   current_topic = nil
   questions = @questionnaire.questions
   rearrangedQuestions=rearrange_questions(questions)
   rearrangedQuestions.each {
           |question| %>
    <% question_type=question.question_type %>
    <%= get_accordion_title(current_topic, question_type.parameters.split("::")[0]) %>
    <%= find_question_type(question, question_type, i, false, nil, nil, (@questionnaire.min_question_score..@questionnaire.max_question_score).to_a) %>
    <% current_topic = question_type.parameters.split("::")[0]
       advices = QuestionAdvice.where(question_id: question.id)
       advices = remove_empty_advice(advices) %>
    <% if advices.length > 0 %>
        <%= render :partial => 'custom_advice', :locals => {:i => i, :advice_list => advices} %>
    <% end %>
    <% i += 1
       } %>

</p>
</div>
</div>
<br/>
<% if @map.assignment.id == 562 %>
    <%= label_tag 'save_option_label', "Automated suggestions/advice:" %> <br>
    <%= radio_button_tag :save_options, 'WithMeta', true %>Yes<br/>
    <%= radio_button_tag :save_options, 'WithoutMeta' %>No<br/>
    <!--    <%= radio_button_tag :save_options, 'EmailMeta' %>Email Metareview <br/>	 -->
<% end %>
<br>
<%= submit_tag "Save "+@title, :name => "save" %>
</form>
