<style>
table
{
  width:960px;
}

</style>
<h1> Pending Surveys </h1>

<table class=listing cellpadding=2 width=50% border=1>
<% if (@surveys.size > 0) %>
      <tr>
        <th> Survey Name&nbsp;&nbsp;</th>
        <th> Survey Type </th>
        <th> Start Date&nbsp;&nbsp;</th>
        <th> End Date&nbsp;&nbsp;</th>
        <th> Course/Assignment Name</th>
        <th> Actions&nbsp;&nbsp;</th>
      </tr>
      <% @surveys.each do |survey| %>
          <tr>
            <td align=left><%= survey.first['survey']['name'] %></td>
            <td align=left><%= survey.first['survey']['type'] %></td>
            <td align=left><%= survey.first['start_date'].strftime('%A %B %d %Y, %I:%M%p') %></td>
            <td align=left><%= survey.first['end_date'].strftime('%A %B %d %Y, %I:%M%p') %></td>
            <% if survey.first['survey']['type'] == 'CourseSurveyQuestionnaire' %>
               <td align=left><%= Course.find_by_id(survey.first['parent_id']).name %></td>
            <% elsif survey.first['survey']['type'] == 'AssignmentSurveyQuestionnaire' %>
               <td align=left><%= Assignment.find_by_id(survey.first['parent_id']).name %></td>
            <% end %>
            <td align=left><%= link_to "Take Survey", {:controller=>'response',:action=>'view_responses',:survey_info=>survey} %>
            </td>
          </tr>
      <% end %>
<% else %>
  <tr>
    <td>
      <div class="flash_note">
        There exist no pending Surveys.
      </div>
  </td> </tr>
<% end %>

</table>
