<h1><%= @header %> <%= @title %> for <%= @map.assignment.name %></h1>

<% if !@map.contributor.nil?%>
  <%if @map.assignment.team_assignment?
        team_member = TeamsUser.find_by_team_id(@map.contributor).user_id
        topic_id = Participant.find_by_parent_id_and_user_id(@map.assignment.id,team_member).topic_id
    else%>
        <% topic_id = Participant.find(@map.contributor).topic_id%>
  <%end%>  
  <%if !topic_id.nil?%>
    <h2>You are reviewing <%=SignUpTopic.find(topic_id).topic_name%></h2>
  <%end%>
  <%= render :partial => 'submitted_content/main', :locals => {:participant => @map.contributor, :stage =>  @assignment.get_current_stage()} %>
  <br/><hr/><br/>
<% end %>
<%= @map.show_review() %>

<% form_tag :action => @next_action, :id => @modified_object do %>
<% i = 0
   @questions.each{
    | question | %>
    <% if controller.action_name == 'new_quiz'  %>
        <%= question.txt.split("{")[0] %><BR/>
        <% question.txt.split("{")[1].split(//,2)[1].chop.split(%r{~|=}).each{ | answer | %>
            <input type="checkbox" name=<%= "question"+i.to_s %> value=<%= answer %>><%= answer %><br>

        <% } %>
    <% else %>

        <%= question.txt %><BR/>
        <% if controller.action_name != 'new' and @review_scores[i].comments != nil %>
            <% text = @review_scores[i].comments.gsub(/\"/,'&quot;').lstrip %>
            <textarea cols="70" rows="1" id="responses_<%=i%>_comments" name="responses[<%=i%>][comment]"  style="overflow:hidden;" onkeyup="checkRows(this)" ><%= text %></textarea>
        <% else %>
            <textarea cols="70" rows="1" id="responses_<%=i%>_comments" name="responses[<%=i%>][comment]"  style="overflow:hidden;" onkeyup="checkRows(this)" >
            </textarea>

        <% end %>

       <% if question.true_false? %>
          <select id="responses_<%=i%>_score" name="responses[<%=i%>][score]">
             <%if controller.action_name != 'new' %>
               <option value="<%=@min%>" <%if @min==@review_scores[i].score%>selected="selected"<%end%> ><%=@min%></option>
               <option value="<%=@max%>" <%if @max==@review_scores[i].score%>selected="selected"<%end%> ><%=@max%></option>
             <%else%>
               <option value="<%=@min%>"><%=@min%></option>
               <option value="<%=@max%>"><%=@max%></option>
             <%end%>
          </select>
      <% else %>
          <select id="responses_<%=i%>_score" name="responses[<%=i%>][score]">
              <% for j in @min..@max %>
                 <%if controller.action_name != 'new' %>
                    <option value="<%=j%>"<% if j==@review_scores[i].score%> selected="selected"<%end%> ><%=j%></option>
                 <%else%>
                    <option value="<%=j%>" ><%=j%></option>
                <% end %>
              <% end %>
          </select>
      <% end %>

  <%if question.question_advices.size > 0%>
      <%= render :partial => 'advice', :locals => {:i => i, :advice_list => question.question_advices} %>
  <% else %>
      <br/>
  <% end %>
  <% end %>
  <BR/>
  <% i+=1 
   } %>

<% if controller.action_name != 'new_quiz' %>
    <BR/>
    <p>
        <label for="review_comments">Additional Comments</label><BR/>
        <textarea cols="70" rows="1" id="review_comments" name="review[comments]"  style="overflow:hidden;" onkeyup="checkRows(this)" >
        <% if controller.action_name != 'new' and @response.additional_comment != nil %>
            <%=@response.additional_comment.strip%>
        <% end %>
        </textarea>
    </p>
<% end %>

<br/>
<%= submit_tag "Save "+@title, :name=>"save" %>
<%= hidden_field_tag('return', @return) %>
<% end %>

<%= @map.show_feedback() %>
<a href="javascript:window.history.back()">Back</a>
