<h1><%= @header %> <%= @title %> for <%= @map.assignment.name %></h1>

<% if !@map.contributor.nil? %>
       <% if @map.assignment.team_assignment? %>
             <% team_member = TeamsUser.find_by_team_id(@map.contributor).user_id%>
             <% topic_id = Participant.where(parent_id: @map.assignment.id, user_id:  team_member).first.topic_id %>
      <% else %>
        <% topic_id = Participant.find(TeamsUser.find_by_team_id(@map.contributor).user_id).topic_id %>
    <% end %>
    <% if !topic_id.nil? %>
        <h2>You are reviewing <%= SignUpTopic.find(topic_id).topic_name %></h2>
    <% end %>
    <%= render :partial => 'submitted_content/main', :locals => {:participant => @map.contributor, :stage => @assignment.get_current_stage()} %>
    <hr/>
<% end %>
<!-- display all versions available -->
<% @responses_versions = Array.new %>
<% @responses_versions = @map.get_all_versions() %>

<% if @responses_versions.empty? %>
    "<I>No previous review was performed.</I><br/>
    <hr/><br/>"
<% else %>
    <%= render :partial => 'review', :locals => {:versions => @responses_versions} %>
<% end %>


<%= form_tag :action => @next_action, :id => @modified_object do %>
    <% i = 0
       @questions.each {
               |question| %>
        <%= question.txt %><BR/>
        <% if controller.action_name != 'new' and @review_scores[i] != nil and @review_scores[i].comments != nil %>
            <% text = @review_scores[i].comments.gsub(/\"/, '&quot;').lstrip %>
            <textarea cols="70" rows="1" id="responses_<%= i %>_comments" name="responses[<%= i %>][comment]" style="overflow:hidden;" onkeyup="checkRows(this)"><%= text %></textarea>
        <% else %>
            <textarea cols="70" rows="1" id="responses_<%= i %>_comments" name="responses[<%= i %>][comment]" style="overflow:hidden;" onkeyup="checkRows(this)"></textarea>
        <% end %>
        <% if question.true_false? %>
            <select id="responses_<%= i %>_score" name="responses[<%= i %>][score]">
              <% if controller.action_name != 'new' %>
                  <option value="<%= @min %>"
                          <% if @min==@review_scores[i].score %>selected="selected"
                  <% end %> ><%= @min %></option>
                  <option value="<%= @max %>"
                          <% if @max==@review_scores[i].score %>selected="selected"
                  <% end %> ><%= @max %></option>
              <% else %>
                  <option value="<%= @min %>"><%= @min %></option>
                  <option value="<%= @max %>"><%= @max %></option>
              <% end %>
            </select>
        <% else %>
            <select id="responses_<%= i %>_score" name="responses[<%= i %>][score]">
              <% for j in @min..@max %>
                  <% if controller.action_name != 'new'and @review_scores[i] != nil %>
                      <option value="<%= j %>"
                      <% if j==@review_scores[i].score %> selected="selected"
                      <% end %> ><%= j %></option>
                  <% else %>
                      <option value="<%= j %>"><%= j %></option>
                  <% end %>
              <% end %>
            </select>
        <% end %>
        <% if question.question_advices.size > 0 %>
            <%= render :partial => 'advice', :locals => {:i => i, :advice_list => question.question_advices} %>
        <% else %>
            <br/>
        <% end %>
        <BR/><BR/>
    <% i+=1
       } %>


    <p>
      <label for="review_comments">Additional Comments</label><BR/>
      <textarea cols="70" rows="1" id="review_comments" name="review[comments]" style="overflow:hidden;" onkeyup="checkRows(this)">
        <% if controller.action_name != 'new' and @response.additional_comment != nil %><%= @response.additional_comment.strip %>
        <% end %></textarea>
    </p>

    <br/>
    <% if @map.assignment.id == 562 %>
        <%= label_tag 'save_option_label', "Automated suggestions/advice:" %> <br>
        <%= radio_button_tag :save_options, 'WithMeta', true %>Yes<br/>
        <%= radio_button_tag :save_options, 'WithoutMeta' %>No<br/>
        <!--    <%= radio_button_tag :save_options, 'EmailMeta' %>Email Metareview <br/>	 -->
    <% end %>
    <br>
    <%= submit_tag "Save "+@title, :name => "save" %>
    <%= hidden_field_tag('return', @return) %>
<% end %>

<%= @map.show_feedback() %>
<a href="javascript:window.history.back()">Back</a>
