<h1><%= @header %> <%= @title %> for <%= @map.assignment.name %></h1>

<% if !@map.contributor.nil? && !@map.instance_of?(FeedbackResponseMap) %>
    <% if @map.assignment.team_assignment? %>
        <% team_member = TeamsUser.find_by_team_id(@map.contributor).user_id%>
        <% topic_id = SignedUpTeam.topic_id(@map.assignment.id, team_member) %>
    <% else %>
        <% participant = Participant.find(TeamsUser.find_by_team_id(@map.contributor).user_id) %>
        <% topic_id = SignedUpTeam.where(participant.parent_id, participant.user_id) %>
    <% end %>
    <% if !topic_id.nil? %>
        <h2>You are reviewing <%= SignUpTopic.find(topic_id).topic_name %></h2>
    <% end %>

    <%if @assignment.has_teams?%>
        <% topic_id = SignedUpTeam.topic_id(@participant.parent_id, @participant.user_id) %>
        <%= render :partial => 'submitted_content/main', :locals => {:reviewee_participant => @contributor.participants.first,:participant => @contributor.participants.first, :stage => @assignment.get_current_stage(topic_id)} %>
    <%else%>
        <% topic_id = SignedUpTeam.topic_id(@participant.parent_id, @participant.user_id) %>
        <%= render :partial => 'submitted_content/main', :locals => {:participant => @contributor, :stage => @assignment.get_current_stage(topic_id)} %>
    <%end%>
    <hr/>
<% end %>
<!-- display all versions available -->
<% @responses_versions = Array.new %>
<% @responses_versions = @map.get_all_versions() %>

<% if @responses_versions.empty? %>
    <I>No previous review was performed.</I><br/><hr/><br/>
<% else %>
    <%= render :partial => 'review', :locals => {:versions => @responses_versions} %>
<% end %>
<h2>Feedback for reviewer</h2>

<%= form_tag :action => @next_action, :id => @modified_object do %>
    <% if @next_action.eql?'update' %>
        <input name="_method" type="hidden" value="put" />
    <%end%>
    <% i = 0 %>
    <%@questions.each do |question| %>
       <% answer = Answer.where(question_id: question.id, response_id: @response.id).first if !@response.nil?%>
       <% if question.instance_of? Criterion%>
            <%= question.complete(i, answer, @questionnaire.min_question_score, @questionnaire.max_question_score, @dropdown_or_scale) %>
       <% elsif question.instance_of? Scale %>
            <%= question.complete(i, answer, @questionnaire.min_question_score, @questionnaire.max_question_score) %>
       <% elsif question.instance_of? UploadFile %>
            <!--One form had better not in another form-->
            <!--Zhewei: I move the Uploadfile question to the end of questionnaire. So multiple forms will not been overlapped.-->
       <% else %>
            <%= question.complete(i, answer) %>
       <% end %>
       <% i += 1%>
    <% end %>

    <p>
      <label for="review_comments">Additional Comments</label><BR/>
      <textarea cols="70" rows="1" id="review_comments" name="review[comments]" style="overflow:hidden;">
        <% if controller.action_name != 'new' and @response.additional_comment != nil %><%= @response.additional_comment.strip if !@response.nil?%>
        <% end %></textarea>
    </p>

    <%if @current_round%>
      <%= hidden_field_tag "review[round]", @current_round %>
    <%end%>
    <%= hidden_field_tag "review[questionnaire_id]", @questionnaire.id %>

    <br/>
    <br>
    <%= submit_tag "Save "+@title, :name => "save" %>
    <%= hidden_field_tag('return', @return) %>
<% end %>
<!--Check whether there is a UploadFile question.-->
<%@questions.each do |question| %>
    <% if question.instance_of? UploadFile %>
        <%= label_tag 'UploadFile', '↑↑↑↑↑↑↑Before submit you peer review files, you have to click "Save Review" button first!↑↑↑↑↑↑↑', style: "color:red;"%>
        <!--params[:origin] means from where do the files upload-->
        <!--If the files uploaded from submitted_work (students hand in assignment), params[:origin] will be nil-->
        <!--If the files uploaded from peer review, params[:origin] will be 'review'-->
        <% if params[:action] == 'new' %>
            <% response_map_id = params[:id] %>
        <% elsif params[:action] == 'edit' %>
            <% response_map_id = Response.find(params[:id]).response_map.id %>
        <% end %>
        <%= render partial: 'submitted_content/submitted_files', locals: {participant: @participant, stage: @stage, origin: 'review', response_map_id: response_map_id} %>
    <% end %>
<% end %>
<%= @map.show_feedback(@response) %>
<a href="javascript:window.history.back()">Back</a>
