<script>
    jQuery(document).ready(function() {
        jQuery('#Submit').click(function(e){
            if(!confirm('Once a review has been submitted, you cannot edit it again')){
                e.preventDefault();
                e.stopPropagation();
                return;
            }else{
                jQuery('#isSubmit').val('Yes');
            }
        });
        jQuery('#metareview').click(function(e){

          if(!e) e=window.event
          e.cancelBubble=true;
          if(e.stopPropagation) e.stopPropagation();
          $('#lbl_metareview_status').text('Wait..');
            var URL="<%= WEBSERVICE_CONFIG["metareview_webservice_url"]%>";

            var data=({reviews:readComments()});

            jQuery.ajax({
                type: 'POST',
                url: URL+'content',
                data: data
                //contentType: 'application/x-www-form-urlencoded'
            }).fail( function (jqXHR, status){
                jQuery('#lblMetareviewContent').html(status);
            }).success(function (data){
                consumeMetareviewContent(data);
            });

            jQuery.ajax({
                type: 'POST',
                url: URL+'volume',
                data: data
            }).fail( function (jqXHR, status){
                jQuery('#lblMetareviewVolume').html(status);
            }).success(function (data){
                jQuery('#lblMetareviewVolume').html(data['volume']);
            });

            jQuery.ajax({
                type: 'POST',
                url: URL+'tone',
                data: data
            }).fail( function (jqXHR, status){
                jQuery('#lblMetareviewTone').html(status);
            }).success(function (data){
                consumeMetareviewTone(data);
            });
            $('#div_Metareview').css('display','block');

            return;
        });
        function readComments(){
            var counter=0;
            var feedbackComment='';
            while(document.getElementById('responses_'+counter+'_comments')!=null)
            {
                feedbackComment +=jQuery('#responses_'+counter+'_comments').val();
                counter++;
            }
            return feedbackComment;
        }
        function consumeMetareviewTone(data){
            var tone_positive=data['tone_positive'];
            var tone_negative=data['tone_negative'];
            var tone_neutral=data['tone_neutral'];
            var tone=tone_positive-tone_negative;
            jQuery('#lblMetareviewTone').html(tone);
          $('#lbl_metareview_status').text('');
        }
        function consumeMetareviewContent(data){
            var content_summative=data['content_summative'];
            var content_problem=data['content_problem'];
            var content_advisory=data['content_advisory'];
            jQuery('#lblMetareviewProblemDetection').html(content_problem);
            jQuery('#lblMetareviewAdvisory').html(content_advisory);
            jQuery('#lblMetareviewSummative').html(content_summative);
        }

    });
</script>
<h1><%= @header %> <%= @title %> for <%= @map.assignment.name %></h1>

<% if !@map.contributor.nil? && !@map.instance_of?(FeedbackResponseMap) %>
    <% if @map.assignment.team_assignment? %>
        <% team_member = TeamsUser.find_by_team_id(@map.contributor).user_id%>
        <% topic_id = SignedUpTeam.topic_id(@map.assignment.id, team_member) %>
    <% else %>
        <% participant = Participant.find(TeamsUser.find_by_team_id(@map.contributor).user_id) %>
        <% topic_id = SignedUpTeam.where(participant.parent_id, participant.user_id) %>
    <% end %>
    <% if !topic_id.nil? %>
        <h2>You are reviewing <%= SignUpTopic.find(topic_id).topic_name %></h2>
    <% end %>

    <%if @assignment.has_teams?%>
        <% topic_id = SignedUpTeam.topic_id(@participant.parent_id, @participant.user_id) %>
        <%= render :partial => 'submitted_content/main', :locals => {:reviewee_participant => @contributor.participants.first,:participant => @contributor.participants.first, :stage => @assignment.get_current_stage(topic_id)} %>
    <%else%>
        <% topic_id = SignedUpTeam.topic_id(@participant.parent_id, @participant.user_id) %>
        <%= render :partial => 'submitted_content/main', :locals => {:participant => @contributor, :stage => @assignment.get_current_stage(topic_id)} %>
    <%end%>
    <hr/>
<% end %>
<!-- display all versions available -->
<% @responses_versions = Array.new %>
<% @responses_versions = @map.get_all_versions() %>

<% if @responses_versions.empty? %>
    <I>No previous review was performed.</I><br/><hr/><br/>
<% else %>
    <%= render :partial => 'review', :locals => {:versions => @responses_versions} %>
<% end %>
<h2>Directions for the reviewer</h2>

<%= form_tag :action => @next_action, :id => @modified_object do %>
    <% if @next_action.eql?'update' %>
        <input name="_method" type="hidden" value="put" />
    <%end%>
    <% i = 0 %>
    <%@questions.each do |question| %>
        <% answer = Answer.where(question_id: question.id, response_id: @response.id).first if !@response.nil?%>
        <% if question.instance_of? Criterion%>
            <%= question.complete(i, answer, @questionnaire.min_question_score, @questionnaire.max_question_score, @dropdown_or_scale) %>
        <% elsif question.instance_of? Scale %>
            <%= question.complete(i, answer, @questionnaire.min_question_score, @questionnaire.max_question_score) %>
        <% elsif question.instance_of? UploadFile %>
            <!--One form had better not in another form-->
            <!--Zhewei: I move the Uploadfile question to the end of questionnaire. So multiple forms will not been overlapped.-->
        <% else %>
            <%= question.complete(i, answer) %>
        <% end %>
        <% i += 1%>
    <% end %>

    <p>
      <label for="review_comments">Additional Comments</label><BR/>
      <textarea cols="70" rows="1" id="review_comments" name="review[comments]" style="overflow:hidden;">
        <% if controller.action_name != 'new' and @response.additional_comment != nil %><%= @response.additional_comment.strip if !@response.nil?%>
        <% end %></textarea>
    </p>

    <%if @current_round%>
        <%= hidden_field_tag "review[round]", @current_round %>
    <%end%>
    <%= hidden_field_tag "review[questionnaire_id]", @questionnaire.id %>

    <br/>

    <input type="button" name="metareview" id="metareview" value="Evaluate Review Quality"/>
    <label id="lbl_metareview_status"></label>
    <table style="display:none" id="div_Metareview" >
      <tr>
        <th style="border-style:solid">Metric
        </th>
        <th style="border-style:solid">Score
        </th>
        <th style="border-style:solid">Target
        </th>
      </tr>
      <tr>
        <td style="border-style:solid">Volume</td>
        <td style="border-style:solid"><label id="lblMetareviewVolume" name="lblMetareviewVolume"></label></td>
        <td style="border-style:solid">60</td>
      </tr>
      <tr>
        <td style="border-style:solid">Problem Detection</td>
        <td style="border-style:solid"><label id="lblMetareviewProblemDetection" name="lblMetareviewProblemDetection"></label></td>
        <td style="border-style:solid">0.25</td>
      </tr>
      <tr>
        <td style="border-style:solid">Summative</td>
        <td style="border-style:solid"><label id="lblMetareviewSummative" name="lblMetareviewSummative"></label></td>
        <td style="border-style:solid">0.25</td>
      </tr>
      <tr>
        <td style="border-style:solid">Advisory</td>
        <td style="border-style:solid"><label id="lblMetareviewAdvisory" name="lblMetareviewAdvisory"></label></td>
        <td style="border-style:solid">0.2</td>
      </tr>
      <tr>
        <td style="border-style:solid">Tone</td>
        <td style="border-style:solid"><label id="lblMetareviewTone" name="lblMetareviewTone"></label></td>
        <td style="border-style:solid">0.5</td>
      </tr>
    </table>
    <br />
    <br />
    <br />
    <%= submit_tag "Save "+@title, :name => "save" %>
    <!--#E1600 check title for selfreview to show submit button-->
    <% if @title && ((@title.eql? 'Review') || (@title.eql? 'Self Review')) %>
        <%= submit_tag "Submit "+@title, :name => "Submit", :id => "Submit" %>
        <img src="/assets/info.png" title='- SAVE will only store the peer-review as draft and the peer-review will not be displayed to the reviewee. After clicking SUBMIT, the peer-review will be displayed to reviewee, and you will not be able to update it any more.'>
    <% end %>
    <%= hidden_field_tag('return', @return) %>
    <%= hidden_field_tag  "isSubmit", :id=>"isSubmit" %>

<% end %>
<!--Check whether there is a UploadFile question.-->
<%@questions.each do |question| %>
    <% if question.instance_of? UploadFile %>
        <%= label_tag 'UploadFile', '↑↑↑↑↑↑↑Before you upload a file, you must click “Save Review” first. If you do not, you will lose all your work (everything you have typed into this review form)!↑↑↑↑↑↑↑', style: "color:red;"%>
        <!--params[:origin] means from where do the files upload-->
        <!--If the files uploaded from submitted_work (students hand in assignment), params[:origin] will be nil-->
        <!--If the files uploaded from peer review, params[:origin] will be 'review'-->
        <% if params[:action] == 'new' %>
            <% response_map_id = params[:id] %>
        <% elsif params[:action] == 'edit' %>
            <% response_map_id = Response.find(params[:id]).response_map.id %>
        <% end %>
        <%= render partial: 'submitted_content/submitted_files', locals: {participant: @participant, stage: @stage, origin: 'review', response_map_id: response_map_id} %>
    <% end %>
<% end %>
<%= @map.show_feedback(@response) %>
<a href="javascript:window.history.back()">Back</a>
