<style xmlns:color="http://www.w3.org/1999/xhtml" xmlns:color="http://www.w3.org/1999/xhtml">
    .review-confirmation {
        text-indent: 2%;
    }
    .notice {
        font-weight: bold;
        color: black;
        background: #fe2;
    }
    .danger-notice {
        font-weight: bold;
        color:black;
    }
</style>

<% if flash[:note] %>
    <div class="flash_note"><%= flash_message :notice %></div>
<% end %>
<% if flash[:error] %>
    <div class="flash_error">
       <%= flash[:error] %>
    </div>
<% end %>

<% if params && params[:id] && @response && !@response.is_submitted %>
    
    <h1>Review Confirmation</h1>
    <h2>Your review has not yet been submitted.</h2>
    <p>Below is an analysis of the review you have created.</p>

    <div class="review-confirmation">

        <div class="suggestions">
            <h3>Suggestions <img src="/assets/lightbulb.png" height="40"></h3>
          <p><b>Are there suggestions?</b> <span style="<% if Integer(@avg_suggestion_chance_for_response) > 50 %>color:green<% elsif Integer(@avg_suggestion_chance_for_response) == 50 %>color:yellow<% else %>color:red<%end%>">
            <%= (Integer(@avg_suggestion_chance_for_response) > 50)? "Yes": "No" %>
            (<%= @avg_suggestion_chance_for_response%>%)</span>
              <img src="/assets/info.png" title='There is a <%= @avg_suggestion_chance_for_response %>% chance that your review contains a suggestion.'></p>

          <p><b>What is the class average?</b><span style="<% if @assignment_suggestion_average > 50 %>color:green<% elif @assignment_suggestion_average == 50 %>color:yellow<% else %>color:red<%end%>">
            <%=  @assignment_suggestion_average  %>%</span>
              <img src="/assets/info.png" title="On average, the reviews for this assignment by your class had a <%= @assignment_suggestion_average %>% chance of containing a suggestion."></p>
        </div>

        <div class="tone">
            <h3>Tone <img src="/assets/music_note.png" height="30"></h3>
          <p><b>Did you strike a positive, negative, or neutral tone?</b> <span style="<% if @sentiment_keyword_for_response == "Positive" %>color:green<% elsif @sentiment_keyword_for_response == "Neutral" %>color:yellow<% else %>color:red<%end%>">
            <%= @sentiment_keyword_for_response%>
            </span>
              <img src="/assets/info.png" title="A review with a positive tone is received better, so you are more likely to get feedback."></p>
            <p>On average, did the class strike a positive, negative or neutral tone? <span>Positive</span>
              <img src="/assets/info.png" title="On average, the reviews for this assignment by your class had a ____ tone. This class average if found by taking the mode of all review tones."></p>
        </div>

    </div>

    <h3>Submission</h3>
    <p class="danger-notice">Once a review has been submitted, you cannot edit it again.</p>

    <%= form_tag(response_path(:id => params[:id]), method: :patch) do %>
        <%= hidden_field_tag "is_submitted", "Yes" %>
        <%= submit_tag "Submit Review" %>
        <% if params[:return] %>
            <%= link_to "Back", edit_response_path(:id => params[:id], :return => params[:return]) %>
        <% else %>
	        <%= link_to "Back", edit_response_path(:id => params[:id]) %>
	    <% end %>
    <% end %>

   
    <br/>
    <br/>
    <br/>
    The params
    <br/>
    <%= params %>

    <br/>
    <br/>


    <% if @response %>
        The  response.is_submitted? <%= @response.is_submitted %>
    <% end %>

    <br/>
    <br/>

    <% if @api_response %>
        The  api_response
        <br/>
        <%= @api_response %>
    <% end %>

<% else %>

    <h3>Cannot resubmit review </h3>
    <%= link_to "Go to Assignments", list_student_task_index_path %>
<% end %>
