<h1><%= @title %> for <%= @assignment.name %></h1>
<% if !(@map.instance_of? TeammateReviewResponseMap) %>
  <%= render :partial => 'submitted_content/main', :locals => {:participant => @contributor, :stage =>  @assignment.get_current_stage(@participant.topic_id)} %>
  <br/><hr/><br/>  
<% end %>
<%= @map.show_review() %>

<%= @response.display_as_html() %>
<%= @map.show_feedback() %>
<br/>
<a href="javascript:window.history.back()">Back</a>