<br/>
<label for="Export Fields">Export : <br/></label><br/>
<%= check_box 'options', 'personal_details', {:checked => 'checked'}, "true", "false" %>
<label for="Export Fields">Personal Details </label><br/>
<%= check_box 'options', 'role', {:checked => 'checked'}, "true", "false" %>
<label for="Export Fields">Role </label><br/>
<%= check_box 'options', 'parent', {:checked => 'checked'}, "true", "false" %>
<label for="Export Fields">Parent</label><br/>
<%= check_box 'options', 'email_options', {:checked => 'checked'}, "true", "false" %>
<label for="Export Fields">Email Options</label><br/>
<%= check_box 'options', 'handle', {:checked => 'checked'}, "true", "false" %>
<label for="Export Fields">Handle</label><br/>
<br/>