<br/>
<label for="Export Details Fields">Export : <br/></label><br/>
<%= check_box 'details', 'team_id', {:checked => 'checked'}, "true", "false" %>
<label for="Export Details Fields">Team ID / Author ID</label><br/>
<%= check_box 'details', 'team_name', {:checked => 'checked'}, "true", "false" %>
<label for="Export Details Fields">Team Name / Paper Author</label><br/>
<%= check_box 'details', 'reviewer', {:checked => 'checked'}, "true", "false" %>
<label for="Export Details Fields">Reviewer</label><br/>
<%= check_box 'details', 'question', {:checked => 'checked'}, "true", "false" %>
<label for="Export Details Fields">Question ID / Dimension</label><br/>
<%= check_box 'details', 'question_id', {:checked => 'checked'}, "true", "false" %>
<label for="Export Details Fields">Question / Dimension Name</label><br/>
<%= check_box 'details', 'comment_id', {:checked => 'checked'}, "true", "false" %>
<label for="Export Details Fields">Comment ID / Dimension ID</label><br/>
<%= check_box 'details', 'comments', {:checked => 'checked'}, "true", "false" %>
<label for="Export Details Fields">Comment Content</label><br/>
<%= check_box 'details', 'score', {:checked => 'checked'}, "true", "false" %>
<label for="Export Details Fields">Score</label><br/>
<br/>
