<br/>
<label for="Export Fields">Export : <br/></label><br/>
<%= check_box 'options', 'team_id', {:checked => 'checked'}, "true", "false" %>
<label for="Export Fields">Team ID</label><br/>
<%= check_box 'options', 'submitted_score', {:checked => 'checked'}, "true", "false" %>
<label for="Export Fields">Team Name</label><br/>
<%= check_box 'options', 'author_feedback_score', {:checked => 'checked'}, "true", "false" %>
<label for="Export Fields">Reviewer</label><br/>
<%= check_box 'options', 'metareview_score', {:checked => 'checked'}, "true", "false" %>
<label for="Export Fields">Question</label><br/>
<%= check_box 'options', 'teammate_review_score', {:checked => 'checked'}, "true", "false" %>
<label for="Export Fields">Question ID</label><br/>
<%= check_box 'options', 'teammate_review_score', {:checked => 'checked'}, "true", "false" %>
<label for="Export Fields">Comments</label><br/>
<%= check_box 'options', 'teammate_review_score', {:checked => 'checked'}, "true", "false" %>
<label for="Export Fields">Score</label><br/>
<br/>
