<br/>
<label for="Export Details Fields">Export : <br/></label><br/>
<%= check_box 'options', 'team_idTEST', {:checked => 'checked'}, "true", "false" %>
<label for="Export Details Fields">Team ID</label><br/>
<%= check_box 'options', 'team_name', {:checked => 'checked'}, "true", "false" %>
<label for="Export Details Fields">Team Name</label><br/>
<%= check_box 'options', 'reviewer', {:checked => 'checked'}, "true", "false" %>
<label for="Export Details Fields">Reviewer</label><br/>
<%= check_box 'options', 'question', {:checked => 'checked'}, "true", "false" %>
<label for="Export Details Fields">Question</label><br/>
<%= check_box 'options', 'question_id', {:checked => 'checked'}, "true", "false" %>
<label for="Export Details Fields">Question ID</label><br/>
<%= check_box 'options', 'comments', {:checked => 'checked'}, "true", "false" %>
<label for="Export Details Fields">Comments</label><br/>
<%= check_box 'options', 'score', {:checked => 'checked'}, "true", "false" %>
<label for="Export Details Fields">Score</label><br/>
<br/>
