<br/>
<label for="Export Fields">Export : <br/></label><br/>
<%= check_box 'options', 'weight', {:checked => 'checked'}, "true", "false" %>
<label for="Export Fields">Weight</label><br/>
<%= check_box 'options', 'size', {:checked => 'checked'}, "true", "false" %>
<label for="Export Fields">Dimensions</label><br/>
<%= check_box 'options', 'alternatives', {:checked => 'checked'}, "true", "false" %>
<label for="Export Fields">Dropdown Options</label><br/>
<%= check_box 'options', 'labels', {:checked => 'checked'}, "true", "false" %>
<label for="Export Fields">Labels</label><br/>
<%= check_box 'options', 'break_before', {:checked => 'checked'}, "true", "false" %>
<label for="Export Fields">Break Before</label><br/>
<br/>