<br/>
<label for="Export Fields">Export : <br/></label><br/>
<%= check_box 'options', 'team_score', {:checked => 'checked'}, "true", "false" %>
<label for="Export Fields">Team Score</label><br/>
<%= check_box 'options', 'submitted_score', {:checked => 'checked'}, "true", "false" %>
<label for="Export Fields">Submitted Score</label><br/>
<%= check_box 'options', 'author_feedback_score', {:checked => 'checked'}, "true", "false" %>
<label for="Export Fields">Metareview Score</label><br/>
<%= check_box 'options', 'metareview_score', {:checked => 'checked'}, "true", "false" %>
<label for="Export Fields">Author Feedback Score</label><br/>
<%= check_box 'options', 'teammate_review_score', {:checked => 'checked'}, "true", "false" %>
<label for="Export Fields">Teammate Review Score</label><br/>
<br/>