<br/>
<label for="Export Fields">Export : <br/></label><br/>
<%= check_box 'options', 'team_score', {:checked => 'checked'}, "true", "false" %>
<label for="Export Fields">Team Score</label><br/>
<%= check_box 'options', 'submitted_score', {:checked => 'checked'}, "true", "false" %>
<label for="Export Fields">Submitted Score</label><br/>
<%= check_box 'options', 'author_feedback_score', {:checked => 'checked'}, "true", "false" %>
<label for="Export Fields">Metareview Score</label><br/>
<%= check_box 'options', 'metareview_score', {:checked => 'checked'}, "true", "false" %>
<label for="Export Fields">Author Feedback Score</label><br/>
<%= check_box 'options', 'teammate_review_score', {:checked => 'checked'}, "true", "false" %>
<label for="Export Fields">Teammate Review Score</label><br/>
<br/>

<h2>Export Details</h2>
<%= form_tag({:controller => 'export_file', :action => 'exportdetails'}, {:method => 'post', :multipart => true, :name => 'export_details_form'}) do %>
    <table>
      <tr>
        <td valign='Top'>Delimiter:</td>
        <td>
          <%= radio_button_tag 'delim_type2', 'comma', true %> Comma<br/>
          <%= radio_button_tag 'delim_type2', 'space' %> Space<br/>
          <%= radio_button_tag 'delim_type2', 'tab' %> Tab<br/>
          <%= radio_button_tag 'delim_type2', 'other' %> Other <%= text_field_tag 'other_char2' %>
          <br/>
        </td>
      </tr>
    </table>
    <%= render :partial => 'export_details' %>
    <br/>
    <%= hidden_field_tag('id', @id) %>
    <%= hidden_field_tag('model', @model) %>
    <input type='submit' value='Export Details' onclick='{export_details_form.submit();}'/>
    <br/><br/>
<% end %>