<br/>
<label for="Export Fields">Export : <br/></label><br/>
<%= check_box 'options', 'topic_identifier', {:checked => 'checked'}, "true", "false" %>
<label for="Export Fields">Topic Id</label><br/>
<%= check_box 'options', 'topic_name', {:checked => 'checked'}, "true", "false" %>
<label for="Export Fields">Topic name</label><br/>
<%= check_box 'options', 'description', {}, "true", "false" %>
<label for="Export Fields">description</label><br/>
<%= check_box 'options', 'participants', {:checked => 'checked'}, "true", "false" %>
<label for="Export Fields">Participants</label><br/>
<%= check_box 'options', 'num_of_slots', {}, "true", "false" %>
<label for="Export Fields">Num of slots</label><br/>
<%= check_box 'options', 'available_slots', {}, "true", "false" %>
<label for="Export Fields">Available slots</label><br/>
<%= check_box 'options', 'num_on_waitlist', {}, "true", "false" %>
<label for="Export Fields">Num on waitlist</label><br/>
<br/>