<br/>
<label for="Export Fields">Export : <br/></label><br/>
<%= check_box 'options', 'username', {:checked => 'checked', :disabled => true}, "true", "false" %>
<label for="Export Fields">Username</label><br/>
<%= check_box 'options', 'name', {:checked => 'checked', :disabled => true}, "true", "false" %>
<label for="Export Fields">Name</label><br/>
<%= check_box 'options', 'percent_tagged_nswers', {:checked => 'checked', :disabled => true}, "true", "false" %>
<label for="Export Fields">% of Tagged Answers</label><br/>
<%= check_box 'options', 'tagged_answers', {:checked => 'checked', :disabled => true}, "true", "false" %>
<label for="Export Fields">Tagged Answers</label><br/>
<%= check_box 'options', 'not_tagged_answers', {:checked => 'checked', :disabled => true}, "true", "false" %>
<label for="Export Fields">Not Tagged Answers</label><br/>
<%= check_box 'options', 'intevals', {:checked => 'checked', :disabled => true}, "true", "false" %>
<label for="Export Fields">Intevals</label><br/>
<%= check_box 'options', 'mean', {:checked => 'checked', :disabled => true}, "true", "false" %>
<label for="Export Fields">Mean</label><br/>
<%= check_box 'options', 'min', {:checked => 'checked', :disabled => true}, "true", "false" %>
<label for="Export Fields">Min</label><br/>
<%= check_box 'options', 'variance', {:checked => 'checked', :disabled => true}, "true", "false" %>
<label for="Export Fields">Variance</label><br/>
<%= check_box 'options', 'standard', {:checked => 'checked', :disabled => true}, "true", "false" %>
<label for="Export Fields">Standard</label><br/>
<%= check_box 'options', 'deviation', {:checked => 'checked', :disabled => true}, "true", "false" %>
<label for="Export Fields">Deviation</label><br/>
<%= check_box 'options', 'taggable_answers', {:checked => 'checked', :disabled => true}, "true", "false" %>
<label for="Export Fields">Taggable Answers</label><br/>
<br/>
