<h2>Export <%= @title %></h2>
<%= form_tag({:controller => 'export_file', :action => 'export'}, {:method => 'post', :multipart => true, :name => 'export_form'}) do %>
  <table>
    <tr>
      <td valign='Top'>Delimiter:</td>
      <td>
        <%= radio_button_tag 'delim_type', 'comma', true %> Comma<br/>
        <%= radio_button_tag 'delim_type', 'space' %> Space<br/>
        <%= radio_button_tag 'delim_type', 'tab' %> Tab<br/>
        <%= radio_button_tag 'delim_type', 'other' %> Other <%= text_field_tag 'other_char' %>
        <br/>
      </td>
    </tr>
  </table>
  <% if @model == 'Assignment' %>
    <%= render :partial => 'scores' %>
  <% end %>
  <% if @model == 'CourseParticipant' || @model == 'AssignmentParticipant' %>
    <%= render :partial => 'course_participants' %>
  <% end %>
  <% if @model == 'User' %>
    <%= render :partial => 'users' %>
  <% end %>
  <% if @model == 'AssignmentTeam' %>
    <%= render :partial => 'assignment_teams' %>
  <% end %>
  <% if @model == 'CourseTeam' %>
    <%= render :partial => 'course_teams' %>
  <% end %>
  <% if @model == 'ReviewResponseMap' %>
    <%= render :partial => 'reviewer_mapping' %>
  <% end %>
  <br/>
  <%= hidden_field_tag('model', @model) %>
  <%= hidden_field_tag('id', @id) %>
  <input type='submit' value='Export' onclick='{export_form.submit();}'/>
  <br/><br/>
<% end %>

<% if @model == 'Question' %>
  <h2>Export Advices</h2>
  <%= form_tag({:controller => 'export_file', :action => 'export_advices'}, {:method => 'post', :multipart => true, :name => 'export_advices'}) do %>
    <table>
      <tr>
        <td valign='Top'>Delimiter:</td>
        <td>
          <%= radio_button_tag 'delim_type', 'comma', true %> Comma<br/>
          <%= radio_button_tag 'delim_type', 'space' %> Space<br/>
          <%= radio_button_tag 'delim_type', 'tab' %> Tab<br/>
          <%= radio_button_tag 'delim_type', 'other' %> Other <%= text_field_tag 'other_char' %>
          <br/>
        </td>
      </tr>
    </table>
    <br/>
    <%= hidden_field_tag('model', @model) %>
    <%= hidden_field_tag('id', @id) %>
    <input type='submit' value='Export Advices' onclick='{export_advices.submit();}'/>
    <br/><br/>
  <% end %>
<% else %>
  <!-- Hiding Export Details feature from the Course Participant view -->
  <% if @model != 'CourseParticipant' %>
  <h2>Export Details</h2>
  <%= form_tag({:controller => 'export_file', :action => 'exportdetails'}, {:method => 'post', :multipart => true, :name => 'export_details_form'}) do %>
    <table>
      <tr>
        <td valign='Top'>Delimiter:</td>
        <td>
          <%= radio_button_tag 'delim_type2', 'comma', true %> Comma<br/>
          <%= radio_button_tag 'delim_type2', 'space' %> Space<br/>
          <%= radio_button_tag 'delim_type2', 'tab' %> Tab<br/>
          <%= radio_button_tag 'delim_type2', 'other' %> Other <%= text_field_tag 'other_char2' %>
          <br/>
        </td>
      </tr>
    </table>
    <%= render :partial => 'export_file/export_details' %>
    <br/>
    <%= hidden_field_tag('id', @id) %>
    <%= hidden_field_tag('model', @model) %>
    <input type='submit' value='Export Details' onclick='{export_details_form.submit();}'/>
    <br/><br/>
  <% end %>
  <% end %>
  <a href="<%= session[:return_to] %>">Back</a>
<% end %>