<style>

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    text-align: center;
  }

  td.topic {
    display:inline-block;
    margin-top: -1px;
    white-space:nowrap;
    position:relative; /* must be relative */
    width:250px; /* fit to table cell width */
    overflow:hidden;
  }
</style>

<script>
    $(function() {
        /*Function for sorting the table */
        $(".sortable").tablesorter({
            sortList: [[0,0]] // sort by Student name
        });
    });
</script>

<table class="table table-striped sortable">
    <%# Format of table %>
    <%#                          |                   Assignment1         |     Assignment2     |     Assignment3   |  Final Grades     |     Aggregate Score          %>
    <%# Students  Teammate Count |Meta Teammate Topic Peer Instructor    |                     |                   | Total Inst Grade  | Metareview | Teammate Review %>
    <%#  s1                      |                                       |                     |                   |                   |            |                 %>
    <%#  s2                      |                                       |                     |                   |                   |            |                 %>
    <%# Class Average            |  x%    y%          N/A  N/A    N/A    |                     |                   |       N/A         |     x'%    |      y'%        %>
    <thead>
        <tr>
          <th rowspan=2 width="320" class="sorter-true">Students</th>
          <th rowspan=2 width="30">Teammate Count</th>
          <% @assignments.each do |assignment| %>
              <th colspan="<%= @colspan %>" class="sorter-false"><%= assignment.name %> </th>
          <% end %>
          <% if @show_instructor_grades %>
            <th colspan=1>Final Grades</th>
          <% end %>
          <% if @colspan_review != 0 %>
            <th colspan="<%= @colspan_review %>" width="300">Aggregate Score</th>
          <% end %>
        </tr>
        <tr>
          <% @assignments.each do |assignment| %>
              <% if @show_meta_reviews %>
                <th><b>Metareviews</b></th>
              <% end %>
              <% if @show_teammate_reviews %>
                <th><b>Teammate Reviews</b></th>
              <% end %>
              <% if @show_topics%>
                <th><b>Topic</b></th>
              <% end %>
              <% if @show_peer_scores %>
                <th><b>Peer Score</b></th>
              <% end %>
              <% if @show_instructor_grades %>
                <th><b>Instructor Grade</b></th>
              <% end %>
          <% end %>
          <% if @show_instructor_grades %>
            <th class="sorter-true"><b>Total Instructor Grade</b></th>
          <% end %>
          <% if @show_meta_reviews %>
            <th><b>Metareviews</b></th>
          <% end %>
          <% if @show_teammate_reviews %>
            <th><b>Teammate Reviews</b></th>
          <% end %>
        </tr>
    </thead>
    <% @course_participants.each do |cp|%>
      <tr>
          <td align="center"><%= "#{cp.name(session[:ip])} (#{cp.fullname(session[:ip])})" %> </td>
          <td><%= @teammate_count[cp.id] %></td>
          <% @assignments.each do |assignment|%>
            <% if @show_meta_reviews %>
              <td><%= @meta_review[cp.id][assignment.id] %></td>
            <% end %>
            <% if @show_teammate_reviews %>
              <td><%= @teammate_review[cp.id][assignment.id] %></td>
            <% end %>
            <% if @show_topics%>
              <% topic = format_topic(@topics[cp.id][assignment.id]) %>
              <td title="<%= topic %>" class="topic topic-tooltip">
                <%= topic %>
              </td>
            <% end %>
            <% if @show_peer_scores %>
              <td><%= format_score(@peer_review_scores[cp.id][assignment.id]) %></td>
            <% end %>
            <% if @show_instructor_grades %>
              <td><%= format_score(@assignment_grades[cp.id][assignment.id]) %> </td>
            <% end %>
          <% end %>
          <% if @show_instructor_grades %>
            <td><%= @final_grades[cp.id] %></td>
          <% end %>
          <% if @show_meta_reviews %>
            <td><%= @meta_review[cp.id][:avg_grade_for_assgt] %></td>
          <% end %>
          <% if @show_teammate_reviews %>
            <td><%= @teammate_review[cp.id][:avg_grade_for_assgt] %></td>
          <% end %>
      </tr>
    <% end %>
    <tr>
      <td><b>Class Average</b></td>
      <td></td>
      <% @assignments.each do |assignment|%>
        <% if @show_meta_reviews %>
          <td><%= "#{@overall_meta_review_grades[assignment.id] / @overall_meta_review_count[assignment.id]}%" %></td>
        <% end %>
        <% if @show_teammate_reviews %>
          <td><%= "#{@overall_teammate_review_grades[assignment.id] / @overall_teammate_review_count[assignment.id]}%" %></td>
        <% end %>
        <% if @show_topics%>
          <td><%= "N/A" %></td>
        <% end %>
        <% if @show_peer_scores %>
          <td><%= "N/A" %></td>
        <% end %>
        <% if @show_instructor_grades %>
          <td><%= "N/A" %></td>
        <% end %>
      <% end%>
      <% total_meta_review_grade = @overall_meta_review_grades.inject(0) {|sum, (k, v)| sum + v } %>
      <% total_meta_review_count = @overall_meta_review_count.inject(0) {|sum, (k, v)| sum + v } %>
      <% if @show_instructor_grades %>
        <td><%= "N/A" %></td>
      <% end %>
      <% if @show_meta_reviews %>
        <td><%= "#{total_meta_review_grade / total_meta_review_count}%" %></td>
      <% end %>
      <% total_teammate_review_grade = @overall_teammate_review_grades.inject(0) {|sum, (k, v)| sum + v } %>
      <% total_teammate_review_count = @overall_teammate_review_count.inject(0) {|sum, (k, v)| sum + v } %>
      <% if @show_teammate_reviews %>
      <td><%= "#{total_teammate_review_grade / total_teammate_review_count}%" %></td>
      <% end %>
    </tr>
</table>