<style>
  th, td {
    text-align: center;
}
</style>
  <table class="table table-striped">
    <tr>
      <th rowspan=2 width="320">Students</th>
      <th rowspan=2 width="30">Teammate Count</th>
      <% @assignments.each do |assignment| %>
        <th colspan=2 width="300"> <%= assignment.name %> </th>
      <% end %>
      <th colspan="2" width="300">Aggregate Score</th>
    </tr>
    <tr>
      <% (0..@assignments.size).each do %>
        <td><b>Metareviews</b></td>
        <td><b>Teammate Reviews</b></td>
      <% end %>
    </tr>

    <% @course_participants.each do |cp|%>
        <tr>
            <td align="center"><%= "#{cp.username(session[:ip])} (#{cp.fullname(session[:ip])})" %> </td>
            <td><%= @teamed_count[cp.id] %></td>
            <% @assignments.each do |assignment|%>
                <td><%= @meta_review[cp.id][assignment.id] unless @meta_review.nil? %></td>
                <td><%= @teammate_review[cp.id][assignment.id] unless @teammate_review.nil? %></td>
            <% end%>
            <td><%= @meta_review[cp.id][:avg_grade_for_assgt] unless @meta_review.nil? || @meta_review[cp.id].nil? %></td>
            <td><%= @teammate_review[cp.id][:avg_grade_for_assgt] unless @teammate_review.nil? || @teammate_review[cp.id].nil?%></td>
        </tr>
    <%end%>
        <tr>
            <td><b>Class Average</b></td>
            <td></td>
            <% @assignments.each do |assignment|%>
                <td><%= "#{@overall_meta_review_grades[assignment.id] / @overall_meta_review_count[assignment.id]}%" %></td>
                <td><%= "#{@overall_teammate_review_grades[assignment.id] / @overall_teammate_review_count[assignment.id]}%" %></td>
            <% end%>
            <% total_meta_review_grade = @overall_meta_review_grades.inject(0) {|sum, (k, v)| sum + v } %>
            <% total_meta_review_count = @overall_meta_review_count.inject(0) {|sum, (k, v)| sum + v } %>
            <td>
              <%= total_meta_review_count.zero? ? "N/A" : 
              "#{total_meta_review_grade / total_meta_review_count}%" %>
            </td>
            <% total_teammate_review_grade = @overall_teammate_review_grades.inject(0) {|sum, (k, v)| sum + v } %>
            <% total_teammate_review_count = @overall_teammate_review_count.inject(0) {|sum, (k, v)| sum + v } %>
            <td>
              <%= total_meta_review_count.zero? ? "N/A" : 
              "#{total_teammate_review_grade / total_teammate_review_count}%" %>    
            </td>
        </tr>
    </table>
</div>