<style>
  th, td {
    text-align: center;
}
</style>
  <table class="table table-striped">
    <tr>
      <th rowspan=2 width="320">Students</th>
      <% if @show_teammate_count%> <th rowspan=2 width="30">Teammate Count</th> <%end%>
      <% @assignments.each do |assignment| %>
        <th colspan=<%=@colspan_count%> width="300"> <%= assignment.name %> </th>
      <% end %>
      <th colspan=<%=@colspan_count%> width="300">Aggregate Score</th>
    </tr>
    <tr>
      <% (0..@assignments.size).each do %>
        <% if @show_meta_reviews %><td><b>Metareviews</b></td> <%end%>
        <% if @show_teammate_reviews %><td><b>Teammate Reviews</b></td> <%end%>
      <% end %>
    </tr>

    <% @course_participants.each do |cp|%>
        <tr>
            <td align="center"><%= "#{cp.name(session[:ip])} (#{cp.fullname(session[:ip])})" %> </td>
            <% if @show_teammate_count%> <td><%= @total_unique_teammates[cp.id] %></td><%end%>
            <% @assignments.each do |assignment|%>
                <% if @show_meta_reviews %><td><%= @meta_review[cp.id][assignment.id] %></td> <%end%>
                <% if @show_teammate_reviews%> <td><%= @teammate_review[cp.id][assignment.id] %></td> <%end%>
            <% end%>
            <% if @show_meta_reviews %> <td><%= @meta_review[cp.id][:avg_grade_for_assgt] %></td> <%end%>
            <% if @show_teammate_reviews %> <td><%= @teammate_review[cp.id][:avg_grade_for_assgt] %></td> <%end%>
        </tr>
    <%end%>
        <tr>
            <td><b>Class Average</b></td>
            <td></td>
            <% @assignments.each do |assignment|%>
                <% if @show_meta_reviews %><td><%= "#{@overall_meta_review_grades[assignment.id] / @overall_meta_review_count[assignment.id]}%" %></td> <%end%>
                <% if @show_teammate_reviews%><td><%= "#{@overall_teammate_review_grades[assignment.id] / @overall_teammate_review_count[assignment.id]}%" %></td><%end%>
            <% end%>
            <% if @show_meta_reviews%><% total_meta_review_grade = @overall_meta_review_grades.inject(0) {|sum, (k, v)| sum + v } %><%end%>
            <% if @show_meta_reviews%><% total_meta_review_count = @overall_meta_review_count.inject(0) {|sum, (k, v)| sum + v } %><%end%>
            <% if @show_meta_reviews%><td><%= "#{total_meta_review_grade / total_meta_review_count}%" %></td> <%end%>
            <% if @show_teammate_reviews%><% total_teammate_review_grade = @overall_teammate_review_grades.inject(0) {|sum, (k, v)| sum + v } %><%end%>
            <% if @show_teammate_reviews%><% total_teammate_review_count = @overall_teammate_review_count.inject(0) {|sum, (k, v)| sum + v } %><%end%>
            <% if @show_teammate_reviews%> <td><%= "#{total_teammate_review_grade / total_teammate_review_count}%" %></td> <%end%>
        </tr>
    </table>
</div>