<style>
  th, td {
    text-align: center;
}
</style>
<script>
    $(function() {
        /*Function for sorting the table */
        $(".sortable").tablesorter({
            sortList: [[0,0]] // sort by Student name
        });
    });
</script>
<table class="table table-striped sortable">
  <thead>
    <tr>
      <th rowspan=2 width="320" class="sorter-true">Students</th>
      <% @assignments.each do |assignment| %>
        <th colspan=<%=@course_grades_colspan_count%> class="sorter-false"> <%= assignment.name %> </th>
      <% end %>
      <% if @show_instructor_scores and @show_peer_grades %> <th colspan=<%=@final_grades_colspan%>>Final Grades</th> <%end%>
    </tr>
    <tr>
      <% (1..@assignments.size).each do %>
        <% if @show_topics %> <th><b>Topic</b></th> <%end%>
        <% if @show_peer_grades %> <th><b>Peer Score</b></th> <%end%>
        <% if @show_instructor_scores %><th><b>Instructor Grade</b></th> <%end%>
        
    <% end %>
      <% if @show_instructor_scores %><th class="sorter-true"><b>Total Instructor Grade</b></th> <%end%>
      <% if @show_peer_grades %><th class="sorter-true"><b>Average Peer Score</b></th> <%end%>
    </tr>
  </thead>

  <% @course_participants.each do |cp|%>
      <tr>
          <td align="center"><%= "#{cp.name(session[:ip])} (#{cp.fullname(session[:ip])})" %> </td>
          <% @assignments.each do |assignment|%>
              <% if @show_topics%>
                <% topic = format_topic(@topics[cp.id][assignment.id]) %>
                <td title="<%= topic %>" class="topic topic-tooltip">
                  <%= topic %>
                </td>
              <%end%>
              <% if @show_peer_grades %><td><%= format_score(@peer_review_scores[cp.id][assignment.id]) %></td> <%end%>
              <% if @show_instructor_scores %><td><%= format_score(@assignment_grades[cp.id][assignment.id]) %> </td> <%end%>
          <% end %>

          <% if @show_instructor_scores %><td><%= @final_grades[cp.id] %></td> <%end%>
          <% if @show_peer_grades %><td><%= @average_peer_review_score[cp.id] %></td> <%end%>
      </tr>
  <% end %>
</table>
<table class="table table-striped">
    <tr>
      <th rowspan=2 width="320">Students</th>
      <% if @show_teammate_count%> <th rowspan=2 width="30">Teammate Count</th> <%end%>
      <% @assignments.each do |assignment| %>
        <th colspan=<%=@all_students_colspan_count%> width="300"> <%= assignment.name %> </th>
      <% end %>
      <th colspan=<%=@all_students_colspan_count%> width="300">Aggregate Score</th>
    </tr>
    <tr>
      <% (0..@assignments.size).each do %>
        <% if @show_meta_reviews %><td><b>Metareviews</b></td> <%end%>
        <% if @show_teammate_reviews %><td><b>Teammate Reviews</b></td> <%end%>
      <% end %>
    </tr>

    <% @course_participants.each do |cp|%>
        <tr>
            <td align="center"><%= "#{cp.name(session[:ip])} (#{cp.fullname(session[:ip])})" %> </td>
            <% if @show_teammate_count%> <td><%= @total_unique_teammates[cp.id] %></td><%end%>
            <% @assignments.each do |assignment|%>
                <% if @show_meta_reviews %><td><%= @meta_review[cp.id][assignment.id] %></td> <%end%>
                <% if @show_teammate_reviews%> <td><%= @teammate_review[cp.id][assignment.id] %></td> <%end%>
            <% end%>
            <% if @show_meta_reviews %> <td><%= @meta_review[cp.id][:avg_grade_for_assgt] %></td> <%end%>
            <% if @show_teammate_reviews %> <td><%= @teammate_review[cp.id][:avg_grade_for_assgt] %></td> <%end%>
        </tr>
    <%end%>
        <tr>
            <td><b>Class Average</b></td>
            <td></td>
            <% @assignments.each do |assignment|%>
                <% if @show_meta_reviews %><td><%= "#{@overall_meta_review_grades[assignment.id] / @overall_meta_review_count[assignment.id]}%" %></td> <%end%>
                <% if @show_teammate_reviews%><td><%= "#{@overall_teammate_review_grades[assignment.id] / @overall_teammate_review_count[assignment.id]}%" %></td><%end%>
            <% end%>
            <% if @show_meta_reviews%><% total_meta_review_grade = @overall_meta_review_grades.inject(0) {|sum, (k, v)| sum + v } %><%end%>
            <% if @show_meta_reviews%><% total_meta_review_count = @overall_meta_review_count.inject(0) {|sum, (k, v)| sum + v } %><%end%>
            <% if @show_meta_reviews%><td><%= "#{total_meta_review_grade / total_meta_review_count}%" %></td> <%end%>
            <% if @show_teammate_reviews%><% total_teammate_review_grade = @overall_teammate_review_grades.inject(0) {|sum, (k, v)| sum + v } %><%end%>
            <% if @show_teammate_reviews%><% total_teammate_review_count = @overall_teammate_review_count.inject(0) {|sum, (k, v)| sum + v } %><%end%>
            <% if @show_teammate_reviews%> <td><%= "#{total_teammate_review_grade / total_teammate_review_count}%" %></td> <%end%>
        </tr>
    </table>