<style>
  th, td {
    text-align: center;
}
</style>

<script>
    $(function() {
        /*Function for sorting the table */
        $(".sortable").tablesorter({
            sortList: [[0,0]] // sort by Student name
        });
    });
</script>

<table class="table table-striped sortable">
  <thead>
    <tr>
      <th rowspan=2 width="320" class="sorter-true">Students</th>
      <% @assignments.each do |assignment| %>
        <th colspan=4 class="sorter-false"> <%= assignment.name %> </th>
      <% end %>
      <th colspan=2>Final Grades</th>
    </tr>
    <tr>
      <% (1..@assignments.size).each do %>
        <th><b>Topic Name</b></th>
        <th><b>Topic ID</b></th>
        <th><b>Assignment Grade</b></th>
        <th><b>Peer Review Score</b></th>
      <% end %>
      <th class="sorter-true"><b>Final Assignment Grade</b></th>
      <th class="sorter-true"><b>Final Peer Review Score</b></th>
    </tr>
  </thead>

  <% @course_participants.each do |cp|%>
      <tr>
          <td align="center"><%= "#{cp.name(session[:ip])} (#{cp.fullname(session[:ip])})" %> </td>
          <% @assignments.each do |assignment|%>
              <td><%= @topic_name[cp.id][assignment.id] %></td>
              <td><%= @topic_id[cp.id][assignment.id] %></td>
              <td><%= @assignment_grades[cp.id][assignment.id] %></td>
              <td><%= @peer_review_scores[cp.id][assignment.id] %></td>
          <% end %>
          <td><%= @final_grades[cp.id] %></td>
          <td><%= @final_peer_review_scores[cp.id] %></td>
      </tr>
  <% end %>
</table>