<div>
  <h1><%=@user.fullname %></h1>
  <p><img src="<%= @abc %>" ></p>
  <p> Percentage of student contribution to all assignments= <b><%= @contribution %>%</b></p>
  <p><img src="<%= @bc %>" ></p>
  <% std_dev = Math.sqrt(((@bar_1_data.to_f-(@bar_2_data.to_f/@unique_users.count))**2)/(@unique_users.count)).round(3) %>
      <p> Standard deviation from class average = <b> <%=std_dev.round(3) %></b></p>
  <TABLE BORDER:1 WIDTH="1250">
  <TR>
   <TD WIDTH=1000>
     <table class="assignment_reviews" cellpadding="10" style= border:1px>
          <tr>
            <th>Assignment</th>
            <th COLSPAN="2">Reviews</th>
            <th COLSPAN="0.5"> </th>
            <th COLSPAN="2">MetaReviews</th>
            <th COLSPAN="0.5"> </th>
            <th COLSPAN="2">Feedback</th>
            <th COLSPAN="0.5"> </th>
            <th COLSPAN="2">Teammate Reviews</th>
            <th COLSPAN="0.5"> </th>
            <th COLSPAN="2">Team Reviews</th>
          </tr>
          <tr>
            <th></th>
            <th>S/A</th>
            <th>%</th>
            <th></th>
            <th>S/A</th>
            <th>%</th>
            <th></th>
            <th>S/A</th>
            <th>%</th>
            <th></th>
            <th>S/A</th>
            <th>%</th>
            <th></th>
            <th>S/A</th>
            <th>%</th>
          </tr>

          <% @finalParticipants.each do |participant| %>
          <tr>
             <td align="center"><%= Assignment.find(participant.parent_id).name %></td>
                <% for i in 0..4 %>
                    <% if(participant.get_percentage_reviews_completed_by_type(@REVIEW_TYPES[i])<=25) %>
                        <td bgcolor= "FF3333" align="center"><%=participant.get_total_reviews_completed_by_type(@REVIEW_TYPES[i])%> / <%=participant.get_total_reviews_assigned_by_type(@REVIEW_TYPES[i])%></td>
                        <td bgcolor="FF3333" align="center"><%=participant.get_percentage_reviews_completed_by_type(@REVIEW_TYPES[i])%></td>
                    <% elsif((participant.get_percentage_reviews_completed_by_type(@REVIEW_TYPES[i])>25) && (participant.get_percentage_reviews_completed_by_type(@REVIEW_TYPES[i])<=50)) %>
                        <td bgcolor= "orange" align="center"><%=participant.get_total_reviews_completed_by_type(@REVIEW_TYPES[i])%> / <%=participant.get_total_reviews_assigned_by_type(@REVIEW_TYPES[i])%></td>
                        <td bgcolor="orange" align="center"><%=participant.get_percentage_reviews_completed_by_type(@REVIEW_TYPES[i])%></td>
                    <% elsif((participant.get_percentage_reviews_completed_by_type(@REVIEW_TYPES[i])>50) && (participant.get_percentage_reviews_completed_by_type(@REVIEW_TYPES[i])<=75)) %>
                        <td bgcolor= #adff2f align="center"><%=participant.get_total_reviews_completed_by_type(@REVIEW_TYPES[i])%> / <%=participant.get_total_reviews_assigned_by_type(@REVIEW_TYPES[i])%></td>
                        <td bgcolor=#adff2f align="center"><%=participant.get_percentage_reviews_completed_by_type(@REVIEW_TYPES[i])%></td>
                    <% else((participant.get_percentage_reviews_completed_by_type(@REVIEW_TYPES[i])>75) && (participant.get_percentage_reviews_completed_by_type(@REVIEW_TYPES[i])<=100)) %>
                        <td bgcolor= "green" align="center"><%=participant.get_total_reviews_completed_by_type(@REVIEW_TYPES[i])%> / <%=participant.get_total_reviews_assigned_by_type(@REVIEW_TYPES[i])%></td>
                        <td bgcolor="green" align="center"><%=participant.get_percentage_reviews_completed_by_type(@REVIEW_TYPES[i])%></td>
                    <% end%>
                    <th></th>
                <% end %>
              <% end %>
             </tr>
         <tr><th></th></tr>
          <tr>
               <th>Summary</th>
               <% for i in 0..4 %>
                  <% if(@user.get_percentage_reviews_completed_by_type(@REVIEW_TYPES[i], @course.id)<=25) %>
                    <td bgcolor= "FF3333" align="center"><%=@user.get_total_reviews_completed_by_type(@REVIEW_TYPES[i], @course.id)%> / <%=@user.get_total_reviews_assigned_by_type(@REVIEW_TYPES[i] , @course.id)%></td>
                    <td bgcolor="FF3333" align="center"><%=@user.get_percentage_reviews_completed_by_type(@REVIEW_TYPES[i], @course.id)%></td>
                  <% elsif((@user.get_percentage_reviews_completed_by_type(@REVIEW_TYPES[i], @course.id)>25) && (@user.get_percentage_reviews_completed_by_type(@REVIEW_TYPES[i], @course.id)<=50)) %>
                    <td bgcolor= orange align="center"><%=@user.get_total_reviews_completed_by_type(@REVIEW_TYPES[i] , @course.id)%> / <%=@user.get_total_reviews_assigned_by_type(@REVIEW_TYPES[i] , @course.id)%></td>
                    <td bgcolor= orange align="center"><%=@user.get_percentage_reviews_completed_by_type(@REVIEW_TYPES[i] , @course.id)%></td>
                  <% elsif((@user.get_percentage_reviews_completed_by_type(@REVIEW_TYPES[i] , @course.id)>50) && (@user.get_percentage_reviews_completed_by_type(@REVIEW_TYPES[i] , @course.id)<=75)) %>
                    <td bgcolor= #adff2f align="center"><%=@user.get_total_reviews_completed_by_type(@REVIEW_TYPES[i] , @course.id)%> / <%=@user.get_total_reviews_assigned_by_type(@REVIEW_TYPES[i] , @course.id)%></td>
                    <td bgcolor=#adff2f align="center"><%=@user.get_percentage_reviews_completed_by_type(@REVIEW_TYPES[i] , @course.id)%></td>
                  <% else((@user.get_percentage_reviews_completed_by_type(@REVIEW_TYPES[i] , @course.id)>75) && (@user.get_percentage_reviews_completed_by_type(@REVIEW_TYPES[i] , @course.id)<=100)) %>
                    <td bgcolor= "green" align="center"><%=@user.get_total_reviews_completed_by_type(@REVIEW_TYPES[i] , @course.id)%> / <%=@user.get_total_reviews_assigned_by_type(@REVIEW_TYPES[i] , @course.id)%></td>
                    <td bgcolor="green" align="center"><%=@user.get_percentage_reviews_completed_by_type(@REVIEW_TYPES[i] , @course.id)%></td>
                  <% end%>
                  <th></th>
               <% end %>
          </tr>
        </table>
   </TD>
  <TD WIDTH="250">
  <table border:1><tr>
   <tr>
    <table ><tr>
   <tr>
      <td><b>Index</b></td>
    </tr>
  <td>S/A = Total submitted/ Total Assigned.</td></tr>
  <tr><td>%= Percentage submitted out of total assigned.</td></tr> </table>
  <p>
  <table  border:1>
    <tr>
    <td bgcolor="FF3333"> 0-25%</td>
    </tr>
    <tr>
    <td bgcolor=orange> 26-50%</td>
    </tr>
     <tr>
    <td bgcolor=#adff2f> 51-75%</td>
    </tr>
     <tr>
    <td bgcolor="green"> 76-100%</td>
    </tr>
</table>
 </table>
 </td>
 </tr>
 </table>


  <div style="margin-top: 25px;">
    <%= link_to 'Back to All Courses', :action => 'index' %>
  </div>
</div>
