<div>
  <h1> <%= @course.name %> Dashboard </h1>
 <TABLE BORDER:1 WIDTH="1250">
  <TR>
   <TD WIDTH=1000>
      <table class="student_reviews" cellpadding="7" style= border:1px>
          <tr>
            <th>Student</th>
            <th COLSPAN="2">&nbsp &nbsp Metareviews &nbsp </th>
            <th COLSPAN="0.5"> </th>
            <th COLSPAN="2"> &nbsp &nbsp &nbsp Reviews &nbsp &nbsp &nbsp</th>
            <th COLSPAN="0.5"> </th>
            <th COLSPAN="2"> &nbsp Teamreviews &nbsp &nbsp </th>
            <th COLSPAN="0.5"> </th>
            <th COLSPAN="2">Teammatereviews</th>
            <th COLSPAN="0.5"> </th>
            <th COLSPAN="2"> &nbsp &nbsp Feedback &nbsp &nbsp</th>
          </tr>
          <tr>
            <th></th>
            <th>S/A</th>
            <th>%</th>
            <th></th>
            <th>S/A</th>
            <th>%</th>
            <th></th>
            <th>S/A</th>
            <th>%</th>
            <th></th>
            <th>S/A</th>
            <th>%</th>
            <th></th>
            <th>S/A</th>
            <th>%</th>
          </tr>
          <% @unique_users.each do |user| %>
             <tr>
               <td align="center">
                 <%= link_to user.fullname , :action => 'one_student_all_assignments',:user_id => user.id,:count=>@course_assigned_reviews_count,:course_id=>@course.id %>
               </td>
               <% for i in 0..4 %>
                  <% if(user.get_percentage_reviews_completed_by_type(@REVIEW_TYPES[i],@course.id)<=25) %>
                    <td bgcolor= "#FF3333" align="center"><%=user.get_total_reviews_completed_by_type(@REVIEW_TYPES[i],@course.id)%> / <%=user.get_total_reviews_assigned_by_type(@REVIEW_TYPES[i],@course.id)%></td>
                    <td bgcolor="#FF3333" align="center"><%=user.get_percentage_reviews_completed_by_type(@REVIEW_TYPES[i],@course.id)%></td>
                  <% elsif((user.get_percentage_reviews_completed_by_type(@REVIEW_TYPES[i],@course.id)>25) && (user.get_percentage_reviews_completed_by_type(@REVIEW_TYPES[i],@course.id)<=50)) %>
                    <td bgcolor= orange align="center"><%=user.get_total_reviews_completed_by_type(@REVIEW_TYPES[i],@course.id)%> / <%=user.get_total_reviews_assigned_by_type(@REVIEW_TYPES[i],@course.id)%></td>
                    <td bgcolor= orange align="center"><%=user.get_percentage_reviews_completed_by_type(@REVIEW_TYPES[i],@course.id)%></td>
                  <% elsif((user.get_percentage_reviews_completed_by_type(@REVIEW_TYPES[i],@course.id)>50) && (user.get_percentage_reviews_completed_by_type(@REVIEW_TYPES[i],@course.id)<=75)) %>
                    <td bgcolor= #adff2f align="center"><%=user.get_total_reviews_completed_by_type(@REVIEW_TYPES[i],@course.id)%> / <%=user.get_total_reviews_assigned_by_type(@REVIEW_TYPES[i],@course.id)%></td>
                    <td bgcolor=#adff2f align="center"><%=user.get_percentage_reviews_completed_by_type(@REVIEW_TYPES[i],@course.id)%></td>
                  <% else((user.get_percentage_reviews_completed_by_type(@REVIEW_TYPES[i],@course.id)>75) && (user.get_percentage_reviews_completed_by_type(@REVIEW_TYPES[i],@course.id)<=100)) %>
                    <td bgcolor= "green" align="center"><%=user.get_total_reviews_completed_by_type(@REVIEW_TYPES[i],@course.id)%> / <%=user.get_total_reviews_assigned_by_type(@REVIEW_TYPES[i],@course.id)%></td>
                    <td bgcolor="green" align="center"><%=user.get_percentage_reviews_completed_by_type(@REVIEW_TYPES[i],@course.id)%></td>
                  <% end %>
                  <th></th>
               <% end %>
             </tr>
          <% end %>
      </table>
   </td>
   <td align="top" width="250">
     <table>
       <tr>
            <tr>
               <td><b>Index</b></td>
            </tr>
            <td>S/A = Total submitted/ Total Assigned.</td>
       </tr>
       <tr><td>%= Percentage submitted out of total assigned.</td></tr>
     </table>
        <table border:1>
        <tr>
        <td bgcolor="FF3333"> 0-25%</td>
        </tr>
        <tr>
        <td bgcolor=orange> 26-50%</td>
        </tr>
         <tr>
        <td bgcolor=#adff2f> 51-75%</td>
        </tr>
         <tr>
        <td bgcolor="green"> 76-100%</td>
        </tr>
        </table>
   </td>
 </table>
  <div style="margin-top: 25px;">
    <%= link_to 'Back to All Courses', :action => 'index' %>
  </div>
</div>
