<h1>Statistics for <%= @course.name %></h1>
<TABLE BORDER:1 WIDTH="1000">
  <TR>
   <TD WIDTH=700>
   <table>
  <tr>
    <td>
        <table class="listing" cellpadding=2 border:1px>
          <tr>
            <th></th>
            <th>Completed/Total Assigned</th>
            <th>Percentage(%)</th>
          </tr>
            <% @types.each do |key, value| %>
                <tr>
                       <%
                          total = 0
                          completed = 0
                          percentage =0

                          @assignments.each do |assignment|
                              total += assignment.get_total_reviews_assigned_by_type(value)
                              completed += assignment.get_total_reviews_completed_by_type(value)
                              if(total==0)
                                  percentage=0
                              else
                                percentage = ((completed.to_f/total.to_f)*100).round(2)
                             end
                          end
                       %>
                    <td>
               <%= link_to key, {:action => 'show_student_list', :choice => key, :course_id => @course.id, :flag => 'all'}%>
               <%= puts"--------------------------------------", percentage %>
                    </td>
               <% if(percentage <=25) %>
                  <td bgcolor= "#FF3333" align="center"><%= completed %>/ <%= total %> </td>
                   <td bgcolor= "#FF3333" align="center"><%= percentage %></td>
              <% elsif(percentage >25 && percentage <=50) %>
                <td bgcolor= orange align="center"> <%= completed %>/ <%= total %> </td>
                <td bgcolor= orange align="center"><%= percentage %></td>
              <% elsif(percentage >50 && percentage <=75) %>
                <td bgcolor= #adff2f align="center"><%= completed %>/ <%= total %></td>
                  <td bgcolor= #adff2f align="center"><%= percentage %></td>
              <% else(percentage && percentage <=100) %>
                <td bgcolor= green align="center"><%= completed %>/ <%= total %></td>
                <td bgcolor= green align="center"><%= percentage %></td>
              <% end %>
                </tr>
            <% end %>
        </table>
    </td>
    <td>
      <div id="studentList">
        <p></p>
      </div>
    </td>
  </tr>
</table>
 </td>
 <td width="500">
 <table border:1>
    <tr>
      <td><b>Index</b></td>
    </tr>
    <tr>
    <td bgcolor="FF3333"> 0-25%</td>
    </tr>
    <tr>
    <td bgcolor=orange> 26-50%</td>
    </tr>
     <tr>
    <td bgcolor=#adff2f> 51-75%</td>
    </tr>
     <tr>
    <td bgcolor="green"> 76-100%</td>
    </tr>
</table>
  </td>
</table>

<br>
<%= link_to "Back", :action => 'one_course_all_assignments', :course_id => @course.id %>