<h1>Administrators</h1>

<table>
  <tr><th>User name</th><th></th><th>Full name</th><th></th><th>E-mail address</th><th></th><th>Parent</th><th></th></tr>
  <% for user in @users %>
    <tr>
      <td><%= link_to user.username(session[:ip]), :action => 'show_administrator',
        :id => user.id %></td><td> </td>
      <td><%= user.fullname(session[:ip]) %></td><td> </td>
      <td><%= user.email(session[:ip]) %></td><td> </td>
      <td><%= (User.find(user.parent_id)).username %></td><td> </td>
    </tr>
  <% end -%>
</table>
<hr/>
<%= form_tag(new_user_path, method: :get) do %> 
<%= hidden_field_tag :role, "Administrator" %>
<%= submit_tag("New Administrator")%>
<% end %>