<h1>Instructors</h1>

<%= will_paginate @users %>

<table>
  <tr><th>User name</th><th>Full Name</th><th>Email Address</th><th>Parent</th></tr>
  <% for user in @users%>
    <tr>
      <td><%= link_to user.username(session[:ip]), :action => 'show_instructor',
        :id => user.id %></td>
      <td><%= user.name(session[:ip]) %></td>
      <td><%= user.email(session[:ip]) %></td>
      <td><%= (User.find(user.parent_id)).username  %></td>
    </tr>
  <% end -%>
</table>

<hr/>
<%= form_tag(new_user_path, method: :get) do %>
<%= hidden_field_tag :role, "Instructor" %>
<%= submit_tag("New Instructor")%>
<% end %>
