<% if @found %>
   <h1>Edit Instructor</h1>
 <% else %>
   <h1>New Instructor</h1>
 <% end %>

<%= flash[:notice] %>
<% form_tag :action => 'create_instructor' do %>
  <%= render :partial => 'users/user' %>
  <% if @found %>
   <%= submit_tag "Save", :name=>"save" %>
 <% else %>
   <%= submit_tag "Create" %>
 <% end %>
<% end %>

<br />
<%= link_to 'Back', :action => 'list_instructors' %>