<%= form_for(@feedback_supports) do |f| %>
    <% if @feedback_supports.errors.any? %>
        <div id="error_explanation">

        </div>
    <% end %>
    <br>
    <p><label for="feedback_supports_user_id">Email</label> (Mandatory field.)
      <img src="/assets/info.png" title='Enter Expertiza registered email id.'>
      <br/>
      <% if @user_email.nil? %>
          <%= text_field 'feedback', 'user_id', :maxlength=>"25", :readonly=> false%></p>
      <% else %>
          <%= text_field 'feedback', 'user_id', :maxlength=>"25" , :value => @user_email, :readonly=>true%></p>
      <% end %>

      <p><label for="feedback_supports_title">Title</label> (Mandatory field.)
        <img src="/assets/info.png" title='The max character limit is 160.'>
        <br/>
        <%= text_field 'feedback_support', 'title', :maxlength=>"80" %></p>

      <p><label for="feedback_support_description">Description</label><br/>
        <%= text_area 'feedback_support', 'description', :rows => 4, :cols => 78  %>


      <p><label>CAPTCHA</label>
      <div class="g-recaptcha" data-sitekey="6LdQig0UAAAAAHx0HjYG_QHY9hsGQMiA0if1UDnd"></div>
      <%= recaptcha_tags %>
      <br>
      <% if session[:extra].nil? %>
          <%= submit_tag "Submit" %>
      <% else %>
          <%= submit_tag "Submit" %>
      <%end%>
      <div class="actions">
      </div>
      <br>

<% end %>
