<!--E1626-->
<script type="text/javascript">
  function  clearText()
  {
    var topText = document.getElementById("badge_badge_assignment_NumBadges");
    var scoreText = document.getElementById("badge_badge_assignment_threshold");
    topText.value = null;
    scoreText.value = null;
  }
</script>

<table id="strategyoption" style="border-collapse: separate; border-spacing: 0 1em;">
  <tr>
    <td>
      <table>
        <tr>
          <td>
            <% if @badgeGroup != nil and @badgeGroup.strategy == 'Top Scores' %>
              <%= radio_button_tag 'badge[badge_assignment_strategy]', badge_strategy_options[0][0], :checked => 'checked', :onchange => 'clearText()' %>
            <% else %>
              <%= radio_button_tag 'badge[badge_assignment_strategy]', badge_strategy_options[0][0],nil, :onchange => 'clearText()' %>
            <% end %>
            <label for="assignment_strategy_1"><%= badge_strategy_options[0][0] %></label>
          </td>
        </tr>
        <tr>
          <td>
            <label for="assignment_strategy_1">Top 'N' Students: </label>
            <% if @badgeGroup != nil and @badgeGroup.strategy == 'Top Scores' %>
              <%= number_field_tag 'badge[badge_assignment_NumBadges]', @badgeGroup.threshold, :size => '4'%>
            <% else %>
              <%= number_field_tag 'badge[badge_assignment_NumBadges]',  :size => '4'%>
            <% end %>
          </td>
        </tr>

      </table>
    </td>
  </tr>
  <tr></tr>
  <tr>
    <td>
      <table>
        <tr>
          <td>
            <% if @badgeGroup != nil and @badgeGroup.strategy == 'Score Threshold'%>
              <%=radio_button_tag 'badge[badge_assignment_strategy]', badge_strategy_options[1][0], :checked => 'checked', :onchange => 'clearText()' %>
            <% else %>
              <%=radio_button_tag 'badge[badge_assignment_strategy]', badge_strategy_options[1][0],nil, :onchange => 'clearText()' %>
            <% end %>
            <label for="assignment_strategy_2"><%= badge_strategy_options[1][0] %></label>
          </td>
        </tr>
        <tr>
          <td>
            <label for="assignment_strategy_2">Score greater than: </label>
            <% if @badgeGroup != nil and @badgeGroup.strategy == 'Score Threshold'%>
                <%=number_field_tag 'badge[badge_assignment_threshold]', @badgeGroup.threshold ,:size => '4'%>
            <% else %>
                <%=number_field_tag 'badge[badge_assignment_threshold]',:size => '4'%>
            <% end %>

          </td>
        </tr>
      </table>
    </td>
  </tr>

</table>

