<h1>New Badge</h1>
<style>
.warning{
  background-color: #ff7661;
}
.text_warning{
  background-color: #ff7661;
  color: white;
  padding: 10px;
  font-size: large;
}
</style>
<script>

  $(document).ready(function() {
    $('#badge-form').submit(function (e) {
      var errors = 0;
      $("#badge-form :input").map(function () {
        if (!$(this).val()) {
          $(this).parents('tr').addClass('warning');
          errors++;
        } else if ($(this).val()) {
          $(this).parents('tr').removeClass('warning');
          $('#errorwarn').removeClass('text_warning');
          $('#errorwarn').html();
        }
      });
      if (errors > 0) {
        e.preventDefault();
        $('#errorwarn').addClass('text_warning');
        $('#errorwarn').text('All fields are required');
        return false;
      }
    });
  });
</script>

<div id="errorwarn" ></div>

<%= form_tag({action: 'create'}, {id: 'badge-form'}) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create", class: "btn btn-default"%>
<% end %>

<% if @type == "assignment" %>
  <%= link_to 'Back', edit_assignment_path(@id) %>
<% else %>
  <%= link_to 'Back', edit_course_path(@id) %>
<% end %>