<%= error_messages_for 'late_policies' %>

<!--[form:late_policies]-->
<p>
  <label for="late_policy_name">Late policy Name:</label><label style="color: #ff0000;">*</label><br/>
  <!-- <%= text_field 'late_policy', 'policy_name' %> -->
  <input id="late_policy_policy_name" name="policy_name" size="30" type="text" value = "<%= @penalty_policy.policy_name %>"/>
</p>
<p>
  <label for="late_policy_penalty_points_per_unit">Penalty Points Per Unit:</label><label style="color: #ff0000;">*</label><br/>
  <!--<%= text_field 'late_policy', 'penalty_per_unit' %>-->
  <input id="late_policy_penalty_per_unit" name="penalty_per_unit" size="30" type="text" value = "<%= @penalty_policy.penalty_per_unit %>"/>
</p>
<p>
  <label for="late_policy_penalty_maximum">Maximum Penalty:</label><label style="color: #ff0000;">*</label><br/>
  <!--<%= text_field 'late_policy', 'max_penalty' %>-->
  <input id="late_policy_max_penalty" name="max_penalty" size="30" type="text" value = "<%= @penalty_policy.max_penalty %>"/>
</p>
<!--[eoform:late_policies]-->

