<%= error_messages_for 'late_policies' %>

<!--[form:late_policies]-->
<p>
<label for="late_policy_name">Late policy Name:</label><label style="color: #ff0000;">*</label><br/>
  <%= f.text_field 'policy_name', :value => @penalty_policy.policy_name %>
</p>
<p>
<label for="late_policy_penalty_points_per_unit">Penalty Points Per Unit:</label><label style="color: #ff0000;">*</label><br/>
  <%= f.text_field 'penalty_per_unit', :value => @penalty_policy.penalty_per_unit %>

</p>
<p>
<label for="penalty_unit">Penalty Unit:</label><label style="color: #ff0000;">*</label><br/>
  <!--select name='late_policy[:penalty_unit]'>
<option value='Minute' < if @penalty_policy[:penalty_unit] == 'Minute'%>selected< end %>>Minute</option>
<option value='Hour' < if @penalty_policy[:penalty_unit] == 'Hour'%>selected< end %>>Hour</option>
<option value='Day' < if @penalty_policy[:penalty_unit] == 'Day'%>selected< end %>>Day</option>
</select-->
<% @units=["Minute","Hour","Day"]%>
<%= f.select("penalty_unit",@units,:selected=>@penalty_policy[:penalty_unit]) %>
</p>
<p>
  <label for="late_policy_penalty_maximum">Maximum Penalty:</label><label style="color: #ff0000;">*</label><br/>
  <%= f.text_field 'max_penalty', :value =>  @penalty_policy.max_penalty %>

</p>
<!--[eoform:late_policies]-->

