<h1>Listing penalty_policies</h1>

<table>
  <thead>
    <td>Penalty Name</td>
    <td>Penalty Points Per Unit</td>
    <td>Maximum Penalty</td>
    <td>Instructor Id</td>
  </thead>

<% @penalty_policies.each do |penalty_policy| %>
  <tr>
    <td><%= penalty_policy.policy_name %></td>
    <td><%= penalty_policy.penalty_per_unit %></td>
    <td><%= penalty_policy.max_penalty %></td>
    <td><%= penalty_policy.instructor_id %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New penalty_policy', :action => 'new'%>