<h1>Listing late policies</h1>
<% user_role = session[:user].role.name
is_admin = (user_role == "Administrator" || user_role == "Super-Administrator")

if session[:user].role.name == "Teaching Assistant"
  instructor_id = Ta.get_my_instructor(session[:user].id)
else
  instructor_id = session[:user].id
end
%>
<table>
  <tr>
    <th>Penalty Name</th>
    <th>Penalty Per Unit</th>
    <th>Penalty Unit</th>
    <th>Maximum Penalty</th>
    <% if is_admin %>
      <th>Instructor Id</th>
    <% end %>
  </tr>

  <% @penalty_policies.each do |penalty_policy| %>
    <% if instructor_id == penalty_policy.instructor_id || is_admin %>
      <tr>
        <td><%= penalty_policy.policy_name %></td>
        <td><%= penalty_policy.penalty_per_unit %></td>
        <td><%= penalty_policy.penalty_unit %></td>
        <td><%= penalty_policy.max_penalty %></td>
        <% if is_admin %>
          <td><%= User.find(penalty_policy.instructor_id).name %></td>
        <% end %>
        <td><%= link_to 'Edit', :action => 'edit', :id => penalty_policy %></td>
        <td><%= link_to 'Delete', penalty_policy, :method => 'delete', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<br />

<%= link_to 'New late policy', :action => 'new'%>
