<h1>New late policy</h1>

<%= form_for @late_policy, :url => { :action => "create" } do |f| %>
  <%= error_messages_for @late_policy %>

  <%= render partial: 'form', locals: { f: f } %>

  <%= f.submit 'Create' %>
<% end %>

<br>
<br>
<%= link_to 'Back', :controller=> 'assignments', :action => 'edit', :id=>session[:assignment_id]%>
