<!--[form:course]-->
<p>
  <%= label :course, :name %><br/>
  <%= text_field :course, :name %>
</p>
<p>
  <%= label :course, :directory_path, "Directory" %><br/>
  <%= text_field :course, :directory_path %>
</p>
<p>
  <%= label :course, :info, "Information" %><br/>
  <%= text_field :course, :info %>
</p>

<%= render :partial => 'pairing_restrictions' %>

<!--[eoform:user]-->
<br/>
