<!--[form:course]-->
<p><label for="institution_name"><%=t('.institute_name') %></label><br/>
<%= select("course", "institutions_id", Institution.all.collect{ |c| [ c.name, c.id] }) %></p>

<p><label for="course_name"><%=t ".course_name" %></label><br/>
<%= text_field 'course', 'name'  %></p>

<p><label for="course_directory_path"><%=t ".course_directory" %></label> <%=t ".directory_warning" %>
  <img src="/assets/info.png" title='- DO NOT change this filed for an on-going course. This may cause lost of student submitted file.'>
<br/>
<%= text_field 'course', 'directory_path'  %></p>
<p><label for="course_info"><%=t ".course_info" %></label><br/>
<%= text_field 'course', 'info'  %></p>

<br/>

<br/>
