<<<<<<< HEAD
=======
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 126e61ecf11c9abb3ccdba784bf9528251d30eb0
<!--[form:course]-->
<p><label for="course_name">Course Name</label><br/>
<%= text_field 'course', 'name'  %></p>
<p><label for="course_directory_path">Course Directory</label><br/>
<%= text_field 'course', 'directory_path'  %></p>
<p><label for="course_info">Course Information</label><br/>
<%= text_field 'course', 'info'  %></p>

<!--[eoform:user]-->
<br/>
<<<<<<< HEAD
=======
=======
<!--[form:course]-->
<p><label for="course_name">Course Name</label><br/>
<%= text_field 'course', 'name'  %></p>
<p><label for="course_directory_path">Course Directory</label><br/>
<%= text_field 'course', 'directory_path'  %></p>
<p><label for="course_info">Course Information</label><br/>
<%= text_field 'course', 'info'  %></p>

<!--[eoform:user]-->
<br/>
>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
=======
<!--[form:course]-->
<p><label for="course_name">Course Name</label><br/>
<%= text_field 'course', 'name'  %></p>
<p><label for="course_directory_path">Course Directory</label><br/>
<%= text_field 'course', 'directory_path'  %></p>
<p><label for="course_info">Course Information</label><br/>
<%= text_field 'course', 'info'  %></p>

<!--[eoform:user]-->
<br/>
>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
>>>>>>> 126e61ecf11c9abb3ccdba784bf9528251d30eb0
