
<table>
  <tr>
    <th>Participant Name</th>
    <th>Credit For Reviews</th>
    <th>Credit For Meta Reviews</th>
    <th>Experience points Reviews</th>
    <th>Experience points Meta Reviews</th>
    <th>Credit for Microtasks</th>
    <th>Experience Points for Microtasks</th>

  </tr>
  <% @voluntary_work.participants.each do |participant|%>
      <tr>
        <td><%= participant.user.name%></td>
        <td><%= @voluntary_work.extra_reviews[participant.id] %></td>
        <td><%= @voluntary_work.extra_metareviews[participant.id] %></td>
        <td><%= @voluntary_work.extra_reviews_exp[participant.id] %></td>
        <td><%= @voluntary_work.extra_metareviews_exp[participant.id] %></td>

        <td><%= @voluntary_work.microtask_scores[participant.id] %></td>
        <td><%= @voluntary_work.microtask_scores_exp[participant.id] %></td>

       </tr>

<% end%>
</table>
<%= link_to 'Export '+'Grades',
            :controller=>'export_file',
            :action=>'start',
            :model=>'VoluntaryWork',
            :id=>params[:id] %>