<<<<<<< HEAD
<h1>Edit Course</h1>

<% form_tag :action => 'update', :id => @course.id do %>
   <%= render :partial => 'course' %>
   <%= submit_tag "Update" %>   
<% end %>
       
<br/>
=======
<h1>Edit Course</h1>

<% form_tag :action => 'update', :id => @course.id do %>
   <%= render :partial => 'course' %>
   <%= submit_tag "Update" %>   
<% end %>
       
<br/>
>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
<%= render :partial => '/shared_scripts/back' %>