<h2>Answers</h2>
<% %>

<% i = 1 %>
<% @questions.each do |question| %>
    <b>Question <%= i %>: </b><%= label_tag "#{question.id}", question.txt %> <br>
    <% question_type = QuestionType.find_by_question_id(question.id) %>


    <% if(question_type.q_type == 'MCR')  %>
        <% QuizQuestionChoice.find_all_by_question_id(question.id).each do |answer|  %>
            <% if(answer.iscorrect) %>
              Correct answer is: <b><%= p answer.txt  %></b>
            <% end %>
        <% end %>
        <br>
        Your answer is: <b><%= p Score.find_by_response_id_and_question_id(@response.id, question.id).comments  %></b><br><br>

    <% elsif(question_type.q_type == 'MCC') %>
        <%= p 'Correct answer is: '%>
        <br>
        <% QuizQuestionChoice.find_all_by_question_id(question.id).each do |answer|  %>
            <% if(answer.iscorrect) %>
                <b><%= p answer.txt  %></b>
                <br>
            <% end %>
        <% end %><br>

        Your answer is:<br/>
        <% Score.find_all_by_response_id_and_question_id(@response.id, question.id).each do |answer| %>
            <b><%= p answer.comments %></b><br>
        <% end %><br>

    <% elsif(question_type.q_type == 'TF') %>
        <% if QuizQuestionChoice.find_by_question_id(question.id).iscorrect %>
          Correct Answer is: <b>True</b><br/>
        <% else %>
          Correct Answer is: <b>False</b><br/>
        <% end %>
        Your answer is: <b><%= p Score.find_by_response_id_and_question_id(@response.id, question.id).comments %></b><br><br>


    <% elsif(question_type.q_type == 'Essay') %>
        Your Answer is: <b><%= p Score.find_by_response_id_and_question_id(@response.id, question.id).comments %></b><br><br>

    <% end %><hr>
    <% i += 1 %>
<% end %>