= form_for @file_instruction do |f|
  - if @file_instruction.errors.any?
    #error_explanation
      %h2= "#{pluralize(@file_instruction.errors.count, "error")} prohibited this file_instruction from being saved:"
      %ul
        - @file_instruction.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :host_url
    = f.text_field :host_url
  .field
    = f.label :file_type
    = f.text_field :file_type
  .field
    = f.label :instructions
    = f.text_field :instructions
  .actions
    = f.submit 'Save'
