

<div class = "reviewreport">
  <table width="100%" cellspacing="0" cellpadding="2" border="0">
    <tr bgcolor="#CCCCCC">
      <th width = "16%">
        Rejoinder
      </th>
      <th width = "14%">
        # author feedbacks done
      </th>
      <th width = "20%">
        Review response rejoined
      </th>
    <!--
      <th width = "8%">
        Score awarded
      </th>
      <th width = "8%">
        Avg. score
      </th>
      <th width = "16%">
        Score range
      </th>
      -->
      <th width = "20%">
        Last rejoined at
      </th>
    </tr>

    <%@l = -1 %>
    <% @reviewers.each do |r| %>
      <% @response_maps = ResponseMap.where(["reviewed_object_id IN (?) and reviewer_id = ? and type = ?", @response_ids, r.reviewer_id, @type]) %>
      <tr>
        <% @count = 0 %>
        <% @rspan = 0 %>
        <%@l = @l+1 %>
        <% if @l % 2 == 0 %>
          <% @bgcolor = "#ffffff" %>
        <% else %>  
          <% @bgcolor = "#DDDDBB" %>
        <% end %>

        <% @response_maps.each do |rm| %>
          <% if Response.exists?(map_id: rm.id) %>
            <% @count = @count + 1 %>
          <% end %>
          <% @rspan = @rspan + 1 %>
        <%end %>

        <%if Participant.exists?(id: r.reviewer_id) %>
          <% @reviewer = Participant.find(r.reviewer_id)%>
          <% @reviewer_name = User.find(@reviewer.user_id).fullname %>
          <!--Rejoinder-->
          <td bgcolor=<%= @bgcolor %> rowspan= <%= @rspan %>>
            <%= link_to @reviewer_name, :controller => 'popup', :action => 'reviewer_details_popup', :id => r.reviewer_id, :assignment_id => @id%>
          </td>
          <!--# author feedbacks done-->
          <td bgcolor=<%= @bgcolor %>  align = "left" rowspan= <%= @rspan %>>
            <%= @count %>/<%= @rspan %>
          </td>

          <% @response_maps.each do |rm| %>
            <% @reviewee = Participant.find(rm.reviewee_id) %>
            <% @reviewee_name = User.find(@reviewee.user_id).fullname %>
            <% if Response.exists?(map_id: rm.id) and Participant.exists?(id: rm.reviewee_id) %>
              <% @response_id = Response.where(map_id: rm.id).first %>
              <!--Review response rejoined-->
              <td id = "green" bgcolor=<%= @bgcolor %> align = 'left' colspan=1>
              <%= link_to @reviewee_name, :controller => 'popup', :action => 'author_feedback_popup', :response_id => @response_id, :reviewee_id => rm.reviewee_id %>
              </td>
              <!--Last rejoined at-->
              <td bgcolor=<%= @bgcolor %> align = 'left'>
                <%= @response_id.updated_at.to_time.strftime("%m/%d/%Y - %I:%M%p") %>
              </td></tr><tr>
            <% else %>
              <!--Review response rejoined-->
              <td id = "green" bgcolor=<%= @bgcolor %> style="color:#DD3300" align = 'left' colspan=1>
              <%= @reviewee_name %>
              </td>
              <!--Last rejoined at-->
              <td bgcolor=<%= @bgcolor %> style="color:#DD3300" align = 'left'>No</td></tr><tr>
            <% end %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
