

<div class = "reviewreport">
    <table width="100%" cellspacing="0" cellpadding="2" border="0">
        <tr bgcolor="#CCCCCC">
            <th width = "16%">
                Reviewer
            </th>
            <th width = "14%">
               # reviews done
            </th>
            <th width = "20%">
            	<% if @assignment.team_assignment %>
                Team reviewed
				<% else %>
				Participant reviewed
				<% end %>
            </th>
            <th width = "8%">
                Score awarded
            </th>
			<th width = "8%">
                Avg. score
            </th>
            <th width = "16%">
                Score range
            </th>
            <th width = "20%">
                Reviewed at 
            </th>
        </tr>
		
        <%@l = -1 %>
        <% @reviewers.each do |r| %>
		<% @this_reviewer = r.reviewer_id %>
            <% @count = 0 %>
            <% @rspan = 0 %>
            <%@l = @l+1 %>
            <% (ResponseMap.find(:all, :conditions => ["reviewed_object_id = ? AND reviewer_id = ? AND type = ?", @id, r.reviewer_id,@type])).each do |ri| %>
                <% if (Response.find_by_map_id(ri.id)) %>
                    <% @count = @count + 1 %>
                <% end %>
                <% if (Team.find(:all, :conditions => { :id => ri.reviewee_id}).length > 0) %>
                    <% @rspan = @rspan + 1 %>
                <% end %>
            <%end %>
            <%if r.reviewer_id != -1 %>
		        <% parid = Participant.find(r.reviewer_id).user_id%>
		        <% username = User.find(parid).fullname%>

                <% if (@l%2) == 0 %>
                    <tr bgcolor="#ffffff">
                        <td bgcolor="#ffffff" rowspan= <%= @rspan%>>
                            <%= link_to_remote_redbox  username, :url => {:controller => 'popup', :action => 'reviewer_details_popup', :id => r.reviewer_id} %>
                        </td>
                    
                 <%else %>
                    <tr bgcolor="#DDDDBB">
                        <td bgcolor="#DDDDBB" rowspan=<%= @rspan%>>
                            <%= link_to_remote_redbox  username, :url => {:controller => 'popup', :action => 'reviewer_details_popup', :id => r.reviewer_id} %>
                        </td>

                <%end %>

                <%if (@count == (ResponseMap.find(:all, :conditions => ["reviewed_object_id = ? AND reviewer_id = ?", @id, r.reviewer_id])).length) %>
                    <td align = "center" rowspan= <%= @rspan%>>
                        <%= @count %>/<%= @rspan %>
                    </td>
                <%else %>
                    <td align = "center" rowspan= <%= @rspan%> style = "color:#DD3300">
                        <%= @count %>/<%= @rspan %>
                    </td>
                <%end %>

                <% (ResponseMap.find(:all, :conditions => ["reviewed_object_id = ? AND reviewer_id = ? AND type = ?", @id, r.reviewer_id, @type])).each do |ri| %>
                    <% if (Response.find_by_map_id(ri.id)) %>
                        <%if @assignment.team_assignment && Team.find(:all, :conditions => { :id => ri.reviewee_id}).length > 0 %>
                            <%@team = Team.find(ri.reviewee_id) %>
                            <% @teamid = @team.id%>
                                <% if (@l%2) == 0 %>
                                    <td id = "green" bgcolor="#ffffff" align = 'center' colspan=1>
                                <%else %>
                                    <td id = "green" bgcolor="#DDDDBB" align = 'center' colspan=1>
                                <%end %>
                                <%= link_to_remote_redbox Team.find(ri.reviewee_id).name, :url => {:controller => 'popup', :action => 'team_users_popup', :id => ri.reviewee_id, :id2 => ri.id} %>
                                </td>
                            <%= render :partial => 'teamscore' %>

                            <% if (@l%2) == 0 %>
                                <td bgcolor="#ffffff" align = 'center'>
                            <%else %>
                                <td bgcolor="#DDDDBB" align = 'center'>
                            <%end %>
                            <%=  Response.find(:first,:conditions=>["map_id = ?", ri.id]).updated_at.to_time.strftime("%m/%d/%Y - %I:%M%p") %>
                               </td>
                        <tr/>

                        <% elsif !@assignment.team_assignment %>
                            <% @participantid = (Participant.find(ri.reviewee_id)).user_id %>
                            <% @myuser = 0%>
                            <% @myuser = ri.reviewee_id%>
                            <% participant = User.find(@participantid) %>
                            <% if (@l%2) == 0 %>
                                <td id = "green" bgcolor="#ffffff" align = 'center' colspan=1>
                            <%else %>
                                <td id = "green" bgcolor="#DDDDBB" align = 'center' colspan=1>
                            <%end %>
                            <%= link_to_remote_redbox participant.fullname, :url => {:controller => 'popup', :action => 'participants_popup', :id => ri.reviewee_id, :id2 => ri.id} %>
                            </td>
                            <%= render :partial => 'participantscore' %>
                            <!-- write ur partial here to print score -->
                            <% if (@l%2) == 0 %>
                                <td bgcolor="#ffffff" align = 'center'>
                            <%else %>
                                <td bgcolor="#DDDDBB" align = 'center'>
                            <%end %>
                                   <%=  Response.find(:first,:conditions=>["map_id = ?", ri.id]).updated_at.to_time.strftime("%m/%d/%Y - %I:%M%p") %>
                            
                            </td>
                            <tr/>
                        <%end %>

                    <% else %>
                        <%if @assignment.team_assignment && Team.find(:all, :conditions => { :id => ri.reviewee_id}).length > 0 %>
                            <% if (@l%2) == 0 %>
                                <td id = "red" bgcolor="#ffffff" style ="color:#DD3300" align = 'center' colspan=1>
                            <%else %>
                                <td id = "red" bgcolor="#DDDDBB" style ="color:#DD3300" align = 'center' colspan=1>
                            <%end %>
                            <%@team = Team.find(ri.reviewee_id) %>
                            <% @teamid = @team.id%>
                            <%= link_to_remote_redbox Team.find(ri.reviewee_id).name, :url => {:controller => 'popup', :action => 'team_users_popup', :id => ri.reviewee_id, :id2 => nil} %>
                            </td>
                            <%= render :partial => 'teamscore' %>
                            <% if (@l%2) == 0 %>
                                <td bgcolor="#ffffff" style ="color:#DD3300" align = 'center'>
                            <%else %>
                                <td bgcolor="#DDDDBB" style ="color:#DD3300" align = 'center'>
                            <%end %>
                            No
                            </td>
                            <tr/>
                        <% elsif !@assignment.team_assignment %>
                            <% @participantid = Participant.find(ri.reviewee_id).user_id %>
                            <% @myuser = 0%>
                            <% @myuser = ri.reviewee_id%>
                            
                            <% participant = User.find(@participantid) %>
                            
                            	<% if (@l%2) == 0 %>
			                        <td id = "red" style ="color:#DD3300" align = 'center' colspan=1 bgcolor="#ffffff" >
		                        <%else%>
			                        <td  id = "red" style ="color:#DD3300" align = 'center' colspan=1 bgcolor="#DDDDBB"  >
	                           	<%end%>
                                <%= link_to_remote_redbox participant.fullname, :url => {:controller => 'popup', :action => 'participants_popup', :id => ri.reviewee_id, :id2 => nil} %>
                            </td><!-- write ur partial here to print score -->
							<%= render :partial => 'participantscore' %>
                            <% if (@l%2) == 0 %>
                                <td bgcolor="#ffffff" align = 'center'>
                           <%else %>
                                <td bgcolor="#DDDDBB" align = 'center'>
                           <%end %>
                                No
                                </td>
                                <tr/>
                      <%end %>
                  <%end %>
              <%end %>
          <%end %>
      <%end %>
	
    </table>
</div>
