<%= create_report_table_header("Reviewer" => "16%",
                               "# reviews done per round" => "14%",
                               "Team reviewed" => "20%",
                               "Score awarded / Avg. score" => "14%",
                               "Metrics" => "10%",
                               "Assign grade and write comments" => "36%") %>
      <%@l = -1 %>
      <% sort_reviewer_by_review_volume_desc.each do |r| %>
        <% @response_maps, @bgcolor, @rspan, @l = get_data_for_review_report(@id, r.id, @type, @l) %>
        <tr>
        <%if r.id != -1 %>
          <% username = Participant.find(r.id).user.fullname %>
            <!--reviewer-->
            <td bgcolor=<%= @bgcolor %> rowspan= <%= @rspan%>>
              <%= link_to username, :controller => 'popup', :action => 'reviewer_details_popup', :id => r.id, :assignment_id=>@id%>
            </td>
            <!--# reviews done-->
            <td bgcolor=<%= @bgcolor %> rowspan= <%= @rspan%> align = 'left'>
              <% (1..@assignment.num_review_rounds).each do |round| %>
                <%= instance_variable_get("@review_in_round_" + round.to_s) %>/<%= @rspan %>
                <%= ', ' unless round == @assignment.num_review_rounds %>
              <% end %>
              <%= link_to "reviewer summary", :controller => 'popup', :action => 'view_review_scores_popup', :reviewer_id => r.id, :assignment_id=>@id %>
            </td>

          <% @response_maps.each_with_index do |ri, index| %>
            <!--For assignments with team member 1, team reviewed column should show username instead of team name, which is randomly generated.-->
            <% team_name_color = Response.exists?(map_id: ri.id) ? "green" : "red" %>
            <% team_reviewed_link_name = get_team_reviewed_link_name(@assignment.max_team_size, ri.response, ri.reviewee_id) %>
              <% if Team.where(id: ri.reviewee_id).length > 0 %>
                <%@team = Team.find(ri.reviewee_id) %>
                <!--Team reviewed-->
                <td id = <%= team_name_color%> bgcolor=<%= @bgcolor %> align = 'left' colspan=1>
                  <%= link_to team_reviewed_link_name, :controller => 'popup', :action => 'team_users_popup', :id => ri.reviewee_id, :id2 => ri.id, :assignment_id=>@id %>
                  <%= list_review_submissions(r.id, ri.reviewee_id, ri.id) %>
                </td>
                <%= render partial: 'team_score',  locals: {bgcolor: @bgcolor, team_id: @team.id, reviewer_id: r.id} %>
                <% if index == 0 %>
                  <!--Metrics-->
                  <td bgcolor=<%= @bgcolor %> rowspan= <%= @rspan%> align = 'left'>
                    <%= display_volume_metric(r.overall_avg_vol, r.avg_vol_in_round_1, r.avg_vol_in_round_2, r.avg_vol_in_round_3) %>
                  </td>
                  <!--Assign grade and write comments-->
                  <td bgcolor=<%= @bgcolor %> rowspan= <%= @rspan%> align = 'left'>
                    <%= form_tag 'save_grade_and_comment_for_reviewer', remote: true do %>
                      <%= hidden_field_tag :participant_id, r.id %>
                      <%= hidden_field_tag :assignment_id, @id %>
                      <%= number_field_tag 'grade_for_reviewer', r.grade_for_reviewer ,min: 0, max: 100, maxlength: 3, size: 3, placeholder: 'Grade' %><br/>
                      <%= text_area_tag 'comment_for_reviewer', r.comment_for_reviewer, placeholder: 'Comment' %>
                      <%= submit_tag 'Save' %>
                    <% end %>
                  </td>
                <% end %>
                </tr><tr>
              <%end%>
            <%end %>
          <%end %>
        </tr>
      <%end %>
</table>

  <p> **Text in <i style = "color:#DD3300">red</i> indicates that the review is not yet completed; text in <i style = "color:gray">gray</i> indicates that the review is done in previous round(s).</p>
</div>