<%= create_report_table_header("Reviewer" => "16%",
                               "# reviews done per round" => "14%",
                               "Team reviewed" => "20%",
                               "Score awarded / Avg. score" => "40%",
                               "Metrics" => "10%") %>
      <%@l = -1 %>
      <% @reviewers.each do |r| %>
        <% @response_maps, @bgcolor, @rspan, @l = get_data_for_review_report(@id, r.id, @type, @l) %>
        <tr>
        <%if r.id != -1 %>
          <% parid = Participant.find(r.id).user_id%>
          <% username = User.find(parid).fullname%>
            <!--reviewer-->
            <td bgcolor=<%= @bgcolor %> rowspan= <%= @rspan%>>
              <%= link_to username, :controller => 'popup', :action => 'reviewer_details_popup', :id => r.id, :assignment_id=>@id%>
            </td>
            <!--# reviews done-->
            <td bgcolor=<%= @bgcolor %> rowspan= <%= @rspan%> align = 'left'>
              <% (1..@assignment.num_review_rounds).each do |round| %>
                <%= instance_variable_get("@review_in_round_" + round.to_s) %>/<%= @rspan %>
                <%= ', ' unless round == @assignment.num_review_rounds %>
              <% end %>
              <%= link_to "reviewer summary", :controller => 'popup', :action => 'view_review_scores_popup', :reviewer_id => r.id, :assignment_id=>@id%>
            </td>

          <% @response_maps.each do |ri| %>
            <!--For assignments with team member 1, team reviewed column should show username instead of team name, which is randomly generated.-->
            <% team_name_color = Response.exists?(map_id: ri.id) ? "green" : "red" %>
            <% team_reviewed_link_name = get_team_reviewed_link_name(@assignment.max_team_size, ri.response, ri.reviewee_id) %>
              <% if Team.where(id: ri.reviewee_id).length > 0 %>
                <%@team = Team.find(ri.reviewee_id) %>
                <!--Team reviewed-->
                <td id = <%= team_name_color%> bgcolor=<%= @bgcolor %> align = 'left' colspan=1>
                  <%= link_to team_reviewed_link_name, :controller => 'popup', :action => 'team_users_popup', :id => ri.reviewee_id, :id2 => ri.id, :assignment_id=>@id %>
                </td>
                <%= render partial: 'team_score',  locals: {bgcolor: @bgcolor, team_id: @team.id, reviewer_id: r.id} %>
                <!--Metrics-->
                <td></td>
                </tr><tr>
              <%end%>
            <%end %>
          <%end %>
        </tr>
      <%end %>
</table>

  <p> **Text in <i style = "color:#DD3300">red</i> indicates that the review is not yet completed; text in <i style = "color:gray">gray</i> indicates that the review is done in previous round(s).</p>

</div>