<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<%= form_tag :action => 'response_report', :id => @id do %>
  <select name='report[type]' style="width: 15em">
    <option value='ReviewResponseMap' selected>
      Review report
    </option>
    <option value='FeedbackResponseMap' >
      Author feedback report
    </option>
    <option value='TeammateReviewResponseMap' >
      Teammate Review report
    </option>
    <% if @assignment.is_calibrated? %>
      <option value='Calibration' >
        Calibration report
      </option>
    <% end %>
    <option value='SummaryByCriteria' selected>
      Summary by Criteria
    </option>
    <option value='SummaryByRevieweeAndCriteria' selected>
      Summary by Reviewee and Criteria
    </option>
    <option value='Collusion' selected>
      Potential collusion report
    </option>
  </select>
  <%= submit_tag("Submit") %>
<% end %>

<% if @type == "ReviewResponseMap" %>
  <h1> Review report for <%= @assignment.name%> </h1>
    <div id="searchbox">

      <div id="searchlink">
        <%= link_to 'Back', :controller=> 'tree_display', :action=>'list', :id => @userid%>
      </div>


      <div id="searchform" style = " border: solid; border-width: 1px; border-color: #986633;">

        <%= form_for :user, :url => {:action => 'response_report', :id => @id} do |n| %>
            <table>
              <tr>
                <th>Reviewer's Name</th>
                <td><%= n.text_field:fullname %></td>
                <td align = "right"><%= submit_tag "Search"%></td>
              </tr>

            </table>
        <%end%>

      </div>
    </div>

<% elsif @type == "FeedbackResponseMap" %>
  <h1> Author feedback report for <%= @assignment.name%> </h1>
<% elsif @type == "TeammateReviewResponseMap" %>
  <h1> Teammate review report for <%= @assignment.name%> </h1>
<% elsif @type == "Calibration" %>
  <h1> Calibration report for <%= @assignment.name%> </h1>
<!--Show summary reports-->
<% elsif @type == "SummaryByCriteria" %>
    <h1> Review summary report for <%= @assignment.name%> </h1>
<% elsif @type == "SummaryByRevieweeAndCriteria" %>
    <h1> Reviewees summary report for <%= @assignment.name%> </h1>
<!--End show summary reports-->
<% elsif @type == "Collusion" %>
    <h1> Potential collusion report for <%= @assignment.name%> </h1>
<% end %>


