%link{:href => "/assets/summary.css", :rel => "stylesheet", :type => "text/css"}/
%script{:src => "/assets/javascripts/summary.js", :type => "text/javascript"}
.reviewreport
  %table{:class => "table table-striped"}
    - for i in 0..@assignment.rounds_of_reviews-1
      - question_num = 0
      %tr.header_class{:bgcolor => "", "data-target" => "#round_#{(i+1).to_s}", "data-toggle" => "collapse"}
        %td{:style => "padding: 10px;"}
          %img#icon_header_team.arrow_icon{:src => "/assets/expand.png"}>/
          [avg score : #{@avg_scores_by_round[i].to_s}%] Round #{(i+1).to_s}
      %tr
        %td.data_column
          .collapse{:id => "round_#{(i+1).to_s}"}
            %table.table.table-striped
              - @summary[i].keys.each do |question|
                %tr{:bgcolor => "#f9f9f9"}
                  %td
                    %h5
                      - safe_concat question
                      %div{:style => "text-decoration: underline overline;"} Average score: #{@avg_scores_by_criterion[i][question].to_s}%
                %tr
                  %td
                    - if !@summary[i][question].eql?("")
                      - @summary[i][question].each do |sentence|
                        - safe_concat "<li>"
                        - concat sentence
                    - else
                      - safe_concat "&nbsp;"
                %tr
                  %td
                    -q_id = @boxplot_info[i][:criteria].keys[question_num]
                    %iframe{:id => "#{i},#{q_id}", :width => "1200", :height => "400"}
                -question_num = question_num + 1
:javascript
  function sendPostRequest(data, round, qid){
    var xhr = new XMLHttpRequest();
    var url = "http://peerlogic.csc.ncsu.edu/boxplot/temp_config";
    xhr.open("POST", url);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.onreadystatechange = function () {
      if (xhr.status == 200) {
          var url = JSON.parse(xhr.responseText).url;
          var id = round + "," + qid;
          row = document.getElementById(id);
          row.src = url;
      }
    };
    xhr.send(JSON.stringify(data));
  } 
-for i in 0..@boxplot_info.length-1
  -@boxplot_info[i][:criteria].keys.each do |question_id|
    :javascript
      rubric_data = #{@boxplot_info[i][:criteria][question_id].to_json.html_safe};
      sendPostRequest(rubric_data, '#{@boxplot_info[i][:round]-1}', '#{question_id}');  
