%link{:href => "/assets/summary.css", :rel => "stylesheet", :type => "text/css"}/
%script{:src => "/assets/summary.js", :type => "text/javascript"}
.reviewreport
  %table{:border => "1", :bordercolor => "#848484"}
    - for i in 0..@assignment.rounds_of_reviews-1
      %tr.header_class{:bgcolor => "#848484", "data-target" => "#round_#{(i+1).to_s}", "data-toggle" => "collapse"}
        %td
          %img#icon_header_team.arrow_icon{:src => "/assets/arrow_down.png"}>/
          [avg score : #{@avg_scores_by_round[i].to_s}%] Round #{(i+1).to_s}
      %tr
        %td
          .collapse{:id => "round_#{(i+1).to_s}"}
            %table.table_stretch
              - @summary[i].keys.each do |question|
                %tr{:bgcolor => "#BDBDBD"}
                  %td
                    %h5
                      [avg score: #{@avg_scores_by_criterion[i][question].to_s}%] #{question}
                %tr
                  %td
                    - if !@summary[i][question].eql?("")
                      - concat @summary[i][question]
                    - else
                      - safe_concat "&nbsp;"