<% if !@assignment.varying_rubrics_by_round? %>
    <!--Score awarded-->
    <td bgcolor=<%= bgcolor %> align = 'left' >
    <% if @review_scores[reviewer_id][team_id] != -1%>
        <%= @review_scores[reviewer_id][team_id].inspect %>%
    <% else %>
        --
    <% end %>
    </td>

    <%if @avg_and_ranges[team_id] && [:max, :min, :avg].all? {|k| @avg_and_ranges[team_id].key? k} %>
        <!--Avg. score-->
        <td bgcolor=<%= bgcolor %> align = 'left'>
            <%if @avg_and_ranges[team_id][:avg]==-1.0%>
                N/A
            <%else%>
                <%= @avg_and_ranges[team_id][:avg].round(0) %>%
            <%end%>
        </td>
        <!--Score range-->
        <td bgcolor=<%= bgcolor %> align = 'left' >
            <%if @avg_and_ranges[team_id][:avg]==-1.0%>
                N/A
            <%else%>
                (<%= @avg_and_ranges[team_id][:min].round(0) %>% - <%= @avg_and_ranges[team_id][:max].round(0) %>%)
            <%end%>
        </td>
    <%else%>
        <td bgcolor=<%= bgcolor %> align = 'left'>--</td>
        <td bgcolor=<%= bgcolor %> align = 'left'>--</td>
    <%end%>
<%else%>
    <!--Assignments have vary_rubric_by_rounds-->
    <!--Score awarded-->
    <% current_round = get_current_round_for_review_report(reviewer_id) %>
    <td bgcolor=<%= bgcolor %> align = 'left' >

    <% [current_round, current_round - 1].each do |round| %>
        <% if @review_scores[reviewer_id] && @review_scores[reviewer_id][round] && @review_scores[reviewer_id][round][team_id] && @review_scores[reviewer_id][round][team_id] != -1.0 %>
            <%= @review_scores[reviewer_id][round][team_id].inspect %>%
        <% end %>    
    <% elsif @review_scores[reviewer_id] && @review_scores[reviewer_id][round-1] && @review_scores[reviewer_id][round-1][team_id] && @review_scores[reviewer_id][round-1][team_id] != -1.0 %>
        <font color="gray"><%= @review_scores[reviewer_id][round-1][team_id].inspect %>%</font>
    <%else%>
        --
    <% end %>
    </td>

    <%if @avg_and_ranges[team_id] && @avg_and_ranges[team_id][current_round] && [:max, :min, :avg].all? {|k| @avg_and_ranges[team_id][current_round].key? k} %>
        <!--Score awarded-->
        <td bgcolor=<%= bgcolor %> align = 'left'>
            <%= @avg_and_ranges[team_id][current_round][:avg].round(0) %>%
        </td>
        <!--Score range-->
        <td bgcolor=<%= bgcolor %> align = 'left' >
            (<%= @avg_and_ranges[team_id][current_round][:min].round(0) %>% - <%= @avg_and_ranges[team_id][current_round][:max].round(0) %>%)
        </td>
    <%else%>
        <td bgcolor=<%= bgcolor %> align = 'left'>--</td>
        <td bgcolor=<%= bgcolor %> align = 'left'>--</td>
    <%end%>
<%end%>