<%= create_report_table_header("Reviewer" => "16%",
                               "# teammate reviews done" => "14%",
                               "Teammate reviewed" => "20%",
                               "Last reviewed at" => "20%") %>
    <%@l = -1 %>
    <% @reviewers.each do |r| %>
      <% @teammate_review_response_maps = ResponseMap.where(["reviewed_object_id = ? and reviewer_id = ? and type = ?", @id, r.reviewer_id, @type]) %>
      <% @user = User.find(Participant.find(r.reviewer_id).user_id) %>
      <% @team_id = TeamsUser.team_id(@id.to_i, @user.id) %>
      <% @team_member_count = TeamsUser.where(team_id: @team_id).count %>
      <tr>
        <% @count = 0 %>
        <% @rspan = 0 %>
        <%@l = @l+1 %>
        <% (@l % 2 == 0) ? @bgcolor = "#ffffff" : @bgcolor = "#DDDDBB" %>

        <% @teammate_review_response_maps.each do |rm| %>
        <!--count means the teammate reviews one student completed.-->
          <% if Response.exists?(map_id: rm.id) %>
            <% @count = @count + 1 %>
          <% end %>
        <%end %>
        <!--rspan means the all teammate reviews one student should finish, here is the num of team members minus 1.-->
        <% @team_member_count > 1 ? @rspan = @team_member_count - 1 : @rspan = 1 %>      

        <%if Participant.exists?(id: r.reviewer_id) %>
          <% @reviewer_name = @user.fullname %>
          <!--Reviewer-->
          <td bgcolor=<%= @bgcolor %> rowspan= <%= @rspan %>>
            <%= link_to @reviewer_name, :controller => 'popup', :action => 'reviewer_details_popup', :id => r.reviewer_id, :assignment_id => @id%>
          </td>
          <!--# teammate reviews done-->
          <td bgcolor=<%= @bgcolor %>  align = "left" rowspan= <%= @rspan %>>
            <% if @team_member_count == 1 %>
              <%= '--' %>
            <% else %>
              <%= @count %>/<%= @rspan %>
            <% end %>
          </td>

          <% @teammate_review_response_maps.each do |rm| %>
            <!--for each teammate_review_response_maps, we have to check whether the corresponsding teammate_review_response exists or not-->
            <% map_id = rm.id %>
            <% @teammate_review_response = Response.where(map_id: map_id).first %>
            <% if !@teammate_review_response.blank? %>
              <% @reviewee = Participant.find(rm.reviewee_id) %>
              <% @reviewee_name = User.find(@reviewee.user_id).fullname %>
                <!--Teammate reviewed-->
                <td id = "green" bgcolor=<%= @bgcolor %> align = 'left' colspan=1>
                <%= link_to @reviewee_name, :controller => 'popup', :action => 'author_feedback_popup', :response_id => @teammate_review_response.id, :reviewee_id => @reviewee.id, :source => 'teammate_review' %>
                </td>
                <!--Last reviewed at-->
                <td bgcolor=<%= @bgcolor %> align = 'left'>
                  <%= @teammate_review_response.updated_at.to_time.strftime("%m/%d/%Y - %I:%M%p") %>
                </td></tr><tr>
            <% else %>
              <!--Teammate reviewed-->
              <td id = "green" bgcolor=<%= @bgcolor %> style="color:#DD3300" align = 'left' colspan=1>
                <% if @team_member_count == 1 %>
                  <%= 'N/A' %>
                <% else %>
                  <% @reviewee = Participant.find(rm.reviewee_id) %>
                  <% @reviewee_name = User.find(@reviewee.user_id).fullname %>
                  <%= @reviewee_name %>
                <% end %>
              </td>
              <!--Last reviewed at-->
              <td bgcolor=<%= @bgcolor %> style="color:#DD3300" align = 'left'>No</td></tr><tr>
            <% end %>
          <% end %>
          </tr>
        <% end %>
    <% end %>
  </table>
</div>
