<h1>Assignments</h1>

<%= render :partial => 'shared_scripts/letters' %>

<table>
  <TR><TH>Assignment Name</TH><TH>Assignment Directory</TH></TR>
  <% for assignment in @assignments %>
  <TR>
     <TD><%= link_to assignment.name, :action => 'list_mappings', :id => assignment.id %></TD><TD><%= assignment.directory_path %>
  </TR>
  <% end %>
</table>

<%= render :partial => 'shared_scripts/pages' %>

<%= render :partial => 'shared_scripts/letters' %>
