= render :partial => 'searchbox'
- if @type == "ReviewResponseMap"
  = render :partial => 'review_report'
- elsif @type == "SummaryByCriteria"
  = render :partial => 'summary_report'
- elsif @type == "SummaryByRevieweeAndCriteria"
  = render :partial => 'summary_reviewee_report'
- elsif @type == "FeedbackResponseMap"
  = render :partial => 'feedback_report'
- elsif @type == "TeammateReviewResponseMap"
  = render :partial => 'teammate_review_report'
- elsif @type == "Calibration"
  = render :partial => 'calibration_report'