<<<<<<< HEAD
<<<<<<< HEAD

<%= render :partial => 'searchbox'%>
<%= render :partial => 'report' %>

<p> **Text in <i style = "color:#DD3300">red</i> indicates that the review is not yet completed</p>

=======

<%= render :partial => 'searchbox'%>
<%= render :partial => 'report' %>

<p> **Text in <i style = "color:#DD3300">red</i> indicates that the review is not yet completed</p>

>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
=======

<%= render :partial => 'searchbox'%>
<%= render :partial => 'report' %>

<p> **Text in <i style = "color:#DD3300">red</i> indicates that the review is not yet completed</p>

>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
