<h1>Mapping Strategies for <%= @assignment.name %></h1>

<%= form_tag :action => 'automatic_review_mapping', :id => @assignment.id  do %>
  <%= radio_button_tag 'num_reviews', 'student', true %>
  <%= label_tag('num_reviews_per_student', 'Set maximum number of reviews done by each student') %>&nbsp;&nbsp;&nbsp;&nbsp;
  <span id='num_reviews_per_student_threshold'>
    <%= text_field_tag('num_reviews_per_student', 0, {:style => 'width:20px'}) %>
  </span>
  <br/>

  <%= radio_button_tag 'num_reviews', 'submission', false %>
  <%= label_tag('num_reviews_per_submission', 'Set maximum number of reviews done by each submission') %>&nbsp;&nbsp;&nbsp;&nbsp;
  <span id='num_reviews_per_submission_threshold' hidden='hidden'>
    <%= text_field_tag('num_reviews_per_submission', 0, {:style => 'width:20px'}) %>
  </span>
  <br/><br/>
  <%= submit_tag 'submit' %> |
  <%= link_to 'Back', :action => 'list_mappings', :id => @assignment.id %>
<% end %>

<script>
  jQuery(document).ready(function() {
    jQuery('input[type=radio][name=num_reviews]').change(function(){
      if (this.value == 'student'){
        jQuery('#num_reviews_per_student_threshold').removeAttr('hidden');
        jQuery('#num_reviews_per_submission_threshold').attr('hidden','hidden');
      } 
      else if(this.value == 'submission'){
        jQuery('#num_reviews_per_student_threshold').attr('hidden', 'hidden');
        jQuery('#num_reviews_per_submission_threshold').removeAttr('hidden');
      }
    });
  });
</script>
