<%= form_tag :controller => 'review_mapping',
  :action => 'add_self_reviewer',
  :assignment_id => params[:assignment_id],
  :topic_id => params[:topic_id],
  :reviewer_id => session[:user].id do %>

  <h2>Select a submission below to begin a new review</h2>

  <!-- Based on the topic and assignment , get the submissions , list all the submissions with [hyperlinks/files]
  submitted by the participant. Allow the reviewer to choose one. The listed submissions should be based
  on  ROUND ROBIN-->

  <!-- TODO : Pagination / showing files if any -->

  <% @assignment = Assignment.find(params[:assignment_id])%>
  <% @stage = @assignment.get_current_stage(@assignment.id)%>

  <% if !@available_submissions.nil? && @available_submissions.size > 0 %>
    <%@i=0%><!-- counter/instead of showing participant.id -->
    <% @available_submissions.each do |map| %>
      <%@i += 1%>
      <tr>
        <td>
          <!--% participant =  Participant.find(map[0],params[:assignment_id]) %--!>
          <% participant =  Participant.find(map[0]) %>
          <% is_disabled = false %>
          <% if participant != nil && participant.submit_allowed%>
            <% if (map[1] == 0) %>
              <% is_disabled = false %>
            <% elsif (map[1] == 1) %>
              <% is_disabled = true %>
            <% elsif (map[1] == -1) %>
              <% is_disabled = true %>
            <% end %>
          </td>
          <td>
            <%= radio_button_tag 'submission_id', participant.id ,false,:disabled => is_disabled %><%=h "Submission " + @i.to_s %>
          </td>
          <td>
            <%= render :partial => 'submitted_content/main', :locals => {:participant => participant, :stage =>  @stage} %>
          </td>
        </tr>

      <% end %>
    <% end %>
    <br>

    <input type='submit' value='Review Selected Submission'/>
  <% else %>
    <%= "No submissions currently available for review." %>
  <% end %>
<% end %>
<br>
<br>
<a href="javascript:window.history.back()">Back</a>
