<% level += 1 %>
<% items.each do |item_id|
  item = session[:menu].get_item(item_id)
  selected = session[:menu].selected?(item.id)
  long_name = item.name.split(/\W/).collect{|word| word.capitalize}.join(' ')
  student_view = session.key?(:student_view) ? ([1, 26, 27, 2, 14].include? item_id) ? true : false : false
  instructor_view = !session.key?(:student_view) ? ([1, 37, 35, 30, 27, 2, 13, 38, 44, 45, 33, 50, 51, 36, 14].include? item_id) ? true: false : false
  if session[:user].role.name == "Instructor" then
    if !student_view and !instructor_view then
      conditional = false
    else
      conditional = true
    end
  else
    conditional = true
  end
%>

    <% if level == 1 %>
        <li class="dropdown first-level">
    <% elsif level == 2 %>
        <li class="dropdown-submenu">
    <% else %>
        <li class="dropdown">
    <% end %>
    <% if conditional %>
    <a href=<%= URI.encode("/menu/#{item.name}") %>
                 <%= if item.children
                       ' class="daddy"'
                     end %>title='<%= long_name %>'><%= item.label.html_safe %></a>
    <% if item.children -%>
        <% if level == 1 %>
            <ul class="dropdown-menu pull-left">
              <%= render :partial => 'menu_items/suckerfish', :locals => {:items => item.children, :level => level} %>
            </ul>
        <% else %>
            <ul class="dropdown-menu">
              <%= render :partial => 'menu_items/suckerfish', :locals => {:items => item.children, :level => level} %>
            </ul>
        <% end %>
    <% end -%>
    <% end -%>
    </li>
<% end -%>
