<h1>New Action</h1>

<%= start_form_tag :action => 'create' %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<%= end_form_tag %>

<hr/>
<p><%= link_to 'Back', :controller => 'site_controllers', 
       :action => 'list' %> to Controllers/Actions list</p>
