<head>
<script type="text/javascript">
var cnt = 0;
var tops = new Array(256); //the amount to scroll in the code window for each comment
var starts = new Array(256); //the starting position of each comment's code section
var ends = new Array(256); //the end position of each comment's code section
var origcode = ""; //represents the original html code that is used to wipe out comment div's

//used during a capture to submit the top, start, and end to the db
var currTop = 0;
var currStart = 0;
var currEnd = 0;

function bodyload()
{
   //set the original code object to replace the code div when we need to clear a comment
	origcode = document.getElementById("code").innerHTML;
}

//This method takes the comment that was clicked and scrolls to the appropriate section
//and puts divs around the correct range which gives the appearance of being selected
//using css.
function hiClickNumber(top, start, end)
{
	clearHi();
	document.getElementById("codewindow").scrollTop = top;
	var shtml = HtmlEncode(origcode);
	var begin = HtmlDecode(shtml.substring(0, start));
	var middle = HtmlDecode(shtml.substring(start, end));
	var end = HtmlDecode(shtml.substring(end, shtml.length));
	var nhtml = begin + "<span id=\"colorred\">" + middle + "</span>" + end;
	document.getElementById("code").innerHTML = nhtml;
}

//clears the hilighting divs from the code in the code window
function clearHi()
{
	if(document.getElementById("code").innerHTML != origcode)
		document.getElementById("code").innerHTML = origcode.replace(/\t/g, "");
	return true;
}

//capture the current selection
function captureSelection()
{
	var selection;
	if (window.getSelection) {
		selection = window.getSelection();
		if(selection != "")
		{
			var range = selection.getRangeAt(0);	
			currTop = document.getElementById("codewindow").scrollTop;
			currStart = range.startOffset;
			currEnd = range.endOffset;
         //Set the hidden tags so that when the comment is submitted they will be valid
			document.getElementById("currSelection").innerHTML = "Character " + currStart + " through " + currEnd;
			document.getElementById("topentry").value = currTop;
			document.getElementById("startentry").value = currStart;
			document.getElementById("endentry").value = currEnd;
		}
	}
	else if (document.selection) { // Tried to get IE working but couldn't figure out the javascript issues.
		tempr = document.selection.createRange();
		alert(getIECharOffset());
	}
}

function getIECharOffset() {
  var offset = 0;
  // get the users selection - this handles empty selections
  var userSelection = document.selection.createRange();
	alert(userSelection.parentElement());
  // get a selection from the contents of the parent element
  var parentSelection = userSelection.parentElement().createTextRange();
	alert("hello");
  // loop - moving the parent selection on a character at a time until the offsets match
  while (!offsetEqual(parentSelection, userSelection)) {
    parentSelection.move('character');
    offset++;
  }
  // return the number of char you have moved through
  return offset;
}

function deleteComment(number)
{
   var bDelete = confirm("Are you sure you want to delete this comment?");
   if(bDelete)
   {
      window.location = "../delete_code_review_file_comment/" + number;
   }
}

//Functions to encode and decode the html.
function HtmlEncode(s)
{
	s = s.replace(/&lt;/g, "<");
	s = s.replace(/&gt;/g, ">");
	return s;
}
function HtmlDecode(s)
{
	s = s.replace(/</g, "&lt;");
	s = s.replace(/>/g, "&gt;");	
	return s;	
}
</script>
<style type="text/css">
#main
{
	width:1050px;
	margin:0 auto;	
}
#colorred
{
	background:#3297FD;
	color:#FFF;
}
#code
{
	position:relative;
	margin:0px;
	margin-left:5px;
	padding-top:0px;
	width:675px;
}

#linenumbers
{
	position:relative;
	margin:0px;
	padding-left:2px;
	padding-right:2px;
	float:left;
	width:25px;
	background:#A5D894;
	border-right:1px solid #000;
}
#codewindow
{
	width:750px;
	border:1px solid #000;
	height:750px;
	overflow: auto;
}
#comments
{
	position:relative;
	float:right;
}
#commentslist
{

	border:1px solid #000;
	width:275px;
	height:550px;
	overflow:auto;
}
#commententry
{
	border-bottom:1px solid #000;	
	padding-left:10px;
}

#fakelink
{
	color:#00F;
	text-decoration:underline;
	cursor:pointer;	
}
#submitcomment
{

	margin-top:0px;
	padding-top:10px;
	padding-left:10px;	
	border:1px solid #000;
	width:265px;
}
</style>
<%= javascript_include_tag "prototype" %>
</head>

<body onLoad="bodyload()">
<%= link_to 'Home', :controller => 'login', :action => 'index' %> | 
<%= link_to 'Main', :controller => 'codefiles', :action => 'index' %>

<h2>Name: <%=h  @code_review_file.name %></h2><br><br>
<div id="main">

<!--List out the comments-->
<div id="comments">
<div id="commentslist">
<% @count = 1 %>
<% @comments.each do |comment| %>
    <div id="commententry" >
		<span id="fakelink" onClick="hiClickNumber(<%= comment.r_scroll.to_s + ", " + comment.r_begins.to_s + ", " + comment.r_end.to_s %>)">Comment <%= @count %></span>
<% if(session[:user].id == comment.participantid) %>
      <span id="fakelink" onClick="deleteComment(<%= comment.id %>)">(delete)</span>
<% end %>
      <br/>
		<%= comment.body %>
	</div>
	<% @count = @count + 1 %>
<% end %>
</div>

<!-- Do not allow an author to submit comments-->
<% if(session[:user].id != @participant.user_id) %>
<div id="submitcomment">
<button onClick="captureSelection()">Capture Code Selection</button>
<div id="currSelection">Nothing Currently Selected</div>

<!--Ajax Form to submit a comment. Hidden fields for different attributes.-->
<% form_remote_tag(:update => "commentslist", :url => { :action => :create_code_review_file_comment }, :position => "bottom" ) do %>
  <%= text_area_tag(:commenttext, nil, :rows => 7, :cols => 28, :onmousedown => "captureSelection()") %>
  <%= hidden_field_tag :topentry %>
  <%= hidden_field_tag :startentry %>
  <%= hidden_field_tag :endentry %>
  <%= hidden_field_tag :codefileid, @code_review_file.id %>
  <%= hidden_field_tag :participantid, session[:user].id %>
  <%= submit_tag "Submit Comment" -%>
<% end %>

<% end %>


</div>
</div>

<!--For loop to generate the line numbers in the codewindow-->
<div id="codewindow" onMouseDown="clearHi()">
<pre><div id="linenumbers"><% for i in 0 .. @code_review_file.getNumLines %><%= i.to_s + "\n"%><% end %>
</div><div id="code"><%=h @code_review_file.contents %></div>
</pre>
</div>

</div>

<br />
<a href="javascript:window.history.back()">Back</a>
</body>