<%= form_for @notification, :html => {:class => "form-horizontal"} do |f| %>
  <% if @notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

      <ul>
      <% @notification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :subject, class: "col-md-2 control-label" %><br>
    <%= f.text_field :subject %>
  </div>
  <div class="form-group">
    <%= f.label :description, class: "col-md-2 control-label" %><br>
    <%= f.text_area :description %>
  </div>
  <div class="form-group">
    <%= f.label :expiration_date, class: "col-md-2 control-label" %><br>
    <%= f.date_select :expiration_date %>
  </div>
  <div class="form-group">
    <%= f.label :active_flag, class: "col-md-2 control-label" %><br>
    <%= f.check_box :active_flag %>
  </div>
  <div class="form-group">
    <%= f.submit "Creat Notification", class: "col-md-2 btn btn-default btn-primary" %>
  </div>
<% end %>
