<h1><%=t ".create_or_change"%></h1>

<%= form_tag({:action => 'change_handle', :id =>  @participant}) do %>
  <p><%=t ".your"%> <strong><%=t ".handle"%></strong> <%=t ".is_the_way"%></p>
  <p><%=t ".handle_explanation"%></p>
  <p><%=t ".if_you_do_not"%></p>
  <p><%=t ".two_ways"%>
    <ol><li><%=t ".handle_for"%> <em><%=t ".only_this_assignment"%></em> <%=t ".by_entering"%></li>
      <li><%=t ".you_can_set_up_default"%> <%= link_to "Profile", :controller=> 'profile', :action => 'edit' %> </li></ol>
    <%=t ".note_that"%> <%= link_to "profile", :controller=> 'profile', :action => 'edit' %>, <%=t ".your_new_handle"%> <em><%=t ".future"%></em> assignments;
    if you want the change to apply to this assignment too, you must also change it below.
  </p>
  <p><%=t ".change_handle"%> <em><%=t ".for_current"%></em>:
    <%= text_field 'participant','handle' %>

    <p><em><%=t ".warning"%></em> <%=t ".you_must"%></p>
    <%= submit_tag 'Save' %>
  <% end %>
