<<<<<<< HEAD
=======
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 126e61ecf11c9abb3ccdba784bf9528251d30eb0
<h1>Delete Associations</h1>
<h2>For participant: <%= @participant.name %></h2>

<script type="text/javascript">
function checkUncheckSome(controller,theElements) {
	//Programmed by Shawn Olson
	//Copyright (c) 2006-2007
	//Updated on August 12, 2007
	//Permission to use this function provided that it always includes this credit text
	//  http://www.shawnolson.net
	//Find more JavaScripts at http://www.shawnolson.net/topics/Javascript/

	//theElements is an array of objects designated as a comma separated list of their IDs
	//If an element in theElements is not a checkbox, then it is assumed
	//that the function is recursive for that object and will check/uncheck
	//all checkboxes contained in that element

     var formElements = theElements.split(',');
	 var theController = document.getElementById(controller);
	 for(var z=0; z<formElements.length;z++){
	  theItem = document.getElementById(formElements[z]);
	  if(theItem.type){
	    if (theItem.type=='checkbox') {
	    	theItem.checked=theController.checked;
	    }
	  } else {
	  	  theInputs = theItem.getElementsByTagName('input');
	  for(var y=0; y<theInputs.length; y++){
	  if(theInputs[y].type == 'checkbox' && theInputs[y].id != theController.id){
	     theInputs[y].checked = theController.checked;
	    }
	  }
	  }
    }
}
</script>

<% times = ResubmissionTime.find(:all, :conditions => ['participant_id = ?', @participant.id]) %>
<% maps = ResponseMap.find(:all, :conditions => ['reviewee_id = ? or reviewer_id = ?', @participant.id, @participant.id])%>
<% tusers = TeamsUser.find(:all, :conditions => ['user_id = ?', @participant.user_id]) %>

<% tuser_list = ""
   index = 1
   last = tusers.length
   tusers.each{
    | tuser |
    tuser_list += "TeamsUser_"+tuser.id.to_s
    if index < last
      tuser_list+="," 
    end
    index+=1
   } 
%>	

<% rmap_list = ""
   index = 1
   last = maps.length
   maps.each{
    | map |
    rmap_list += "ResponseMap_"+map.id.to_s
    if index < last
      rmap_list+="," 
    end
    index+=1
   } 
%>	 
   
<% 
  selectall_list = ""
  if maps.length > 0
    selectall_list += "ResponseMap_all,"
    selectall_list += rmap_list
  end
  if maps.length > 0 and tusers.length > 0
    selectall_list += ","
  end
  if tusers.length > 0 
	selectall_list += "TeamsUser_all,"
    selectall_list += tuser_list
  end
%>   

<input id="SelectAll" name="SelectAll" type="checkbox" value="1"
       onClick="checkUncheckSome('SelectAll','<%= selectall_list %>')" />
<label for="SelectAll">All associations</label>
	   

<% form_tag :action => 'delete_items', :id => @participant, :model => @model do %>
<table border="0">
	<% if maps.length > 0 %>
	<tr>
		<td>&nbsp;&nbsp;&nbsp;</td>	
		<td colspan="2">
		<input id="ResponseMap_all" name="ResponseMap[all]" type="checkbox" value="1"
       		   onClick="checkUncheckSome('ResponseMap_all','<%= rmaps_list %>'" />
		<label for="ResponseMap_all">All mappings</label>						
		</td>
	</tr>
	<% maps.each{ 
        | rmap | %>
	<tr>
		<td>&nbsp;&nbsp;&nbsp;</td>	
		<td>&nbsp;&nbsp;&nbsp;</td>		
		<td>
			<%= check_box_tag("ResponseMap[#{rmap.id}]",rmap.id) %>
			<%= label_tag("ResponseMap[#{rmap.id}]", "<b>Map Type:</b> #{rmap.class}, <b>Contributor</b> #{rmap.reviewee.name}, <b>Reviewer:</b> #{rmap.reviewer.name}") %>
		</td>
	</tr>	
	<% } %> 
	<% end %>
	<% if tusers.length > 0 %>   
	<tr>
		<td>&nbsp;&nbsp;&nbsp;</td>	
		<td colspan="2">            
			<input id="TeamsUser_all" name="TeamsUser[all]" type="checkbox" value="1" onClick="checkUncheckSome('TeamsUser_all','<%= tuser_list %>')" />
			<label for="TeamsUser_all">All team memberships</label>						
		</td>
	</tr>	
	<% tusers.each{ 
        | tuser |
		if tuser.team.parent_id == @participant.parent_id %>
	<tr>
		<td>&nbsp;&nbsp;&nbsp;</td>	
		<td>&nbsp;&nbsp;&nbsp;</td>		
		<td>
			<%= check_box_tag("TeamsUser[#{tuser.id}]",tuser.id) %>
			<%= label_tag("TeamsUser[#{tuser.id}]", "<b>Team Name:</b> #{tuser.team.name}, <b>Membership Count: </b> #{tuser.team.teams_users.length} ") %>
		</td>
	</tr>	
	<%  end
      } %> 	
	<% end %>				
</table>
<BR/>
<%= submit_tag("Delete selected items")%>
<% end %>
<BR/>
<a href="javascript:window.history.back()">Back</a>
<<<<<<< HEAD
=======
=======
<h1>Delete Associations</h1>
<h2>For participant: <%= @participant.name %></h2>

<script type="text/javascript">
function checkUncheckSome(controller,theElements) {
	//Programmed by Shawn Olson
	//Copyright (c) 2006-2007
	//Updated on August 12, 2007
	//Permission to use this function provided that it always includes this credit text
	//  http://www.shawnolson.net
	//Find more JavaScripts at http://www.shawnolson.net/topics/Javascript/

	//theElements is an array of objects designated as a comma separated list of their IDs
	//If an element in theElements is not a checkbox, then it is assumed
	//that the function is recursive for that object and will check/uncheck
	//all checkboxes contained in that element

     var formElements = theElements.split(',');
	 var theController = document.getElementById(controller);
	 for(var z=0; z<formElements.length;z++){
	  theItem = document.getElementById(formElements[z]);
	  if(theItem.type){
	    if (theItem.type=='checkbox') {
	    	theItem.checked=theController.checked;
	    }
	  } else {
	  	  theInputs = theItem.getElementsByTagName('input');
	  for(var y=0; y<theInputs.length; y++){
	  if(theInputs[y].type == 'checkbox' && theInputs[y].id != theController.id){
	     theInputs[y].checked = theController.checked;
	    }
	  }
	  }
    }
}
</script>

<% times = ResubmissionTime.find(:all, :conditions => ['participant_id = ?', @participant.id]) %>
<% maps = ResponseMap.find(:all, :conditions => ['reviewee_id = ? or reviewer_id = ?', @participant.id, @participant.id])%>
<% tusers = TeamsUser.find(:all, :conditions => ['user_id = ?', @participant.user_id]) %>

<% tuser_list = ""
   index = 1
   last = tusers.length
   tusers.each{
    | tuser |
    tuser_list += "TeamsUser_"+tuser.id.to_s
    if index < last
      tuser_list+="," 
    end
    index+=1
   } 
%>	

<% rmap_list = ""
   index = 1
   last = maps.length
   maps.each{
    | map |
    rmap_list += "ResponseMap_"+map.id.to_s
    if index < last
      rmap_list+="," 
    end
    index+=1
   } 
%>	 
   
<% 
  selectall_list = ""
  if maps.length > 0
    selectall_list += "ResponseMap_all,"
    selectall_list += rmap_list
  end
  if maps.length > 0 and tusers.length > 0
    selectall_list += ","
  end
  if tusers.length > 0 
	selectall_list += "TeamsUser_all,"
    selectall_list += tuser_list
  end
%>   

<input id="SelectAll" name="SelectAll" type="checkbox" value="1"
       onClick="checkUncheckSome('SelectAll','<%= selectall_list %>')" />
<label for="SelectAll">All associations</label>
	   

<% form_tag :action => 'delete_items', :id => @participant, :model => @model do %>
<table border="0">
	<% if maps.length > 0 %>
	<tr>
		<td>&nbsp;&nbsp;&nbsp;</td>	
		<td colspan="2">
		<input id="ResponseMap_all" name="ResponseMap[all]" type="checkbox" value="1"
       		   onClick="checkUncheckSome('ResponseMap_all','<%= rmaps_list %>'" />
		<label for="ResponseMap_all">All mappings</label>						
		</td>
	</tr>
	<% maps.each{ 
        | rmap | %>
	<tr>
		<td>&nbsp;&nbsp;&nbsp;</td>	
		<td>&nbsp;&nbsp;&nbsp;</td>		
		<td>
			<%= check_box_tag("ResponseMap[#{rmap.id}]",rmap.id) %>
			<%= label_tag("ResponseMap[#{rmap.id}]", "<b>Map Type:</b> #{rmap.class}, <b>Contributor</b> #{rmap.reviewee.name}, <b>Reviewer:</b> #{rmap.reviewer.name}") %>
		</td>
	</tr>	
	<% } %> 
	<% end %>
	<% if tusers.length > 0 %>   
	<tr>
		<td>&nbsp;&nbsp;&nbsp;</td>	
		<td colspan="2">            
			<input id="TeamsUser_all" name="TeamsUser[all]" type="checkbox" value="1" onClick="checkUncheckSome('TeamsUser_all','<%= tuser_list %>')" />
			<label for="TeamsUser_all">All team memberships</label>						
		</td>
	</tr>	
	<% tusers.each{ 
        | tuser |
		if tuser.team.parent_id == @participant.parent_id %>
	<tr>
		<td>&nbsp;&nbsp;&nbsp;</td>	
		<td>&nbsp;&nbsp;&nbsp;</td>		
		<td>
			<%= check_box_tag("TeamsUser[#{tuser.id}]",tuser.id) %>
			<%= label_tag("TeamsUser[#{tuser.id}]", "<b>Team Name:</b> #{tuser.team.name}, <b>Membership Count: </b> #{tuser.team.teams_users.length} ") %>
		</td>
	</tr>	
	<%  end
      } %> 	
	<% end %>				
</table>
<BR/>
<%= submit_tag("Delete selected items")%>
<% end %>
<BR/>
<a href="javascript:window.history.back()">Back</a>
>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
=======
<h1>Delete Associations</h1>
<h2>For participant: <%= @participant.name %></h2>

<script type="text/javascript">
function checkUncheckSome(controller,theElements) {
	//Programmed by Shawn Olson
	//Copyright (c) 2006-2007
	//Updated on August 12, 2007
	//Permission to use this function provided that it always includes this credit text
	//  http://www.shawnolson.net
	//Find more JavaScripts at http://www.shawnolson.net/topics/Javascript/

	//theElements is an array of objects designated as a comma separated list of their IDs
	//If an element in theElements is not a checkbox, then it is assumed
	//that the function is recursive for that object and will check/uncheck
	//all checkboxes contained in that element

     var formElements = theElements.split(',');
	 var theController = document.getElementById(controller);
	 for(var z=0; z<formElements.length;z++){
	  theItem = document.getElementById(formElements[z]);
	  if(theItem.type){
	    if (theItem.type=='checkbox') {
	    	theItem.checked=theController.checked;
	    }
	  } else {
	  	  theInputs = theItem.getElementsByTagName('input');
	  for(var y=0; y<theInputs.length; y++){
	  if(theInputs[y].type == 'checkbox' && theInputs[y].id != theController.id){
	     theInputs[y].checked = theController.checked;
	    }
	  }
	  }
    }
}
</script>

<% times = ResubmissionTime.find(:all, :conditions => ['participant_id = ?', @participant.id]) %>
<% maps = ResponseMap.find(:all, :conditions => ['reviewee_id = ? or reviewer_id = ?', @participant.id, @participant.id])%>
<% tusers = TeamsUser.find(:all, :conditions => ['user_id = ?', @participant.user_id]) %>

<% tuser_list = ""
   index = 1
   last = tusers.length
   tusers.each{
    | tuser |
    tuser_list += "TeamsUser_"+tuser.id.to_s
    if index < last
      tuser_list+="," 
    end
    index+=1
   } 
%>	

<% rmap_list = ""
   index = 1
   last = maps.length
   maps.each{
    | map |
    rmap_list += "ResponseMap_"+map.id.to_s
    if index < last
      rmap_list+="," 
    end
    index+=1
   } 
%>	 
   
<% 
  selectall_list = ""
  if maps.length > 0
    selectall_list += "ResponseMap_all,"
    selectall_list += rmap_list
  end
  if maps.length > 0 and tusers.length > 0
    selectall_list += ","
  end
  if tusers.length > 0 
	selectall_list += "TeamsUser_all,"
    selectall_list += tuser_list
  end
%>   

<input id="SelectAll" name="SelectAll" type="checkbox" value="1"
       onClick="checkUncheckSome('SelectAll','<%= selectall_list %>')" />
<label for="SelectAll">All associations</label>
	   

<% form_tag :action => 'delete_items', :id => @participant, :model => @model do %>
<table border="0">
	<% if maps.length > 0 %>
	<tr>
		<td>&nbsp;&nbsp;&nbsp;</td>	
		<td colspan="2">
		<input id="ResponseMap_all" name="ResponseMap[all]" type="checkbox" value="1"
       		   onClick="checkUncheckSome('ResponseMap_all','<%= rmaps_list %>'" />
		<label for="ResponseMap_all">All mappings</label>						
		</td>
	</tr>
	<% maps.each{ 
        | rmap | %>
	<tr>
		<td>&nbsp;&nbsp;&nbsp;</td>	
		<td>&nbsp;&nbsp;&nbsp;</td>		
		<td>
			<%= check_box_tag("ResponseMap[#{rmap.id}]",rmap.id) %>
			<%= label_tag("ResponseMap[#{rmap.id}]", "<b>Map Type:</b> #{rmap.class}, <b>Contributor</b> #{rmap.reviewee.name}, <b>Reviewer:</b> #{rmap.reviewer.name}") %>
		</td>
	</tr>	
	<% } %> 
	<% end %>
	<% if tusers.length > 0 %>   
	<tr>
		<td>&nbsp;&nbsp;&nbsp;</td>	
		<td colspan="2">            
			<input id="TeamsUser_all" name="TeamsUser[all]" type="checkbox" value="1" onClick="checkUncheckSome('TeamsUser_all','<%= tuser_list %>')" />
			<label for="TeamsUser_all">All team memberships</label>						
		</td>
	</tr>	
	<% tusers.each{ 
        | tuser |
		if tuser.team.parent_id == @participant.parent_id %>
	<tr>
		<td>&nbsp;&nbsp;&nbsp;</td>	
		<td>&nbsp;&nbsp;&nbsp;</td>		
		<td>
			<%= check_box_tag("TeamsUser[#{tuser.id}]",tuser.id) %>
			<%= label_tag("TeamsUser[#{tuser.id}]", "<b>Team Name:</b> #{tuser.team.name}, <b>Membership Count: </b> #{tuser.team.teams_users.length} ") %>
		</td>
	</tr>	
	<%  end
      } %> 	
	<% end %>				
</table>
<BR/>
<%= submit_tag("Delete selected items")%>
<% end %>
<BR/>
<a href="javascript:window.history.back()">Back</a>
>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
>>>>>>> 126e61ecf11c9abb3ccdba784bf9528251d30eb0
