<h3> Individual Reviews Distribution</h3>


<div>
	<img src= "<%= @chart2.to_url << "&chxr=0,0,100,10" %>"/>
		
</div>
<br />
<div>
	<%j=0%>
	<table cellspacing="0" cellpadding="3" border="1" style = "font-size:small;">
		<tr bgcolor="#cccccc">
			<th> Range </th>
			<%@review_distribution.each do |s|%>
			    <% if s != 0%>
				<td align = "center">(<%= j*10 %>-<%=(j+1) * 10 %>)%</td>
				<% end %>
				<% j+= 1%>
			<%end%>
			<td align = "center">Not done</td>
		</tr>
		
		<tr>
			<th> Count </th>
			<%@review_distribution.each do |s|%>
			    <% if  s != 0%>
				<td align = "center"><%= s %></td>
				<% end %>
			<%end%>
			<td align = "center"><%= @reviews_not_done %> </td>
		</tr>
		
	</table>
</div>