%h1 Listing groups

%table
  %thead
    %tr
      %th Isanonymous
      %th Name
      %th Parent
      %th Type
      %th Comments for advertisement
      %th Advertise for partners
      %th
      %th
      %th

  %tbody
    - @groups.each do |group|
      %tr
        %td= group.isAnonymous
        %td= group.name
        %td= group.parent_id
        %td= group.type
        %td= group.comments_for_advertisement
        %td= group.advertise_for_partners
        %td= link_to 'Show', group
        %td= link_to 'Edit', edit_group_path(group)
        %td= link_to 'Destroy', group, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Group', new_group_path
