<% new_user ||= false %>
<% request_user ||= false %>
<% unless request_user %>
<tr>
  <td><label for="password"><%=t ".password_label"%></label></td>
  <td>
    <%=  password_field 'user', 'password', class: "form-control width-250"  %></td>
</tr>


<tr>
  <td><label for="password_confirmation"><%=t ".confirm_password"%></label></td>
  <td>
    <%=  password_field 'user', 'password_confirmation', class: "form-control width-250"  %></p>
    <%= "(leave password blank to auto-generate; it will be sent in their welcome email)" if new_user %></td>
</tr>
<%  end %>