<% request_user ||= false %>
<%if !request_user%>
<div>
  <table class="table borderless">
    <tr>
      <th align='left'><%=t ".email"%></th>
      <tr>
        <td><%=t ".email_option"%>
          <tr>
            <td><label for="user_email_on_review"><%=t ".email_review"%></label></td>
            <td><%= check_box 'user', 'email_on_review', {},  true, false  %></td>
          </tr>
          <tr>
            <td><label for="user_email_on_submission"><%=t ".email_other_review"%></label></td>
            <td><%= check_box 'user', 'email_on_submission', {}, true, false  %></td>
          </tr>
          <tr>
            <td><label for="user_email_on_review_of_review"><%=t ".see_review"%></label></td>
            <td><%= check_box 'user', 'email_on_review_of_review', {}, true, false %></td>
          </tr>
          <% if @user.role_id == 2 %>
            <tr>
              <td><label for="copy_of_emails"><%=t ".send_mail"%></label></td>
              <td><%= check_box 'user', 'copy_of_emails', {}, true, false %></td>
            </tr>
          <% end %>
  </table>
</div>
<% end %>