<!-- Javascript code to toggle on and off the Advanced Search button text -->
<script>
    $(document).ready(() => {
        const $toggleButton = $('#search_toggle_button');
        const $advancedSearchForm = $('#advance_search_form');
        var isAdvancedSearchVisible = false;
        toggleAdvancedSearch(isAdvancedSearchVisible);
        $toggleButton.click(() => {
            isAdvancedSearchVisible = !isAdvancedSearchVisible;
            toggleAdvancedSearch(isAdvancedSearchVisible);
        });
        function toggleAdvancedSearch(isAdvancedSearchVisible) {
            if (isAdvancedSearchVisible) {
                $advancedSearchForm.show();
                $toggleButton.text('Advanced Search');
            } else {
                $advancedSearchForm.hide();
                $toggleButton.text('Advanced Search');
            }
        }
    });
</script>

<!-- Username TextBox with Search button and a Advanced Search with text based on its' state: toggled on or off -->

<div style="margin: 8px auto; display: grid; grid-template-columns: repeat(3, auto) 1fr; grid-gap: 8px; align-items: center">
  <%= label_tag :search_name, 'UserID: ' %><%= text_field_tag(:search_name,params[:search_name], class:'form-control', placeholder: 'Search UserID...') %>
  <button type="submit" class="btn btn-primary">Search</button>
  <a id="search_toggle_button"></a>
</div>

<!-- Name and Email TextBoxes to be displayed on tap of Advanced Search button -->

<div id="advance_search_form" style="margin: 8px auto; display: grid; grid-template-columns: repeat(4, auto) 1fr; grid-gap: 8px; align-items: center">
  <%= label_tag :search_full_name, 'Name: ' %><%= text_field_tag(:search_fname,params[:search_fname], class:'form-control', placeholder: 'Search Name...') %>
  <%= label_tag :search_email, 'Email: ' %><%= text_field_tag(:search_email,params[:search_email], class:'form-control', placeholder: 'Search E-mail...') %>
</div> 
