<%= error_messages_for 'user' %>

<!--[form:user]-->
<p><label for="user_name"><b>Username</b></label><br/>
  <%= text_field 'user', 'name'  %></p>

<% new_user ||= false %>
<%= render :partial => 'users/username' %>
<%= render :partial => 'users/email' %>
<% if @assignment.nil? %>
  <%= render :partial => 'users/password', :locals => { :new_user => new_user, :request_user => request_user } if edit%>
  <%= render :partial => 'users/prefs', :locals => { :request_user => request_user } %>
  <%= render :partial => 'users/institutions' %>
  <%= render :partial => 'users/self_introduction' if request_user%>
<% else %>
  <%= render :partial => 'users/assignment'%>
<% end %>
<!--[eoform:user]-->
<br/>
