<h1>User: <%=h @user.name %></h1>

<table>

<tr><th>Full Name:</th>
<td><%= @user.fullname %></td>
</tr>

<tr><th>Email Address:</th>
<td><%= @user.email %></td>
</tr>

<tr><th valign="top">Private Key:</th>
<td><textarea rows="10" cols="65"><%= @private_key %></textarea></td>
</tr>

</table>

<p>The digital certificate containing the student's public key has been saved, 
give this private key to the student to keep.</p>

<hr/>
<p><%= link_to 'Edit', :action => 'edit', :id => @user %> |
<%= link_to 'Delete', {:action => 'destroy', :id => @user}, 
    :confirm => 'Delete this user?', :method => :post %> </p>

<p><%= link_to 'Back', :action => 'list' %> to Users list</p>
