<h1>User: <%=h @user.name %></h1>

<table>

<tr><th>Full Name:</th>
<td><%= @user.fullname %></td>
</tr>

<tr><th>Email Address:</th>
<td><%= @user.email %></td>
</tr>

<tr><th valign="top">Private Key:</th>
<td><textarea rows="10" cols="65"><%= @private_key %></textarea></td>
</tr>

</table>

<p>The digital certificate containing your public key has been saved.
SAVE this private key so you can use it to digitally sign the publishing rights.</p>

<hr/>

<p><%= link_to 'Back', {:controller=>:publishing, :action=>:view }%> to publising rights</p>
