<h1>Manage users</h1>

<br/>
<% form_tag :action => 'show_selection' do %>
Enter user login: <%= text_field_with_auto_complete :user, :name, {:size => 41} %>
<input type='submit' value='Edit'/>
<% end %>

<%= render :partial => 'shared_scripts/letters' %>
<%= render :partial => 'shared_scripts/pages' %>
<div class = "exp">
<table>

  <tr><th class="head"><%= link_to "Name", :action => 'list', :opt => "name" %>&nbsp;</th><th class="head"><%= link_to "Full Name", :action => 'list', :opt => "fullname" %></th class="head"><th class="head"><%= link_to "Email", :action => 'list', :opt => "email" %></th><th class="head"><%= link_to "Role", :action => 'list', :opt => "role_id" %></th><th class="head"><%= link_to "Parent", :action => 'list', :opt => "parent_id" %></th><th class="head" ><%= link_to "Review", :action => 'list', :opt => "review" %></th><th class="head"><%= link_to "Submission", :action => 'list', :opt => "submission" %></th><th class="head"><%= link_to "Meta Review", :action => 'list', :opt => "metareview" %></th><th class="head"><%= link_to "Privacy", :action => 'list', :opt => "privacy" %></th></tr>
<% for user in @users %>
  <tr class= "exp">
    <td ><%= link_to user.name, :action => 'show',
	    :id => user.id %></td>
    <td ><%= user.fullname %></td>
    <td ><%= user.email %></td>
    <td ><%= link_to user.role.name, :controller => 'roles',
            :action => 'show', :id => user.role.id %></td>
    <td  align="center"><%= (User.find_by_id(user.parent_id)).name %></td>
    <td  align="center" ><%= User.yesorno(user.email_on_review) %></td>
    <td  align="center" ><%= User.yesorno(user.email_on_submission) %></td>
    <td  align="center" ><%= User.yesorno(user.email_on_review_of_review) %></td>
	<td  align="center" ><%= User.yesorno(user.leaderboard_privacy) %></td>
  </tr>
<% end -%>
</table>
</div>
<hr/>

<%= render :partial => 'shared_scripts/letters' %>

<%= render :partial => 'shared_scripts/pages' %>
<p>
<% 
  session[:return_to] = request.request_uri  
%>

<%= link_to 'New User', :action => 'new' %> |
<%= link_to 'Import Users', :controller=>'import_file', :action=>'start', :model => 'User', :expected_fields => 'username, full name (first[ middle] last), e-mail address, password' %>
</p>