<h1>New user</h1>

<%= start_form_tag :action => 'create' %>
  <p><label for="role_id">Role</label><br/>
  <%= collection_select 'user', 'role_id', @all_roles, :id, :name %></p>

  <%= render :partial => 'user' %>
  <%= submit_tag "Create" %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'list' %>
