<h1>Request new user</h1>

<%= form_tag :action => 'request_user_create' do %>

    <%if @user.errors.any? %>
        <div id="error_explanation">
          <h2>
            This contains <%= pluralize(@user.errors.count,"error")%>
          </h2>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p><label for="role_id">Role</label><br/>

    <%= collection_select 'user', 'role_id', Role.where({name:["Instructor","Teaching Assistant"]}),:id,:name %></p>


  <%= render :partial => 'user', :locals => { :new_user => true, :request_user => true } %>

    <p>
      Please write a brief introduction of request:</br>
      <%= text_field 'requested_user', 'intro' , :value => @intro%>
    </p>

  <%= submit_tag "Request" %>
<% end %>

<%= link_to 'Back', root_path%>
