<h1>User: <%=h @user.name(session[:ip]) %></h1>

<table>

  <tr><th>Full Name:</th>
    <td><%= @user.fullname(session[:ip]) %></td>
  </tr>

  <tr><th>Email Address:</th>
    <td><%= @user.email(session[:ip]) %></td>
  </tr>

  <tr><th>Role:</th>
    <td><%= link_to @role.name, :controller => 'roles',
      :action => 'show', :id => @role.id %></td>
  </tr>

</table>

<% unless current_user_role? == "Student" %>
  <hr/>
  <p><%= link_to 'Edit', :action => 'edit', :id => @user %> |

  <!--If there are less than or equal to 1 user in DB, cannot be deleted-->
  <!--If session user can impersonate certain user, session user can also try to delete certain user.-->
  <% if @total_user_num > 1 %>
    <%= link_to 'Delete', {:action => 'destroy', :id => @user}, :confirm => "Do you want to delete this user?", :method => :delete if session[:user].can_impersonate? @user%>
    <%= link_to 'rename', {:action => 'update', :name => @user},:method => :update, :id => 'rename', :style => 'color: #FFFFFF; margin-left: 80%;'%>
  <% end %>
</p>

<p><%= link_to 'Back', :action => 'list' %> to Users list</p>
<% end %>
