<h1>User: <%=h @user.name %></h1>

<table>

  <tr><th>Full Name:</th>
    <td><%= @user.fullname %></td>
  </tr>

  <tr><th>Email Address:</th>
    <td><%= @user.email %></td>
  </tr>

  <tr><th>Role:</th>
    <td><%= link_to @role.name, role_path(@role.id) %></td>
  </tr>

</table>

<% unless current_user_role? == "Student" %>
  <hr/>
  <p><%= link_to 'Edit', edit_role_path(@role.id) %> |
    <%= link_to 'Delete', {:action => 'destroy', :id => @user}, :confirm => 'Delete this user?', :method => :delete %>
</p>

<p><%= link_to 'Back', users_list_path %> to Users list</p>
<% end %>
