<table id='assignment_general_info_table'>
  <tr class='heading'>
    <th width=40%></th>
    <th width=60%></th>
  </tr>
  <%= hidden_field_tag('assignment[instructor_id]', @assignment.instructor_id) %>
  <%= hidden_field_tag('assignment[course_id]', @assignment.course_id) %>
  <%= hidden_field_tag('assignment[id]', @assignment.id) %>
  <tr>
    <td style='padding:5px'><%= label_tag('assignment[name]', 'Assignment Name:') %></td>
    <td style='padding:5px'><%= text_field_tag('assignment[name]', @assignment.name, :style => 'width:250px') %></td>
  </tr>

  <tr>
    <td style='padding:5px'><%= label_tag('assignment[directory_path]', 'Submission Directory:') %></td>
    <td style='padding:5px'><%= text_field_tag('assignment[directory_path]', @assignment.directory_path, :style => 'width:250px') %></td>
  </tr>

  <tr>
    <td style='padding:5px'><%= label_tag('assignment[spec_location]', 'Description URL: ') %></td>
    <td style='padding:5px'><%= text_field_tag('assignment[spec_location]', @assignment.spec_location, :style => 'width:250px') %></td>
  </tr>
</table>

<br/><hr/>

<table id='assignment_general_setting_table'>
  <tr class='heading'>
    <th width=30%></th>
    <th width=70%></th>
  </tr>

  <tr>
    <td style='padding:5px' id='assignment_require_signup_field'>
      <input name="assignment[require_signup]" type="hidden" value="false" />
      <%= check_box_tag('assignment[require_signup]', 'true', @assignment.require_signup?, {:onchange => 'requireSignUpChanged()'}) %>
      <%= label_tag('assignment[require_signup]', 'Has Topics?') %>
    </td>
  </tr>

  <tr>
    <td style='padding:5px' id='assignment_team_assignment_field'>
      <input name="assignment[team_assignment]" type="hidden" value="false" />
      <%= check_box_tag('assignment[team_assignment]', 'true', @assignment.team_assignment, {:onchange => 'teamAssignmentChanged()'}) %>
      <%= label_tag('assignment[team_assignment]', 'Has Teams?') %>
    </td>
    <td style='padding:5px' id='assignment_team_count_field'>
      <%= label_tag('assignment[team_count]', 'Maximum Number of Participant:') %>
      <%= text_field_tag('assignment[team_count]', @assignment.team_count) %>
    </td>
  </tr>

  <tr>
    <td style='padding:5px' id='assignment_wiki_assignment_field'>
      <%= check_box_tag('assignment_wiki_assignment', 'true', (@assignment.wiki_type.name != 'No'), :onchange => 'wikiAssignmentChanged()') %>
      <%= label_tag('assignment_wiki_assignment', 'Wiki Assignment') %>
    </td>
    <td style='padding:5px' id='assignment_wiki_type_field'>
      <%= label_tag('assignment[wiki_type_id]', 'Wiki System Type:') %>
      <%= select('assignment', 'wiki_type_id', @assignment.wiki_type_options, :selected => @assignment.wiki_type_id) %>
    </td>
  </tr>

  <tr>
    <td style='padding:5px' id='assignment_staggered_deadline_field'>
      <input name="assignment[staggered_deadline]" type="hidden" value="false" />
      <%= check_box_tag('assignment[staggered_deadline]', 'true', @assignment.staggered_deadline, {:onchange => 'staggeredDeadlineChanged()'}) %>
      <%= label_tag('assignment[staggered_deadline]', 'Staggered Deadline Assignment') %>
    </td>
    <td style='padding:5px' id='assignment_days_between_submissions_field'>
      <%= label_tag('assignment[days_between_submissions]', 'Days Between Chapters:') %>
      <%= text_field_tag('assignment[days_between_submissions]', @assignment.days_between_submissions, {:onchange => 'daysBetweenSubmissionsChanged()'}) %>
    </td>
  </tr>

  <tr>
    <td style='padding:5px' id='assignment_microtask_field'>
      <input name="assignment[microtask]" type="hidden" value="false" />
      <%= check_box_tag('assignment[microtask]', 'true', @assignment.microtask, {:onchange => 'microtaskChanged()'}) %>
      <%= label_tag('assignment[microtask]', 'Micro-Task Assignment') %>
    </td>
  </tr>

  <tr>
    <td style='padding:5px' id='assignment_review_visible_to_all_field'>
      <input name="assignment[reviews_visible_to_all]" type="hidden" value="false" />
      <%= check_box_tag('assignment[reviews_visible_to_all]', 'true', @assignment.reviews_visible_to_all) %>
      <%= label_tag('assignment[reviews_visible_to_all]', 'Reviews Visible to All Other Reviewers') %>
    </td>
  </tr>

  <tr>
    <td style='padding:5px' id='assignment_allow_suggestion_field'>
      <input name="assignment[allow_suggestions]" type="hidden" value="false" />
      <%= check_box_tag('assignment[allow_suggestions]', 'true', @assignment.allow_suggestions) %>
      <%= label_tag('assignment[reviews_visible_to_all]', 'Allow Topic Suggestions from Students') %>
    </td>
  </tr>

  <tr>
    <td style='padding:5px' id='assignment_availability_flag_field'>
      <input name="assignment[availability_flag]" type="hidden" value="false" />
      <%= check_box_tag('assignment[availability_flag]', 'true', @assignment.availability_flag) %>
      <%= label_tag('assignment[availability_flag]', 'Available to Students') %>
    </td>
  </tr>
</table>

<script>
    jQuery(document).ready(function () {
        wikiAssignmentChanged();
        requireSignUpChanged();
        teamAssignmentChanged();
        staggeredDeadlineChanged();
        microtaskChanged();
    });
</script>


<!--old scripts-->
<script>
    function onChange() {
        count = document.getElementById("team_count1");
        hidden = document.getElementById("team_count2");
        document.poppedLayer3 = eval('document.getElementById("teammate_review")');
        var dropdownIndex = document.getElementById('teamselect').selectedIndex;
        var dropdownValue = document.getElementById('teamselect')[dropdownIndex].value;
        if (dropdownValue == "true") {
            count.style.display = "";
            hidden.style.display = "none";
            document.poppedLayer3.style.display = "";
        } else {
            count.style.display = "none";
            hidden.style.display = "";
            document.poppedLayer3.style.display = "none";
        }
    }

    function get_assignment_startdate() {
        //var start_date = document.getElementById("assignment_startdate");
        var staggered_label = document.getElementById("staggered_label");
        var days_between_chapters = document.getElementById("days_between_chapters");
        var dropdownIndex = document.getElementById('staggered_deadline').selectedIndex;
        var dropdownValue = document.getElementById('staggered_deadline')[dropdownIndex].value;
        if (dropdownValue == "true") {
            //start_date.style.display = "";
            staggered_label.style.display = "";
            days_between_chapters.style.display = "";
        } else {
            //start_date.style.display = "none";
            staggered_label.style.display = "none";
            days_between_chapters.style.display = "none";
        }
    }

    function onChangeWikiType() {
        submission_directory = document.getElementById("assgt_directory");
        var dropdownIndex = document.getElementById('wikiselect').selectedIndex;
        if (dropdownIndex == 0) {
            submission_directory.innerHTML = "Submission directory:"
        } else {
            submission_directory.innerHTML = "Base URL for Wiki:"
        }
    }
</script>

