<div>
 <div style="font-size:large;"><b><label id="staggered_label" style="display:none">Deadlines for chapter 1</label></b></div><br/>
    <div style="padding: 5px">Number of rounds of review:
        <input type="text" id="assignment_helper_no_of_reviews" name="assignment_helper[no_of_reviews]" maxlength="5" size="5" value="1" onchange="addElement();" />
        <input type="button" name="selectButton" value="Set" onclick="addElement();" />
    <!-- Add Quiz Allowed column -->
    </div>
        <br/>   
        <TABLE class="exp">
           <TR>
               <TH  ALIGN=CENTER WIDTH=20%>Deadline</TH>
               <TH  ALIGN=CENTER WIDTH=17%>Date & time</TH>
               <TH  ALIGN=CENTER WIDTH=9%>Submission allowed</TH>
               <TH  ALIGN=CENTER WIDTH=9%>Review allowed</TH>

               <TH  ALIGN=CENTER WIDTH=9%>Resubmission allowed</TH>

               <TH   ALIGN=CENTER WIDTH=9%>Rereview allowed</TH>
               <TH   ALIGN=CENTER WIDTH=9%>Metareview allowed</TH>
               <TH   ALIGN=CENTER WIDTH=9%>Quiz allowed</TH>
			   <TH   ALIGN=CENTER WIDTH=9%>Reminder (hrs)</TH>
           </TR>
           <TR>
               <TD>
                   Submission deadline
               </TD>
               <TD ALIGN="CENTER">
                    <input type="text" id="submit_deadline_due_at" name ="submit_deadline[due_at]"/>
                    <img src="/images/cal.gif"  onClick="NewCal('submit_deadline_due_at','YYYYMMDD',true,24); return false;"/>
               </TD>
               <TD ALIGN="CENTER">
                   <%= select('submit_deadline', 'submission_allowed_id', [ ['No', 1],['Late', 2],['OK', 3]],:selected =>3 )%>
               </TD>
               <TD ALIGN="CENTER">
                   <%= select('submit_deadline', 'review_allowed_id', [ ['No', 1],['Late', 2],['OK', 3]],:selected =>1 )%>
               </TD>

               <TD ALIGN=CENTER>
                   <%= select('submit_deadline', 'resubmission_allowed_id', [ ['No', 1],['Late', 2],['OK', 3]],:selected =>1 )%>
               </TD>
               <TD ALIGN=CENTER>
                   <%= select('submit_deadline', 'rereview_allowed_id', [ ['No', 1],['Late', 2],['OK', 3]],:selected =>1 )%>
               </TD>
               <TD ALIGN=CENTER>
                   <%= select('submit_deadline', 'review_of_review_allowed_id', [ ['No', 1],['Late', 2],['OK', 3]],:selected =>1 )%>
               </TD>
               <TD ALIGN=CENTER>
               <%= select('submit_deadline', 'quiz_allowed_id', [ ['No', 1],['Late', 2],['OK', 3]],:selected =>1 )%>
               </TD>
			   <TD ALIGN=CENTER>
                   <%= select('submit_deadline', 'threshold', [ [8, 8],[16, 16],[24, 24],[32, 32],[40, 40],[48, 48],[56, 56],[64, 64],[72, 72],[80, 80],[88, 88],[96, 96] ],:selected =>1 )%>
               </TD>
           </TR>
           <TR>
               <TD ALIGN=LEFT>
                   <input name="deadlineTitle0" size=10	maxlength=10 value="Submission deadline" type="hidden"/>Review deadline
               </TD>
               <TD ALIGN="CENTER">
                   <input type="text" id="review_deadline_due_at" name ="review_deadline[due_at]"/>
                   <img src="/images/cal.gif" onClick="NewCal('review_deadline_due_at','YYYYMMDD',true,24); return false;"/>
               </TD>
               <TD ALIGN=CENTER>
                   <%= select('review_deadline', 'submission_allowed_id', [ ['No', 1],['Late', 2],['OK', 3]],:selected =>2 )%>
               </TD>

               <TD ALIGN=CENTER>
                   <%= select('review_deadline', 'review_allowed_id', [ ['No', 1],['Late', 2],['OK', 3]],:selected =>3 )%>
               </TD>
               <TD ALIGN=CENTER>
                   <%= select('review_deadline', 'resubmission_allowed_id', [ ['No', 1],['Late', 2],['OK', 3]],:selected =>1 )%>
               </TD>

               <TD ALIGN=CENTER>
                   <%= select('review_deadline', 'rereview_allowed_id', [ ['No', 1],['Late', 2],['OK', 3]],:selected =>1 )%>
               </TD>
               <TD ALIGN=CENTER>
                   <%= select('review_deadline', 'review_of_review_allowed_id', [ ['No', 1],['Late', 2],['OK', 3]],:selected =>1 )%>
               </TD>
               <TD ALIGN=CENTER>
                   <%= select('review_deadline', 'quiz_allowed_id', [ ['No', 1],['Late', 2],['OK', 3]],:selected =>1 )%>
               </TD>
			   <TD ALIGN=CENTER>
                   <%= select('review_deadline', 'threshold', [ [8, 8],[16, 16],[24, 24],[32, 32],[40, 40],[48, 48],[56, 56],[64, 64],[72, 72],[80, 80],[88, 88],[96, 96] ],:selected =>1 )%>
               </TD>
           </TR>
       </TABLE>

       <table class="exp" id=extra_deadlines></table>

       <TABLE class="exp">
            <TR>
               <TH   ALIGN=CENTER WIDTH=20%></TH>
               <TH   ALIGN=CENTER WIDTH=17%></TH>
               <TH   ALIGN=CENTER WIDTH=9%></TH>
               <TH   ALIGN=CENTER WIDTH=9%></TH>
               <TH   ALIGN=CENTER WIDTH=9%></TH>
               <TH   ALIGN=CENTER WIDTH=9%></TH>
               <TH   ALIGN=CENTER WIDTH=9%></TH>
               <TH   ALIGN=CENTER WIDTH=9%></TH>
			   <TH   ALIGN=CENTER WIDTH=9%></TH>
           </TR>
           <TR>
               <TD ALIGN=LEFT>
                   Metareview deadline
               </TD>
               <TD ALIGN=CENTER>
                  <input type="text" id="reviewofreview_deadline_due_at" name ="reviewofreview_deadline[due_at]"/>
                  <img src="/images/cal.gif" onClick="NewCal('reviewofreview_deadline_due_at','YYYYMMDD',true,24); return false;"/>
               </TD>
               <TD ALIGN=CENTER>
                   <%= select('reviewofreview_deadline', 'submission_allowed_id', [ ['No', 1],['Late', 2],['OK', 3]],:selected =>2 )%>
               </TD>
               <TD ALIGN=CENTER>
                   <%= select('reviewofreview_deadline', 'review_allowed_id', [ ['No', 1],['Late', 2],['OK', 3]],:selected =>2 )%>
               </TD>
               <TD ALIGN=CENTER>
                   <%= select('reviewofreview_deadline', 'resubmission_allowed_id', [ ['No', 1],['Late', 2],['OK', 3]],:selected =>2 )%>
               </TD>

               <TD ALIGN=CENTER>
                   <%= select('reviewofreview_deadline', 'rereview_allowed_id', [ ['No', 1],['Late', 2],['OK', 3]],:selected =>2 )%>
               </TD>
               <TD ALIGN=CENTER>
                   <%= select('reviewofreview_deadline', 'review_of_review_allowed_id', [ ['No', 1],['Late', 2],['OK', 3]],:selected =>3 )%>
               </TD>
               <TD ALIGN=CENTER>
                   <%= select('reviewofreview_deadline', 'quiz_allowed_id', [ ['No', 1],['Late', 2],['OK', 3]],:selected =>3 )%>
               </TD>
			   <TD ALIGN=CENTER>
                   <%= select('reviewofreview_deadline', 'threshold', [ [8, 8],[16, 16],[24, 24],[32, 32],[40, 40],[48, 48],[56, 56],[64, 64],[72, 72],[80, 80],[88, 88],[96, 96] ],:selected =>1 )%>
               </TD>
           </TR>
		   <TR>
               <TD  ALIGN=LEFT>
                   Drop-topic deadline
               </TD>
               <TD ALIGN="CENTER">
                  <input type="text" id="drop_topic_due_at" name ="drop_topic_deadline[due_at]"/>
                  <img src="/images/cal.gif" onClick="NewCal('drop_topic_due_at','YYYYMMDD',true,24); return false;"/>
               </TD>
               <TD ALIGN=CENTER>
                   <%= select('drop_topic_deadline', 'submission_allowed_id', [ ['No', 1],['Late', 2],['OK', 3]],:selected =>3 )%>
               </TD>
               <TD ALIGN=CENTER>
                   <%= select('drop_topic_deadline', 'review_allowed_id', [ ['No', 1],['Late', 2],['OK', 3]],:selected =>1 )%>
               </TD>
               <TD ALIGN=CENTER>
                   <%= select('drop_topic_deadline', 'resubmission_allowed_id', [ ['No', 1],['Late', 2],['OK', 3]],:selected =>1 )%>
               </TD>

               <TD ALIGN=CENTER>
                   <%= select('drop_topic_deadline', 'rereview_allowed_id', [ ['No', 1],['Late', 2],['OK', 3]],:selected =>1 )%>
               </TD>
               <TD ALIGN=CENTER>
                   <%= select('drop_topic_deadline', 'review_of_review_allowed_id', [ ['No', 1],['Late', 2],['OK', 3]],:selected =>1 )%>
               </TD>
               <TD ALIGN=CENTER>
                   <%= select('drop_topic_deadline', 'quiz_allowed_id', [ ['No', 1],['Late', 2],['OK', 3]],:selected =>1 )%>
               </TD>
			   <TD ALIGN=CENTER>
                   <%= select('drop_topic_deadline', 'threshold', [ [8, 8],[16, 16],[24, 24],[32, 32],[40, 40],[48, 48],[56, 56],[64, 64],[72, 72],[80, 80],[88, 88],[96, 96] ],:selected =>1 )%>
               </TD>
          </TR>
          <!-- Add Quiz Allowed row -->
          <TR id = "deadline_quiz" <%if !@assignment.require_quiz %>style="display:none"<% end %>>
               <TD ALIGN=LEFT>
                   Quiz Deadline
               </TD>
               <TD ALIGN="CENTER">
                  <input type="text" id="quiz_deadline_due_at" name ="quiz_deadline[due_at]"/>
                  <img src="/images/cal.gif" onClick="NewCal('quiz_deadline_due_at','YYYYMMDD',true,24); return false;"/>
               </TD>
               <TD ALIGN=CENTER>
                   <%= select('quiz_deadline', 'submission_allowed_id', [ ['No', 1],['Late', 2],['OK', 3]],:selected =>1 )%>
               </TD>
               <TD ALIGN=CENTER>
                   <%= select('quiz_deadline', 'review_allowed_id', [ ['No', 1],['Late', 2],['OK', 3]],:selected =>1 )%>
               </TD>
               <TD ALIGN=CENTER>
                   <%= select('quiz_deadline', 'resubmission_allowed_id', [ ['No', 1],['Late', 2],['OK', 3]],:selected =>1 )%>
               </TD>

               <TD ALIGN=CENTER>
                   <%= select('quiz_deadline', 'rereview_allowed_id', [ ['No', 1],['Late', 2],['OK', 3]],:selected =>1 )%>
               </TD>
               <TD ALIGN=CENTER>
                   <%= select('quiz_deadline', 'review_of_review_allowed_id', [ ['No', 1],['Late', 2],['OK', 3]],:selected =>3 )%>
               </TD>
               <TD ALIGN=CENTER>
               <%= select('quiz_deadline', 'quiz_allowed_id', [ ['No', 1],['Late', 2],['OK', 3]],:selected =>3 )%>
               </TD>
               <TD ALIGN=CENTER>
                   <%= select('quiz_deadline', 'threshold', [ [8, 8],[16, 16],[24, 24],[32, 32],[40, 40],[48, 48],[56, 56],[64, 64],[72, 72],[80, 80],[88, 88],[96, 96] ],:selected =>1 )%>
               </TD>
          </TR>
          <!-- ccc-- -->
       </table>
    </div>
<br/>

<div id="days_between_chapters" style="position:relative">
  <label>Number of {weeks, days} between submission of successive chapters:</label>
  <input type="text" id="weeks" name ="weeks" maxlength="2" size="3"/> week(s) &nbsp;
  <input type="text" id="days" name ="days" maxLength="2" size="3"/> day(s)      
</div>
<br/>
<script>get_assignment_startdate();</script>
    
