<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet"
      type="text/css" xmlns="http://www.w3.org/1999/html"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>


<% if is_first %>
    <div id="<%=reviewid%>" xmlns="http://www.w3.org/1999/html">
      <ul><li><a href="#<%=title%>"><b><%= title %></b></a></li> </ul>
      <div id="<%=title%>">
<% else %>
    </div>
    <script>
        $("#<%=reviewid%> ul").append('<li><a href="#<%=title%>"><b><%= title %></b></a></li>');
    </script>
    <div id="<%=title%>">
<% end %>




