<h1>Assign Weights For Extra Reviews for Assignment</h1>
<%if @assignment%>
    <%- form_tag(:controller => 'assignment', :action => 'submit_review_weights') do %>
        <%= hidden_field_tag(:assignment_id, @assignment.id) %>
        <table style="width: 100%;margin-top: 20px;">
          <tr>
            <td style="width: 40%;"></td>
            <td>
              <table>
                <tr>
                  <td style="word-wrap: break-word;">Minimum Reviews</td>
                  <td style="word-wrap: break-word;">Minimum Metareviews</td>
                  <td style="word-wrap: break-word;">Extra Review Weight</td>
                  <td style="word-wrap: break-word;">Extra Meta Review Weight</td>
                  <td style="word-wrap: break-word;">Extra Review Experience Points</td>
                  <td style="word-wrap: break-word;">Extra Meta Review Experience Points</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td style="width: 40%;"><%= @assignment.name %></td>
            <td>
              <table>
                <tr>
                  <td><%= text_field_tag :min_reviews, params[:min_reviews] %> </td>
                  <td><%= text_field_tag :min_metareviews, params[:min_metareviews] %> </td>
                  <td><%= text_field_tag :review_weight, params[:review_weight] %> </td>
                  <td><%= text_field_tag :metareview_weight, params[:metareview_weight] %> </td>
                  <td><%= text_field_tag :review_exp, params[:review_exp] %> </td>
                  <td><%= text_field_tag :metareview_exp, params[:metareview_exp] %> </td>

                </tr>
              </table>

            </td>

          </tr>
          <tr>
            <td colspan="2">
              <%= submit_tag "Submit" %>
            </td>
          </tr>
        </table>

    <%end%>
<%end%>
