<%= stylesheet_link_tag 'jquery-ui-timepicker-addon' %>
<%= stylesheet_link_tag 'jquery-ui-1.10.3.custom.min' %>
<script src="/javascripts/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/javascripts/jquery-ui-timepicker-addon.js"></script>

<h1>Editing Assignment</h1>

<script>
    function prepareToSubmit() {
        //validating the form
//        validate();
        //submit the due dates and questionnaires before submitting the rest of the form
        jQuery.ajaxSetup({async: false});
        submit_due_dates();
        submit_questionnaires();
    }
</script>

<% form_tag({:action => 'update', :id => @assignment.id}, {:onSubmit => 'prepareToSubmit()'}) do %>
    <div id="tabs">
      <ul>
        <li><a href="#tabs-1">General</a></li>
        <li><a href="#tabs-2">Rubrics</a></li>
        <li><a href="#tabs-3">Review strategy</a></li>
        <li><a href="#tabs-4">Due dates</a></li>
        <li><a href="#tabs-5">Topics</a></li>
      </ul>
      <div id="tabs-1">
        <%= render :partial => 'content' %>
      </div>
      <div id="tabs-2">
        <%= render :partial => 'rubrics' %>
      </div>
      <div id="tabs-3">
        <%= render :partial => 'review_strategy' %>
      </div>
      <div id="tabs-4">
        <%= render :partial => 'due_dates' %>
      </div>
      <div id="tabs-5">
        <%= render :action => 'sign_up_sheet/add_signup_topics' %>
      </div>
    </div>
    <script>
        jQuery(document).ready(function () {
            jQuery("#tabs").tabs();
        });
    </script>
    <%= submit_tag "Save" %> | <%= render :partial => '/shared_scripts/back' %>
<% end %>

<br/>

<!--<script>get_assignment_startdate();</script>-->
