<h1>Editing Assignment</h1>

<script>
    function submit_form() {
        submit_due_dates();
        submit_questionnaires();
    }
</script>

<% form_tag({:action => 'update', :id => @assignment.id}, {:onclick => 'submit_form()'}) do %>
    <%= render :partial => 'javascript_setup' %>
    <div id="tabs">
      <ul>
        <li><a href="#tabs-1">General</a></li>
        <li><a href="#tabs-2">Rubrics</a></li>
        <li><a href="#tabs-3">Review Strategy</a></li>
        <li><a href="#tabs-4">Due Dates</a></li>
      </ul>
      <div id="tabs-1">
        <%= render :partial => 'content' %>
      </div>
      <div id="tabs-2">
        <%= render :partial => 'rubrics' %>
      </div>
      <div id="tabs-3">
        <%= render :partial => 'review_strategy' %>
      </div>
      <div id="tabs-4">
        <%= render :partial => 'due_dates' %>
      </div>
    </div>
    <script>
        jQuery(document).ready(function() {
            jQuery( "#tabs" ).tabs();
        });
    </script>
    <%= submit_tag "Save" %> |
    <!--<input name='commit' type='submit' onclick='submit_due_dates();submit_questionnaires();' value='Save'> |-->
    <%= render :partial => '/shared_scripts/back' %>
<% end %>

<br/>



<script>get_assignment_startdate();</script>