<h1>Editing Assignment</h1>

<script>
    function submit_form() {
        jQuery.ajaxSetup({async:false});

        //delete old due_dates and old assignment_questionnaires
        jQuery.get("/assignment/delete_all_due_dates?assignment_id=" + <%= @assignment.id %>);
        jQuery.get("/assignment/delete_all_questionnaires?assignment_id=" + <%= @assignment.id %>);

        //create the new due_dates
        var i, j;
        var data = jQuery('#due_dates_table>tbody>tr:not(#due_date_heading)');
        var fields, para;
        for (i = 0; i < data.length; i++) {
            fields = jQuery(data[i]).find('input,select');
            para = "?";
            for (j = 0; j < fields.length; j++) {
                para += "&" + (fields[j].name + "=" + fields[j].value);
            }
            jQuery.get("/assignment/set_due_date" + para);
        }

        //create the new assignment_questionnaires
        data = jQuery('#assignment_questionnaire_table>tbody>tr:not(.heading)');
        for (i = 0; i < data.length; i++) {
            fields = jQuery(data[i]).find('input,select');
            para = "?";
            for (j = 0; j < fields.length; j++) {
                para += "&" + (fields[j].name + "=" + fields[j].value);
            }
            jQuery.get("/assignment/set_questionnaire" + para);
        }

        //submit the form
        jQuery('#assignment_form').submit();
    }
</script>

<% form_tag({:action => 'update', :id => @assignment.id}, {:id => 'assignment_form'}) do %>
    <%= render :partial => 'javascript_setup' %>
    <div id="tabs">
      <ul>
        <li><a href="#tabs-1">General</a></li>
        <li><a href="#tabs-2">Rubrics</a></li>
        <li><a href="#tabs-3">Review Strategy</a></li>
        <li><a href="#tabs-4">Due Dates</a></li>
      </ul>
      <div id="tabs-1">
        <%= render :partial => 'content' %>
      </div>
      <div id="tabs-2">
        <%= render :partial => 'rubrics' %>
      </div>
      <div id="tabs-3">
        <%= render :partial => 'review_strategy' %>
      </div>
      <div id="tabs-4">
        <%= render :partial => 'due_dates' %>
      </div>
    </div>
    <script>
        jQuery(document).ready(function () {
            jQuery("#tabs").tabs();
        });
    </script>
    <%= button_to_function "Save", "submit_form()" %> |
    <!--<input name='commit' type='submit' onclick='submit_due_dates();submit_questionnaires();' value='Save'> |-->
    <%= render :partial => '/shared_scripts/back' %>
<% end %>

<br/>

<script>get_assignment_startdate();</script>