<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet"
      type="text/css" xmlns="http://www.w3.org/1999/html"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

<script>
    $(document).ready(function() {
        $("#tabs").tabs({ selected: 0, event: "click"});
        $("#tabs1").tabs({ selected: 1, event: "click"});
        $("#tabs2").tabs({ selected: 1, event: "click"});
        var dropdownIndex = document.getElementById('teamselect').selectedIndex;
        var dropdownValue = document.getElementById('teamselect')[dropdownIndex].value;
        if(dropdownValue != "true"){
            $('#Teams').hide();
        }
    });

</script>

<h1>Editing assignment</h1>

<% form_tag({:action => 'update', :id => @assignment, :review_limit => @limits[:review], :metareview_limit => @limits[:metareview], :teammate_limit => @limits[:teammate], :feedback_limit => @limits[:feedback]}, {:method => 'post', :multipart => true, :onsubmit => 'return checkForm();'}) do %>

    <%
       session[:return_to] = request.request_uri
    %>

    <% tabs = TabsRenderer.new(self) %>
    <% tabs.create('General', 'General') do %>
        <%= render :partial => 'content' %>
    <% end %>
    <% tabs.create('Rubrics', 'Rubrics') do %>
        <%= render :partial => 'rubrics' %>
    <% end %>
    <% tabs.create('Review_Strategy', 'Review Strategy') do %>
        <%= render :partial => 'review_strategy' %>
    <% end %>
    <% tabs.create('Deadlines', 'Deadlines') do %>
        <%= render :partial => 'deadlines' %>
    <% end %>
    <% tabs.create('Participants', 'Participants') do %>
        <div id="tabs1">
          <ul>
            <li><a href="#subtab1"> Existing Participants</a></li>
            <li><a href="#subtab2"> Add Participants</a></li>
            <li><a href="#subtab3"> Import Participants</a></li>
          </ul>
          <div id="subtab1">
            <%= render :partial => '/shared_scripts/user_list',
                       :locals => {:controller => 'participants',
                                   :user_list => @participants}%>
            <br/>
          </div>
          <div id="subtab2">
            <%= render :partial => 'add_participants' %>
          </div>
          <div id="subtab3">
            <%= render :partial => 'import_participants' %>
          </div>
        </div>
    <% end %>

        <% tabs.create('Teams', 'Teams') do %>
            <div id="tabs2">
              <ul>
                <li><a href="#subtab4"> Existing Teams </a></li>
                <li><a href="#subtab5"> Create Teams </a></li>
                <li><a href="#subtab6"> Import Teams</a></li>
              </ul>
              <div id="subtab4">
                <%= render :partial => 'tree_display/page_footer' %>
              </div>
              <div id="subtab5">
                <%= render :partial => 'create_random_teams' %>
              </div>
              <div id="subtab6">
                <%= render :partial => 'import_teams' %>
              </div>
            </div>
        <% end %>


    <%= tabs.render %>

    &nbsp;&nbsp;<%= submit_tag "Save assignment" %>
<% end %>
<br/>
<div style="padding: 15px">
  <%= render :partial => '/shared_scripts/back' %>
</div>