<% @assignment = Assignment.find(params[:id]) %>
<% if flash[:notice] %>
    <div class="flash_note"><%= flash_message :notice %></div>
<% end %>

<% @sign_up_topics = SignUpTopic.where(['assignment_id = ?', @assignment.id]) %>
<% @slots_filled = SignUpTopic.find_slots_filled(@assignment.id)  %>
<% @slots_waitlisted = SignUpTopic.find_slots_waitlisted(@assignment.id) %>
<% @participants = SignedUpTeam.find_team_participants(@assignment.id)  %>

<a id="teamsAndMembers" onclick="showHideTeamAndMembers()">Hide all teams</a>
<% if @sign_up_topics.size != 0 %>
    <table class="general">
      <tr><%= render :partial => '/sign_up_sheet/table_header' %></tr>

      <% i=1 %>
      <% for topic in @sign_up_topics %>
          <tr>
            <%= render :partial => '/sign_up_sheet/table_line', :locals => {:i=>i, :topic=>topic} %>
          </tr>
          <% i=i+1 %>
      <% end %>

    </table>

<% else %>
    <div class="flash_note">
      <%= "Signup topics have not yet been created." %>
    </div>
<% end %>

<% session[:return_to] = request.url %>
<br/><br/>

<%= render :partial => '/sign_up_sheet/add_topics' %>
<a href="javascript:history.back()">Back</a>

<script>
function showHideTeamAndMembers(){
  var element = document.getElementById('teamsAndMembers');
  var show = element.innerHTML == 'Hide all teams';
  if (show){
    element.innerHTML='Show all teams';
  }else{
    element.innerHTML='Hide all teams';
  }
  toggleTeamsAndMembers();
}

function toggleTeamsAndMembers() {
  for(var i=1; i<=<%= @sign_up_topics.size%>; i++){
    var elem = document.getElementById(i.toString() + "_myDiv");
    if (elem.style.display == 'none') {
      elem.style.display = '';
    } else {
      elem.style.display = 'none';
    }
  }
}

function toggleSingleTeamAndMember(i) {
    var elem = document.getElementById(i.toString() + "_myDiv");
    if (elem.style.display == 'none') {
      elem.style.display = '';
    } else {
      elem.style.display = 'none';
    }
  }
</script>