<table class="general">

  <tr>

    <th>#</th>
    <th>Topic name</th>
    <th>Submission deadline</th>
    <th>Review deadline</th>
    <%for i in 2..review_rounds%>
      <th>Submission deadline <%=i%></th>
      <th>Review deadline <%=i%></th>
    <%end%>
  </tr>
  <% i=0 %>

  <% for i in 0..(@assignment.sign_up_topics.size - 1) %>
    <tr>
      <td><%= @assignment.sign_up_topics[i].topic_identifier %><br/>
        <%= check_box_tag 'selected_ids[]', value = i ,checked = false, class: 'chkbox' -%>
      </td>

      <td><%= @assignment.sign_up_topics[i].topic_name %></td>
      <% for review_round in 1..review_rounds %>
        <% topic_id = @assignment.sign_up_topics[i].id %>
        <td><%= text_field :due_date, (topic_id.to_s + '_submission_' + review_round.to_s + '_due_date').to_s, size: 20, value: check_topic_due_date_value(assignment_submission_due_dates, topic_id, 1, review_round) %></td>
        <td><%= text_field :due_date, (topic_id.to_s + '_review_' + review_round.to_s + '_due_date').to_s, size: 20, value: check_topic_due_date_value(assignment_review_due_dates, topic_id, 2, review_round) %></td>
      <%end%>
    </tr>
  <% end %>
</table>
<br/>


<h4>New deadline for selected topics</h4>
<table class="general">
  <tr>
    <th> New submission deadline</th>
    <th> New review deadline</th>
    <%for i in 2..review_rounds%>
        <th>New submission deadline <%=i%></th>
        <th> New Review deadline <%=i%></th>
    <%end%>
  </tr>
  <tr>
<% for review_round in 1..review_rounds %>
    <% topic_id = @assignment.sign_up_topics[get_latester_topic_deadline(assignment_submission_due_dates,@assignment.sign_up_topics)].id %>
    <td><%= text_field :due_date, ('selected_topics_submission_' + review_round.to_s + '_due_date').to_s, size: 20, value: check_topic_due_date_value(assignment_submission_due_dates, topic_id, 1, review_round) %></td>
    <td><%= text_field :due_date, ('selected_topics_review_' + review_round.to_s + '_due_date').to_s, size: 20, value: check_topic_due_date_value(assignment_review_due_dates, topic_id, 2, review_round) %></td>
<%end%>
  </tr>
</table>
<br/>


<%= submit_tag "Save start/due dates" %>

<script type="text/javascript">
$(document).ready(function() {
var $chkboxes = $('.chkbox');
var lastChecked = null;

$chkboxes.click(function(e) {
if(!lastChecked) {
lastChecked = this;
return;
}

if(e.shiftKey) {
var start = $chkboxes.index(this);
var end = $chkboxes.index(lastChecked);

$chkboxes.slice(Math.min(start,end), Math.max(start,end)+ 1).prop('checked', lastChecked.checked);

}

lastChecked = this;
});
});
</script>
