<table class="general">
  <tr>
    <th>#</th>
    <th>Topic name</th>
    <th>Submission deadline</th>
    <th>Review deadline</th>
    <%for i in 2..review_rounds%>
      <th>Submission deadline <%=i%></th>
      <th>Review deadline <%=i%></th>
    <%end%>
  </tr>
  <% i=0 %>
  <% for i in 0..(@assignment.sign_up_topics.size - 1) %>
    <tr>
      <td><%= @assignment.sign_up_topics[i].topic_identifier %></td>
      <td><%= @assignment.sign_up_topics[i].topic_name %></td>
      <% for review_round in 1..review_rounds %>
        <% topic_id = @assignment.sign_up_topics[i].id %>
        <td><%= text_field :due_date, (topic_id.to_s + '_submission_' + review_round.to_s + '_due_date').to_s, size: 20, value: check_topic_due_date_value(assignment_submission_due_dates, topic_id, 1, review_round) %></td>
        <td><%= text_field :due_date, (topic_id.to_s + '_review_' + review_round.to_s + '_due_date').to_s, size: 20, value: check_topic_due_date_value(assignment_review_due_dates, topic_id, 2, review_round) %></td>
      <%end%>
    </tr>
  <% end %>
</table>
<br/>
<%= submit_tag "Save start/due dates" %>

<script>
jQuery("input[id^='due_date_']").datetimepicker({
            dateFormat: 'yy/mm/dd',
            timeFormat: 'HH:mm:ss',
            controlType: 'select',
            timezoneList: [
                { value: -000, label: 'GMT'},
                { value: -300, label: 'Eastern'},
                { value: -360, label: 'Central' },
                { value: -420, label: 'Mountain' },
                { value: -480, label: 'Pacific' }
            ]
        });
</script>