<table class="general">
  <tr>
    <th>#</th>
    <th>Topic name</th>
    <th>Submission deadline</th>
    <th>Review deadline</th>

    <%for i in 2..@assignment.get_review_rounds%>
      <th>Resubmission deadline <%=i%></th>
      <th>Review deadline <%=i%></th>
    <%end%>
    <th>Metareview deadline</th>
  </tr>
  <% i=0 %>
  <%@resubmission_rounds = @assignment.get_review_rounds%>

  <% for i in 0..(@duedates.length - 1) %>
    <tr>
      <td><%= @duedates[i]['topic_identifier'] %></td>
      <td><%= @duedates[i]['topic_name'] %></td>
      <%for j in 1..@resubmission_rounds%>
        <td>
          <%= text_field 'submission_' + j.to_s, :size=>20, :id => 'due_date_' + @duedates[i]['id'].to_s + '_submission_' + j.to_s + '_due_date' , :onclick => "NewCal('due_date_" + @duedates[i]['id'].to_s + "_submission_" + j.to_s + "_due_date','YYYYMMDD',true,24); return false;" %>
        </td>
        <td>
          <%= text_field 'review_' + j.to_s, :size=>20, :id => 'due_date_' + @duedates[i]['id'].to_s + '_review_' + j.to_s + '_due_date', :onclick => "NewCal('due_date_" + @duedates[i]['id'].to_s + "_review_" + j.to_s + "_due_date','YYYYMMDD',true,24); return false;" %>
        </td>
      <%end%>
      <td>
        <%= text_field 'submission_' + (j+1).to_s, :size=>20, :id => 'due_date_' + @duedates[i]['id'].to_s + '_submission_' + (j+1).to_s + '_due_date' , :onclick => "NewCal('due_date_" + @duedates[i]['id'].to_s + "_submission_" + (j+1).to_s + "_due_date','YYYYMMDD',true,24); return false;" %>
      </td>
    </tr>
    <% i=i+1 %>
  <% end %>
</table>
<br/>
<%= submit_tag "Save start/due dates" %>

