<%= render :partial => '/sign_up_sheet/base_table_line'%>

<input name="hidden_topic_id" type="hidden" value=<%=topic.id %> >

<td id='topic_id'><%= topic.topic_identifier %></td>
<td><input id='topic_check' type="checkbox" name="Selected-Box"></td>
<td><%= render :partial => '/sign_up_sheet/topic_names', :locals => {:i => i, :topic=>topic} %></td>
<% if not @assignment.is_intelligent or ['Instructor', 'Teaching Assistant', 'Administrator', 'Super-Administrator'].
  include? current_user_role?.name %>
  <% if @assignment.microtask? %>
      <td align="center"><%= topic.micropayment %></td>
  <% end %>

  <% if @assignment.vary_by_topic %>
    <% table_id = "topic_questionnaire_table" + i.to_s %>
    <td>
      <table id = <%=table_id %>>
        <tr>
          <script>
              <% if @assignment.vary_by_round %>
              <% 1.upto(@assignment.rounds_of_reviews) do |round| %>
              <% assignment_questionnaire = @assignment_form.assignment_questionnaire('ReviewQuestionnaire', round, topic.id) %>
              <% questionnaire = @assignment_form.questionnaire(assignment_questionnaire, 'ReviewQuestionnaire') %>
              addQuestionnaireTableRowInTopics(
                  'ReviewQuestionnaire',
                  <%= questionnaire.to_json.html_safe %>,
                  <%= questionnaire_options('ReviewQuestionnaire').to_json.html_safe %>,
                  <%= round %>,
                  <%= i %>
              );
              <% end %>
              <% else %>
              <% assignment_questionnaire = @assignment_form.assignment_questionnaire('ReviewQuestionnaire', nil, topic.id) %>
              <% questionnaire = @assignment_form.questionnaire(assignment_questionnaire, 'ReviewQuestionnaire') %>
              addQuestionnaireTableRowInTopics(
                  'ReviewQuestionnaire',
                  <%= questionnaire.to_json.html_safe %>,
                  <%= questionnaire_options('ReviewQuestionnaire').to_json.html_safe %>,
                  null,
                  <%= i %>
              );
              <% end %>
          </script>
        </tr>
      </table>
    </td>
  <% end %>

  <td align="center"><%= topic.max_choosers %></td>
  <%= render :partial => '/sign_up_sheet/available_slots', :locals => {:topic=>topic} %>
  <%= render :partial => '/sign_up_sheet/num_waiting', :locals => {:topic=>topic} %>
  <% if @assignment.current_stage_name(@topic_id) != 'Finished' %>
      <td align="center"> <%= render :partial => '/sign_up_sheet/actions', :locals => {:i=>i,:topic=>topic, :is_suggested_topic=>is_suggested_topic ||= false} %> </td>
  <% end %>
  <td align="center">
  <% if SignUpSheet.has_teammate_ads?(topic.id) %>
      <%# link_to :controller => 'sign_up_sheet', :action => 'show_team', :assignment_id=>params[:id], :id=>topic.id do %>
      <%= link_to image_tag('ad_horn.png', :border => 0, :title => 'Ad', :align => 'middle', :style => 'width: 24px; height:24px'), :controller=>'sign_up_sheet', :action=> 'show_team', :assignment_id=>@assignment.id, :id=>topic.id%>
  <% end %>
  </td>
<% end %>