<td><%= topic.topic_identifier %></td>
<td><%= render :partial => '/sign_up_sheet/topic_names', :locals => {:i => i, :topic=>topic} %></td>

<% if @assignment.is_microtask? %>
  <td align="center"><%= topic.micropayment %></td>
<% end %>

<td align="center"><%= topic.max_choosers %></td>
<%= render :partial => '/sign_up_sheet/available_slots', :locals => {:topic=>topic} %>

<%= render :partial => '/sign_up_sheet/num_waiting', :locals => {:topic=>topic} %>
<td align="center"><%= render :partial => '/sign_up_sheet/actions', :locals => {:i=>i,:topic=>topic} %></td>


<% if @assignment.has_partner_ads?(params[:id]) %>
  <td align="center">
    <% signed_up_team =SignedUpUser.find_by_topic_id(topic.id)%>
    <% if signed_up_team!=nil %>
      <% team_id=signed_up_team.creator_id %>
      <% if Team.find(team_id).advertise_for_partner?   %>
        <%# link_to :controller => 'sign_up_sheet', :action => 'show_team', :assignment_id=>params[:id], :id=>topic.id do %>

          <%= link_to image_tag('ad.png', :border => 0, :title => 'Ad', :align => 'middle'), :controller=>'sign_up_sheet', :action=> 'show_team', :assignment_id=>params[:id], :id=>topic.id%>

        <% end %>
      <% end %>
<% end %>
