<td><%= topic.topic_identifier %></td>
<td><%= render :partial => 'topic_names', :locals => {:i => i, :topic=>topic} %></td>

<% if @assignment.is_microtask? %>
    <td align="center"><%= topic.micropayment %></td>
<% end %>

<td align="center"><%= topic.max_choosers %></td>
<%= render :partial => 'available_slots', :locals => {:topic=>topic} %>

<%= render :partial => 'num_waiting', :locals => {:topic=>topic} %>

<% if @assignment.has_partner_ads?(params[:id]) %>
 <td align="center">
   <% if !(participant = Participant.find_by_topic_id(topic.id)).nil? %>
      <% if Team.find(participant.team.id).advertise_for_partner?   %>
          <%= link_to image_tag("ad.png", :height => 25, :width => 25, :alt=>'Advertise for partners'), :controller => 'sign_up_sheet', :action => 'team_details', :assignment_id=>params[:id], :id=>topic.id %>
      <% end %>
   <% end %>
 </td>
<% end %>
