<!--Only in assignment#edit page, topic name has link on it. In students' sign_up_sheet page, topic name should be plain text.-->
<% if params[:controller] == "assignments" and params[:action] == "edit"%>
  <a href="#<%= i %>" onClick="toggleSingleTeamAndMember(<%= i %>)">
    <span class="inline" id="<%= i %>_show"><%= topic.topic_name %></span>
    <span class="inline" id="<%= i %>_hide" style="display: none"><%= topic.topic_name %></span>
  </a>
<% else %>
    <span class="inline" id="<%= i %>_show"><%= topic.topic_name %></span>
<% end %>

<!--if 'Has teams' is not checked, the UI should not show the team name on the topic list.-->

<div id="<%= i %>_myDiv">
<!--Though called participants, @participants are actually records in signed_up_teams table-->
  <% if !@participants.nil? && @participants.size > 0 %>
    <% chooser_present = false %>
    <% for participant in @participants %>
      <% if topic.id == participant.topic_id %>
        <% chooser_present = true %>

        <% if(@assignment.max_team_size > 1)%>
          <br/>
          <b><%= participant.team_name_placeholder%></b>
          <br/>
          <%= participant.user_name_placeholder%>
        <% else %>
          <%= participant.user_name_placeholder%>
        <% end %>
        <% if participant.is_waitlisted == true %>
          <font color='red'>(waitlisted)</font>
        <% end %>
        <br/>
      <% end %>
    <% end %>
    <% if chooser_present == false %>
      No choosers.
    <% end %>
    <br/>
  <% elsif !waitlisted_teams_members.nil? && !confirmed_teams_members.nil? && confirmed_teams_members.include?(session[:user].id) %>
    <br/><span style="color:red">Waitlist:</span><br/>
    <% waitlisted_teams_members.each_with_index do |team, index| %>
      <span><b><%= waitlisted_team_desc[index].name %></b></span>
      <br/>
      <% batch_names = team.map{|member| member[0].name}.join(', ')%>
      <% batch_ids = team.map{|member| member[0].id}%>
      <% student_id = Participant.where(user_id: session[:user].id, parent_id: @assignment.id, type: :AssignmentParticipant).first.id%>
      <% if team.count <= team_vacancy %>
	<span style="width:100%"><%= batch_names %></span>
	<%= form_tag :controller => 'invitation', :action => 'batch_create' do %>
	  <%= hidden_field_tag 'team_id', confirmed_teams[0].team_id %>
	  <%= hidden_field_tag 'student_id', student_id %>
	  <%= hidden_field_tag 'invitees[]', batch_names %>
	  <%= hidden_field_tag 'assignment_id', @assignment.id %>
	  <%= hidden_field_tag 'referrer', "signupsheet" %>
	  <%sent_inv = Invitation.where(from_id: session[:user].id, assignment_id:@assignment.id, to_id: batch_ids)%>
	  <%if sent_inv.count == batch_ids.count%>
	    <span style='color:red'>(Pending Invitation)</span>
	  <%else%>
	    <input type='submit' value='Invite'/>
	  <% end %>
	<% end %>
      <% else %>
	<span><%= batch_names %></span>
      <% end %>
      <br/><br/>
    <% end %>
  <% end %>
</div>
