&nbsp;&nbsp;&nbsp;<a href="#" id="topic_description_<%= i %>Link" name="topic_description_<%= i %>Link" onClick="toggleElement('topic_description_<%= i %>','topic_description');return false;">show description</a><br/>	     
<div id="topic_description_<%= i %>" style="display:none;padding:12px">
          <br/><%= "Description: #{topic_desc}" %>		  
</div> 
