<%= error_messages_for 'topic' %>

<!--[form:topic]-->
<p><label for="topic_identifier">Topic id</label><br/>
  <%= text_field 'topic', 'topic_identifier' %></p>

<table>
  <tr>
    <td><label for="topic_name">Topic name</label></td>
    <td><label for="category">Topic category</label><br/></td>
  </tr>
  <tr>
    <td><%= text_field 'topic', 'topic_name' %></td>
    <td><%= text_field 'topic', 'category' %></td>
  </tr>
</table>

<p><label for="max_choosers">Maximum choosers</label><br/>
  <%= text_field 'topic', 'max_choosers' %></p>

<% if topic.assignment.is_microtask? %>  
<p><label for="micropayment">Micropayment</label><br/>
    <%= text_field 'topic', 'micropayment' %></p>

    <p><label for="micropayment">Weight</label><br/>
      <% if @weight %>
        <%= text_field_tag :topic_weight, params[:topic_weight], :value => @weight %></p>
      <% else %>
          <%= text_field_tag :topic_weight, params[:topic_weight], :value => 0 %></p>
      <% end %>
<% end %>

<!--[eoform:topic]-->
<br/>
