<<<<<<< HEAD
<%= error_messages_for 'topic' %>

<!--[form:topic]-->
<p><label for="topic_identifier">Topic id</label><br/>
  <%= text_field 'topic', 'topic_identifier' %></p>

<table>
  <tr>
    <td><label for="topic_name">Topic name</label></td>
    <td><label for="category">Topic category</label><br/></td>
  </tr>
  <tr>
    <td><%= text_field 'topic', 'topic_name' %></td>
    <td><%= text_field 'topic', 'category' %></td>
  </tr>
</table>

<p><label for="max_choosers">Maximum choosers</label><br/>
  <%= text_field 'topic', 'max_choosers' %></p>


<!--[eoform:topic]-->
=======
<%= error_messages_for 'topic' %>

<!--[form:topic]-->
<p><label for="topic_identifier">Topic id</label><br/>
  <%= text_field 'topic', 'topic_identifier' %></p>

<table>
  <tr>
    <td><label for="topic_name">Topic name</label></td>
    <td><label for="category">Topic category</label><br/></td>
  </tr>
  <tr>
    <td><%= text_field 'topic', 'topic_name' %></td>
    <td><%= text_field 'topic', 'category' %></td>
  </tr>
</table>

<p><label for="max_choosers">Maximum choosers</label><br/>
  <%= text_field 'topic', 'max_choosers' %></p>


<!--[eoform:topic]-->
>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
<br/>