<<<<<<< HEAD
=======
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 126e61ecf11c9abb3ccdba784bf9528251d30eb0
<h1>Edit topic</h1>

<% form_tag :action => 'update'do %>
  

  <%= render :partial => 'topic' %>
  <%= hidden_field_tag('id', params[:id]) %>
  <%= hidden_field_tag('assignment_id', params[:assignment_id]) %>
  <%= submit_tag "Update"%>
<% end %>

<<<<<<< HEAD
=======
=======
<h1>Edit topic</h1>

<% form_tag :action => 'update'do %>
  

  <%= render :partial => 'topic' %>
  <%= hidden_field_tag('id', params[:id]) %>
  <%= hidden_field_tag('assignment_id', params[:assignment_id]) %>
  <%= submit_tag "Update"%>
<% end %>

>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
=======
<h1>Edit topic</h1>

<% form_tag :action => 'update'do %>
  

  <%= render :partial => 'topic' %>
  <%= hidden_field_tag('id', params[:id]) %>
  <%= hidden_field_tag('assignment_id', params[:assignment_id]) %>
  <%= submit_tag "Update"%>
<% end %>

>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
>>>>>>> 126e61ecf11c9abb3ccdba784bf9528251d30eb0
<%= link_to 'Back', :action => 'add_signup_topics', :id => params[:assignment_id]%>