<% @assignment = Assignment.find(params[:assignment_id]) %>
<h1>Signup sheet for <%= @assignment.name %> assignment</h1>

<table class="general">
  <tr><%= render :partial => 'table_header' %></tr>
  <% if !@selected_topics.nil? && @selected_topics.size != 0 %>
    <b>Your topic(s):</b>
    <% for selected_topic in @selected_topics %>
      <br/><%= selected_topic.topic_name %>
    <% if selected_topic.is_waitlisted == true %>
      <font color='red'>(waitlisted)</font>
    <% end %>
  <% end %>
<% end %>
<br/><br/>

<% i=1 %>
<% for topic in @sign_up_topics %>
  <% if !@selected_topics.nil? && @selected_topics.size != 0 %>
    <% for selected_topic in @selected_topics %>
      <% if selected_topic.topic_id == topic.id and !selected_topic.is_waitlisted %>
        <tr bgcolor="yellow">
        <% elsif selected_topic.topic_id == topic.id and selected_topic.is_waitlisted%>
          <tr bgcolor="lightgray">
          <% else %>
            <tr>
            <% end %>
          <% end %>
        <% else %>
          <tr>
          <% end %>
          <% is_suggested_topic = false %>
          <%= render :partial => 'table_line', :locals => {:i=>i, :topic=>topic, :is_suggested_topic=>is_suggested_topic} %>
        </tr>
        <% i=i+1 %>
      <% end %>
</table>
<br/><br/>

<% if SignUpTopic.has_suggested_topic?(@assignment.id) %>
  <h2>Your approved suggested topic</h2>
  <table class="general">
    <tr><%= render :partial => 'table_header' %></tr>
  <br/>
  <% i=1 %>
  <%
    team_id = TeamsUser.team_id(@assignment_id, session[:user].id)
    teams_users = TeamsUser.where(team_id: team_id)
    teams_users_array = Array.new
    teams_users.each do |teams_user|
      teams_users_array << teams_user.user_id
    end
      @suggested_topics = SignUpTopic.where(assignment_id: @assignment_id, private_to: teams_users_array)
  %>
  <%if !@suggested_topics.nil? %>
    <% @suggested_topics.each do |topic| %>
      <tr>
        <% is_suggested_topic = true %>
        <%= render :partial => 'table_line', :locals => {:i=>i, :topic=>topic, :is_suggested_topic=>is_suggested_topic} %>
      </tr>
      <% i=i+1 %>
    <% end %>
  <% end %>
  </table>
<% end %>

<% session[:return_to] = request.url %>
<br/><br/>
<a href="javascript:history.back()">Back</a>
<br/>
