<h1>New topic</h1>

<%= form_tag :action => 'create' do %>


  <%= render :partial => 'topic', topic: @topic %>
  <%= hidden_field_tag('id', @id) %>
  <%= submit_tag "Create"%>
<% end %>

<%= link_to 'Back', edit_assignment_path(@id, anchor: 'tabs-5') %>
