<h1>New topic</h1>

<%= form_tag :action => 'create' do %>


  <%= render :partial => 'topic', topic: @topic %>
  <%= hidden_field_tag('id', @id) %>
  <%= submit_tag "Create", id: 'createTopic', :onclick  => 'validateTopicCreation();'%>
<% end %>

<%= link_to 'Back', edit_assignment_path(@id, anchor: 'tabs-5') %>


<script>
	var loadTime;
	$(document).ready(function () {
	    loadTime = 1;
	});
	function showZeroSlotWarning(){
		let message = ''; // Start with an empty message

		if (loadTime == 1) {
			if ($('#topic_max_choosers').val() == 0) {
				message = 'If you create a topic with 0 slots, students cannot assign this topic.';
			}

			if ($('#topic_mentor_id').length > 0 && $('#topic_mentor_id').val() !== "") {
				if (!/^\d+$/.test($('#topic_mentor_id').val())) {
					message = 'Invalid Mentor ID. Please enter a valid id.';
				}
			}
			if (message !== '') {
				$('#createTopic').attr('confirm', message);
			}
		}
		loadTime += 1;
	};
</script>