<% session[:return_to] = request.url %>
<% if flash[:notice] != nil and flash[:notice].strip != "" %>
       <div class="flash_error">
       <%= flash[:notice] %>
       </div>
<% end %>

<h2>Reviews for "<%= @assignment.name %>"</h2>

<!-- add headers that provide information regarding review numbers -->
<% if @assignment.num_reviews_allowed.nil? || @assignment.num_reviews_allowed == -1%>
    <h4>Your instructor expects you to do <%= @assignment.num_reviews_required %> reviews. You are not allowed to do any extra reviews. </h4>
<% elsif @assignment.num_reviews_allowed == @assignment.num_reviews_required %>
    <h4>You should perform exactly <%= @assignment.num_reviews_allowed %> reviews </h4>
<% else %>
    <h4>You may perform between <%= @assignment.num_reviews_required %> and <%= @assignment.num_reviews_allowed %> reviews</h4>
<% end %>
<h4>You are required to do <%= @assignment.num_reviews_required %> reviews</h4>
<h4> Number of reviews left: <%= @assignment.num_reviews_allowed - @num_reviews_completed %></h4>

# -- table with reviews available to complete -->
<table>
  <% review_no = 1 %>
  <% title = 'Review' %>

  <% @review_mappings.each do |map| %>
    <% # Create sorted_response array to store participant information(such as topic_id and topic) %>
    <% @sorted_responses = [] %>
    <% team = AssignmentTeam.find(map.reviewee_id) %>
    <% participant = team.participants.first %>

    <% if participant %>
      <% topic_id = SignedUpTeam.topic_id(participant.parent_id, participant.user_id) %>
      <tr>
        <%= display_topic_and_participant(title, review_no, topic_id, assignment, participant) %>
        
        <% latest_submission = team.most_recent_submission %>
        <td>&nbsp;</td>

        <% if !map.response.empty? && latest_submission %>
          <% # Queries the database for Response records linked to a specific map by map.id,then converts the retrieved collection into an array. %>
          <% @sorted_responses = Response.where(map_id: map.id).to_a %>
          <% #Set flag to indicate if the responses array is not empty and populate the map with the topic_id and topic%>
          <% array_not_empty = @sorted_responses.present? ? 1 : 0 %>

          <% if array_not_empty == 1 %>
            <% # the latest should be at the last %>
            <% @sorted_responses = @sorted_responses.sort_by {|obj| obj.updated_at} %>
            <% @latest_response = @sorted_responses.last %>

            # Determine the round of the latest response: retrieve it from the response if available, else use AssignmentDueDate. %>
            <% last_response_round = @latest_response.round.nil? ? AssignmentDueDate.done_in_assignment_round(@assignment.id, @latest_response) : @latest_response.round %>
            <% current_round = @assignment.number_of_current_round(topic_id) %>

            <td>
              <%= link_to "View", {:controller => 'response', :action => 'view', :id => @latest_response.id} %>
            </td>

            <% if @assignment.current_stage(topic_id) != "Finished" %>
              <td><%= render_not_finished_response_links_and_info(@assignment, topic_id, last_response_round, current_round, @latest_response, latest_submission, map) %></td>
            <% elsif @assignment.current_stage(topic_id) != "Complete" && @assignment.can_review(topic_id) && latest_submission %>
              <td><%= link_to "Begin", {:controller => 'response', :action => 'new', :id => map.id} %></td>
              <td>&nbsp;&nbsp;</td>
            <% else %>
              <td> Work has not yet been submitted for Review <%= review_no %></td>
            <% end %>

            <% review_no += 1 %>
          <% end %> <!-- This end closes the if block for array_not_empty == 1 -->
        <% end %> <!-- This end closes the if block for !map.response.empty? && latest_submission -->
      </tr>
    <% end %> <!-- This end closes the if block for participant -->
  <% end %> <!-- This end closes the loop for @review_mappings.each -->
</table>
<br>
<BR/>
<%= link_to "Back", :controller=>'student_task', :action => 'view', :id => @participant.id %>