<h1>Delete an existing questionnaire</h1>

<% form_tag({:action=>'delete_questionnaire', :id=>@questionnaire.id}) do %>
  	<%= @questionnaire.name.capitalize %> is used by the following assignments.  Are you sure you want to delete it?<br/><br/>
	<table>
	   <tr>
	     <th>Name&nbsp;&nbsp;</th><th>Directory path</th>
	   </tr>
	   <% for assignment in @questionnaire.assignments %>
		 <tr>
		   <td><%= assignment.name %></td>
		   <td><%= assignment.directory_path %></td>
		 </tr>
		<% end %>
	</table>
	<br />
	<%= submit_tag "Delete questionnaire", :name=>"delete" %>

<% end %>
<br />
<%= link_to 'Back', :action => 'list' %>
