<%= render :partial => 'scripts' %>
<h1>Edit <%= @questionnaire.display_type %></h1>


<% form_tag({:action=>'edit', :id=>@questionnaire.id}, :multipart => true)do %>
	<%= render :partial => 'questionnaire' %>
	
	<%= submit_tag "Save #{@questionnaire.display_type.downcase}", :name=>"save" %>
    <input style="margin-left:36em" type="submit" name="view_advice" value="View advice"/>	

  	
	<%if @questionnaire.type == "QuizQuestionnaire" %>
	<h4>Export quiz in specific formats </h4>
	<select id="QuizFormat" name="Format" >
		<option value="GIFT", selected="selected">MOODLE GIFT</option>
		<option value="txt" >BLACKBOARD TXT</option>
	</select>
	<%= submit_tag "Export Quiz ", :name=>"export", :controller =>"questionnaire", :action => "edit", :id=>"export"%>
	<%else%>
	<h4>Import/Export (from/to CSV format) for quiz specific formats mentioned</h4>
	<input type="submit" name="import" value="Import questions"/>
  	<input type="file" name="csv" />
	<%= submit_tag "Export questions", :name=>"export" %>
	<%end%>
  	<br />

  	
  	<br />
	<%end%>


<% if @questionnaire.type == "QuizQuestionnaire" %>
	<%= link_to 'Back', :controller => 'submitted_content', :action => 'edit', :id => @questionnaire.get_participant_by_user_id(session[:user].id).id %>
<% else %>
	<%= render :partial => '/shared_scripts/back' %>
<% end %>