<h1><%= @questionnaire.display_type %>: <%= @questionnaire.name %></h1>
<BR/>
<% if @questionnaire.type == "QuizQuestionnaire" %>
<TABLE>
<TR><TH align="left" width="100%">Questions</TH></TR>
  <% i = 1 %>
  <% questions = Question.find_all_by_questionnaire_id(@questionnaire.id) %>
  <% for question in questions %>
    <TR><TD align="left"><%=i%>.&nbsp;<%= question.txt %></TD></TR>
    <% question_advices = QuestionAdvice.find_all_by_question_id(question.id) %>
    <% for question_advice in question_advices %>
      <TR><TD align="left">&nbsp;&nbsp;&nbsp;&nbsp;<%= question_advice.advice %>
           <% if question_advice.score == 1 %>
             &nbsp;(Correct Answer)
           <% end %>
          </TD></TR>
    <% end %>
    <% i += 1 %>
  <% end %>
</TABLE>
<BR/>
<%= link_to "Back", :controller => 'submitted_content', :action => 'edit', :id => @participant.id %>
<% else %>
<B>Created by:</B> <%= link_to @questionnaire.instructor.name,"mailto:"+@questionnaire.instructor.email %><BR/>
<B>Created at:</B> <%= @questionnaire.created_at %><BR/>
<B>Last modified at:</B> <%= @questionnaire.updated_at %>
<BR/><BR/>
<TABLE>
<TR><TH align="left" width="60%">Question</TH><TH align="left">Type</TH><TH>Weight</TH><TH>Score Range</TH></TR>
<% for question in @questionnaire.questions %>
<TR><TD align="left"><%= question.txt %></TD>
    <TD align="left"><% if question.true_false %>True/False<% else %>Multiple Choice<% end %></TD>
    <TD align="center"><%= question.weight %></TD>
    <TD align="center"><% if question.true_false %>&nbsp;<% else %><%= @questionnaire.min_question_score %> to <%= @questionnaire.max_question_score %><% end %></TD>
</TR>
<% end %>
</TABLE>
<BR/>
<%= link_to "Back", :controller => 'tree_display', :action => 'list' %>
<% end %>