<nav role="navigation" class="navbar navbar-default navbar-static-top navbarposition">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= image_tag "logo.png", height: '65'%>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">

      <ul class="nav navbar-nav menuposition">
      <% if session[:menu] %>
            <!-- if student_view is inactive (session[:flip_user] is not set to true),
                 show the standard navigation menu -->
          <% if !session[:flip_user] || session[:flip_user].nil?  %>
              <%= render :partial => 'menu_items/suckerfish',
                           :locals => { items: session[:menu].get_menu(0) - [59], level: 0 } %>
          <!-- if student_view is active for instructor, render student view navigation menu,
               including the Instructor View button -->
          <% elsif session[:user].role.name == 'Instructor' %>
              <% session[:menu] = Role.student.cache[:menu] %>
              <%= render :partial => 'menu_items/suckerfish',
                         :locals => { items: session[:menu].get_menu(0), level: 0 } %>
              <% session[:menu] = Role.instructor.cache[:menu] %>
              <%= render :partial => 'menu_items/suckerfish',
                         :locals => { items: session[:menu].get_menu(0) & [59], level: 0 } %>
              <script>
                  $("[title='Pending_surveys']").prop('href', '/response/pending_surveys');
              </script>
          <!-- otherwise, render standard student view for non-instructors-->
          <% else %>
              <%= render :partial => 'menu_items/suckerfish',
                         :locals => { items: session[:menu].get_menu(0), level: 0 } %>
          <% end %>
      <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
            <% if session[:super_user] %>
                <li class="impersonate-box">
                  <%= form_for :impersonate, url: '/impersonate/impersonate', html: {id: 'impersonate-form'} do |f| %>
                      <div class="input-group">
                        <%= f.text_field :name, {id: 'inputImpersonateBox', class: 'form-control', placeholder: "impersonate..."} %>
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" id="impersonate-button">Revert</button>
                        </span>
                      </div>
                  <% end %>
                </li>
            <% end %>
            <% if User.anonymized_view?(session[:ip]) %>
                <li id="anonymized-view">
                  <%= image_tag "spy.png", height: '40'%>
                  <span>Anonymized View <a href="/users/set_anonymized_view"><%= image_tag "close.png", height: '20'%></a></span>
                </li>
            <% end %>
            <li id="user-label">
              <span >User: <%= current_user.name(session[:ip]) %></span>
            </li>
            <li class="divider-vertical"></li>
            <li class="right-most logout-box">
              <%= link_to "Logout", {controller: "auth", action: "logout"}, method: :post %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<script type="text/javascript">
    $(document).ready(function(){
      $('#inputImpersonateBox').keyup(function(){
        if($('#impersonate-button').text() == 'Revert' && $('#inputImpersonateBox').val().trim() != '' )
          $('#impersonate-button').text('Impersonate');
        else if($('#impersonate-button').text() == 'Impersonate' && $('#inputImpersonateBox').val().trim() == '')
          $('#impersonate-button').text('Revert');
      });
    });

    jQuery("#impersonate-button").click(function(event) {
        jQuery("#impersonate-form").submit()
    });

    $(function() {
        $('button.navbar-toggle').click(function() {
            if ($('.container').css('margin-top') === '-30px') {
                $('.container').css('margin-top', '+=255');
            } else {
                $('.container').css('margin-top', '-30px');
            }
        });
    });
</script>
