<h1>Editing Research Paper</h1>

<%= render 'form' %>
<%= puts "***************"%>
<%= puts session[:user_id] %>
<%= link_to 'Add Contributors', conference_review_signup_path %>
<%= link_to 'Show', @research_paper %> |
<%= link_to 'Back', research_papers_path %>
