<p id="notice"><%= notice %></p>

<h2>Listing Research Papers</h2>

<table cellspacing="30">
  <thead>
    <tr>
      <th>Name</th><td>&nbsp;&nbsp;&nbsp;&nbsp; </td>
      <th>Topic</th><td>&nbsp;&nbsp;&nbsp;&nbsp; </td>
      <th>Date</th><td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <th>Conference</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <%# session[:paper_id] = nil %>
  <tbody>
    <% @research_papers.each do |research_paper| %>
      <tr>
        <td><%= research_paper.name %></td><td>&nbsp;&nbsp;&nbsp;</td>
        <td><%= research_paper.topic %></td><td>&nbsp;&nbsp;&nbsp;</td>
        <td><%= research_paper.date %></td><td>&nbsp;&nbsp;&nbsp;</td>
        <td><%= research_paper.conference %></td><td>&nbsp;&nbsp;&nbsp;</td>
        <%# session[:paper_id] = research_paper.id %>
        <td><%= link_to 'Show', :controller => 'research_papers', :action => 'display_paper_commands', :research_paper => research_paper.id, :from => true %></td>
        <td><%#= link_to 'Edit', edit_research_paper_path(research_paper) %></td>
        <td><%#= link_to 'Destroy', research_paper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Research paper', new_research_paper_path %><br>
<br>
<%= link_to 'Log out', conference_review_logout_path, method: :delete %>
