%p#notice= notice

%p
  %b Name:
  = @research_paper.name
%p
  %b Topic:
  = @research_paper.topic
%p
  %b Date:
  = @research_paper.date
%p
  %b Author:
  = @research_paper.author_id
%p
  %b Conference:
  = @research_paper.conference

= link_to 'Edit', edit_research_paper_path(@research_paper)
\|
= link_to 'Back', research_papers_path
