<h2>Section <%=h @section.name %></h2>

<table border="1">

  <tr><th>Section Id</th>
    <td><%= @section.id %></td>
  </tr>

  <tr><th>Name</th>
    <td><%= @section.name %></td>
  </tr>

  <tr><th>Section Description</th>
    <td><%= @section.desc_text %></td>
  </tr>

</table>
<p><%= link_to 'Back', :action => 'new' %> to Add a new Section</p>