<a href="#<%= i %>" onClick="toggleVis('<%=i%>'); return false;">
  <span class="inline" id="<%= i %>_show"><%= topic.topic_name %></span>
  <span class="inline" id="<%= i %>_hide" style="display: none"><%= topic.topic_name %></span>
</a>

<div id="<%= i %>_myDiv" style="display:none">
  <% if !@participants.nil? && @participants.size > 0 %>
      <% chooser_present = false %>
      <% for participant in @participants %>
          <% if topic.id == participant.topic_id %>
              <% chooser_present = true %>
              <%= participant.name %>
              <% if participant.is_waitlisted == true %>
                  <font color='red'>(waitlisted)</font>
              <% end %>
              <br/>
          <% end %>
      <% end %>
      <% if chooser_present == false %>
          No choosers.
      <% end %>
      <br/>
  <% end %>
</div>
