<% form_for(@join_team_request) do |f| %>
  <%= f.error_messages %>


<!--[form:join_team_request]-->

<p><label for="comments">Explain why you want to join the team:</label><br/>
  <%= text_area 'comments', "" %></p>
    <%= hidden_field_tag('assignment_id',params[:assignment_id]) %>
    <%= hidden_field_tag('topic_id',params[:topic_id]) %>
    <%= hidden_field_tag('team_id',params[:team_id]) %>
<p><%= f.submit 'Send Request', :controller=>'join_team_requests', :action=>'create'%>
       </p>
    <br>
<a href="javascript:history.back()">Back</a>

    <!--[eof form:join_team_request]-->
<% end %>