
<% @join_team_request = JoinTeamRequest.find_by_team_id(team_id) %>
<% if @join_team_request != nil %>
<table class="general">
  <tr>
    <th>
      Name
    </th>
    <th width="500">
      Comments
    </th>
    <th>Action</th>
    </tr>
  <tr>
    <td>
        <%= User.find(Participant.find(@join_team_request.participant_id).user_id).name %>
    </td>
    <td width="500">
      <%= @join_team_request.comments  %>
    </td>
    <td>
      <% form_tag :controller => 'invitation', :action => 'create' do %>
        <%= hidden_field_tag 'team_id', team_id %>
        <%= hidden_field_tag 'student_id', teams_user_id %>
        <%= hidden_field_tag 'session[:dummy][:assignment_id]', Participant.find(@join_team_request.participant_id).parent_id %>
        <%= hidden_field_tag 'user[name]', User.find(Participant.find(@join_team_request.participant_id).user_id).name%>
        <input type='submit' value='Invite'/>
      <% end %>
      &nbsp;&nbsp;<%= link_to 'Decline' %>


    </td>
  </tr>
</table>
<%else%>
    You Dont have any requests
<%end%>