<% @join_team_requests = JoinTeamRequest.where(team_id: team_id,status:'P') %>

<% if !@join_team_requests.empty? %>
<h2>Received Requests</h2>
<table style="width:80%" align="center" >
  <tr style="border: 1px outset #000000; ">
    <th class="head">Name</th>
    <th class="head">Comments</th>
    <th class="head">Action</th>
    <th class="head">Sent at</th>
  </tr>

    <% @join_team_requests.each do |join_team_request| %>
      <% if join_team_request.status=='P' %>
        <tr>

          <td>
            <%= User.find(Participant.find(join_team_request.participant_id).user_id).name %>
          </td>
          <td>
            <%= join_team_request.comments %>
          </td>
          <td>
            <table>
              <tr>
                <td>

                  <% if Participant.find(join_team_request.participant_id).team==nil
                       @team_id=0
                       else
                       @team_id=(Participant.find(join_team_request.participant_id).team.id).to_s
                   end%>
                  <% @inviter_user_id=(student_user_id).to_i %>
                  <% @invited_user_id=(Participant.find(join_team_request.participant_id).user_id).to_i %>
                  <% @assignment_id=(Participant.find(join_team_request.participant_id).assignment.id).to_i%>

                  <%= button_to 'Accept', :controller => 'join_team_requests', :action => 'accept', :team_id=>@team_id ,:inviter_user_id=>@inviter_user_id ,:invited_user_id=>@invited_user_id,:invited_assignment_id=>@assignment_id,:id=>join_team_request.id  %>


                </td>
                <td>
                  <%= button_to 'Decline', :controller => 'join_team_requests', :action => 'decline', :id=>join_team_request.id, :teams_user_id=>teams_user_id %>
                </td>
              </tr>
            </table>

          </td>
          <td>
            <%= join_team_request.created_at %>
          </td>
        </tr>
      <% end %>

    <% end %>

  <% end %>
</table>
