<h1>Listing join_team_requests</h1>

<table>
  <tr>
    <th>Participant</th>
    <th>Team</th>
    <th>Comments</th>
    <th>Status</th>
  </tr>

<% @join_team_requests.each do |join_team_request| %>
  <tr>
    <td><%=h join_team_request.participant_id %></td>
    <td><%=h join_team_request.team_id %></td>
    <td><%=h join_team_request.comments %></td>
    <td><%=h join_team_request.status %></td>
    <td><%= link_to 'Show', join_team_request %></td>
    <td><%= link_to 'Edit', edit_join_team_request_path(join_team_request) %></td>
    <td><%= link_to 'Destroy', join_team_request, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New join_team_request', new_join_team_request_path %>