<% form_tag  :action => 'validate_key' do -%>
<h1>Enter Private Key for User <%= @username %></h1>
  <p>
    <%= label_tag "Paste the key text that was emailed/sent to you:" %><br />
    <%= text_area_tag "private_key", nil, :size => "66x10" %>
  </p>

  <p>
    <%= submit_tag 'Verify Key' %>
  </p>
<% end -%>
<%= link_to 'Back', :action => 'view' %>