
<%= error_messages_for(:survey_deployment) %>

<h1> New Survey Deployment </h1>

<% form_tag :action => 'create' do %>
	
	
	<table>
	<tr>
	<td>
		<table>
			<tr>
			<td><label for="start_date">Start Date:</label></td>
			</td>
			<td>
			<input type="text" id="survey_deployment_start_date" name ="survey_deployment[start_date]"/> <img src="/images/cal.gif" onClick="NewCal('survey_deployment_start_date','YYYYMMDD',true,24); return false;">
			</td>
			</tr>
			
			<tr>
			<td><label for="end_date">End Date:</label></td>
			</td>
			<td>
			<input type="text" id="survey_deployment_end_date" name ="survey_deployment[end_date]"/> <img src="/images/cal.gif" onClick="NewCal('survey_deployment_end_date','YYYYMMDD',true,24); return false;">
			</td>
			</tr>
			
			<tr>
			<td><label for="num_of_students">Number of Students:</label></td>
			</td>
			<td>
			<%= text_field 'survey_deployment','num_of_students', "size" => 3, "maxlength" => 2 %> <p>
			</td>
			</tr>
			
			<tr>
			<td><label>Use Random Subset:</label></td>
			</td>
			<td>
			<%= check_box 'random_subset','value' %>
			</td>
			</tr>
			
			<tr>
			<td><label>Total number of students:</label></td>
			</td>
			<td>
			<%= @total_students %>
			</td>
			</tr>
			
			<tr>
			<td><label>Survey Assigned:</label></td>
			</td>
			<td>
			<%= select(:survey_deployment, :course_evaluation_id, @surveys) %>
			</td>
			</tr>
		</table>	
   </td>
   </tr>
   </table>
   <p>
   <%= submit_tag "Add" %>
	
	
	
	
<% end %>
<br />
<%= link_to 'Back', :action => 'list' %>
 
  
  