<<<<<<< HEAD
<h2> Reminder Thread Status </h2>

Current Status:
<b><%= @reminder_thread_status %></b> 
<%= link_to "Toggle", :action=>'toggle_reminder_thread' %><p>
<%= link_to "Back to List" ,:action=>'list' %>
=======
<h2> Reminder Thread Status </h2>

Current Status:
<b><%= @reminder_thread_status %></b> 
<%= link_to "Toggle", :action=>'toggle_reminder_thread' %><p>
<%= link_to "Back to List" ,:action=>'list' %>
>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
