<%= form_tag action: "send_post_request" do %>
	Assignment_id: <%= text_field_tag 'assignment_id' %>
	<%= submit_tag 'Send request' %>
<% end %>
<br/><br/>
<p><%= @request_body %></p>
<p><%= @response_body %></p>
