<%= form_tag action: "send_post_request" do %>
	Assignment_id: <%= text_field_tag 'assignment_id' %>
	<%= submit_tag 'Send request' %>
<% end %>
<br/><br/>
<pre><code id='request'></code></pre>
<pre><code id='response'></code></pre>

<style>
	pre {
	   background-color: ghostwhite;
	   border: 1px solid silver;
	   padding: 10px 20px;
	   margin: 20px; 
	   }
	.json-key {
	   color: brown;
	   }
	.json-value {
	   color: navy;
	   }
	.json-string {
	   color: olive;
	   }
</style>

<script>

	$(document).ready(function beautifyJson() {
		if (!library)
   			var library = {};

		library.json = {
		   replacer: function(match, pIndent, pKey, pVal, pEnd) {
		      var key = '<span class=json-key>';
		      var val = '<span class=json-value>';
		      var str = '<span class=json-string>';
		      var r = pIndent || '';
		      if (pKey)
		         r = r + key + pKey.replace(/[": ]/g, '') + '</span>: ';
		      if (pVal)
		         r = r + (pVal[0] == '"' ? str : val) + pVal + '</span>';
		      return r + (pEnd || '');
		      },
		   prettyPrint: function(obj) {
		      var jsonLine = /^( *)("[\w]+": )?("[^"]*"|[\w.+-]*)?([,[{])?$/mg;
		      return JSON.stringify(obj, null, 3)
		         .replace(/&/g, '&amp;').replace(/\\"/g, '&quot;')
		         .replace(/</g, '&lt;').replace(/>/g, '&gt;')
		         .replace(jsonLine, library.json.replacer);
		      }
		   };

		var request = JSON.parse('<%= @request_body %>');
		var response = JSON.parse('<%= @response_body %>');
		alert(request);
		$('#request').html(library.json.prettyPrint(request));
		$('#response').html(library.json.prettyPrint(response));
	});
</script>