= form_for @grading_history do |f|
  - if @grading_history.errors.any?
    #error_explanation
      %h2= "#{pluralize(@grading_history.errors.count, "error")} prohibited this grading_history from being saved:"
      %ul
        - @grading_history.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :instructor_id
    = f.number_field :instructor_id
  .field
    = f.label :assignment_id
    = f.number_field :assignment_id
  .field
    = f.label :grading_type
    = f.text_field :grading_type
  .field
    = f.label :grade_receiver_id
    = f.number_field :grade_receiver_id
  .field
    = f.label :grade
    = f.number_field :grade
  .field
    = f.label :comment
    = f.text_area :comment
  .actions
    = f.submit 'Save'
