%h1 Listing grading_histories

%table
  %thead
    %tr
      %th Instructor
      %th Assignment
      %th Grade type
      %th Student
      %th Grade
      %th Comment
      %th Timestamp
      %th
      %th
      %th

  %tbody
    - @grading_histories.each do |grading_history|
      %tr
        %td= grading_history.instructor_id
        %td= grading_history.assignment_id
        %td= grading_history.grade_type
        %td= grading_history.student_id
        %td= grading_history.grade
        %td= grading_history.comment
        %td= grading_history.timestamp


%br
