<% record = @grading_histories[0]
  if record == nil
    receiver = ""
    assignment = ""
  else
    if record.graded_item_type == "Submission"
      assignment = "of " + Assignment.where(id: record.assignment_id).pluck(:name).first
    else
      assignment = "of review for " + Assignment.where(id: record.assignment_id).pluck(:name).first
    end

  end
%>
<h3 class="center">Grade History <%= assignment %></h3>

<table class="table table-striped" width="100%">
  <thead>
  <tr>
    <th width="15%">Instructor</th>
    <th width="10%">Grade</th>
    <th width="55%">Comment</th>
    <th width="20%">Graded At</th>
  </tr>
  </thead>
  <!--This is the main view of the table. -->
  <tbody>
  <% @grading_histories.each do |record| %>
      <tr>
        <td><%= User.where(id: record.instructor_id).pluck(:fullname).first %></td>
        <td><%= record.grade %></td>
        <td><%= record.comment %></td>
        <td><%= record.created_at %></td>
      </tr>
  <% end %>
  </tbody>
</table>
