%h1 Listing grading_histories

%table
  %thead
    %tr
      %th Instructor
      %th Assignment
      %th Grading type
      %th Grade receiver
      %th Grade
      %th Comment
      %th
      %th
      %th

  %tbody
    - @grading_histories.each do |grading_history|
      %tr
        %td= grading_history.instructor_id
        %td= grading_history.assignment_id
        %td= grading_history.grading_type
        %td= grading_history.grade_receiver_id
        %td= grading_history.grade
        %td= grading_history.comment
        %td= link_to 'Show', grading_history
        %td= link_to 'Edit', edit_grading_history_path(grading_history)
        %td= link_to 'Destroy', grading_history, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Grading history', new_grading_history_path
