%p#notice= notice

%p
  %b Instructor:
  = @grading_history.instructor_id
%p
  %b Assignment:
  = @grading_history.assignment_id
%p
  %b Grading type:
  = @grading_history.grading_type
%p
  %b Grade receiver:
  = @grading_history.grade_receiver_id
%p
  %b Grade:
  = @grading_history.grade
%p
  %b Comment:
  = @grading_history.comment

= link_to 'Edit', edit_grading_history_path(@grading_history)
\|
= link_to 'Back', grading_histories_path
