%p#notice= notice

%p
  %b Instructor:
  = @grading_history.instructor_id
%p
  %b Assignment:
  = @grading_history.assignment_id
%p
  %b Grade type:
  = @grading_history.grade_type
%p
  %b Student:
  = @grading_history.student_id
%p
  %b Grade:
  = @grading_history.grade
%p
  %b Comment:
  = @grading_history.comment
%p
  %b Timestamp:
  = @grading_history.timestamp

= link_to 'Edit', edit_grading_history_path(@grading_history)
\|
= link_to 'Back', grading_histories_path
