<%= error_messages_for 'topic' %>

<!--[form:topic]-->
<p><label for="topic_identifier">Topic id</label><br/>
  <%= text_field 'topic', 'topic_identifier' %></p>
  

<table>
  <tr>
    <td><label for="topic_name">Topic name</label></td>
    <td><label for="category">Topic category</label><br/></td>
	
	</tr>
  <tr>
    <td><%= text_field 'topic', 'topic_name' %></td>
    <td><%= text_field 'topic', 'category' %></td>
	
	
  </tr>
</table>

<% form_tag  %>
<table>
	<tr>

<br /><br /><td><label for="description">Topic description</label></td>
</tr>

<tr>
<td><%= text_area 'topic', 'description',:cols => 50, :rows => 50 %></td>

  </tr>
</table>

<br /><p><label for="max_choosers">Maximum choosers</label><br/>
  <%= text_field 'topic', 'max_choosers' %></p>


<!--[eoform:topic]-->
<br/>