<%= form_for(@badge_nomination) do |f| %>
  <% if @badge_nomination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@badge_nomination.errors.count, "error") %> prohibited this badge_nomination from being saved:</h2>

      <ul>
      <% @badge_nomination.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :assignment_id %><br>
    <%= f.text_field :assignment_id %>
  </div>
  <div class="field">
    <%= f.label :participant_id %><br>
    <%= f.text_field :participant_id %>
  </div>
  <div class="field">
    <%= f.label :badge_id %><br>
    <%= f.text_field :badge_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
