<BR/>
<% form_tag({:action => 'list'}) do %>
<TD width="5%" align="left"><%= submit_tag "Show all" %></TD>
<% end %>
<BR/>
<% form_tag({:action => 'list'}) do %>
Sort by: 
<select name='sortvar' style="width: 10em">
  <option value='status' <% if @sortvar == 'status'%>selected<% end %>>status</option>
 
  <option value='unityID' <% if @sortvar == 'unityID'%>selected<% end %>>suggestor</option>
  <option value='updated_at' <% if @sortvar == 'updated_at'%>selected<% end %>>date updated</option>
</select>
<select name='sortorder' style="width: 10em">
  <option value='ASC' <% if @sortorder == 'ASC'%>selected<% end %>>ascending</option>
  <option value='DESC' <% if @sortorder == 'DESC'%>selected<% end %>>descending</option>
</select>
</TD>
<TD width="5%" align="left"><%= submit_tag "Sort" %></TD>
</TR>
</TABLE>	
<% end %>

<BR/>
<% form_tag({:action => 'list'}) do %>
Sort by: 
<select name='sortsuggestor' style="width: 10em">
	<option value='' <% if @sortvar == '' %>selected<% end %>>  </option>
	<%@user_unityID.each do |f|%>
  <option value=<%= f %> <% if @sortvar == f %>selected<% end %>><%= f%></option>
  <%end%>
 </select>
<select name='sortstatus' style="width: 10em">
	<option value='' <% if @sortvar == '' %>selected<% end %>>  </option>
  <option value='Approved' <% if @sortorder == 'Approved'%>selected<% end %>>Approved</option>
  <option value='Deferred' <% if @sortorder == 'Deferred'%>selected<% end %>>Deferred</option>
  <option value='Initiated' <% if @sortorder == 'Initiated'%>selected<% end %>>Initiated</option>
  <option value='Rejected' <% if @sortorder == 'Rejected'%>selected<% end %>>Rejected</option>
</select>
</TD>
<TD width="5%" align="left"><%= submit_tag "Sort" %></TD>
</TR>
</TABLE>	
<% end %>
