<!-- Pick a theme, load the plugin & initialize plugin -->

<h1>Award Badges</h1>
<%if !@error%>
  <%= form_tag url_for(action: 'awarding_submit'), method: "post"%>
    <div id="awarding">
      <%= render 'course_badges/awarding_original' %>
    </div>
    <script>
      var scroll_width = document.getElementById("awarding_original").scrollWidth;
      var offset_width = document.getElementById("awarding_original").offsetWidth;

      if(scroll_width>offset_width){
          $('#awarding').html("<%=j render partial: 'award_tabs' %>")
      }

      window.addEventListener("resize", function () {
          var offset_width = document.getElementById("awarding").offsetWidth;
          if(scroll_width>offset_width){
              $('#awarding').html("<%=j render partial: 'award_tabs' %>");
          } else {
              $('#awarding').html("<%=j render partial: 'awarding_original' %>");
          }
      });
    </script>
    </div>
  <%end%>
  <div id="badge" class="largewidth" align="center">
    <button id="myBtn" class="btn btn-primary">Award Badges</button>
  </div>
<br/><br/>
<%= link_to "Back", {:controller => :course, :action => :edit, :id => @course.id} %>