<div id="rdetails">

  <h3> Reviewer details</h3>

  <table width="100%">
    <tr>
      <th align = "right" width="15%"> Full name:</th>
      <td width="35%"> <%= @user.fullname %></td>
      <td rowspan=4 width="50%" align="center"><%= image_tag "blank_profile_pic.jpg", :width=>"100px", :height=>"100px", :border=>1%></td>
    </tr>
    <tr>
      <th align = "right"> User id:</th>
      <td> <%= @user.name %></td>
    </tr>
    <tr>
      <th align = "right"> email:</th>
      <td> <%= @user.email %></td>
    </tr>
    <tr>
      <th align = "right"> Handle:</th>
      <td> <%= @user.handle %></td>
    </tr>

  </table>

</div>

<% def link_time(map_id, round, link) %>
    <% sum_time = 0 %>
    <% links = ResponseTime.where(map_id: map_id, round: round, link: link) %>
    <% links.each do |link_time| %>
        <% individual_time = (link_time.end - link_time.start)/60 %>
        <% sum_time = individual_time + sum_time %>
    <% end %>
    <% return sum_time %>
<% end %>


<div id="responsetime">
  <% reviewee_list = Array.new %>
  <% total_time_list = Array.new %>
  <h3> Response time details</h3>
  <table width="100%">
    <tr>
      <th align="right">Reviewee id </th>
      <th align="right">Total Time (mins)</th>
      <th align="right">Round </th>
      <th align="right">Links</th>
      <th align="right">Time per link (mins)</th>
    </tr>
<% @reviewers = Participant.where(user_id: @user.id) %>
<% @reviewers.each do |reviewer| %> <!-- for reviewer-->
  <% @response_maps = ResponseMap.where(reviewer_id: reviewer.id, reviewed_object_id: @id)  %>
  <% @number_of_rounds = Assignment.find(@id).rounds_of_reviews %>
  <% reviewee_count = 0 %>
  <% @response_maps.each do |map| %>  <!-- for reviewee-->
    <% map_total_time = 0 %>
    <% (1..@number_of_rounds).each do |each_round| %>  <!-- for rounds-->
      <% @responsetime_match = ResponseTime.where(map_id: map.id, round:each_round)%>
      <% @reviewed_object_id = map.reviewed_object_id %>
      <% @reviewee_id = map.reviewee_id %>

      <% link_list = Array.new %>
      <% @count = 0 %>   <!--- To print revieweeId only once-->
      <% @dummy = "      " %>    <!---Empty string as a placeholder-->
      <% @responsetime_match.each do |responsetime_entry| %>
        <% if link_list.include?(responsetime_entry.link) %><!-- pnly unique links per round-->
        <% else %>
            <% link_list.push(responsetime_entry.link) %>
            <tr>
            <% if @count == 0 %>  <!--- print revieweeId,time, round only for the first row-->
              <td><%= @reviewee_id %></td>
              <td id="<%=reviewee_count.to_s %>"></td>
              <td><%= responsetime_entry.round %></td>
            <% else %>        <!--- Else print dummy-->
              <td><%= @dummy %></td>  
              <td><%= @dummy %></td>
              <td><%= " "%></td>
            <%end%>
            <td><%= responsetime_entry.link %></td>
            <% individual_link_time = link_time(responsetime_entry.map_id,responsetime_entry.round,responsetime_entry.link) %>
            <% map_total_time = map_total_time + individual_link_time %>
            <td align="center"><%= sprintf("%.2f",individual_link_time) %></td>
            </tr>
        <% end %>
        <% @count=@count+1 %>
      <%end %>
      <% reviewee_list << @reviewee_id %>
      <% total_time_list << map_total_time %>
      <%reviewee_count=reviewee_count+1%>
    <% end%>
  <% end %>
<% end %>
</table>

<!--- Script to update the total time column after the page load-->
<script type="text/javascript">
window.onload = function () { 
        totalTimeList = <%= total_time_list%>
        revieweeList = <%= reviewee_list%>
        for(i=0;i<totalTimeList.length;i++){
          var id=i.toString();  
          document.getElementById(id).innerHTML=totalTimeList[i];  
        }
        
}  
</script>

</div>
