<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<div>
<!--Zhewei: Both author_feeback and teammate_review popup can use this page.-->
<% if @response_id.nil? %>
  <tr> <td align = "center"><%=t ".no_review_done"%></td> </tr>
  <br/>
  <tr>
    <th align = "left"> <%=t ".reviewer_score"%> </th>
  </tr>
  <tr>
    <td align = "center">--</td>
  </tr>
  <br/>
<% else %>
  <h3> <%=t ".self_review_of"%> <%= @user_fullname %></h3>
  <table>
    <tr>
      <th align = 'left' width = "50%"><%=t ".question"%></th>
      <th width = "5%"> <%=t ".score"%> </th>
      <th width = "45%"> <%=t ".comments"%> </th>
    </tr>
    <% @scores.each do |s|%>
      <tr>
        <td align = 'left'> <%= Question.find(s.question_id).txt %></td>
        <%if Question.find(s.question_id).is_a?(ScoredQuestion) %>
          <td align = 'center'> <%= s.answer %>/<%= @maxscore %></td>
        <%else%>
          <td align = 'center'> <%= sanitize s.answer %></td>
        <%end%>
        <td align = 'left'> <%= sanitize s.comments %> </td>
      </tr>
    <%end%>
    <tr>
      <th><%=t ".other_reviewer_score"%></th>
      <td align = "center"><%= @sum %>/<%= @total_possible %> </td>
      <td align = "left"> = <%= @total_percentage.is_a?(Float)?  sprintf("%.2f", @total_percentage).to_s+"%" :@total_percentage%></td>
    </table>

    <table >
      <tr>
        <th> <%=t ".additional_comments"%></th>
      </tr>
      <tr>
        <%if @response.additional_comment.nil? %>
          <td> <%=t ".no_comments"%> </td>
        <%else%>
          <td> <%= sanitize @response.additional_comment %> </td>
        <%end%>
      </tr>
    </table>
  <%end%>
  <br/>
  <div class="footer">
    <%= link_to t(".back"), :controller=> 'review_mapping', :action=>'response_report', :id=>@id%>
  </div>
</div>
