%div
  %h3
    Reviews of the #{@team.name}
  %table{:width => "100%"}
    - if @team_users.empty?
      %tr No team members
    - else
      - @team_users.each do |t|
        %tr
          %td
            \- #{User.find(t.user_id).name(@ip)}
  - (1..@assignment.num_review_rounds).each do |round|
    - next if instance_variable_get('@response_round_' + round.to_s).nil?
    - if instance_variable_get('@scores_round_' + round.to_s).nil?
      %tr
        %td{:align => "center"} No review done yet.
      %br/
      %tr
        %th{:align => "left"} Reviewer score
      %tr
        %td{:align => "center"} --
      %br/
    - else
      %h3= "Reviewed by #{User.find(@reviewer_id).name(@ip)} (Round #{round})"
      %table{:class => "general", :border => "1px solid #ccc"}
        %tr
          %th{:align => "left", :width => "50%"} Question
          %th{:width => "5%"} Score
          %th{:width => "45%"} Comments
        - instance_variable_get('@scores_round_' + round.to_s).each do |answer|
          %tr
            %td{:align => "left"}
              = answer.question.txt.html_safe
            - if answer.question.is_a?(ScoredQuestion)
              %td{:align => "center"}
                = answer.answer
                \/#{instance_variable_get('@max_score_round_' + round.to_s)}
            - elsif answer.question.is_a?(Checkbox)
              %td{:align => "center"}
                =answer.answer==0 ? image_tag("delete_icon.png"): image_tag("Check-icon.png")
            -else
              %td{:align => "center"}
                =answer.answer
            %td{:align => "left"}
              = answer.comments.html_safe
        %tr
          %th Reviewer Score (Σ weighted score/Σ weighted available score)
          %td{:align => "center"}
            = instance_variable_get('@sum_round_' + round.to_s)
            \/#{instance_variable_get('@total_possible_round_' + round.to_s)}
          %td{:align => "left"}
            \= #{instance_variable_get('@total_percentage_round_' + round.to_s)}
      %br/
      %table{:class => "general",:width => "100%"}
        %tr
          %th Additional Comment
        %tr
          - additional_comment = Response.find(instance_variable_get('@response_id_round_' + round.to_s)).additional_comment
          %td= additional_comment.nil? ? 'No Comments' : additional_comment.html_safe
      %hr/
  %br/
  .footer
    = link_to 'Back', controller: 'reports', action: 'response_report', id: params[:assignment_id]
