%span{:class => "hide", :id => "sampleReviewHold", :data => {"marked" :instance_variable_get('@marked')}}
%span{:class => "hide", :id => "pageSizeHold"}
%div
 %div
    %h3{:class=>"col-md-9"} Members of #{@team.name}
    %div{:class=>"col-md-3 link-assignments-head"}
      %h5{:id=>"link_assignments", :class=>instance_variable_get("@popup_show")}Use as Samples for More Assignments
      %span{:id=>"link_assignments_error", :class=>"hide"}
      %span{:id=>"link_assignments_success" ,:class=>"hide"}
    %br
  %table{:width => "100%"}
    - if @team_users.empty?
      %tr No team members
    - else
      - @team_users.each do |t|
        %tr
          %td
            \- #{User.find(t.user_id).fullname}
  - (1..@assignment.num_review_rounds).each do |round|
    - next if instance_variable_get('@response_round_' + round.to_s).nil?
    - if instance_variable_get('@scores_round_' + round.to_s).nil?
      %tr
        %td{:align => "center"} No review done yet.
      %br/
      %tr
        %th{:align => "left"} Reviewer score
      %tr
        %td{:align => "center"} --
      %br/
    - else
      - if instance_variable_get('@sample_button_'+round.to_s)
        %div{:class=>'col-md-12 mark-delete-sample '+'round'+round.to_s}
          %h3{:class=>'col-md-10'} "Reviewed by #{User.find(@reviewer_id).fullname} (Round #{round})"
          %div{:class=>'col-md-2'}
            %button{:class=>'col-md-12 mark-unmark-sample-button '+instance_variable_get('@mark_as_sample_'+round.to_s), :data=>{'visibility':2, 'response_id':instance_variable_get('@response_id_round_' + round.to_s),'round':round} } Mark as Sample
            %button{:class=>'col-md-12 mark-unmark-sample-button '+instance_variable_get('@remove_as_sample_'+round.to_s), :data=>{'visibility':3, 'response_id':instance_variable_get('@response_id_round_' + round.to_s),'round':round} } Remove as Sample
            %span{:class=>"hide col-md-12 mark-unmark-sample-result", :id=>"mark_unmark_fail_"+round.to_s}
            %span{:class=>"hide col-md-12 mark-unmark-sample-result success", :id=>"mark_unmark_success_"+round.to_s}
      - else
        %h3 "Reviewed by #{User.find(@reviewer_id).fullname} (Round #{round})"
      %table{:class => "general", :border => "1px solid #ccc"}
        %tr
          %th{:align => "left", :width => "50%"} Question
          %th{:width => "5%"} Score
          %th{:width => "45%"} Comments
        - instance_variable_get('@scores_round_' + round.to_s).each do |answer|
          %tr
            %td{:align => "left"}
              = answer.question.txt
            - if answer.question.is_a?(ScoredQuestion)
              %td{:align => "center"}
                = answer.answer
                \/#{instance_variable_get('@max_score_round_' + round.to_s)}
            - elsif answer.question.is_a?(Checkbox)
              %td{:align => "center"}
                =answer.answer==0 ? image_tag("delete_icon.png"): image_tag("Check-icon.png")
            -else
              %td{:align => "center"}
                =answer.answer
            %td{:align => "left"}
              = answer.comments
        %tr
          %th Reviewer Score (Σ weighted score/Σ weighted available score)
          %td{:align => "center"}
            = instance_variable_get('@sum_round_' + round.to_s)
            \/#{instance_variable_get('@total_possible_round_' + round.to_s)}
          %td{:align => "left"}
            \= #{instance_variable_get('@total_percentage_round_' + round.to_s)}
      %br/
      %table{:class => "general",:width => "100%"}
        %tr
          %th Additional Comment
        %tr
          - additional_comment = Response.find(instance_variable_get('@response_id_round_' + round.to_s)).additional_comment
          %td= additional_comment.nil? ? 'No Comments' : additional_comment.html_safe
      %hr/
  %br/
  %div{:class=>"col-md-12 hide popup-container"}
    %div{:class=>"col-md-3"}
    %div{:class=>"col-md-6",:id=>"similar_assignments_popup",:data=>{"assignment-id":instance_variable_get("@assignment_id")}}

      %div{:class=>"col-md-12"}
        %h5{:class=>"col-md-11"}
          %strong Select the assignments for which you want to mark these reviews as samples:
        %h5{:class=>"col-md-1"}
          %a{:href=>"javascript:void(0);", :class=>"closer"}X
      %div{:class=>"col-md-12 popup-list-container"}
        %ul
          %li{:id=>"popup_list_template",:class=>"hide"}
            %input{:type=>"checkbox"}
            %span
        %span{:class=>"popup_more"} More +

      %button{:class=>"col-md-6 submitter"}Submit
      %button{:class=>"col-md-6 closer"}Cancel

    %div{:class=>"col-md-3"}
  .footer
    = link_to 'Back', :controller=> 'review_mapping', :action=>'response_report', :id=>params[:assignment_id]

