<div>
  <h3>
    Members of <%= @team.name %>
  </h3>
  <table class="table table-striped grades" class="width: 100%">
    <% if @team_users.empty? %>
      <tr>No team members</tr>
    <% else %>
      <% @team_users.each do |t| %>
        <tr>
          <td>
            <%= User.find(t.user_id).fullname %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <% (1..@assignment.num_review_rounds).each do |round| %>
    <% next if instance_variable_get('@response_round_' + round.to_s).nil? %>
    <% if instance_variable_get('@scores_round_' + round.to_s).nil? %>
      <tr>
        <td align="center">No review done yet.</td>
      </tr>
      <br/>
      <tr>
        <th align="left">Reviewer score</th>
      </tr>
      <tr>
        <td align="center">--</td>
      </tr>
      <br/>
    <% else %>
      <h3>
        <%= "Reviewed by #{User.find(@reviewer_id).fullname} (Round #{round})" %>
      </h3>
      <table class="table table-striped grades">
      <% instance_variable_get('@scores_round_' + round.to_s).each do |answer| %>
      <tr class="warning">
        <th colspan="2">
          <% if answer.question.is_a?(ScoredQuestion) %>
            <%= answer.question.seq.to_i %>
            <%= '. ' %>
            <%= answer.question.txt %>
            <%= '[Max points: '%>
            <%= instance_variable_get('@max_score_round_' + round.to_s) %>
            <%= ']'%>
          <% elsif answer.question.is_a?(Checkbox) %>
            <%= answer.question.seq.to_i %>
            <%= '.' %>&nbsp;
            <%= answer.answer==0 ? image_tag("delete_icon.png"): image_tag("Check-icon.png") %>
            <%= answer.question.txt %>
          <% end %>
        </th>
      </tr>
  
      <tr class="info">
        <% if answer.question.is_a?(ScoredQuestion) %>
          <td align="left" width="5%">
            <div class="c<%= answer.answer %>" style="width:30px; height:30px; border-radius:50%; font-size:15px; color:black; line-height:30px; text-align:center;"><%= answer.answer %></div>
          </td>
          <td align="left" width="95%">
            <%= answer.comments %>
          </td>
        <% end %>
      </tr>
    <% end %>
        </tr>
        <tr>
          <th colspan="2">Reviewer Score (Σ weighted score/Σ weighted available score)</th>
          <tr>
          <td align="left" width="5%">
            <%= instance_variable_get('@sum_round_' + round.to_s) %>/<%= instance_variable_get('@total_possible_round_' + round.to_s)%>
          </td>
          <td align="left" width="95%">
            <%= instance_variable_get('@total_percentage_round_' + round.to_s) %>
          </td>
          </tr>
        </tr>
      </table>

      <table class="table table-striped grades" class="width: 100%">
        <tr>
          <th>Additional Comment</th>
        </tr>
        <tr>
          <% additional_comment = Response.find(instance_variable_get('@response_id_round_' + round.to_s)).additional_comment %>
          <td>
            <%= additional_comment.nil? ? 'No Comments' : additional_comment.html_safe %>
          </td>
        </tr>
      </table>
      <hr/>
    <% end %>
  <% end %>
  <br/>
  <div class="footer">
    <%= link_to 'Back', :controller=> 'review_mapping', :action=>'response_report', :id=>params[:assignment_id] %>
  </div>
</div>
