<h2> Review Metrics </h2>
        <table border = "1">
        <tr>
        <th  align = 'left' > Serial Number </th>
        <th align = 'left' > Round  </th>
        <th align = 'left' > Volume </th>
        <th align = 'left' > Suggestion Percent  </th>
        <th align = 'left' > Problem Percent  </th>
        <th align = 'left' > Offensive Percent </th>
        </tr>

<%keys = @metrics%>
<%keys.each do |key|%>
        <response_id = ReviewMetric.find(@metrics[key][:response_id])%>
                
    <tr>
      <td>
        <%=key[0]%>	
      </td>
      <td>
       <%=%>
      </td>

      <td>
        <%=key[1]%>
      </td>

      <td>
        <%=key[2]%>
      </td>
      <td>
        <%=key[3]%>
      </td>
      <td>
        <%=key[4]%>
      </td>
    </tr>

<% end #loop for keys%>
</table>

