<h2> Review Metrics for Reviewer</h2>
<%=keys = @answers%>
  <div>
    <tr>
      <td>
        Volume:<%=keys[0]%>
      </td>
      <td>
         Suggestion : <%=keys[2]%>
      </td>
      <td>
         Problem: <%=keys[3]%>
      </td>
      <td>
         Offensive : <%=keys[1]%>
      </td>
      <td>
         Number of complete comments : <%=keys[4]%>
      </td>

    </tr>
  </div>

        