
<style>
  .table-fixed thead {
    width: 100%;
  }

  .table-fixed tbody {
    height: 600px;
    overflow-y: auto;
    width: 100%;
  }

  .table-fixed tbody {
    display: block;
  }

  .table-fixed tbody td, .table-fixed thead > tr> th {
    float: left;
    border-bottom-width: 0;
  }

  .table-striped > thead > tr> th:nth-child(even) {
    background-color: rgb(216,238,246);
    text-align: center;
  }

  .table-striped > thead > tr> th:nth-child(odd) {
    background-color: rgb(254,248,227);
    text-align: center;
  }

  .table-striped > tbody > tr:nth-child(odd){
    background-color: rgb(254,248,227);
    vertical-align: middle;
  }

  .table-striped > tbody > tr:nth-child(even){
    background-color: rgb(216,238,246);
    vertical-align: middle;
  }

  .c0, .c1, .c2, .c3, .c4, .c5 {
    width:30px;
    height:30px;
    border-radius:50%;
    font-size:15px;
    line-height:30px;
    text-align:center;"
  }


</style>

<h2 align="center">
  CSC517&nbsp&nbsp<%= @assignment.name %><br/>
</h2>
<h3 align="left">
  Reviewer:&nbsp<%=@reviewer.name %>
</h3>


<% @keys.each do |key| %>
    <h3 align="center"><%= key %></h3>
    <br/>

    <% unless @num_responses[key] > 0 %>
        <% next %>
    <% end %>

    <% team_width = 100/(@teams[key].length.to_f) %>

    <div class="container-fluid">
      <div class="panel panel-default">

        <table class="table table-striped table-fixed">

          <thead>
          <tr class = "row">
            <% @teams[key].each do |team| %>
                <th class="col-lg-1" style="text-align: center;width: <%= team_width %>%">
                  <%= team.name %><br/><br/>
                  <% team.author_names.each_with_index do |name, index| %>
                      <%= name %>;&nbsp
                      <% if index%2 == 1 %>
                        <br/>
                      <% end %>
                  <% end %>
                </th>
            <% end %>
          </tr>
          </thead>

          <tbody>
          <% @questions[key].each do |question| %>
              <tr>
                <td class="col-lg-12" style="background-color: white;">
                  <b><%= question.txt %></b>
                </td>
              </tr>

              <% answers = [] %>
              <% @response_ids[key].each_with_index do |response_id| %>
                  <% answers << Answer.where(response_id: response_id, question_id: question.id).first %>
              <% end %>

              <% if question.type == "Checkbox" %>
                  <tr>
                    <% answers.each_with_index do |answer, index| %>
                        <td class="col-lg-1" align="center"
                            style="background-color: <%= index%2 == 0?"rgb(254,248,227)":"rgb(216,238,246)" %>;
                                width: <%= team_width %>%">
                        <% unless answer.nil? %>
                              <% if answer.answer == 1 %>
                                  <b><span style="font-size:1.5em; color:#6de255" class="glyphicon glyphicon-ok"></span></b>
                              <% elsif answer.answer == 0 %>
                                  <b><span style="font-size:1.5em; color:#cc2b1d" class="glyphicon glyphicon-remove"></span></b>
                              <% end %>
                            </td>
                        <% else %>
                              <b></b>
                        <% end %>
                          </td>
                    <% end %>
                  </tr>
              <% else %>
                  <% answers.each_with_index do |answer, index| %>
                      <% unless answer.nil? %>

                          <tr>
                            <td class="col-lg-2" align="center">
                              <%= @teams[key][index].name %>
                            </td>
                            <td class="col-lg-1" align="center">
                              <div class="c<%= answer.answer %>">
                                <%= answer.answer %>
                              </div>
                            </td>
                            <td class="col-lg-9">
                              <%= answer.comments %>
                            </td>
                          </tr>
                      <% else %>
                          <tr></tr>
                      <% end %>
                  <% end %>
              <% end %>

          <% end %>

          <tr>
            <td class="col-lg-12" style="background-color: white;">
              <b>Additional Comment</b>
            </td>
          </tr>

          <% @response_ids[key].each_with_index do |response_id, index| %>
              <tr>
                <td class="col-lg-2" align="center">
                  <%= @teams[key][index].name %>
                </td>
                <td class="col-xs-10">
                  <%= Response.find(response_id).additional_comment %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table><br/>
      </div>
    </div>
<% end %>
