<h2> Review scores: <%= Participant.find(@reviewer_id).name %> </h2>

<% keys = @review_final_versions.keys %>
<% keys.each do |key| %>
    <br>
    <hr>
    <h4>Course: <%= Assignment.find(@assignment_id).course.name %></h4>
    <h4> Assignment: <%= Assignment.find(@assignment_id).name %></h4>
    <% roundtitle = key.to_s %>
    <h4><%= roundtitle.titlecase %></h4>

    <table class="general" border="1">
      <% questionnaire_id = Questionnaire.find(@review_final_versions[key][:questionnaire_id]) %>
      <% questions = Question.where(questionnaire_id: questionnaire_id) %>
      <% num_responses = @review_final_versions[key][:response_ids].length %>
      <% responses = @review_final_versions[key][:response_ids] %>
      
      <!--      set column length equal for all responses-->
      <% item_width  = 100/(num_responses+1) %>
      
      <!-- show the team which did the review -->
      <!-- First Row -->
      <tr>
        <th colspan="3" style="background-color:#DDDDBB" width="<%= item_width %>%" > <b>QUESTION</b></th>
        <% responses.each do |response_id| %>  
          <td width="<%= item_width %>%">
          <% team = Team.find(ResponseMap.find(Response.find(response_id).map_id).reviewee_id) %>
          <b><%= team.name %></b> <div style ="font-size:11px"> done at -- <%= Response.find(response_id).updated_at.strftime("%a, %b %d, %Y %I:%M:%S %p") %> &nbsp&nbsp</div>
          </td>
        <% end %>
      </tr>

      <!-- Questions and Responses Row -->
      <% questions.each do |question| %>
        <% if !question.is_a?(QuestionnaireHeader) && num_responses > 0 %>
          <tr>
            <th colspan="3" style="background-color:#DDDDBB" width="<%= item_width %>%" > <%= question.txt %></th>
            <!-- Show review summary of checkbox question -->
            <% if question.instance_of? Checkbox %>
              
              <% responses.each do |response_id| %>  
                <td align="center" width="<%= item_width %>%">
                  <% answer = Answer.where(response_id: response_id, question_id: question.id).first %>
                  <% if !answer.nil? %>
                    <%= answer.answer == 0 ? image_tag("delete_icon.png") : image_tag("Check-icon.png") %>
                  <% end %>
                </td>
              <% end %>

            <!-- Show review summary of a non checkbox question -->  
            <% else %>
            
              <% responses.each do |response_id| %>  
                <td align="center" width="<%= item_width %>%">
                  <% answer = Answer.where(response_id: response_id, question_id: question.id).first %>
                  <% if !answer.nil? %>
                    <p><%= answer.answer %></p>
                    <p><%= answer.comments.html_safe unless answer.comments.nil? %></p>
                  <% end %>
                </td>
              <% end %>
              
            <% end %>
          </tr>
        
        <% else %>
          <% next %>
        
        <% end %>
      <% end %>  

      <!-- Last Row additional Comments -->
      <tr>
        <th colspan="3" style="background-color:#DDDDBB" width="<%= item_width %>%" > <b>Additional Comments</b></th>
        <% responses.each do |response_id| %>  
          <td width="<%= item_width %>%">
          <% team = Team.find(ResponseMap.find(Response.find(response_id).map_id).reviewee_id) %>
          <%=sanitize Response.find(response_id).additional_comment %>
          </td>
        <% end %>
      </tr>      


    </table>

<% end #loop for keys %>
<br>
