<h2> Review scores </h2>

<%keys = @review_final_versions.keys%>
<%keys.each do |key|%>
  <h3><%=key%></h3>
  <table border="1">

    <%questionnaire_id = Questionnaire.find(@review_final_versions[key][:questionnaire_id])%>
    <%questions = Question.where(questionnaire_id: questionnaire_id)%>
    <%num_responses = @review_final_versions[key][:response_ids].length%>
    <% questions.each do |question|%>

      <tr>
        <th  align = 'left'> [Question] <%= question.txt%> </th>
      </tr>
      <%if !question.is_a?(QuestionnaireHeader) && num_responses>0%>
        <tr>
          <td width="60%"> Reviewee </td>
          <td width="10%"> Score </td>
          <td width="30%"> Comments </td>
        </tr>
      <%else%>
        <%next%>
      <%end%>

      <%@review_final_versions[key][:response_ids].each do |response_id|%>
        <%answer = Answer.where(response_id: response_id, question_id: question.id).first%>
          <%if !answer.nil?%>
            <tr>
              <%team = Team.find(ResponseMap.find(Response.find(response_id).map_id).reviewee_id)%>
              <td>
                <%=team.name%> <br>
                <%team.get_author_names.each do |name|%>
                <%= name%> <br>
                <%end%>
              </td>
              <td align = 'center'> <%= answer.answer%></td>
              <td align = 'left'> <%= answer.comments %> </td>
            </tr>
          <%else%>
                <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
          <%end%>
      <%end%>
    <%end%>
    <tr>
      <th align = 'left'> Additional Comment</th>
    </tr>

    <%@review_final_versions[key][:response_ids].each do |response_id|%>
      <tr>
        <td> <%= Response.find(response_id).additional_comment%> </td>
      </tr>
    <%end%>
    </table>

<% end #loop for keys%>
<br/>
