<h2> Review Metrics for Reviewer</h2>
<table border = "1">
        <tr>
        <th align = 'left' > Volume  </th>
        <th align = 'left' > Is Suggestion Given</th>
        <th align = 'left' > Is Problem Highlighted </th>
        <th align = 'left' > Is Offensive </th>
        <th align = 'left' > Number of Questions with Complete Sentences </th>
         <th align = 'left' > Number of Unique Words in Comments </th>
        </tr>
<%=keys = @answers%>
    <tr>
      <td>
        <%=keys[0]%>
      </td>
      <td>
         <%=keys[2]%>
      </td>
      <td>
         <%=keys[3]%>
      </td>
      <td>
         <%=keys[1]%>
      </td>
      <td>
        <%=keys[4]%>
      </td>
       <td>
         <%=keys[5]%>
      </td>

    </tr>
  </table>

        
