<h2> Review scores </h2>

<%keys = @review_final_versions.keys%>
<%sentiment_counter = 0%>
<%round = 0%>
<%keys.each do |key|%>
  <h3><%=key%></h3>
  <table border="1">

    <%questionnaire_id = Questionnaire.find(@review_final_versions[key][:questionnaire_id])%>
    <%questions = Question.where(questionnaire_id: questionnaire_id)%>
    <%num_responses = @review_final_versions[key][:response_ids].length%>
    <% questions.each do |question|%>

      <tr>
        <th  align = 'left'> [Question] <%= question.txt%> </th>
      </tr>
      <%if !question.is_a?(QuestionnaireHeader) && num_responses>0%>
        <tr>
          <td width="60%"> Reviewee </td>
          <td width="10%"> Score </td>
          <td width="30%"> Comments </td>
        </tr>
      <%else%>
        <%next%>
      <%end%>

      <%@review_final_versions[key][:response_ids].each do |response_id|%>
        <%answer = Answer.where(response_id: response_id, question_id: question.id).first%>
          <%if !answer.nil?%>
            <tr>
              <%team = Team.find(ResponseMap.find(Response.find(response_id).map_id).reviewee_id)%>
              <% response_map = ReviewResponseMap.where(reviewed_object_id: @assignment_id, 
                                                        reviewer_id: @reviewer_id,
                                                        reviewee_id: team.id ).last %>
              <% response_update_at = response_map.try(:response).try(:last).try(:updated_at) %>
              <% review_graded_at = ReviewGrade.find_by(participant_id: @reviewer_id).try(:review_graded_at) %>
              <% col_color = 'black' %>
              <% col_color = 'blue' if review_graded_at && response_update_at && response_update_at > review_graded_at %>
              <!--Reviewee-->
              <td>
                <p style="color: <%= col_color%>"><%=team.name%> <br>
                <%team.author_names.each do |name|%>
                  <%= name %> <br>
                <%end%></p>
              </td>
              <!--Score-->
              <td align = 'center'><p style="color: <%= col_color%>"><%= answer.answer%></p></td>
              <!--Comments-->
              <%sentiment_value = @sentiment_summary[round]['sentiments'][sentiment_counter]['sentiment'].to_f%>
              <%col_color_bg = 'red' if sentiment_value >= -1.0 && sentiment_value < -0.5%>
              <%col_color_bg = '#DC7633' if sentiment_value >= -0.5 && sentiment_value < 0.0%>
              <%col_color_bg = 'yellow' if sentiment_value == 0.0%>
              <%col_color_bg = '#ABEBC6' if sentiment_value > 0.0 && sentiment_value <= 0.5%>
              <%col_color_bg = 'green' if sentiment_value > 0.5 && sentiment_value <= 1.0%>
              <td align = 'left'; style="background-color:<%= col_color_bg %>"><p style="color: <%= col_color%>"><%= answer.comments.html_safe unless answer.comments.nil? %></p></td>
              <% sentiment_counter = sentiment_counter + 1 %>
              
            </tr>
          <%else%>
                <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
          <%end%>
      <%end%>
    <%end%>
    <tr>
      <th align = 'left'> Additional Comment</th>
    </tr>

    <%@review_final_versions[key][:response_ids].each do |response_id|%>
      <tr>
        <td> <%= Response.find(response_id).additional_comment%> </td>
      </tr>
    <%end%>
    </table>
    <% round = round + 1%>
    <% sentiment_counter = 0 %>
<% end #loop for keys%>
<br/>
