<div id="questionnaire-partial">
<table id="question_actions_table">
  <tr>
    <td>
      <%= form_tag url_for(:action => 'add_new_questions', :id => params[:id], :questionnaire_type => params[:model], :private => params[:private]), :remote => true do %>
          <%= submit_tag 'Add' %>
          <%= text_field 'question', 'total_num', :size => 1, :value => "1" %> more
          <%= select "question", "type",
                     {"Criterion" =>"Criterion",
                      "Scale"=>"Scale",
                      "Dropdown"=>"Dropdown",
                      "Checkbox"=>"Checkbox",
                      "TextArea"=>"TextArea",
                      "TextField"=>"TextField",
                      "UploadFile"=>"UploadFile",
                      "SectionHeader"=>"SectionHeader",
                      "TableHeader"=>"TableHeader",
                      "ColumnHeader"=>"ColumnHeader",
                     } %> question(s)
      <% end %>
    </td>
  </tr>
</table>

<%= form_tag url_for(:action => 'save_all_questions', :id => params[:id], :questionnaire_type => params[:model], :private => params[:private]), :remote => true do %>
    <table id="questions_table">
      <tr>
        <th class="head" align="center" width="30">Action</td>
        <th class="head" align="center" width="30">Seq</td>
        <th class="head" align="center" width="300">Question</td>
        <th class="head" align="center" width="100">Type</td>
        <th class="head" align="center">Weight</td>
      </tr>
      <% i = 1 %>
      <%questions = @questionnaire.questions.sort { |a,b| a.seq <=> b.seq }%>
      <% for @question in questions %>
          <%=@question.edit(i)%>
          <% i += 1 %>
      <% end %>
    </table>
    <%= submit_tag "Save #{@questionnaire.display_type.downcase} questionnaire", :name=>"save", :format => "js" %>
    <input style="margin-left:36em" type="submit" name="view_advice" value="Edit/View advice"/>

    <hr/>
    <h4>Import/Export (from/to CSV format)</h4>
    <input type="file" name="csv" />
    <br />
    <input type="submit" name="import" value="Import questions"/>
    <br />
    <input type="submit" name="export" value="Export questions to CSV"%>
<% end %>
  </div>
<BR/>