<!-- This partial returns what to display if an instructor (etc.) is creating or editing a questionnaire (_questionnaires.html.erb & edit.html.erb) -->
<td align="center"><a rel="nofollow" data-method="delete" href="/questions/<%= @question.id.to_s %>">Remove</a></td>

<td><input size="6" value="<%= @question.seq.to_s %>" name="question[<%= @question.id.to_s %>][seq]"
 id="question_<%= @question.id.to_s %>_seq" type="text"></td>

<td><textarea cols="50" rows="1" name="question[<%= @question.id.to_s %>][txt]"
 id="question_<%= @question.id.to_s %>_txt" placeholder="Edit question content here"><%= @question.txt %></textarea></td>

<td><input size="10" disabled="disabled" value="<%= @question.type %>" name="question[<%= @question.id.to_s %>][type]"
 id="question_'<%= @question.id.to_s %>_type" type="text"></td>

<td><input size="2" value="<%= @question.weight.to_s %>
" name="question[<%= @question.id.to_s %>][weight]" id="question_<%= @question.id.to_s %>_weight" type="text"></td>

<td>text area size <input size="3" value="<%= @question.size.to_s %>
" name="question[<%= @question.id.to_s %>][size]" id="question_<%= @question.id.to_s %>_size" type="text"></td>

<td> max_label <input size="10" value="<%= @question.max_label.to_s %>" name="question[<%= @question.id.to_s %>
][max_label]" id="question_<%= @question.id.to_s %>_max_label" type="text">  min_label <input size="12" value="<%= @question.min_label.to_s %>
" name="question[<%= @question.id.to_s %>][min_label]" id="question_<%= @question.id.to_s %>_min_label" type="text"></td>