<div class="check_boxes">
  <%= check_box_tag(:check_option, '1') %> <%= text_field_tag :option1, nil, size: 50 %> <br>
  <%= check_box_tag(:check_option, '2') %> <%= text_field_tag :option2, nil, size: 50 %> <br>
  <%= check_box_tag(:check_option, '3') %> <%= text_field_tag :option3, nil, size: 50 %> <br>
  <%= check_box_tag(:check_option, '4') %> <%= text_field_tag :option4, nil, size: 50 %> <br><br>
</div>