<% (1..Assignment.find(@assignment_id).num_quiz_questions).each do |i| %>
  <div id="question<%= i %>">
    <label for="text_area">Question <%= i %>: <br></label>
    <textarea name="new_question[<%= i %>]" id="text_area" placeholder='Enter question...' cols = "60" rows = "2"></textarea>

  </div>

  <div id="question_weight_<%= i %>">
    Add question weight 
    <input name="question_weights[question_<%= i %>]" value="1" type="number" min="0">
  </div>
  <div id="radio_buttons<%= i %>" style="display: none;">
    <%= radio_button("new_choices[#{i}][MultipleChoiceRadio][1]",:iscorrect, '1') %> <%= text_field "new_choices[#{i}][MultipleChoiceRadio][1]", :txt, size: 50 %> <br>
    <%= radio_button("new_choices[#{i}][MultipleChoiceRadio][2]",:iscorrect, '1') %> <%= text_field "new_choices[#{i}][MultipleChoiceRadio][2]", :txt, size: 50 %> <br>
    <%= radio_button("new_choices[#{i}][MultipleChoiceRadio][3]",:iscorrect, '1') %> <%= text_field "new_choices[#{i}][MultipleChoiceRadio][3]", :txt, size: 50 %> <br>
    <%= radio_button("new_choices[#{i}][MultipleChoiceRadio][4]",:iscorrect, '1') %> <%= text_field "new_choices[#{i}][MultipleChoiceRadio][4]", :txt, size: 50 %> <br><br>
  </div>
  <div id="true_false<%= i %>" style="display: none;">
    <%= radio_button("new_choices[#{i}][TrueFalse][1]",:iscorrect, '1') %> True <br>
    <%= radio_button("new_choices[#{i}][TrueFalse][1]",:iscorrect, '0') %> False <br><br>
  </div>
  <div id="check_boxes<%= i %>" style="display: none;">
    <%= check_box("new_choices[#{i}][MultipleChoiceCheckbox][1]",:iscorrect) %> <%= text_field "new_choices[#{i}][MultipleChoiceCheckbox][1]", :txt, size: 50 %> <br>
    <%= check_box("new_choices[#{i}][MultipleChoiceCheckbox][2]",:iscorrect) %> <%= text_field "new_choices[#{i}][MultipleChoiceCheckbox][2]", :txt, size: 50 %> <br>
    <%= check_box("new_choices[#{i}][MultipleChoiceCheckbox][3]",:iscorrect) %> <%= text_field "new_choices[#{i}][MultipleChoiceCheckbox][3]", :txt, size: 50 %> <br>
    <%= check_box("new_choices[#{i}][MultipleChoiceCheckbox][4]",:iscorrect) %> <%= text_field "new_choices[#{i}][MultipleChoiceCheckbox][4]", :txt, size: 50 %> <br><br>
  </div>
  <div id="qtype<%= i %>">
    <%= radio_button("question_type[#{i}]","type", "MultipleChoiceRadio") %> Multiple Choice - Radio button<br>
    <%= radio_button("question_type[#{i}]","type", "MultipleChoiceCheckbox") %> Multiple Choice - Checkboxes <br>
    <%= radio_button("question_type[#{i}]","type", "TrueFalse") %> TrueFalse <br>
  </div>

<% end %>
