<%= error_messages_for 'itemnaire' %>

<%= form_for @itemnaire do %>
  <table>
    <tr>
      <td valign="top" class="form-inline"><label for="itemnaire_name">Name:</label>
        <%= text_field 'itemnaire', 'name', class: "form-control width-250"  %>
        <%= hidden_field 'itemnaire', 'id' %>
        <%= hidden_field 'itemnaire', 'type' %>
      </td>
    </tr>
  </table>
  <br/>
  <table>
     <tr class="form-inline">
       <td><label for="min_item_score">Min item score:</label>&nbsp;<%= text_field 'itemnaire', 'min_item_score', :size=> 1, :value=>@itemnaire.min_item_score ||= 0, :class => "form-control width-40" %>&nbsp;&nbsp;</td>
       <td><label for="max_item_score">Max item score:</label>&nbsp;<%= text_field 'itemnaire', 'max_item_score', :size=> 1, :value=>@itemnaire.max_item_score ||= 5, :class => "form-control width-40" %>&nbsp;&nbsp;</td>
       <td><label for="itemnaire_private">Is this <%= @itemnaire.display_type %> private:</label>&nbsp;<%= select(:itemnaire, :private, [ ['no', false],['yes',  true]], {}, {class: "form-control"})%>
       </td>
     </tr>
  </table>
  <% if params[:action] == 'new' %>
    <%= submit_tag "Create", class: "btn btn-default" %>
  <% end %>
  <% if params[:action] == 'edit' %>
    <%= submit_tag "Update itemnaire name and parameters", class: "btn btn-primary" %>
  <% end %>
<% end %>

<!--Question part-->
<hr/>
<% if !params[:id].nil? and params[:action] == 'edit' %>
  <% if AnswerHelper.in_active_period(params[:id]) %>
    A review period is in progress. All existing reviews for the itemnaire <b>will be deleted</b> if you ADD or REMOVE a item.
  <% end %>
  <table id="item_actions_table">
    <tr>
      <td>
        <%= form_tag :action => 'add_new_items', :id => params[:id], :itemnaire_type => params[:model], :private => params[:private] do %>
        <p class="form-inline">
          <%= submit_tag 'Add',
                          confirm: AnswerHelper.in_active_period(params[:id]) ? "A review period is in progress. All existing reviews for the itemnaire would be deleted. Are you sure you want to continue?" : nil,
                          class: "btn btn-primary", onclick: "saveAllQuestionsBeforeAddItem()", id: "add_button"%>
          <%= text_field 'item', 'total_num', :size => 1, :value => "1", :class => "form-control" %> more
          <%= select "item", "type",
              {"Criterion" =>"Criterion",
              "Scale"=>"Scale",
              "Cake" => "Cake",
              "Dropdown"=>"Dropdown",
              "Checkbox"=>"Checkbox",
              "TextArea"=>"TextArea",
              "TextField"=>"TextField",
              "UploadFile"=>"UploadFile",
              "SectionHeader"=>"SectionHeader",
              "TableHeader"=>"TableHeader",
              "ColumnHeader"=>"ColumnHeader"
              }, {}, {class: "form-control", onchange: "checkQuestionType()"} %> item(s)
          <span id = "new_item_weight">
            Add item weight <%= text_field 'item', 'weight', :size => 1, :value => "1", :class => "form-control" %>
          </span></p>
        <% end %>
      </td>
    </tr>
  </table>

  <%= form_tag :action => 'save_all_items', :id => params[:id],  :itemnaire_type => params[:model], :private => params[:private], id: 'save_all_items_form' do %>
    <table id="items_table">
      <tr>
        <th class="head" align="center" width="30">Action</td>
        <th class="head" align="center" width="30">Seq</td>
        <th class="head" align="center" width="300">Items</td>
        <th class="head" align="center" width="100">Type</td>
        <th class="head" align="center">Weight</td>
      </tr>
      <% i = 1 %>
      <%items = @itemnaire.items.sort { |a,b| a.seq <=> b.seq }%>
      <% items.each do |item| %>
        <%=item.edit(i)%>
        <% i += 1 %>
      <% end %>
    </table>
    <%= submit_tag "Save all items", :name=>"save", :class => "btn btn-primary", id: "save_all_items_button" %>
    <input style="margin-left:36em" type="submit" name="view_advice" value="Edit/View advice" class="btn btn-primary"/>
    <hr/>
    <%= link_to 'Import Questionnaire', :controller=>'import_file', :action=>'start', :model => 'Question', :id=> @itemnaire.id, :expected_fields => 'txt, type ,seq,size, break_before' %>|
    <%= link_to 'Export Questionnaire', :controller=>'export_file',:action=>'start',:model=> 'Question',:id=> @itemnaire.id %>
  <% end %>
<% end %>
<BR/>

<script>
  document.getElementById('add_button').addEventListener('click', function(event) {
    event.preventDefault();

    document.getElementById('save_all_items_button').click();

    setTimeout(function() {
      event.target.form.submit();
    }, 100);
  });
</script>

<% if AnswerHelper.in_active_period(params[:id]) %>
    <script>
        $('a[data-method="delete"]').click(function(e) {
            return window.confirm("A review period is in progress. All existing reviews for the itemnaire would be deleted. Are you sure you want to continue?");
        });
    </script>
<% end %>
