<%= error_messages_for 'questionnaire' %>
<!--Questionnaire part-->
<%= form_for @questionnaire do %>
  <table>
    <tr>
      <td valign="top"><label for="questionnaire_name">Name:</label>
        <%= text_field 'questionnaire', 'name'  %>
        <%= hidden_field 'questionnaire', 'id' %>
        <%= hidden_field 'questionnaire', 'type' %>
      </td>
    </tr>
  </table>
  <br/>
  <table>
     <tr>
       <td>Min question score:</td>
       <td><%= text_field 'questionnaire', 'min_question_score', :size=> 1, :value=>@questionnaire.min_question_score ||= 0 %>&nbsp;&nbsp;</td>
       <td>Max question score:</td>
       <td><%= text_field 'questionnaire', 'max_question_score', :size=> 1, :value=>@questionnaire.max_question_score ||= 5 %>&nbsp;&nbsp;</td>
       <td>Is this <%= @questionnaire.display_type %> private:</td>
       <td><%= select(:questionnaire, :private, [ ['no', false],['yes',  true]])%>
       </td>
     </tr>
  </table>
  <% if params[:action] == 'new' %>
    <%= submit_tag 'Create' %>
  <% else %>
    <%= submit_tag 'Update'%>
  <% end %>
<% end %>

<!--Question part-->
<hr/>
<% if !params[:id].nil? and params[:action] == 'edit' %>
  <table id="question_actions_table" width="100%">
    <tr>
      <td>
        <div id="fb-editor" style="background-color: #eee; padding: 10px 10px 10px 10px;"></div>
        <script>
          jQuery(function($) {
            var fbTemplate = document.getElementById('fb-editor');
            var options = {
              fields: [
                {
                  label: 'Scale',
                  type: 'radio-group',
                  inline: 'true',
                  values: {
                    'label': '0'
                  }
                },
                {
                  label: 'Dropdown',
                  type: 'select',
                }
              ],
              disableFields: ['autocomplete', 'number', 'date', 'hidden', 'paragraph', 'button', 'radio-group', 'select'],
              disabledActionButtons: ['data', 'clear', 'save'],
              disabledAttrs: [
                'access',
                'className',
                'description',
                'max',
                'min',
                'multiple',
                'name',
                'other',
                'placeholder',
                'required',
                'step',
                'style',
                'toggle',
                'value'
              ],
              typeUserDisabledAttrs: {
                'textarea': [ 'subtype' ],
                'file': [ 'subtype' ]
              },
              typeUserAttrs: {
                criterion: {
                  min_label: {
                    label: 'Min Label',
                    maxlength: '40'
                  },
                  max_label: {
                    label: 'Max Label',
                    maxlength: '40'
                  },
                  maxlength: {
                    label: 'Max Length',
                    style: 'width: 80px'
                  },
                  rows: {
                    label: 'Rows',
                    maxlength: '5',
                    style: 'width: 80px'
                  },
                  weight: {
                    label: 'Weight',
                    maxlength: '2',
                    style: 'width: 80px'
                  }
                },
                'radio-group': {
                  min_label: {
                    label: 'Min Label',
                    maxlength: '40'
                  },
                  max_label: {
                    label: 'Max Label',
                    maxlength: '40'
                  },
                  weight: {
                    label: 'Weight',
                    maxlength: '2',
                    style: 'width: 80px'
                  }
                }
              },
              controlOrder: ['criterion', 'radio-group', 'select', 'checkbox-group', 'textarea', 'text', 'file', 'header', 'table-header'],
              formData: '<%= @form_data.gsub(/\\/, "\\\\\\").gsub("'", "\\\\'").gsub(/\r?\n/, "<BR />").html_safe %>', 
            };
            var fb = $(fbTemplate).formBuilder(options);
          

            $('#submit_form').on('submit', function() {
              $('#form_controls').val(fb.actions.getData('json'));
            });
          });


        </script>
      </td>
    </tr>
  </table>
  <BR/>

  <%= form_tag({:action => 'save_all_questions', :id => params[:id],  :questionnaire_type => params[:model], :private => params[:private]}, :id=>'submit_form') do %>
    <%= hidden_field_tag 'form_controls' %>
    <input type="submit" name="save" value="Save"/>
    <input type="submit" name="view_advice" value="Edit/View advice"/>
  <% end %>
<% end %>   
<BR/>


