<% if @itemnaire.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@itemnaire.errors.count, "error") %> prohibited this article from being saved:</h2>
    <ul>
      <% @itemnaire.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<table>
  <tr>
    <td valign="top"><label for="itemnaire_name">Name:</label>
      <%= text_field 'itemnaire', 'name' %>
      <%= hidden_field 'itemnaire', 'id' %>
      <%= hidden_field 'itemnaire', 'type' %>
    </td>
  </tr>
</table>
<br/>
<% if @itemnaire.type == 'QuizQuestionnaire' %>
  <!--handle a itemnaire differently if it is a quiz-->
  <td><label for="min_item_score">Min item
    score:</label>&nbsp;<%= text_field 'itemnaire', 'min_item_score', :size => 1, :value => @itemnaire.min_item_score ||= 0, :class => "form-control width-40" %>&nbsp;&nbsp;
  </td>
  <td><label for="max_item_score">Max item
    score:</label>&nbsp;<%= text_field 'itemnaire', 'max_item_score', :size => 1, :value => @itemnaire.max_item_score ||= 5, :class => "form-control width-40" %>&nbsp;&nbsp;
  </td>
  </td>
  <table id="items_table">
    <% if $disp_flag != 1 %>
      <tr>
        <td align=left width=300>Questions:</td>
        <% if @itemnaire.type != 'QuizQuestionnaire' %>
          <td align=left>weight</td>
        <% end %>

      </tr>
      </table>
      </tr>
    <% end %>

    <% @itemnaire.items.each { |item| %>
      <% itemnum = item.id %>
      <tr>
        <% unless $disp_flag == 1 %>
          <td> <%= text_area "item[]", 'txt', :cols => 100 %></td>
        <% end %>
        <% @quiz_item_choices = QuizQuestionChoice.where(item_id: item.id) %>
      </tr>
      <% i = 1 %>
      <% for @quiz_item_choice in @quiz_item_choices %>
        <tr>
          <td>
            &nbsp;&nbsp;&nbsp;
            <% if item.type == "MultipleChoiceCheckbox" %>
              <%= hidden_field_tag("quiz_item_choices[#{itemnum}][MultipleChoiceCheckbox][#{i}][iscorrect]", '0') %>
              <%= check_box_tag("quiz_item_choices[#{itemnum}][MultipleChoiceCheckbox][#{i}][iscorrect]", '1', @quiz_item_choice.iscorrect) %>
              &nbsp;<%= text_field_tag "quiz_item_choices[#{itemnum}][MultipleChoiceCheckbox][#{i}][txt]", @quiz_item_choice.txt, :size => 40 %>

            <% end %>

            <% if item.type == "MultipleChoiceRadio" %>
              <%= radio_button_tag("quiz_item_choices[#{itemnum}][MultipleChoiceRadio][correctindex]", "#{i}", @quiz_item_choice.iscorrect) %>
              &nbsp;<%= text_field_tag "quiz_item_choices[#{itemnum}][MultipleChoiceRadio][#{i}][txt]", @quiz_item_choice.txt, :size => 40 %>
            <% end %>

            <% if item.type == "TrueFalse" %>
              <% if @quiz_item_choice.txt == "True" %>
                <%= radio_button_tag("quiz_item_choices[#{itemnum}][TrueFalse][1][iscorrect]", 'True', @quiz_item_choice.iscorrect) %>
                True
              <% end %>

              <% if @quiz_item_choice.txt == "False" %>
                <%= radio_button_tag("quiz_item_choices[#{itemnum}][TrueFalse][1][iscorrect]", 'False', @quiz_item_choice.iscorrect) %>
                False
              <% end %>
            <% end %>
          </td>
        </tr>
        <% i += 1 %>
      <% end %>

    <% } %>
    </table>
<% end %>
<BR/>

