<%#= render :partial => 'scripts' %>
<h1>Edit <%= @questionnaire.display_type %></h1>

<% if @questionnaire.type == "QuizQuestionnaire" %>
  <% form_tag({:action=>'update_quiz', :id=>@questionnaire.id, :pid => params[:pid]}, :multipart => true) do %>
    <% $disp_flag=0 %>
    <%= render :partial => 'questionnaire' %>
    <% $disp_flag=0 %>
    <%= submit_tag "Save #{@questionnaire.display_type.downcase}", :name=>"save" %>
    <br />
  <% end %>
  <br/>
  <%= link_to 'Back', :controller => 'submitted_content', :action => 'edit', :id => params[:pid] %>
<% else %>
  <%= form_for @questionnaire, :multipart => true do %>
    <%= render :partial => 'questionnaire' %>

    <%= submit_tag "Save #{@questionnaire.display_type.downcase}", :name=>"save" %>
    <input style="margin-left:36em" type="submit" name="view_advice" value="Edit/View advice"/>


    <%# if @questionnaire.section != "Custom" %>

    <h4>Import/Export (from/to CSV format)</h4>
    <input type="file" name="csv" />
    <font size="-1"&nbsp;&nbsp; Format: {question}, {'Numeric' | 'True/False'}, {1-5} ></font>
    <br />
    <input type="submit" name="import" value="Import questions"/>
    <br />

    <%= submit_tag "Export questions to CSV", :name=>"export" %>

    <%# end %>
    <br />
  <% end %>
  <br />

  <%= render :partial => '/shared_scripts/back' %>
<% end %>
<br />
