<div id="Selection">
  <table><tr>
      <td>Select Questionnaire Type</td>
      <td>
        <%= form_tag :action => 'set_questionnaire_content' do %>
          <%= hidden_field 'questionnaire', 'id' %>
          <%= hidden_field 'questionnaire', 'private' %>
          <%= hidden_field 'questionnaire', 'type' %>
          <%= hidden_field 'questionnaire', 'display_type' %>
          <%= hidden_field 'questionnaire', 'min_question_score' %>
          <%= hidden_field 'questionnaire', 'max_question_score' %>
          <%= select 'questionnaire' , 'section' ,
            [['Regular',"Regular"], ['Extra Credit', "Extra"],['Custom Rubric', "Custom"]] %>
          <%= submit_tag "Select", :name=>"set_questionnaire_content" %>
        <% end %>
      </td>


    </tr>
  </table>
</div>
