<%= render :partial => 'new_quiz_script' %>
<h1>New <%= @questionnaire.display_type %></h1>
<% if @questionnaire.type == "QuizQuestionnaire" %>    <!--handle a questionnaire differently if it is a quiz-->
  <%= form_tag :controller => 'quiz_questionnaires', :action => 'create',
               :pid => @participant_id, :aid => @assignment_id do %>
    <% if @questionnaire.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@questionnaire.errors.count, "error") %> prohibited this article from being saved:</h2>
        <ul>
          <% @questionnaire.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% $disp_flag = 1 %>
    <%= render :partial => 'quiz_questionnaire' %>

    <% $disp_flag = 0 %>

    <%= render :partial => 'new_question_template' %>

    <br>
    <%= submit_tag "Create Quiz", :name => "save" %>
  <% end %>
<% else %>

<% end %>
<br/>
<a href="javascript:window.history.back()">Back</a>
