<h1><%= @itemnaire.display_type %>: <%= @itemnaire.name %></h1>
<BR/>
<B>Created by:</B> <%= link_to @itemnaire.instructor_id,"mailto:"+@itemnaire.instructor_id.to_s %><BR/>
<B>Created at:</B> <%= @itemnaire.created_at %><BR/>
<B>Last modified at:</B> <%= @itemnaire.updated_at %><BR/>
<B>Max quiz score:</B> <%= @itemnaire.max_item_score %><BR/>
<B>Min quiz score:</B> <%= @itemnaire.min_item_score %><BR/>
<BR/><BR/>

<TABLE>
  <TR>
    <TH align="left" width="60%"> Question </TH>
    <TH align="left">&nbsp Type &nbsp</TH>
    <TH align="left">&nbsp Weight &nbsp</TH>
    <TH align="left">&nbsp Score Range &nbsp</TH>
  </TR>
  <%items=@itemnaire.items.sort { |a,b| a.seq <=> b.seq }%>
  <%items.each do |item| %>

    <%if item.is_a? Question%>
      <%=item.view_item_text.html_safe%>
    <%end%>

  <% end %>
</TABLE>

<BR/>

    <BR/>
    <% if @itemnaire.type == "QuizQuestionnaire" %>
      <%= link_to 'Edit', :controller => :quiz_itemnaires, :action => :edit, :id => 
@itemnaire.id, :pid => @participant.id %>|
    <% else %>
      <!--The following line may have bugs when @itemnaire.type != "QuizQuestionnaire"-->
      <!--The bug will be invoked when click Save button in edit page-->
      <%= link_to 'Edit', :action => 'edit', :id => @itemnaire %> |
    <% end %>
    <%= link_to "Back", :controller => 'tree_display', :action => 'list' %>
