<<<<<<< HEAD
<<<<<<< HEAD
<label for="team_name">Team Name:</label>&nbsp;
<%= text_field 'team', 'name'  %>
<BR/>
<BR/>
<%= submit_tag "Save" %>
=======
<label for="team_name">Team Name:</label>&nbsp;
<%= text_field 'team', 'name'  %>
<BR/>
<BR/>
<%= submit_tag "Save" %>
>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
=======
<label for="team_name">Team Name:</label>&nbsp;
<%= text_field 'team', 'name'  %>
<BR/>
<BR/>
<%= submit_tag "Save" %>
>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
