<<<<<<< HEAD
=======
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 126e61ecf11c9abb3ccdba784bf9528251d30eb0
<label for="team_name">Team Name:</label>&nbsp;
<%= text_field 'team', 'name'  %>
<BR/>
<BR/>
<%= submit_tag "Save" %>
<<<<<<< HEAD
=======
=======
<label for="team_name">Team Name:</label>&nbsp;
<%= text_field 'team', 'name'  %>
<BR/>
<BR/>
<%= submit_tag "Save" %>
>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
=======
<label for="team_name">Team Name:</label>&nbsp;
<%= text_field 'team', 'name'  %>
<BR/>
<BR/>
<%= submit_tag "Save" %>
>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
>>>>>>> 126e61ecf11c9abb3ccdba784bf9528251d30eb0
