<<<<<<< HEAD
=======
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 126e61ecf11c9abb3ccdba784bf9528251d30eb0

<H1>Create Teams for <%= @parent.name %> </H1>
<% form_tag :action => 'create_teams' do %>
<%= hidden_field_tag 'id', @parent.id %>

<%= submit_tag "Create Teams" %>
<% end %>
<<<<<<< HEAD
=======
=======

<H1>Create Teams for <%= @parent.name %> </H1>
<% form_tag :action => 'create_teams' do %>
<%= hidden_field_tag 'id', @parent.id %>

<%= submit_tag "Create Teams" %>
<% end %>
>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
=======

<H1>Create Teams for <%= @parent.name %> </H1>
<% form_tag :action => 'create_teams' do %>
<%= hidden_field_tag 'id', @parent.id %>

<%= submit_tag "Create Teams" %>
<% end %>
>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
>>>>>>> 126e61ecf11c9abb3ccdba784bf9528251d30eb0
