<div class="exp">

  <table>
    <tr><th class="head">Name</th><th class="head">Full Name</th><th class="head">Email Address</th><th class="head">Role</th><th class="head">Status</th><th class="head">Notes</th></tr>

    <% for user in @users %>
      <%= form_tag :action => 'create_approved_user',:id => user.id  do %>
        <tr class="exp">
          <td><%=  user.name %></td>
          <td><%= user.fullname %></td>
          <td><%= user.email %></td>
          <% for role in @roles %>
            <% if user.role_id == role.id %>
              <td><%= role.name%></td>
            <% end %>
          <% end %>
          <td><%= user.status %></td>
          <td> <%= text_field_tag :reason, user.reason %> </td>
          <td> <input type="radio" name="status" value="Approved"> Accept </td>
          <td> <input type="radio" name="status" value="Rejected"> Reject </td>

          <td> <%= submit_tag "Submit"%> </td>
        </tr>
      <% end %>
    <% end %>
  </table>

</div>