Instructor of  <%= @assignment.name %>,<br/>

<p>
  <ul></ul>
  <li><%= @reviewer_name %> has just submitted a <%= @type %> of <%= @reviewee_name %>'s artifact.</li>
<li>The new score is <%= sprintf("%.2f",@new_score*100) %>%.</li>
<li>This score differs from the previous average score by more than the threshold.</li>
<li>The url for conflicting response url is <%= @conflicting_response_url%>.</li><br/>
<li>The url for summary of responses is <%= @summary_url%>.</li></ul><br/>
  <p>
    The new score is <%= sprintf("%.2f",@new_score*100) %>%, compared
    to a current average of <%= sprintf("%.2f",@avg_score*100) %>%.
  </p>
  If you want to change the notification threshold on grade conflicts, you can find it on "Rubrics" tab on assignment edit page: <%= @assignment_edit_url%>.
</p>

<BR/>
Assignment: <%= @assignment.name %>
<BR/>
