<%= form_for(@feedback) do |f| %>
    <p>
      <strong>User:</strong>
      <%= @feedback.user_email %>
    </p>

    <p>
      <strong>Subject:</strong>
      <%= @feedback.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @feedback.description %>
    </p>

    <p>
      <strong>Attachments:</strong>
      <% if @attachment %>
          <%= link_to @attachment.filename , download_attachment_path(@feedback.id)%>
      <% else %>
          No attachments
      <% end %>

    </p>

    <p>
      <strong>Current status:</strong>
      <%= @feedback.status %>
    </p>
    <p><strong>Change status: </strong> <%=f.select(:status, @statuses.collect {|r| [ r.status] }) %></p>

    <p> <%= submit_tag "Submit" %> </p>


<%end%>