<p id="notice"><%= notice %></p>

<h1>Feedback</h1>

<table class="file_table">
  <thead>
    <tr>
      <th class="feedback">User</th>
      <th class="feedback">Subject</th>
      <th class="feedback">Description</th>
      <th class="feedback">Status</th>
      <th class="feedback" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <td class="feedback"><%= feedback.user_email%></td>
        <td class="feedback"><%= feedback.title %></td>
        <td class="feedback"><%= feedback.description %></td>
        <td class="feedback"><%= feedback.status %></td>
        <td class="feedback"><%= link_to 'Show', feedback %></td>
        <td class="feedback"><%= link_to 'Edit', edit_feedback_path(feedback) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Edit Feedback Settings', edit_feedback_setting_path(1) %>
