%h1 Listing paper_writer_mappings

%table
  %thead
    %tr
      %th Writer
      %th Paper
      %th
      %th
      %th

  %tbody
    - @paper_writer_mappings.each do |paper_writer_mapping|
      %tr
        %td= paper_writer_mapping.writer_id
        %td= paper_writer_mapping.paper_id
        %td= link_to 'Show', paper_writer_mapping
        %td= link_to 'Edit', edit_paper_writer_mapping_path(paper_writer_mapping)
        %td= link_to 'Destroy', paper_writer_mapping, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Paper writer mapping', new_paper_writer_mapping_path
