%p#notice= notice

%p
  %b Writer:
  = @paper_writer_mapping.writer_id
%p
  %b Paper:
  = @paper_writer_mapping.paper_id

= link_to 'Edit', edit_paper_writer_mapping_path(@paper_writer_mapping)
\|
= link_to 'Back', paper_writer_mappings_path
