<% if @student.team.present? && !@student.team.full? %>
  <strong><%= t("student_teams.view.send_invite") %></strong>
  <%= form_tag(invitations_path, method: :post) do %>
    <%= hidden_field_tag :team_id, @student.team.id %>
    <%= hidden_field_tag :student_id, @student.id %>
    <%= hidden_field_tag :assignment_id, @student.assignment.id %>
    <div style="width:80%; margin: auto;">
      <%= t("student_teams.view.enter_user") %>
      <%= text_field_tag 'user[name]', nil, size: 41 %>
      <%= submit_tag t("student_teams.view.invite_button") %>
    </div>
  <% end %>
<% end %>
