<table style="width:80%" align="center">
  <tr style="border: 1px outset #000000; padding: 10px 20px">
    <th class="head">Username</th>
    <th class="head">Full name</th>
    <% if @student.assignment.duty_based_assignment? %>
      <th class="head">Role</th>
    <% end %>
    <th class="head">Email address</th>

    <% if @teammate_review_allowed %>
      <th class="head"><%= t(".review_action") %></th>
    <% end %>
  </tr>

  <% @student.team.participants.each do |member| %>
    <tr>
      <td><%= member.user.name(session[:ip]) %></td>
      <td><%= member.user.fullname(session[:ip]) %></td>
      <% if @student.assignment.duty_based_assignment? %>
        <% team_user = member.team_user %>
        <% unless team_user.duty_id.nil? %>
          <td><%= Duty.find(team_user.duty_id).name %></td>
        <% else %>
          <td>
            <% if member.user.id == session[:user].id %>
              <%= render partial: 'select_duty_form', locals: { assignment_id: @student.assignment.id, participant_id: member.id, teams_user_id: team_user.id } %>
            <% else %>
              Not Selected
            <% end %>
          </td>
        <% end %>
      <% end %>
      <td><%= member.user.email(session[:ip]) %></td>

      <% if @teammate_review_allowed && ((@student.assignment.duty_based_assignment? && !team_user.duty_id.nil?) || (!@student.assignment.duty_based_assignment?)) %>
        <% if @student.assignment.questionnaires.find_by_type('TeammateReviewQuestionnaire') != nil && member.user.id != session[:user].id %>
          <% map = TeammateReviewResponseMap.where(reviewer_id: @student.id, reviewee_id: member.id).first_or_create(reviewed_object_id: @student.assignment.id)
             review = map.response.last
             if review.nil? %>
            <td>
              <%= link_to t(".review"), controller: 'response', action: 'new', id: map.map_id, return: "teammate" %>
            </td>
          <% else %>
            <td>
              <%= link_to t(".view"), controller: 'response', action: 'view', id: review.id %>
              &nbsp;&nbsp;
              <%= link_to t(".edit"), controller: 'response', action: 'edit', id: review.id, return: "teammate" %>
            </td>
          <% end %>
        <% end %>
      <% end %>
    </tr>
  <% end %>

  <tr>
    <td colspan="3">
      <br/>
      <%= link_to t(".leave_team"), remove_participant_student_teams_path(student_id: @student.id, team_id: @student.team.id) %>
    </td>
  </tr>
</table>
