<h1><%= t ".team_info" %> <%= @student.assignment.name %></h1>

<% if @student.team.nil? %>
  <%= t ".no_team" %>
  <h3><%= t ".name_team" %></h3>
  <%= form_tag controller: 'student_teams', action: 'create' do %>
    <%= hidden_field_tag 'student_id', @student.id %>
    <label for="team_name"><%= t ".team_name" %></label>&nbsp;
    <%= text_field 'team', 'name' %>
    <%= submit_tag t(".name_team") %>
  <% end %>
<% else %>
  <b style="text-align: center"><%= t ".team_name_up" %> &nbsp;&nbsp;</b><%= @student.team.name(session[:ip]) %> &nbsp;&nbsp;&nbsp;
  <%= link_to t(".edit_name"), controller: 'student_teams', action: 'edit', team_id: @student.team.id, student_id: @student.id %>
  <br/><br/>
  <b><%= t ".team_members" %></b>
  <br/><br/>
  <!-- Determine which partial to render based on the presence of participant_id -->
  <% if use_new_participant_logic?(@student.team) %>
    <%= render 'new_team_members', team: @student.team %>
  <% else %>
    <%= render 'old_team_members', team: @student.team %>
  <% end %>
<% end %>

<!-- Render partials for join team requests, invitations, and advertisements -->
<%= render 'join_team_requests/list_received', locals: { team_id: @student.team.try(:id), teams_user_id: params[:student_id], assignment_id: @student.assignment.try(:id) } unless @student.team.nil? %>

<% if @send_invs.present? %>
  <br/><br/>
  <b>Sent invitations</b>
  <br/><br/>
  <%= render 'invited_people', locals: { send_invs: @send_invs } %>
<% end %>

<% if !@student.team.nil? && @student.assignment.max_team_size > 1 %>
  <%= render 'send_invitations', locals: { student: @student } %>
<% end %>

<% if @received_invs.present? %>
  <br/>
  <%= render 'received_invitations', locals: { received_invs: @received_invs } %>
<% end %>

<% if @student.team && @student.assignment.topics? && @student.team.topic %>
  <br/>
  <%= render 'display_advertisements', locals: { student: @student } %>
<% end %>

<br/>
<%= render 'join_team_requests/list_sent', locals: { teams_user_id: params[:student_id], assignment_id: @student.assignment.id } %>
<br>
<%= link_to t(".back"), :back %>
