<h1>Team Information for <%= @student.assignment.name %></h1>

<% if @student.team == nil %>
    <!--todo: we should ask him if he wants to create a new team-->
    <!--todo: add a Create team button-->
    You no longer have a team!
<% else %>
  <b style="text-align: center">Team Name: &nbsp;&nbsp;</b><%= @student.team.name %> &nbsp;&nbsp;&nbsp;
  <%= link_to "Edit name", edit_student_teams_path(team_id: @student.team.id, student_id: @student.id) %>
  <br/>
  <br/>
  <b>Team members</b>
  <br/>
  <br/>
  <!--start team member table-->
  <table style="width:80%" align="center" >
    <!--team member table header-->
    <tr style="border: 1px outset #000000; padding: 10px 20px" >
      <th class="head">Username</th>
      <th class="head">Full name</th>
      <!--<th class="head">Team-member role (duty)</th>-->
      <th class="head">Email address</th>
      <% if @teammate_review_allowed %>
        <th class="head">Review action</th>
      <% end %>
    </tr>
    <!--end member table header-->

    <% for member in @student.team.participants %> <!--start team member content-->
      <tr>
        <td><%= member.user.name %></td>
        <td><%= member.user.fullname %></td>
        <td><%= member.user.email %></td>

        <!--if you can review a teammate, display Review hyperlink; if the review has been done, display View and Edit Hyperlinks-->
        <% if @teammate_review_allowed %>
          <% if @student.assignment.questionnaires.find_by_type('TeammateReviewQuestionnaire') != nil and member.user.id != session[:user].id %>

            <% map = TeammateReviewResponseMap.where(['reviewer_id = ? and reviewee_id = ?', @student.id, member.id]).first
            if map.nil?
              map = TeammateReviewResponseMap.create(:reviewer_id => @student.id, :reviewee_id => member.id, :reviewed_object_id => @student.assignment.id)
            end
            review = map.response.last
            if review.nil? %>
            <td>
              <%= link_to "Review", {:controller => 'response', :action => 'new', :id => map.map_id, :return => "teammate"} %>
            </td>
          <% else %>
            <td>
              <%= link_to "View", {:controller => 'response', :action => 'view', :id => review.id} %>
              &nbsp;&nbsp;
              <%= link_to "Edit", {:controller => 'response', :action => 'edit', :id => review.id, :return => "teammate"} %>
            </td>
          <% end %>
        <% end %>
      <% end %>
    </tr>
  <% end %>   <!--end team member content-->
    <tr>
      <td colspan="3">
        <br/>
        <%= link_to "Leave team",
                remove_participant_student_teams_path(student_id: @student.id, team_id: @student.team.id) %>
      <td>
    </tr>
  </table>
<% end %>

<!--render partial for join team request-->
  <% if @student.team!=nil %>
    <%= render :partial => 'join_team_requests/list_received',
    :locals =>{:team_id=>@student.team.id,
               :teams_user_id=>params[:student_id],
               :assignment_id => @student.assignment.id} %>
  <% end %>

    <% if @send_invs && @send_invs.length > 0 %>
    <br/>
    <br/>
    <b>Sent invitations</b>
    <br/>
    <br/>
      <!-- start invited people table -->
      <table style="width:80%" align="center" >
        <tr style="border: 1px outset #000000; ">
          <td class="head"><b>Username</b></td>
          <td class="head"><b>Full name</b></td>
          <td class="head"><b>Email address</b></td>
          <td class="head" align="center"><b>Status</b></td>
        </tr>
          <% for inv in @send_invs %>
            <tr>
              <td><%= inv.to_user.name %></td>
              <td><%= inv.to_user.fullname %></td>
              <td><%= inv.to_user.email %></td>
                <% if inv.reply_status == 'A' %>
                  <td align = "center">Accepted</td>
                <% elsif inv.reply_status == 'D' %>
                  <td align = "center">Declined</td>
                <% else %>
                  <td align = "center">Waiting for reply
                  &nbsp;&nbsp;<%= link_to "Retract", {:controller => 'invitation', :action => 'cancel', :inv_id => inv.id, :student_id => @student.id} %></td>
                <% end %>
             </tr>
          <% end %>
      </table>
      <!-- start invited people table -->
    <% end %>
<br/>

<!--send invitation-->
<% if @student.team != nil && @student.assignment.max_team_size>1 %>


     <% if @student.team == nil %>
       <h3>Name team</h3>
       <%= form_tag :controller => 'student_teams', :action => 'create' do %>
         <%= hidden_field_tag 'student_id', @student.id %>
         <label for="team_name">Team name:</label>&nbsp;
         <%= text_field 'team', 'name' %>
         <%= submit_tag "Name team" %>
       <% end %>
     <% elsif !@student.team.full?%>
       <b>Invite people</b>
       <%= form_tag :controller => 'invitation', :action => 'create' do %>
         <%= hidden_field_tag 'team_id', @student.team.id %>
         <%= hidden_field_tag 'student_id', @student.id %>
         <%= hidden_field_tag 'session[:dummy][:assignment_id]', @student.parent_id %>
         <table style="width:80%" align="center" >
           <tr>
            <td>
              Enter user login: <%= text_field_with_auto_complete :user, :name, {:size => 41} %>
              <input type='submit' value='Invite'/>
            </td>
           </tr>
         </table>
     <% end %>
   <% end %>

  <!--waiting listed users on the same topic-->
  <% if @users_on_waiting_list && @users_on_waiting_list.count>0%>
    <h3>Users waiting for this topic:</h3>
      <table>
        <tr>
          <td><b>&nbsp; User id &nbsp; </b></td>
          <td><b>&nbsp; Full name &nbsp; </b></td>
          <td><b>&nbsp; Email &nbsp; </b></td>
        </tr>
        <% @users_on_waiting_list.each do |user|%>
          <tr>
            <td> &nbsp; <%=user.name%> &nbsp; </td>
            <td> &nbsp; <%=user.fullname%> &nbsp; </td>
            <td> &nbsp; <%=user.email%> &nbsp; </td>
          </tr>
        <% end%>
      </table>
  <% end %>
<% end %>

<!--display a table of received invitation-->
  <% if @received_invs && @received_invs.length > 0 %>
    <table>
      <h3>Received Invitations</h3>
      <tr>
        <td><b>From &nbsp</b></td>
        <td><b>Team Name &nbsp</b></td>
        <td><b>Reply &nbsp</b></td>
      </tr>
      <% for inv in @received_invs %>
          <% if inv.reply_status == 'W' %>
              <tr>
                <td><%= inv.from_user.name %></td>
                <td>
                  <% teamsusers = TeamsUser.where(['user_id = ?', inv.from_id]) %>
                  <% for teamsuser in teamsusers %>
                      <% current_team = Team.where(['id = ? and parent_id = ?', teamsuser.team_id, @student.assignment.id]).first %>
                      <% if current_team != nil %>
                          <%= Team.find(current_team.id).name %>
                      <% end %>
                  <% end %>
                </td>
                <td>
                  <%if @student.team == nil
                      @team_id = 0
                    else
                      @team_id = @student.team.id
                    end %>
                  <%= link_to "Accept",
                              {:controller => 'invitation', :action => 'accept', :inv_id => inv.id, :student_id => @student.id, :team_id => @team_id},
                              {:onClick => "javascript: return confirm('Your topic (or place on waiting lists) will be relinquished if you accept the invitation. Do you want to continue?');"}
                  %>
                  |
                  <%= link_to "Decline",
                              {:controller => 'invitation', :action => 'decline', :inv_id => inv.id, :student_id => @student.id}
                  %>
                </td>
              </tr>
          <% end %>
      <% end %>
    </table>

  <% end %>
<br/>

<!--display the advertisement-->

  <% if @student.team && @student.assignment.has_topics? && @student.team.topic%>
    <b>Advertisement for teammates</b>
    <br>
    <table style="width:80%" align="center" >
      <tr>
        <td>
        <% if @student.team && @student.team.advertise_for_partner%>
            <%= @student.team.comments_for_advertisement%>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <%= link_to 'Edit', :controller => 'advertise_for_partner', :action => 'edit', :team_id=>@student.team.id %>
            &nbsp;&nbsp;
            <%= link_to 'Delete', :controller => 'advertise_for_partner', :action => 'remove', :team_id=>@student.team.id %>
        <% else %>
            <%= link_to 'Create', :controller => 'advertise_for_partner', :action => 'new', :team_id=>@student.team.id %>
        <% end %>
        </td>
      </tr>
    </table>
  <% end %>



<br/>

<!--display a list of sent join-team requests-->
<%= render :partial => 'join_team_requests/list_sent',
           :locals =>{:teams_user_id=>params[:student_id],
                      :assignment_id => @student.assignment.id
           } %>
<br>
   <a href="javascript:window.history.back()">Back</a>

