<h1><%=t ".team_info"%> <%= @student.assignment.name %></h1>

<% if @student.team.nil? %>
  <%=t ".no_team"%>
  <h3><%=t ".name_team"%></h3>
  <%= form_tag :controller => 'student_teams', :action => 'create' do %>
    <%= hidden_field_tag 'student_id', @student.id %>
    <label for="team_name"><%=t ".team_name"%></label>&nbsp;
    <%= text_field 'team', 'name' %>
    <%= submit_tag t(".name_team") %>
  <% end %>
<% else %>
  <b style="text-align: center"><%=t ".team_name_up"%> &nbsp;&nbsp;</b><%= @student.team.name(session[:ip]) %> &nbsp;&nbsp;&nbsp;
    <%= link_to t(".edit_name"), controller: 'StudentTeams', action: 'edit', team_id: @student.team.id, student_id: @student.id %>
  <br/><br/>
  <b><%=t ".team_members"%></b>
  <br/><br/>
  <!--start team member table-->
  <%= render :partial => 'team_display' %>
<% end %>


<!--render partial for join team request-->
<%= render :partial => 'join_team_requests/list_received',
           :locals =>{:team_id=>@student.team.id,
                      :teams_user_id=>params[:student_id],
                      :assignment_id => @student.assignment.id} unless @student.team.nil? %>

<% if @send_invs && @send_invs.any? %>
  <br/><br/>
  <b>Sent invitations</b>
  <br/><br/>
  <!-- start invited people table -->
  <%= render :partial => 'invited_people',
             :locals => {:send_invs=>@send_invs} %>
<% end %>

<!--display send invitation-->
<!--send invitation-->
<% if !@student.team.nil? && @student.assignment.max_team_size > 1 %>
  <%= render :partial => 'send_invitations',
             :locals => {:student=>@student} %>
<% end %>
<br/>

<!--display a table of received invitation-->
<% if @received_invs && @received_invs.length > 0 %>
  <%= render :partial => 'received_invitations',
             :locals => {:received_invs=>@received_invs} %>
<% end %>
<br/>

<!--display the advertisement-->
<% if @student.team && @student.assignment.topics? && @student.team.topic%>
  <%= render :partial => 'display_advertisements',
             :locals => {:student=>@student} %>
<% end %>
<br/>

<!--display a list of sent join-team requests-->
<%= render :partial => 'join_team_requests/list_sent',
           :locals =>{:teams_user_id=>params[:student_id],
                      :assignment_id => @student.assignment.id } %>
<br>
<a href="javascript:window.history.back()"><%=t ".back"%></a>