<h1><%=t ".team_info"%> <%= @student.assignment.name %></h1>

<% if @student.team.nil? %>
  <%=t ".no_team"%>
  <h3><%=t ".name_team"%></h3>
  <%= form_tag :controller => 'student_teams', :action => 'create' do %>
    <%= hidden_field_tag 'student_id', @student.id %>
    <label for="team_name"><%=t ".team_name"%></label>&nbsp;
    <%= text_field 'team', 'name' %>
    <%= submit_tag t(".name_team") %>
  <% end %>
<% else %>
  <b style="text-align: center"><%=t ".team_name_up"%> &nbsp;&nbsp;</b><%= @student.team.name(session[:ip]) %> &nbsp;&nbsp;&nbsp;
  
  <% if @student.assignment.pair_programming_enabled? %>
    <% if Team.find(@student.team.id).pair_programming_request.nil? || Team.find(@student.team.id).pair_programming_request.zero? %>
      <% button_enabled = true %>
      <button style="float: right;"><%= link_to "Request to Pair Program",
        {:controller => 'pair_programming', :action => 'send_invitations', :team_id=>@student.team.id, :student_id => @student.id},
        {:onClick => "javascript: return confirm('Confirm if Pair Programming request should be sent');"}
      %></button>
    <% else %>
      <% button_enabled = false %>
      <% users = TeamsParticipant.where(team_id: @student.team.id) %>
      <% pair_programming_team_status = true %>
      <% users.each do |user| %>
        <% if user.pair_programming_status == "W" or user.pair_programming_status.nil? %>
          <% pair_programming_team_status = false %>
          <% break %>
        <% end %>
      <% end %>
      <% if pair_programming_team_status %>
        <% Team.find(@student.team.id).update_attributes(pair_programming_request: 2) %>
        <p style="float: right;">Pair Programming: Yes</p>
      <% else %>
        <% Team.find(@student.team.id).update_attributes(pair_programming_request: 1) %>
        <p style="float: right;">Pair Programming: Pending</p>
      <% end %>
    <% end %>
  <% end %>
    <%= link_to t(".edit_name"), controller: 'student_teams', action: 'edit', team_id: @student.team.id, student_id: @student.id %>
  <br/><br/>
  <b><%=t ".team_members"%></b>
  <br/><br/>
  <!--start team member table-->

<%= render :partial => 'team_display' %>


<% end %>

<% if @student.assignment.pair_programming_enabled? %>
  <% if !@student.team.nil? && Team.find(@student.team.id).pair_programming_request!=0 && !button_enabled %>
    <div>
      <% if !@student.team.nil? && @student.assignment.max_team_size > 1 %>  
        <br/><br/>
        <b><%=t ".Pair Programming Invitations"%></b>
        <br/><br/>

        <table style="width:80%" align="center" >
          <tr style="border: 1px outset #000000; padding: 10px 20px" >
            <th class="head">Username</th>
            <th class="head">Full name</th>
            <th class="head">Email address</th>
            <th class="head">Status</th>
          </tr>
          <% @student.team.participants.each do |member| %> <!--start Pair Programming content-->
            <tr>
              <td><%= member.user.name(session[:ip]) %></td>
              <td><%= member.user.fullname(session[:ip]) %></td>
              <td><%= member.user.email(session[:ip]) %></td>
              <% status = TeamsParticipant.find_by(user_id: member.user.id, team_id: member.team.id).pair_programming_status %>
              <% if (status == "W" || status.nil?) and current_user.id != member.user.id %>
                <td>Request Pending</td>
              <% elsif  (status == "W" || status.nil? ) and current_user.id == member.user.id%>
                <td><%= link_to "Accept",
                      {:controller => 'pair_programming', :action => 'accept', :student_id => @student.id, :team_id => @student.team.id},
                      {:onClick => "javascript: return confirm('Are you sure you want to accept the Pair Programming Request?');"}
                    %>
                    |
                    <%= link_to "Decline",
                      {:controller => 'pair_programming', :action => 'decline', :student_id => @student.id, :team_id => @student.team.id},
                      {:onClick => "javascript: return confirm('Are you sure you want to decline the Pair Programming Request?');"}
                    %>
                </td>
              <% elsif status == "A" %>
                <td>Accepted</td>
              <% else %>
                <td>Rejected</td>
              <% end %>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  <% end %>
<% end %>

<!--render partial for join team request-->
    <%= render :partial => 'join_team_requests/list_received',
    :locals =>{:team_id=>@student.team.id,
               :teams_user_id=>params[:student_id],
               :assignment_id => @student.assignment.id} unless @student.team.nil? %>

    <% if @send_invs && @send_invs.any? %>
    <br/><br/>
    <b>Sent invitations</b>
    <br/><br/>
      <!-- start invited people table -->
      <table style="width:80%" align="center" >
        <tr style="border: 1px outset #000000; ">
          <th class="head"><b><%=t ".username"%></b></th>
          <th class="head"><b><%=t ".fullname"%></b></th>
          <th class="head"><b><%=t ".email_address"%></b></th>
          <th class="head" align="center"><b><%=t ".status"%></b></th>
        </tr>
          <% @send_invs.each do |inv| %>

    <%=render :partial=> 'invited_people', :locals => {:inv => inv, :session_ip => session[:ip], :student => @student} %>

          <% end %>
      </table>
      <!-- start invited people table -->
    <% end %>
<br/>

<!--send invitation-->
<% if !@student.team.nil? && @student.assignment.max_team_size > 1 %>

<%= render :partial=> 'send_invitations', :locals => {:student => @student} %>


<% end %>

<!--display a table of received invitation-->
  <% if @received_invs && @received_invs.length > 0 %>
    <table style="width:80%" align="center" >
      <h3><%=t ".received_invitation"%></h3>
      <tr style="border: 1px outset #000000; padding: 10px 20px" >
        <th class="head"><%=t ".from"%> </th>
        <th class="head"><%=t ".team_name_no_colon"%> </th>
        <th class="head"><%=t ".reply"%> </th>
      </tr>
      <% @received_invs.each do |inv| %>

    <%= render :partial => 'received_invitations', :locals => {:inv => inv, :session_ip => session[:ip], :student => @student} %>

      <% end %>
    </table>

  <% end %>
<br/>

<!--display the advertisement-->

  <% if @student.team && @student.assignment.topics? && @student.team.topic%>
    <b><%=t ".ad_for_team"%></b>
    <br>

  <%= render :partial => 'display_advertisements' , :locals => {:student_team_id => @student.team.id, :student => @student}%>

  <% end %>



<br/>

<!--display a list of sent join-team requests-->
<%= render :partial => 'join_team_requests/list_sent',
           :locals =>{:teams_user_id=>params[:student_id],
                      :assignment_id => @student.assignment.id
           } %>
<br>
   <%= link_to 'Back', :controller => 'student_task', :action => 'list' %>
