<h1>Badges for <%= @assignment.name %></h1>
<%if !@error%>
  <%= form_tag url_for(action: 'nominate'), method: "post"%>
  <div id="nominating">
    <%= render 'list' %>
  </div>

  <%= hidden_field_tag(:id, @assignment.id) %>
  <%= hidden_field_tag(:model, @model) %>
  <%= hidden_field_tag(:team_id, @team_id) %>

  <div id="badge" class="largewidth">
    <button id="myBtn" class="btn btn-primary">Submit</button>
  </div>
<%end%>
<br/><br/>
<%= link_to "Back", {:controller => 'student_review', :action => 'list', :id => @reviewer.id} %>