<h1>New late policy</h1>

<%= form_for @late_policy, :url => { :action => "create" } do |f| %>
  <%= error_messages_for @late_policy %>

  <p>
  <label for="late_policy_name">Late policy Name:</label><label style="color: #ff0000;">*</label><br/>
    <%= f.text_field 'policy_name' %>
  </p>
  <p>
  <label for="late_policy_penalty_points_per_unit">Penalty Points Per Unit:</label><label style="color: #ff0000;">*</label><br/>
    <%= f.text_field 'penalty_per_unit' %>
  </p>
  <p>
  <label for="penalty_unit">Penalty Unit:</label><label style="color: #ff0000;">*</label><br/>
    <!--select name=<='late_policy[:penalty_unit]'%>>
    <option value='Minute' selected>Minute</option>
    <option value='Hour' >Hour</option>
    <option value='Day' >Day</option>
    </select-->
    <% @units=["Minute","Hour","Day"]%>
    <%= f.select "penalty_unit", @units %>
  </p>
  <p>
    <label for="late_policy_penalty_maximum">Maximum Penalty:</label><label style="color: #ff0000;">*</label><br/>
    <%= f.text_field 'max_penalty' %>
  </p>

  <%= f.submit 'Create' %>
<% end %>

<br>
<br>
<%= link_to 'Back', :action => 'index' %>
