<%= form_for :hyperlinks, url: '/submitted_content/remove_hyperlink' do |f| %>
  <% if stage != "Complete" %>
    <b>Hyperlink Actions:</b><BR/>
    </br>

    <%= f.hidden_field :participant_id, value: participant.id %>
    <%= f.submit 'Delete selected hyperlink' %>
    </br>
    </br>
  <% end %>

  <b>Hyperlinks</b>&nbsp;&nbsp;&nbsp;
  <a href="#" id="urlLink" name="urlLink" onClick="toggleElement('url','links');return false;">hide links</a><br/>
  <div id="url" style="">
    <ul>
      <% participant.get_hyperlinks.each_with_index do |link, index| %>
        <% if stage != "Complete" %>
          <% if index == 0 %>
            <%= f.radio_button :chk_links, index, checked: true %>
          <% else %>
            <%= f.radio_button :chk_links, index %>
          <% end %>
        <% end %>
        <a href="<%= link %>" target="new"><%= link %></a>
        <br/>
      <% end %>
    </ul>
  </div>
<% end %>
