<%= form_for @ques do %>
    <h3> Enter name for new Questionnaire </h3>
    <table>
      <tr>
        <td valign="top" class="form-inline"><label for="questionnaire_name">Name:</label>
          <%= text_field 'questionnaire', 'name', class: "form-control width-250"  %>
          <%= hidden_field 'questionnaire', 'id' %>
          <%= hidden_field 'questionnaire', 'type' %>
        </td>
      </tr>
    </table>
    <% if params[:action] == 'edit' %>
        <%= submit_tag 'Create', class: "btn btn-default" %>
        <% end %>
<% end %>