<!--[form:course]-->
<p><label for="institution_name">Institution Name</label><br/>
<%= select("course", "institutions_id", Institution.all.collect{ |c| [ c.name, c.id] }) %></p>

<p><label for="course_name">Course Name</label><br/>
<%= text_field 'course', 'name'  %></p>

<p><label for="course_directory_path">Course Directory</label> (Mandatory field. No spaces, special characters, or quotes.)
  <img src="/assets/info.png" title='- Do not change this field for an ongoing course! It may cause the loss of student submitted files.'>
<br/>
<%= text_field 'course', 'directory_path', placeholder: "Ex: 'csc517/s21'"  %></p>
<p><label for="course_info">Course Information</label><br/>
<%= text_field 'course', 'info'  %></p>

<p><label>Default Language</label><br/>
  <%= select("course", "locale", Locale.tabulate(Locale.available_locales, [:display_name, :code_name]),
             { :selected => @course.try(:locale) || I18n.default_locale }) %></p>
<!--[eoform:user]-->
<br/>
