<h1>Listing bookmark_tags</h1>

<table>
  <tr>
    <th>Tag name</th>
  </tr>

  <% @bookmark_tags.each do |bookmark_tag| %>
    <tr>
      <td><%=h bookmark_tag.tag_name %></td>
      <td><%= link_to 'Show', bookmark_tag %></td>
      <td><%= link_to 'Edit', edit_bookmark_tag_path(bookmark_tag) %></td>
      <td><%= link_to 'Destroy', bookmark_tag, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New bookmark_tag', new_bookmark_tag_path %>
