Hi <%= @first_name %>,</br>
<p>
 A new <%=@type%> for the "<%= @obj_name %>" assignment has just been entered.
 You may log into Expertiza and view it now.
</p>
<br/>
<% if @review_scores != nil %>
  <%= render :partial => '../review/scores' %>
<% end %>

<% if @ror_review_scores != nil %>
  <%= render :partial => '../review_of_review/scores' %>
<% end %>
