Hi <%= @first_name %>,</br>
<p>
  One of the <%=@type%>s you reviewed for the "<%= @obj_name %>" assignment has
  just been revised. You may use this <%= @link %> to see.
</p>
<br/>
<% if @review_scores != nil %>
  <%= render :partial => '../review/scores' %>
<% end %>

<% if @ror_review_scores != nil %>
  <%= render :partial => '../review_of_review/scores' %>
<% end %>
