<% h = "http://localhost:3000/reset_password?link=#{@link}" %>
<p>Hi <%= @first_name %>,</p>
<p>
  Your Expertiza account has been created at <a href="http://expertiza.ncsu.edu">http://expertiza.ncsu.edu</a>.
</p>
<p> User Name: <%= @user.name %> </p>
<p> E-mail address:<%= @user.email %> </p>

<p>We strongly recommend that you change the password the first time you access the application using the link given below.</p>

Reset link: <a href = <%= h %> ><%= h %></a>
