<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"></script>
</head>
<body>
<script>
  $(document).ready(function() {
    $('#logger').DataTable({
      "columns": [
        { "data": "SL No." },
        { "data": "Log Entry" },
        { "data": "Log level" }
      ]
    });
  } );
  </script>


<h2>Log Search Criteria</h2>

<%= form_tag(:action => 'search') do %>
<table>
  <tr>
    <td><label>User Type</label></td><td><%= select_tag('UserType', '<option value="Student">Student</option>
          <option value="Instructor">Instructor</option>'.html_safe) %></td>
    <td><label>User ID</label></td> <td><%= text_field_tag('UserID') %></td>
    
  </tr>

 <tr>
   <td><label>Event Type</label></td><td><%= select_tag('EType', '<option value="1">Login</option>
   <option value="2">Log Out</option>'.html_safe) %></td>
 </tr>

 <tr>
   <td><label>From Date</label></td> <td><%= datetime_local_field(:time, :from) %></td>
    <td><label>To Date</label></td> <td><%= datetime_local_field(:time, :to) %></td>
 </tr>
 
<tr>
  <td> <%= submit_tag("Search") %></td>
</tr>

</table>


<% end %>




<h1>Log Viewer Page</h1>

<% sl =1 %>

<table id="logger" class="table table-striped">

  <thead>
  <tr >
      <th>SL No.</th>
      <th>Log Entry</th>
      <th>Log level</th>
    </tr>
  </thead>
  <tbody>
    <% @logArray.each do |entry| %>

    <tr>

      <td><%= sl %></td>


      <td><%= entry %></td>
      <td>120</td>
     
    </tr>

    <% sl = sl+1 %>
    <% end %>
  </tbody>
  </table>
</body>
</html>


