<%= form_for(@review_metric_mapping) do |f| %>
  <% if @review_metric_mapping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review_metric_mapping.errors.count, "error") %> prohibited this review_metric_mapping from being saved:</h2>

      <ul>
      <% @review_metric_mapping.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :metric_link %><br>
    <%= select("review_metric_mapping", "review_metrics_id", ReviewMetric.all.collect{ |c| [c.metric, c.id]}) %>
  </div>
  <div class="field">
    <%= f.label :response_link %><br>
    <%= select("review_metric_mapping", "responses_id", Response.all.collect{ |c| [c.id, c.id]}) %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.number_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
