<p id="notice"><%= notice %></p>

<h1>Listing Review Metric Mappings</h1>

<table>
  <thead>
    <tr>
      <th>Metric link</th>
      <th>Response link</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @review_metric_mappings.each do |review_metric_mapping| %>
      <tr>
        <td><%= review_metric_mapping.review_metrics_id %></td>
        <td><%= review_metric_mapping.responses_id %></td>
        <td><%= review_metric_mapping.value %></td>
        <td><%= link_to 'Show', review_metric_mapping %></td>
        <td><%= link_to 'Edit', edit_review_metric_mapping_path(review_metric_mapping) %></td>
        <td><%= link_to 'Destroy', review_metric_mapping, method: :delete, confirm: 'Are you sure?' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Review metric mapping', new_review_metric_mapping_path %>
