&nbsp;&nbsp;&nbsp;<a href="#" id="advice_<%= i %>Link" name="advice_<%= i %>Link" onClick="toggleElement('advice_<%= i %>','advice');return false;">show advice</a><br/>
<div id="advice_<%= i %>" style="display:none;padding:12px">
  <b>Click advice to adjust score</b><br/><br/>
  <% i=0 %>
  <% advice_list.each{ | item | %>
      <div onClick="updateInteractionScore(<%=i%>)" onMouseover="style.color = '#986633'" onMouseOut="style.color = 'black'">
        <%=item.score%>:&nbsp;<%=item.advice %>
      </div>
      <% if item.score+1 < advice_list.length %>
          <br/>

      <% end %>
      <% i += 1 %>
  <%}%>
</div>