<div  id=<%=count%>_details>
  <br>
  <b>Team name: </b>  <%= review.team.name %>
  <br>
  <b>Score: </b>  <%= review.score %>
  <br>
  <b>Interaction Date: </b> <%= review.interaction_datetime%>
  <br>
  <b>Number of minutes interacted: </b> <%= review.number_of_minutes%>
  <br>
  <b>Comments: </b> <%= review.score%>
</div>