<!--input for team for which help was given -->
<div class="ss-item  ss-text"><div class="ss-form-entry">
  <label class="ss-q-title" for="entry_0">The Team to which help was given:
  </label>
  <td style="padding:50px">
          <% if (@type=='helper')%>
                  </br>
        <!--if helper then display drop down box for selection of team for which help was given-->
                <% if interaction.team_id %>
                        <% selected = Team.find(interaction.team_id) %>
                <%end %>
        <select style="width:250px" name="teams">
            <% Team.find(:all, :conditions => ['parent_id = ?',assignment_id],:order => "name").each do | team | %>
                    <% if team.id != @my_team_id %>
                            <option value="<%=team.name%>" <% if selected != nil and team.name == selected.name%>selected="yes"<%end%>><%=team.name %></option>
                    <% end %>
            <% end %>
        </select>

        </div></div>
    <% elsif (@type=='helpee') %>
        <!--if helpee then display the team-->
        <%=@my_team.name%>
        </div></div>
    <%end%>
    </td>
        <br>


<% if(@type=='helpee') %>
    <div class="ss-item  ss-text"><div class="ss-form-entry">
      <label class="ss-q-title" for="entry_1">Enter the name of the helper:
      </label>
      <br>
      <input type="text" name="helper" value=<% @user_name %>>
      <br><br>
    </div></div>
<%end%>



<div class="ss-item  ss-text"><div class="ss-form-entry">
  <label class="ss-q-title" for="entry_2">Describe what you worked on, and the results of your interaction:
  </label>
  <br>
  <%= text_area 'interactions', 'comments', :value => interaction.comments%>
  <br><br>
</div></div>

<div class="ss-item  ss-text"><div class="ss-form-entry">
  <label class="ss-q-title" for="entry_3">Date and time you worked together:
  </label>
  <br>
  <input id='interaction_id' name='interaction_date' value = <% @interaction.interaction_datetime%>>
  <img src="/images/cal.gif" onClick="NewCal('interaction_id','YYYYMMDD',true,24); return false;"/>
  <br><br>
</div></div>

<div class="ss-item  ss-text"><div class="ss-form-entry">
  <label class="ss-q-title" for="entry_4">How long did you work together?
  </label>
  <label class="ss-q-help" for="entry_5">(Approx. number of minutes)
  </label><br>
  <%= text_field 'interactions', 'number_of_minutes', :value => @interaction.number_of_minutes %>
  <br><br>
</div></div>

<% if(@type=='helpee') %>
    <div class="ss-item  ss-text"><div class="ss-form-entry">
      <label class="ss-q-title" for="entry_6">Score:
      </label><br>
      <select id='score' style="width:250px" name="score">
        <%if @advices.size > 0%>
            <% @advices.each do|advice| %>
                <option value=<%=advice.score%>><%=advice.score%></option>
            <%end%>
        <%else%>
            <%for i in 1..5 %>
                <option value=<%=i%>><%=i%></option>
            <%end%>
        <%end%>
      </select>
      <%if @advices.size > 0%>
          <%= render :partial => 'interaction/advice', :locals => {:i => "interaction", :advice_list => @advices} %>
      <% else %>
          <br/>
      <% end %>

      <br>
    </div></div>
    <div class="ss-item  ss-select"><div class="ss-form-entry">
      <label class="ss-q-title" for="entry_7"></label>
    </div></div>
    <br>
<%end%>
