<TABLE width="100%" cellspacing="0" cellpadding="2" border="0">
      <TR align="center"  >
    <TD width="100" class="interactions"><%=Participant.find(interaction.participant_id).user.name%></TD>
    <TD width="100" class="interactions"><%=interaction.team.name%></TD>
    <TD width="100" class="interactions"><%=interaction.score%></TD>
      <TD width="100" class="interactions"><%=interaction.status%></TD>
      <TD width="100" class="interactions">

     <% form_remote_tag(:url => {:action => 'interaction_view',:type=>'Show',:id=>interaction.id, :expanded => expanded=="true"?"false":"true"},
           :update =>  "interaction_"+interaction.id.to_s
         ) do %>
              <%if params[:expanded] == "true"%>
                  <%= submit_tag 'Hide' %>
              <%else%>
                  <%= submit_tag 'Show' %>
              <% end %>
          <%end%>

      </TD>
      <TD width="100" class="interactions">
        <%if interaction.status=="Confirmed" %>
        <% form_remote_tag(:url => {:action => 'interaction_view',:type=>'Approve',:id=>interaction.id, :expanded => expanded},
          :update => "interaction_"+interaction.id.to_s
         ) do %>
              <%= submit_tag 'Approve' %>
          <%end%>
            <% end %>
      </TD>
</TR>
          </TABLE>

<%
   @questionnaire = Questionnaire.find_by_name ('Helper Review')
   @questions = @questionnaire.questions
%>


  <%if expanded == "true"%>

      <TABLE width="100%" cellspacing="0" cellpadding="2" border="0">
           <tr bgcolor="#CCCCCC">
            <TH class="interactions">&nbsp;</TH>
            <TH class="interactions">Helper</TH>
            <TH class="interactions">Helpee</TH>
          </TR>
          <TR>
            <TD class="interactions" >Name</TD>

            <TD class="interactions"> <% if @helper_record %><%=Participant.find(@helper_record.participant_id).user.name%><% end %></TD>


            <TD class="interactions"> <% if @helpee_record %><%=@helpee_record.team.name%><% end %></TD>

          </TR>


        <%
           #Responses from helper
           if(!@helper_record.nil?)
             helpermap = ResponseMap.first(:conditions => ['reviewer_id = ? and reviewee_id = ? and type="InteractionResponseMap"',@helper_record.participant_id,@helper_record.team_id])
             helperresponse = Response.find_by_map_id(helpermap.id)
             helperscores = Score.find_all_by_response_id(helperresponse.id)
           end
        %>
        <%
           #Responses from helpee
           if(!@helpee_record.nil?)
             helpeemap = ResponseMap.last(:conditions => ['reviewer_id = ? and reviewee_id = ? and type="InteractionResponseMap"',@helpee_record.participant_id,@helpee_record.team_id])
             helpeeresponse = Response.find_by_map_id(helpeemap)
             helpeescores = Score.find_all_by_response_id(helpeeresponse.id)
           end
        %>

        <%
           i=0
           @questions.each { |question|
        %>
        <tr>
          <td class="interactions"><%= question.txt %></td>
          <% if(!helperscores.nil?) %>
              <% if question.txt == "Score" %>
                  <!--<TD class="interactions"><%=helperscores[i].score %></TD>-->
              <% else %>
                  <TD class="interactions"><%=helperscores[i].comments %></TD>
              <% end %>
          <% else %>
              <TD class="interactions">--</TD>
          <% end %>

          <% if(!helpeescores.nil?) %>
              <% if question.txt == "Score" %>
                  <TD colspan="2" class="interactions"><%=helpeescores[i].score %></TD>
              <% else %>
                  <TD class="interactions"><%=helpeescores[i].comments %></TD>
              <% end %>
          <% else %>
              <TD class="interactions">--</TD>
          <% end %>

        </tr>

        <%
           i+=1
           }
        %>


        <TR>
          <TD class="interactions">Status</TD>

          <TD class="interactions" colspan="2"><% if @helpee_record %><%=@helpee_record.status%><% end %></TD>

        </TR>

      </TABLE>

<%end%>



