<table>
  <% review_no = 1%>
  <% mappings.each do | map | %>
    <% if @assignment.team_assignment?%>
      <% reviewee = AssignmentTeam.first_member(map.reviewee_id) %>
    <% else %>
      <% reviewee = map.reviewee %>
    <% end %>
    <% questionnaire = Questionnaire.find_by_instructor_id(map.reviewee_id) %>
    <% if reviewee %>
      <%topic = SignUpTopic.find(SignedUpTeam.topic_id(@assignment.id, reviewee.user_id)) rescue nil%>
      <tr>
        <td><%= unless topic.nil? then " #{topic.topic_identifier}: #{topic.topic_name} --- " end %> <b><%= "#{questionnaire.name}" %></b></td>
          <td>&nbsp;</td>
          <% if !map.response.empty? %>
            <td><%= link_to t(".view"), {:controller => 'student_quizzes', :action => 'finished_quiz', :map_id => map.id} %></td>
          <% elsif @assignment.current_stage(topic) != "Complete" %>
            <% if @assignment.staggered_deadline?%>
              <% if @assignment.current_stage(topic) != 'submission'%>
                <td><%= link_to t(".begin"),{:controller => 'response', :action => 'new', :id => map.id} %></td>
              <%else%>
                <td><%=t ".begin"%></td><td> (Work has not yet been submitted)</td>
              <% end %>
            <% else %>
              <td><%= link_to t(".begin"), {:controller => 'student_quizzes', :action => 'take_quiz', :map_id => map.id, :assignment_id => @assignment.id} %></td>
            <% end %>
          <% else %>
            <% # Deadline has passed, and the work was not submitted %>
            <td><%=t ".begin"%></td><td> (Work has not yet been submitted)</td>
          <% end %>
        </tr>
        <% review_no += 1 %>
      <% end %>
    <% end %>
  </table>