<h2><%=t ".answers"%></h2>
<b><%=t ".quiz_score"%><%= @quiz_score %>%</b>

<%  @assignment = Assignment.find(@participant.parent_id)%>
<%= render :partial => 'submitted_content/main', :locals => {:participant => @participant, :stage => ""} %>

<br>
<% i = 1 %>


<% @items.each do |item| %>
  <b>Question <%= i %>: </b><%= label_tag "#{item.id}", item.txt %> <br>

    <%user_answer=Answer.where(response_id: @response.id, item_id:  item.id)%>
    <%= item.view_completed_item(user_answer) %><br>
    <% i += 1 %>
<%end%>
<%= link_to t(".back"), student_quizzes_path(:id => @response_map.reviewer_id) %>
