<h2><%=t ".quiz_for"%>"<%= @assignment.name %>"</h2>

<% if @assignment.quiz_allowed(@reviewee_topic_id) or @assignment.current_stage(@reviewee_topic_id) == "Complete" %>
  <%= render :partial => 'responses', :locals => {:mappings => @quiz_mappings} %>
  <%= render :partial => 'set_dynamic_quiz', :locals => {:assignment => @assignment, :participant => @participant} %>
<% else %>
  <p><em><%=t ".assignment_not_support"%></em></p>
<% end %>

<br><br>
<a href="javascript:window.history.back()"><%=t ".back"%></a>
