<h1 xmlns="http://www.w3.org/1999/html"> Listing of All Quiz Questions for <%= Assignment.find(@assignment_id).name %> </h1>
<table>
  <%@quiz_questionnaires.each do |questionnaire|%>
      <%author_team = Team.find(questionnaire.instructor_id)%>
      <h2> Quiz create by <%=author_team.name%></h2>

      <%topic_id = SignedUpTeam.topic_id_by_team_id(author_team.id)%>
      <%if topic_id.nil?%>
          <%topic_name=nil%>
      <%else%>
          <%topic_name = SignUpTopic.find(topic_id).topic_name%>
          <h4> Topic: <%=topic_name%></h4>
      <%end%>

      <% response_maps = QuizResponseMap.where(reviewed_object_id:questionnaire.id) %>
      <% if !response_maps.empty? %>
        <table border="2">
          <tr>
            <th> quiz taker </th>
            <% response_maps.each do |response_map| %>
              <% reviewer_paritcipant_id = response_map.reviewer_id%>
              <% reviewer_user_id = Participant.find(reviewer_paritcipant_id).user_id%>
              <td> <%=User.find(reviewer_user_id).fullname%></td>
            <%end%>
          </tr>
          <tr>
            <th> quiz score </th>
            <% response_maps.each do |response_map| %>
                <td> <%=response_map.quiz_score%></td>
            <%end%>

          </tr>
        </table>
      <% end %>

      <%questions = questionnaire.questions%>
      <% questions.each do |question| %>
        <b> <%= question.txt %><br></b>
        <% question_type = question.get_formatted_question_type%>
        Question Type: <%= question_type %><br>

        <% if question_type == 'True/False' %>
          Correct Answer: <%= (QuizQuestionChoice.where(question_id: question.id, iscorrect:1).first.txt) %><br><br>
        <% elsif question_type == 'Multiple Choice - Radio' %>
          <% correct_answer = '' %>
          Answer Options:<br>
          <% QuizQuestionChoice.where(question_id: question.id).each do |choice| %>
            <% if choice.iscorrect == true  %>
              &nbsp;&nbsp;<B><%= choice.txt %></B><br>
            <%else%>
              &nbsp;&nbsp;<%= choice.txt %><br>
            <% end %>

          <% end %>
          <br><br>
        <% elsif question_type == 'Multiple Choice - Checked' %>
          Answer Options:<br>
          <% QuizQuestionChoice.where(question_id: question.id).each do |choice| %>
            <% if choice.iscorrect == true  %>
              &nbsp;&nbsp;<B><%= choice.txt %></B><br>
            <%else%>
              &nbsp;&nbsp;<%= choice.txt %><br>
            <% end %>
          <% end %>
          <br><br>
        <% end %>
      <% end %><hr>
  <% end %>
</table>
