<h1 xmlns="http://www.w3.org/1999/html"> <%=t ".quiz_listings"%> <%= Assignment.find(@assignment_id).name %> </h1>
<table>
  <%@quiz_questionnaires.each do |questionnaire|%>
      <%author_team = Team.find(questionnaire.instructor_id)%>
      <h2> <%=t ".quiz_create"%> <%=author_team.name%></h2>

      <%topic_id = SignedUpTeam.topic_id_by_team_id(author_team.id)%>
      <%if topic_id.nil?%>
          <%topic_name=nil%>
      <%else%>
          <%topic_name = SignUpTopic.find(topic_id).topic_name%>
          <h4><%=t ".topic"%><%=topic_name%></h4>
      <%end%>

      <% response_maps = QuizResponseMap.where(reviewed_object_id:questionnaire.id) %>
      <% unless response_maps.empty? %>
        <table border="2">
          <tr>
            <th> quiz taker </th>
            <% response_maps.each do |response_map| %>
              <% reviewer_paritcipant_id = response_map.reviewer_id%>
              <% reviewer_user_id = Participant.find(reviewer_paritcipant_id).user_id%>
              <td> <%=User.find(reviewer_user_id).fullname%></td>
            <%end%>
          </tr>
          <% quiz_scores = [] %>
          <tr>
            <th> <%=t ".quiz_score"%> </th>
            <% response_maps.each do |response_map| %>
                <% quiz_score = response_map.quiz_score%>
                <%quiz_scores.push(quiz_score) unless quiz_score.eql?('N/A')%>
                <td> <%=quiz_score%></td>
            <%end%>

          </tr>
        </table>
        <br>
        <% unless quiz_scores.size.zero? %>
          <%=t ".avg_score"%><%= (quiz_scores.sum / quiz_scores.size).round(2) %>
          <br><br>
        <% end %>
      <% end %>

      <%questions = questionnaire.questions%>
      <% questions.each do |question| %>
        <%= question.view_question_text%>

      <% end %><hr>
  <% end %>
</table>
