<h2><%=t ".questions"%></h2>
<% @map = ResponseMap.find(params[:map_id]) %>
<% @questionnaire = Questionnaire.find(@map.reviewed_object_id) %>
<% @reviewee_participant=AssignmentTeam.find(@map.reviewee_id).participants.first%>
<%  @assignment = Assignment.find(params[:assignment_id])%>

<%= render :partial => 'submitted_content/main', :locals => {:participant => @reviewee_participant, :stage => ""} %>

<%= form_tag :controller => 'student_quizzes', :action => 'record_response',
  :assignment_id => params[:assignment_id],
  :participant_id => params[:participant_id],
  :map_id => params[:map_id] do %>


  <%= hidden_field_tag :questionnaire_id, "#{@questionnaire.id}" %>
  <%= hidden_field_tag :assignment_id, "#{params[:assignment_id]}" %>
    <% questions = Question.where(questionnaire_id: @questionnaire.id) %><br><br>
    <% questions.each do |question| %>
      <%= question.complete.html_safe %>
      <br>
    <% end %>
  <%= submit_tag t(".submit_quiz"), :name=>"save" %>
<% end %>
