<!-- View to display sample submissions to the student -->
<h2>Sample Submissions for <%= @assignment.name%>:</h2>
<br>
<!-- Displaying sample submissions by students of the current course -->
<h3>Submissions made public by peers:</h3>
<% if @assignment_due_date==nil or @assignment_due_date>Time.new() %>
    <br><i>Will be available once the assignment submission is completed</i>
<% elsif @assignment_teams==[] %>
    <br><i>No sample submissions from current assignment made public yet</i>
<% else %>
    <ul>
      <% @assignment_teams.each do |assignment_team| %>
          <% directory_path = @assignment_path + assignment_team.directory_num.to_s %>
            <% unless assignment_team.hyperlinks.empty? and (assignment_team.directory_num.nil? or !File.directory?(directory_path))%>
              <li>
                <ul>
                  <h4>Team name : <%=assignment_team.name%></h4>

                  <% unless assignment_team.hyperlinks.empty? %>
                    <% assignment_team.hyperlinks.each do |assignment_link| %>
                        <li><a href="<%=assignment_link%>"><%=assignment_link%></a></li>
                    <%end%>
                  <%end%>
                  <%unless assignment_team.directory_num.nil?%>
                    <% file_list = Dir.entries(directory_path).select {|entry| entry unless ( entry =='.' || entry == '..') }
                       file_list.each do |submitted_file| %>
                        <li>
                          <%= link_to File.basename(submitted_file), :controller => 'submitted_content',
                                      :action => 'download',
                                      :download => File.basename(submitted_file),
                                      "current_folder[name]" => directory_path
                          %>
                          <% puts directory_path %>
                        </li>
                       <%end%>
                  <%end%>
                </ul>
              </li>
            <% end %>
      <% end%>
    </ul>
<% end %>
<br>
<hr/>
<br>

<!-- Displaying sample submissions from a previous assignment chosen by the instructor -->
<h3>Submissions made public by instructor:</h3>
<% if @assignment_teams_professor == [] %>
    <br><i>No sample submissions from previous assignments made available yet</i>
<% else %>
    <ul>
      <% @assignment_teams_professor.each do |assignment_team| %>
        <% directory_path = @instructor_chosen_assignment_path + assignment_team.directory_num.to_s %>
        <% unless assignment_team.hyperlinks.empty? and (@instructor_chosen_assignment_path.nil? or assignment_team.directory_num.nil? or !File.directory?(directory_path)) %>

          <li>
            <ul>
              <h4>Team name : <%=assignment_team.name%></h4>
              <% unless assignment_team.hyperlinks.empty? %>
                <% assignment_team.hyperlinks.each do |assignment_link| %>
                  <li><a href="<%=assignment_link%>"><%=assignment_link%></a></li>
                <%end%>
              <%end%>

              <% unless @instructor_chosen_assignment_path.nil? or assignment_team.directory_num.nil?
                file_list = Dir.entries(directory_path).select {|entry| entry unless (entry =='.' || entry == '..') }
                file_list.each do |submitted_file| %>
                  <li>
                    <%= link_to File.basename(submitted_file), :controller => 'submitted_content',
                                :action => 'download',
                                :download => File.basename(submitted_file),
                                "current_folder[name]" => directory_path
                    %>
                  </li>
                <%end%>
              <%end%>
            </ul>
          </li>
        <% end %>

    <% end%>
    </ul>
<% end %>
<br><br>

<a href="javascript:window.history.back()">Back</a>
