= form_for @join_group_request do |f|
  - if @join_group_request.errors.any?
    #error_explanation
      %h2= "#{pluralize(@join_group_request.errors.count, "error")} prohibited this join_group_request from being saved:"
      %ul
        - @join_group_request.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :participant
    = f.text_field :participant
  .field
    = f.label :group
    = f.text_field :group
  .field
    = f.label :comments
    = f.text_area :comments
  .field
    = f.label :status
    = f.text_field :status
  .actions
    = f.submit 'Save'
