<h1>Sending request to join group "<%= Group.find(params[:group_id]).name %>" </h1>
<%= form_tag :action => 'create', :assignment_id=>params[:assignment_id],:group_id=>params[:group_id],:controller => 'join_group_requests' do %>
  <%= form_for(@join_group_request) do |f| %>
    <p>
      <b>Desired Qualification</b>   <br>
      <%= Group.find(params[:group_id]).comments_for_advertisement %>
    </p>
    <p>
      <p>Comments <img src="/assets/info.png" title="Please specify why you are qualified."></p>
      <br>
      <%= text_area 'comments', "" %>
    </p>
    <p>
      <%= f.submit 'Create' %>
    </p>
  <% end %>
<% end %>


