%p#notice= notice

%p
  %b Participant:
  = @join_group_request.participant
%p
  %b Group:
  = @join_group_request.group
%p
  %b Comments:
  = @join_group_request.comments
%p
  %b Status:
  = @join_group_request.status

= link_to 'Edit', edit_join_group_request_path(@join_group_request)
\|
= link_to 'Back', join_group_requests_path
