<h3>Bidding Details for <%= @assignment.name %></h3>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Topic Name</th>
      <th>Bidding Teams</th>
      <th>#1 bids</th>
      <th>#2 bids</th>
      <th>#3 bids</th>
    </tr>
  </thead>
  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.topic_name %></td>
        <td>
          <% @bids_by_topic[topic.id].each do |bid_info| %>
            <%= bid_info[:team].name %> (#<%= bid_info[:priority] %>)
          <% end %>
        </td>
        <td>
          <% if @assigned_teams_by_topic[topic.id].any? %>
            <% @assigned_teams_by_topic[topic.id].each do |assigned_team| %>
              <%= assigned_team.name %>
            <% end %>
          <% else %>
            No team assigned
          <% end %>
        </td> 
        <td>
          <% if @count1[topic.id] != 0%>
            <%= @count1[topic.id] %>
          <%else%>
            No bids yet
          <%end%>
        </td>
        <td>
          <% if @count2[topic.id] != 0%>
            <%= @count2[topic.id] %>
          <%else%>
            No bids yet
          <%end%>
        </td>
        <td>
          <% if @count3[topic.id] != 0%>
            <%= @count3[topic.id] %>
          <%else%>
            No bids yet
          <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<a href="javascript:history.back()">Back</a>
