<h3>Bidding Details for <%= @assignment.name %></h3>
<!-- Displaying percentages in a more visually appealing way -->
<div class="percentages" style="margin-bottom: 20px; padding: 15px; border: 1px solid #ccc; border-radius: 5px; background-color: #f9f9f9;">
  <h4 style="margin-bottom: 15px; border-bottom: 1px solid #eee; padding-bottom: 10px;">Percentage of Teams Getting Their Choices:</h4>
  <ul style="list-style: none; padding: 0;">
    <li><strong>#1 Choice:</strong> <span style="color: #4CAF50;"><%= @percentages[1] || 0 %> %</span></li>
    <li><strong>#2 Choice:</strong> <span style="color: #FF9800;"><%= @percentages[2] || 0 %> %</span></li>
    <li><strong>#3 Choice:</strong> <span style="color: #F44336;"><%= @percentages[3] || 0 %> %</span></li>
  </ul>
</div>

<style>
.assigned-team {
  background-color: yellow; 
  color: black;             
}
.bids-column {
    width: 100px; /* Adjust width as needed */
  }
</style>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Topic Name</th>
      <th>Topic ID</th>
      <th>Bidding Teams</th>
      <th>#1 bids</th>
      <th>#2 bids</th>
      <th>#3 bids</th>
    </tr>
  </thead>
  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.topic_name %></td>
        <td><%= topic.id %></td>
        <td>
          <% @bids_by_topic[topic.id].each do |bid_info| %>
            <% team = bid_info[:team] %>
            <% assigned_team = @assigned_teams_by_topic[topic.id].include?(team) %>
            <span class="<%= assigned_team ? 'assigned-team' : '' %>">
              <%= team.name %> (#<%= bid_info[:priority] %>)
            </span>
          <% end %>
        </td>
        <td class="bids-column">
          <% if @count1[topic.id] != 0%>
            <%= @count1[topic.id] %>
          <%else%>
            &ndash;
          <%end%>
        </td>
        <td class="bids-column">
          <% if @count2[topic.id] != 0%>
            <%= @count2[topic.id] %>
          <%else%>
            &ndash;
          <%end%>
        </td>
        <td class="bids-column">
          <% if @count3[topic.id] != 0%>
            <%= @count3[topic.id] %>
          <%else%>
            &ndash;
          <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<a href="javascript:history.back()">Back</a>
