<% [:metrics].each do |type| %>

    <% if (flash_message type) != nil %>
      <%= "This is in student_review/flash_metric_messages.html.erb.  We can setup the display for review metrics here." %></br></br>

      <% @record.each do |records| %>
        <% my_review_record = @review_record.where(responses_id: records.id) %>
        <table border = "1" cellspacing="10">
          <tr>
            <th align = 'left' > <%= " Map ID " %> </th>
            <th align = 'left' > <%= " Response ID " %> </th>
            <th align = 'left' > <%= " Assignment " %> </th>
            <th align = 'left' > <%= " Round " %> </th>
            <% my_review_record.each do |review| %>
                <th align = 'left' > <%= @review_metrics[review.review_metrics_id.to_int-1].metric %> </th>
            <% end %>
          </tr>

          <tr>
            <td align = 'center' > <%= records.map_id %> </td>
            <td align = 'center' > <%= records.id %> </td>
            <% assignment = @map.where(id: records.map_id) %>
            <td align = 'center' > <%= assignment[0].reviewed_object_id %> </td>
            <td align = 'center' > <%= records.round %> </td>
            <% my_review_record.each do |review| %>
                <td align = 'center' > <%= review.value %> </td>
            <% end %>
          </tr>
        </table></br> <%= @percentages[0] %> <%= @percentages[1] %> <%= @percentages[2] %> <%= @percentages[3] %> <%= @percentages[4] %>
      <% end %>
    <% end %>
<% end %>
