<table>
  <% review_no = 1 %>
  <% mappings.each do |map| %>
      <%@sorted_responses=[]%>
      <% team = map.find_team_member %>
      <% participant = team.participants.first %>

      <% if participant %>
          <% topic_id = SignedUpTeam.topic_id(participant.parent_id, participant.user_id) %>
          <tr>
            <td>
              <b><%= "#{title} #{review_no}." %></b>
              <!--In ‘student_review/list’ page, if the topic_identifier is empty, ‘:’ sign should not be displayed.-->
              <% unless topic_id.nil? %>
                  <% if SignUpTopic.find(topic_id).topic_identifier != '' %>
                      <%= " #{SignUpTopic.find(topic_id).topic_identifier}: #{SignUpTopic.find(topic_id).topic_name}" %>
                  <% else %>
                      <%= " #{SignUpTopic.find(topic_id).topic_name}" %>
                  <% end %>
              <% end %>

              <%unless @assignment.is_anonymous%>
                &nbsp; (author: <%= participant.fullname%>)
              <%end%>
            </td>
            <%= render partial: 'shared/responses/response_actions', :locals => {:team => team ,:topic_id => topic_id, :map =>map, :reviewer_role => :student, :title => 'Review'} %>
            <% review_no+=1 %>

            <!--[zhewei, 1/20/2016]: show calibration results-->
            <% calibration_response_map = ReviewResponseMap.where(["reviewed_object_id = ? and reviewee_id = ? and calibrate_to = ?", @assignment.id, map.reviewee_id, 1]).first rescue nil %>
            <% if @assignment.is_calibrated and calibration_response_map and calibration_response_map.response and map.response.any? %>
              <td>&nbsp;&nbsp;</td>
              <td><%= link_to t(".show_calibration_results"), {controller: 'response', action: 'show_calibration_results_for_student', calibration_response_map_id: calibration_response_map.id, review_response_map_id: map.id, assignment_id: @assignment.id} %></td>
            <% end %>
          </tr>
      <% end %>

     <% unless map.type.to_s == "MetareviewResponseMap" %>
       <% unless @sorted_responses.nil? %>
         <table class="grades" style=" font-style: italic; margin-left: 90px;">
         <% if @sorted_responses.size > 1 %>
           <%@sorted_responses = @sorted_responses.reverse%>
           <% for i in 1..@sorted_responses.size-1 %>
             <tr>
               <td colspan="10"><%= link_to "Review done at --#{@sorted_responses[i].updated_at.strftime("%a, %b %d, %Y %I:%M:%S %p")}", {:controller => 'response', :action => 'view', :id => @sorted_responses[i].id} %></td>
             </tr>
           <% end %>
         <% else %>
           <tr>
             <td> <font color="gray" style="font-style: italic;"><%=t ".no_previous_available"%></font></td>
           </tr>
         <% end %>
         </table>
       <% end %>
     <% end %>
  <% end %>
</table>
