<table>
  <% review_no = 1 %>
  <% mappings.each do |map| %>
      <%- # ACS Have metareviews done for all teams   -%>
      <%- # removed code that handles team and individual assignments differently   -%>
      <% if map.type.to_s == "MetareviewResponseMap" %>
          <% logger.warn "map: #{map.inspect}" %>
          <% review_mapping = ResponseMap.find(map.reviewed_object_id) %>
          <% logger.warn "review_mapping: #{review_mapping.inspect}" %>
          <% participant = AssignmentTeam.first_member(review_mapping.reviewee_id) %>
      <% else %>
          <% participant = AssignmentTeam.first_member(map.reviewee_id) %>
      <% end %>

      <% if participant %>
          <% topic_id = SignedUpTeam.topic_id(participant.parent_id, participant.user_id) %>
          <tr>
            <td>
              <%round = map.round%>
              <%if round==nil %>
                  <%round = ""  %>
              <%else%>
                  <%round = " (Round"+round.to_s+")"  %>
              <%end%>

              <b><%= "#{title} #{review_no}." %></b> <%=round%>
              <!--In ‘student_review/list’ page, if the topic_identifier is empty, ‘:’ sign should not be displayed.-->
              <% if !topic_id.nil? %>
                  <% if SignUpTopic.find(topic_id).topic_identifier != '' %>
                      <%= " #{SignUpTopic.find(topic_id).topic_identifier}: #{SignUpTopic.find(topic_id).topic_name}" %>
                  <% else %>
                      <%= " #{SignUpTopic.find(topic_id).topic_name}" %>
                  <% end %>
              <% end %>
            </td>

            <td>&nbsp;</td>
            <% if map.response %>
                <% array_not_empty = 0 %>
                <% @sorted_responses = Array.new %>
                <% @prev = Response.where(:map_id => map.id) %>
                <% for element in @prev %>
                    <% array_not_empty = 1 %>
                    <% @sorted_responses << element %>
                <% end %>

                <% if (array_not_empty == 1) %>

                    <% @sorted_responses = @sorted_responses.sort { |a,b| a.updated_at <=> b.updated_at}%>
                    <% @latest_response = @sorted_responses.last %>
                    <% @latest_response_created_time = @latest_response.created_at %>
                    <% due_dates = DueDate.where(["assignment_id = ?", @assignment.id]) %>
                    <% @sorted_deadlines = Array.new %>
                    <% @sorted_deadlines = due_dates.sort { |m1, m2| (m1.due_at and m2.due_at) ? m1.due_at <=> m2.due_at : (m1.due_at ? -1 : 1) } %>
                    <% current_time = Time.new.getutc %>

                    <% for deadline_version in @sorted_deadlines %>
                      <% if (@latest_response.created_at < deadline_version.due_at) %>
                        <% break %>
                      <% end %>
                    <% end %>

                    <% for coming_deadline in @sorted_deadlines %>
                      <% if (current_time < coming_deadline.due_at) %>
                        <% break %>
                      <% end %>
                    <% end %>

                    <td>
                       <%= link_to "View", {:controller => 'response', :action => 'view', :id => @sorted_responses.first.id} %>
                    </td>

                    <% if @assignment.get_current_stage(topic_id) != "Finished" %>
                      <%- # show the link as edit when latest review is done in current deadline   -%>
                      <%- # show link as update when latest review is done in different deadline than current phase   -%>
                      <% if (deadline_version.due_at == coming_deadline.due_at) %>
                        <td><%= link_to "Edit", {:controller => 'response', :action => 'edit', :id => @sorted_responses.first.id} %></td>
                      <% else %>
                        <td><%= link_to "Update", {:controller => 'response', :action => 'new', :id => map.map_id} %></td>
                      <% end %>
                    <% end %>
                <%end%>
            <% elsif @assignment.get_current_stage(topic_id) != "Complete" %>
                <% if @assignment.staggered_deadline? %>
                            <% if map.type.to_s == "MetareviewResponseMap" %>
                                <% if @assignment.get_current_stage(topic_id) == 'metareview' %>
                                    <td><%= link_to "Begin", {:controller => 'response', :action => 'new', :id => map.map_id} %></td>
                                <% else %>
                                    <td>Begin</td>
                                    <td> (Work has not yet been submitted)</td>
                                <% end %>
                            <% else %>
                                <% if @assignment.get_current_stage(topic_id) != 'submission' %>
                                    <td><%= link_to "Begin", {:controller => 'response', :action => 'new', :id => map.map_id} %></td>
                                    <td>&nbsp;&nbsp;</td>
                                    <%#- Display link for code review if 'any' code review files -%>
                                    <%#- have been uploaded i.e. files present in code review dir -%>
                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;
                                      <% if participant.files(ReviewFilesHelper::get_code_review_file_dir(participant)).length > 0 %>
                                          <%= link_to "Review Code", { :controller => 'review_files', :action => 'show_all_submitted_files', :participant_id => participant.id } %>
                                      <% end %>
                                    </td>
                                <% else %>
                                    <td>Begin</td>
                                    <td> (Work has not yet been submitted)</td>
                                <% end %>
                            <% end %>
                        <% else %>
                            <td><%= link_to "Begin", {:controller => 'response', :action => 'new', :id => map.id} %></td>
                            <td>&nbsp;&nbsp;</td>
                            <%-# Display link for code review if 'any' code review files -%>
                            <%-# have been uploaded i.e. files present in code review dir-%>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;
                              <% if participant.files(ReviewFilesHelper::get_code_review_file_dir(participant)).length > 0 %>
                                  <%= link_to "Review Code", {:controller => 'review_files', :action => 'show_all_submitted_files', :participant_id => participant.id } %>
                              <% end %>
                            </td>
                        <% end %>
                        <% else %>
                        <td>Begin</td>
                        <td> (Work has not yet been submitted) for
                          <% review_no += 1 %></td>
                        <% end %>
                        <% review_no+=1 %>
                        </tr>
                        <% end %>

                        <% if map.type.to_s != "MetareviewResponseMap" %>
                            <% if @sorted_responses !=nil %>
                                <TABLE class="grades" style=" font-style: italic; margin-left: 90px;">
                                  <% if (@sorted_responses.size > 1) %>
                                      <%@sorted_responses = @sorted_responses.reverse%>
                                      <% for i in 1..@sorted_responses.size-1 %>
                                          <tr>
                                            <td colspan="10"><%= link_to "Review done at --#{@sorted_responses[i].created_at}", {:controller => 'response', :action => 'view', :id => @sorted_responses[i].id} %></td>
                                          </tr>
                                      <% end %>
                                  <% else %>
                                      <tr>
                                        <td><br> <font color="gray" style="font-style: italic;">No previous versions available</font></td>
                                      </tr>
                                  <% end %>
                                </TABLE>
                            <% end %>
                        <% end %>
                        <% end %>
                        </table>
