<table>
  <% review_no = 1 %>
  <% mappings.each do |map| %>
      <%@sorted_responses=[]%>
      <%- # ACS Have metareviews done for all teams   -%>
      <%- # removed code that handles team and individual assignments differently   -%>
      <% if map.type.to_s == "MetareviewResponseMap" %>
          <% review_mapping = ResponseMap.find(map.reviewed_object_id) %>
          <% participant = AssignmentTeam.first_member(review_mapping.reviewee_id) %>
      <% else %>
          <% participant = AssignmentTeam.first_member(map.reviewee_id) %>
      <% end %>

      <% if participant %>
          <% topic_id = SignedUpTeam.topic_id(participant.parent_id, participant.user_id) %>
          <tr>
            <td>
              <b><%= "#{title} #{review_no}." %></b>
              <!--In ‘student_review/list’ page, if the topic_identifier is empty, ‘:’ sign should not be displayed.-->
              <% if !topic_id.nil? %>
                  <% if SignUpTopic.find(topic_id).topic_identifier != '' %>
                      <%= " #{SignUpTopic.find(topic_id).topic_identifier}: #{SignUpTopic.find(topic_id).topic_name}" %>
                  <% else %>
                      <%= " #{SignUpTopic.find(topic_id).topic_name}" %>
                  <% end %>
              <% end %>
            </td>

            <td>&nbsp;</td>
            <% if !map.response.empty? %>
                <% array_not_empty = 0 %>
                <% @sorted_responses = Array.new %>
                <% @prev = Response.where(:map_id => map.id) %>
                <% for element in @prev %>
                    <% array_not_empty = 1 %>
                    <% @sorted_responses << element %>
                <% end %>

                <% if (array_not_empty == 1) %>

                    <% @sorted_responses = @sorted_responses.sort_by {|obj| obj.updated_at} # the latest should be at the last%>
                    <% @latest_response = @sorted_responses.last %>

                    <%if @latest_response.round.nil?%>
                      <% last_response_round = DueDate.done_in_assignment_round(@assignment.id,@latest_response) %>
                    <%else%>
                      <% last_response_round = @latest_response.round %>
                    <%end%>

                    <% current_round = @assignment.get_current_round(topic_id) %>

                    <td>
                       <%= link_to "View", {:controller => 'response', :action => 'view', :id => @latest_response.id} %>
                    </td>

                    <% if @assignment.get_current_stage(topic_id) != "Finished" %>
                      <%- # show the link as edit when latest review is done in current deadline   -%>
                      <%- # show link as update when latest review is done in different deadline than current phase   -%>
                      <% if (last_response_round == current_round) %>
                        <td><%= link_to "Edit", {:controller => 'response', :action => 'edit', :id => @latest_response.id} %></td>
                      <% else %>
                        <td><%= link_to "Update", {:controller => 'response', :action => 'new', :id => map.map_id} %></td>
                      <% end %>
                    <% end %>
                <%end%>
            <% elsif @assignment.get_current_stage(topic_id) != "Complete" %>
                <% if @assignment.staggered_deadline? %>
                            <% if map.type.to_s == "MetareviewResponseMap" %>
                                <% if @assignment.get_current_stage(topic_id) == 'metareview' %>
                                    <td><%= link_to "Begin", {:controller => 'response', :action => 'new', :id => map.map_id} %></td>
                                <% else %>
                                    <td>Begin</td>
                                    <td> (Work has not yet been submitted)</td>
                                <% end %>
                            <% else %>
                                <% if @assignment.get_current_stage(topic_id) != 'submission' %>
                                    <td><%= link_to "Begin", {:controller => 'response', :action => 'new', :id => map.map_id} %></td>
                                    <td>&nbsp;&nbsp;</td>
                                    <%#- Display link for code review if 'any' code review files -%>
                                    <%#- have been uploaded i.e. files present in code review dir -%>
                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;
                                      <% if participant.files(ReviewFilesHelper::get_code_review_file_dir(participant)).length > 0 %>
                                          <%= link_to "Review Code", { :controller => 'review_files', :action => 'show_all_submitted_files', :participant_id => participant.id } %>
                                      <% end %>
                                    </td>
                                <% else %>
                                    <td>Begin</td>
                                    <td> (Work has not yet been submitted)</td>
                                <% end %>
                            <% end %>
                <% else %>
                            <td><%= link_to "Begin", {:controller => 'response', :action => 'new', :id => map.id} %></td>
                            <td>&nbsp;&nbsp;</td>
                            <%-# Display link for code review if 'any' code review files -%>
                            <%-# have been uploaded i.e. files present in code review dir-%>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;
                              <% if participant.files(ReviewFilesHelper::get_code_review_file_dir(participant)).length > 0 %>
                                  <%= link_to "Review Code", {:controller => 'review_files', :action => 'show_all_submitted_files', :participant_id => participant.id } %>
                              <% end %>
                            </td>
                <% end %>
            <% else %>
                        <td>Begin</td>
                        <td> (Work has not yet been submitted) for
                          <% review_no += 1 %></td>
            <% end %>
                        <% review_no+=1 %>
                        </tr>
      <% end %>

                        <% if map.type.to_s != "MetareviewResponseMap" %>
                            <% if @sorted_responses !=nil %>
                                <TABLE class="grades" style=" font-style: italic; margin-left: 90px;">
                                  <% if (@sorted_responses.size > 1) %>
                                      <%@sorted_responses = @sorted_responses.reverse%>
                                      <% for i in 1..@sorted_responses.size-1 %>
                                          <tr>
                                            <td colspan="10"><%= link_to "Review done at --#{@sorted_responses[i].created_at}", {:controller => 'response', :action => 'view', :id => @sorted_responses[i].id} %></td>
                                          </tr>
                                      <% end %>
                                  <% else %>
                                      <tr>
                                        <td> <font color="gray" style="font-style: italic;">No previous versions available</font></td>
                                      </tr>
                                  <% end %>
                                </TABLE>
                            <% end %>
                        <% end %>
                        <% end %>
                        </table>
