<<<<<<< HEAD
=======
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 126e61ecf11c9abb3ccdba784bf9528251d30eb0
<% form_tag :controller => 'review_mapping',
            :action => 'show_available_submissions',
            :assignment_id => assignment.id,
            :reviewer_id => session[:user].id do %>

  <% if assignment.sign_up_topics.count > 0 %>
    <p><b>Select a topic below to begin a new review:</b></p>

    <% assignment.sign_up_topics.each do |topic| %>
      <%= radio_button_tag :topic_id, topic.id %> <%= topic.topic_identifier %>: <%=h topic.topic_name %><br>
    <% end %>
    <br />
  <% end %>

  <% if assignment.sign_up_topics.count > 0 %>
     <input type='submit' value='Select a Topic to Review'/>
  <% else %>
     <input type='submit' value='Go to Selection Page'/>
  <% end %>
<% end %>
<<<<<<< HEAD
=======
=======
<% form_tag :controller => 'review_mapping',
            :action => 'show_available_submissions',
            :assignment_id => assignment.id,
            :reviewer_id => session[:user].id do %>

  <% if assignment.sign_up_topics.count > 0 %>
    <p><b>Select a topic below to begin a new review:</b></p>

    <% assignment.sign_up_topics.each do |topic| %>
      <%= radio_button_tag :topic_id, topic.id %> <%= topic.topic_identifier %>: <%=h topic.topic_name %><br>
    <% end %>
    <br />
  <% end %>

  <% if assignment.sign_up_topics.count > 0 %>
     <input type='submit' value='Select a Topic to Review'/>
  <% else %>
     <input type='submit' value='Go to Selection Page'/>
  <% end %>
<% end %>
>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
=======
<% form_tag :controller => 'review_mapping',
            :action => 'show_available_submissions',
            :assignment_id => assignment.id,
            :reviewer_id => session[:user].id do %>

  <% if assignment.sign_up_topics.count > 0 %>
    <p><b>Select a topic below to begin a new review:</b></p>

    <% assignment.sign_up_topics.each do |topic| %>
      <%= radio_button_tag :topic_id, topic.id %> <%= topic.topic_identifier %>: <%=h topic.topic_name %><br>
    <% end %>
    <br />
  <% end %>

  <% if assignment.sign_up_topics.count > 0 %>
     <input type='submit' value='Select a Topic to Review'/>
  <% else %>
     <input type='submit' value='Go to Selection Page'/>
  <% end %>
<% end %>
>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
>>>>>>> 126e61ecf11c9abb3ccdba784bf9528251d30eb0
