<h2>Reviews for "<%= @assignment.name %>"</h2>
<% if @assignment.review_allowed(@reviewee_topic_id) or @assignment.get_current_stage(@reviewee_topic_id) == "Complete" %>
    <%= render :partial => 'responses', :locals => {:mappings => @review_mappings, :title => 'Review'} %>
    <% if @assignment.dynamic_reviewer_assignment? %>
      <%# if @num_reviews_in_progress == 0 %>
        <% if @num_reviews_in_progress < 3 %>
          <% if @assignment.review_assignment_strategy == Assignment::RS_AUTO_SELECTED %>
              <%= render :partial => 'set_dynamic_review', :locals => {:assignment => @assignment, :participant => @participant} %>
            <% elsif @assignment.review_assignment_strategy == Assignment::RS_STUDENT_SELECTED %>
                <%= render :partial => 'set_student_review', :locals => {:assignment => @assignment} %>
            <% end %>
        <% else%>
        <br><br>
        <span>Note: You can't have more than 3 outstanding reviews. You must complete one of your outstanding reviews before selecting another.</span>
        <% end %>

    <% end %>
<% else %>
    <p><em>Reviews cannot be performed at this time</em></p>
<% end %>

<% if @assignment.metareview_allowed(@meta_reviewee_topic_id) or @assignment.get_current_stage() == "Complete" %>
    <h2>Metareviews for "<%= @assignment.name %>"</h2>
    <%= render :partial => 'responses', :locals => {:mappings => @metareview_mappings, :title => 'Metareview'} %>
    <br/>
    <% if @assignment.review_assignment_strategy == Assignment::RS_AUTO_SELECTED %>
        <% if @num_metareviews_in_progress == 0 %>
            <%= render :partial => 'set_dynamic_metareview', :locals => {:assignment => @assignment} %>
        <% end %>
    <% end %>
<% end %>

<br><br>
<a href="javascript:window.history.back()">Back</a>
