<h2>Reviews for "<%= @assignment.name %>"</h2>

<!-- Added the feature to find the reviews and meta-reviews left for students by E1839 @Rayan Dasoriya -->
<% if @assignment.num_reviews_allowed.nil? || @assignment.num_reviews_allowed == -1%>
    <h4><%=t ".your_instructor_expects"%> <%= @assignment.num_reviews_required %> reviews. You are not allowed to do any extra reviews. </h4>

<% elsif @assignment.num_reviews_allowed == @assignment.num_reviews_required %>
    <h4><%=t ".perform_exactly"%> <%= @assignment.num_reviews_allowed %> reviews </h4>
<% else %>

    <h4><%=t ".may_perform_between_1"%> <%= @assignment.num_reviews_required %> <%=t ".may_perform_between_2"%> <%= @assignment.num_reviews_allowed %> reviews</h4>
<% end %>
<h4><%=t ".required_to_do"%> <%= @assignment.num_reviews_required %> reviews</h4>
<h4> <%=t ".num_reviews_left"%> <%= @assignment.num_reviews_allowed - @num_reviews_completed %></h4>

<% unless @response_ids.empty? %>
<%=  link_to "Sample Reviews" , sample_reviews_path(:id => @assignment.id) %>
<% end %>

<% if check_reviewable_topics(@assignment) or @assignment.current_stage(@topic_id) == "Finished" %>
    <%= render :partial => 'responses', :locals => {:mappings => @review_mappings, :title => 'Review'} %>
    <!-- Temporary fix for Staggered Deadline assignment issue preventing students from reviewing 04-23-19 -->
    <!-- We need to perform the same check, but on the topic that is being reviewed and not the topic that the reviewer wrote on -->
    <% if @assignment.staggered_deadline? or @assignment.number_of_current_round(@topic_id) == 1 or (@assignment.number_of_current_round(@topic_id) > 1 and @assignment.allow_selecting_additional_reviews_after_1st_round) %>
      <% if @assignment.dynamic_reviewer_assignment? %>
          <% if @num_reviews_in_progress >= Assignment.max_outstanding_reviews %>
              <br><br>
              <span><%=t ".note1"%></span>
          <% elsif @assignment.num_reviews && @assignment.num_reviews >= 0 && @num_reviews_total >= @assignment.num_reviews%>
              <br><br>
              <span><%=t ".note2_1"%> <%=@assignment.num_reviews%> <%=t ".note2_2"%></span>
          <%else %>
            <%= render :partial => 'set_dynamic_review', :locals => {:assignment => @assignment, :participant => @participant} %>
          <% end %>

      <% end %>
    <% end %>
<% else %>
    <p><em><%=t ".reviews_cannot"%></em></p >
<% end %>

<% if @assignment.metareview_allowed(@topic_id) || @assignment.current_stage == "Complete" %>
    <h2>Metareviews for "<%= @assignment.name %>"</h2>

    <% if @assignment.num_metareviews_allowed.nil? || @assignment.num_metareviews_allowed == -1%>

    <% else %>
        <h4>Number of Meta-Reviews Allowed: "<%= @assignment.num_metareviews_allowed %>"</h4>
    <% end %>
    <h4><%=t ".required_to_do"%> <%= @assignment.num_metareviews_required %> <%=t ".metareviews"%></h4>
    <h4> <%=t ".metareviews_left"%> <%= @assignment.num_metareviews_allowed - @num_metareviews_completed %></h4>


  <%= render :partial => 'responses', :locals => {:mappings => @metareview_mappings, :title => 'Metareview'} %>
    <br/>
    <% if @assignment.review_assignment_strategy == Assignment::RS_AUTO_SELECTED %>
        <% if @num_metareviews_in_progress.zero? %>
            <%= render :partial => 'set_dynamic_metareview', :locals => {:assignment => @assignment} %>
        <% end %>
    <% end %>
<% end %>

<br><br>
<%= link_to 'Back', :controller => 'student_task', :action => 'list' %>
