<table class="table table-striped" style="width: 100%">
  <thead>
  <tr>
    <th>Badge</th>
    <th>Name</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <% @badges.each do |badge| %>
    <tr>
      <td style="text-align:center"><img width = "30px" src=<%= "/assets/badges/#{badge.image_name}" %> title="<%= badge.name %>"></td>
      <td><%= badge.name %></td>
      <td><%= badge.description %></td>
      <td><input type="checkbox" name="select-badge" id="select-badge"></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <%= form_tag({:controller => "badges",
        :action => "new"}, {:method => "get"}) do %>
      <td><%= submit_tag "+" %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
