<table style="border-collapse: separate; border-spacing: 0 1em;">
  <tr>
    <td style='padding:5px' id='assignment_is_badges_enabled'>
      <input name="assignment_form[assignment][is_badges_enabled]" type="hidden" value="false"/>
      <%= check_box_tag('assignment_form[assignment][is_badges_enabled]', 'true', @assignment_form.assignment.is_badges_enabled) %>
      <%= label_tag('assignment_form[assignment][is_badges_enabled]', 'Enable Badges') %>
    </td>
  </tr>

  <tr>
    <td>
      <table>
        <tr>
          <td>
            <%=radio_button_tag 'assignment_form[badge][badge_assignment_strategy]', badge_strategy_options[0][0], @strategy_top %>
            <label for="assignment_strategy_1"><%= badge_strategy_options[0][0] %></label>
          </td>
        </tr>
        <tr>
          <td>
            <label for="assignment_strategy_1">Number of Badges: </label>
            <%= text_field_tag 'assignment_form[badge][badge_assignment_NumBadges]', @threshold_top,  :size => '4'%>
          </td>
        </tr>

      </table>
    </td>
  </tr>
  <tr></tr>
  <tr>
    <td>
      <table>
        <tr>
          <td>
            <%=radio_button_tag 'assignment_form[badge][badge_assignment_strategy]', badge_strategy_options[1][0], @strategy_score_threshold %>
            <label for="assignment_strategy_2"><%= badge_strategy_options[1][0] %></label>
          </td>
        </tr>
        <tr>
          <td>
            <label for="assignment_strategy_2">Score greater than: </label>
            <%=text_field_tag 'assignment_form[badge][badge_assignment_threshold]', @threshold_score, :size => '4'%>
          </td>
        </tr>
      </table>
    </td>
  </tr>

</table>