<table class="table table-striped" style="width: 100%">
  <thead>
  <tr>
    <th>Badge</th>
    <th>Name</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <% @badges.each do |badge| %>
    <tr>
      <td style="text-align:center"><img width = "30px" src=<%= "/assets/badges/#{badge.image_name}" %> title="<%= badge.name %>"></td>
      <td><%= badge.name %></td>
      <td><%= badge.description %></td>
      <!-- If a badge is already assigned to an assignment, the checkbox for the badge will be checked -->
      <% if @assigned_badges.where(id: badge.id).any? %>
        <td><input type="checkbox" name=<%="assignment_form[badge][id][#{badge.id}]"%> checked></td>
      <% else %>
        <td><input type="checkbox" name=<%="assignment_form[badge][id][#{badge.id}]"%>></td>
      <% end %>
    </tr>
  <% end %>
  <tr>
    <%= form_tag({:controller => "badges",
                  :action => "new"}, {:method => "get"}) do %>
      <td><%= submit_tag "+" %></td>
    <% end %>
  </tr>
  </tbody>
</table>
