<script type="text/javascript">
    jQuery(document).ready(function() {
    jQuery("#set_rounds").click(function () {
        changeReviewRounds();
        event.preventDefault(); // Prevent link from following its href
    });
    });

    function addDueDateTableElement(addnameurl,deadline_type, round_no, due_date) {
//round_no = 0 for submission and review is not possible
//round_no = 0 is used for other deadlines
        var previous_element;
        if (round_no == 0) {
            previous_element = jQuery('#due_dates_table>tbody>tr:not(#due_date_heading)').last();
            element_id = deadline_type;
            if (jQuery('#' + element_id).length != 0) {
                return
            }
        }
        else {
            if (deadline_type == 'submission') {
                if (round_no == 1) {
                    previous_element = jQuery('#due_date_heading');
                } else {
                    previous_element = jQuery('#review_round_' + (round_no - 1));
                }
            }
            else if (deadline_type == 'review') {
                previous_element = jQuery('#submission_round_' + round_no);
            }
            else {
                console.log('error: addDueDateTableElement');
            }
            element_id = deadline_type + '_round_' + round_no;
            if (jQuery('#' + element_id).length != 0) {
                return
            }
        }
        if (previous_element.length == 0) {
            return
        }

        var html = '<tr id=' + element_id + '>';

        var id = due_date.id
        if(id == null){
            id='';
        }
        html +=
                '<input name="assignment_form[due_date][][id]" type="hidden" value="' + id +'">';

        html += '<input class="due_date_assignment_id" name="assignment_form[due_date][][assignment_id]" type="hidden" value="' + <%= @assignment_form.assignment.id %> + '">' +
        '<input class="due_date_round" name="assignment_form[due_date][][round]" type="hidden" value="' + round_no + '">' +
        '<input class="due_date_deadline_type_id" name="assignment_form[due_date][][deadline_type_id]" type="hidden" value="' + due_date.deadline_type_id + '">';

        html += '<td class="due_date_name" width="15%">';
        if (round_no != 0) {
            html += 'Round ' + round_no + ': ' + deadline_type.capitalize();
        } else {
            html += deadline_type.replace("_", " ").capitalize();
        }
        html += '</td>';
        var due_at = due_date.due_at;
        if (due_at == null) {
            due_at = '';
        }
        else{
            var tzone = due_at.substr(23,6);
            if(tzone=='Z'){
                tzone = '+00:00';
            }
            var timezone = "(GMT"+tzone.toString()+")";
            due_at = due_at.substr(0,4)+'/'+due_at.substr(5,2)+'/'+due_at.substr(8,2)+' '+due_at.substr(11,2)+':'+due_at.substr(14,2)+' '+timezone;
        }
        var due_name = due_date.deadline_name;
        if (due_name == null){
            due_name = '';
        }
        html += '<td align="center" class="due_date_due_at" width="25%">' +
        '<input id="datetimepicker_' + element_id +
        '" name="assignment_form[due_date][][due_at]" style="width: 200px" type="text" value="' +
        due_at + '">' + '</td>';
        html += '<td align="center" class="due_date_due_at" width="10%">' +
        '<select id="due_date_submission_allowed_id" name="assignment_form[due_date][][submission_allowed_id]">' +
        '<option value="">---</option>' +
        '<option value="1">No</option>' +
        '<option value="2">Late</option>' +
        '<option value="3">Yes</option>' +
        '</select></td>';
        html += '<td align="center" class="due_date_review_allowed_id" width="10%">' +
        '<select id="due_date_review_allowed_id" name="assignment_form[due_date][][review_allowed_id]">' +
        '<option value="">---</option>' +
        '<option value="1">No</option>' +
        '<option value="2">Late</option>' +
        '<option value="3">Yes</option>' +
        '</select></td>';
        html += '<td align="center" class="due_date_review_of_review_allowed_id" width="10%">' +
        '<select id="due_date_review_of_review_allowed_id" name="assignment_form[due_date][][review_of_review_allowed_id]">' +
        '<option value="">---</option>' +
        '<option value="1">No</option>' +
        '<option value="2">Late</option>' +
        '<option value="3">Yes</option>' +
        '</select></td>';

        if (<%=@assignment_form.assignment.require_quiz%>)
        {
            html += '<td align="center" class="due_date_quiz_allowed_id" width="10%">' +
            '<select id="due_date_quiz_allowed_id" name="assignment_form[due_date][][quiz_allowed_id]">' +
            '<option value="">---</option>' +
            '<option value="1">No</option>' +
            '<option value="2">Late</option>' +
            '<option value="3">Yes</option>' +
            '</select></td>';
        }
        else
        {
        }

        html += '<td align="center" class="due_date_threshold" width="10%">' +
        '<select id="due_date_threshold" name="assignment_form[due_date][][threshold]">' +
        '<option value="">---</option>' +
        '<option value="8">8</option>' +
        '<option value="16">16</option>' +
        '<option value="24">24</option>' +
        '<option value="32">32</option>' +
        '<option value="40">40</option>' +
        '<option value="48">48</option>' +
        '<option value="56">56</option>' +
        '<option value="64">64</option>' +
        '<option value="72">72</option>' +
        '<option value="80">80</option>' +
        '<option value="88">88</option>' +
        '<option value="96">96</option>' +
        '</select></td>';
        var html2 = html;

        html += '<td  align="center" id="specialname" class="due_date_name" width="10%">';
        html += '<input id="due_date_name" type="text" name="assignment_form[due_date][][deadline_name]" value="'+due_date.deadline_name+'">'+'</td>';
        html += '<td  align="center" id="due_date_url_col" class="due_date_description_url" width="10%">';
        html += '<input id="due_date_description_url" type="text" name="assignment_form[due_date][][description_url]" value="'+due_date.description_url+'">'+'</td>';
        if (addnameurl==false){
            previous_element.after(html2);
        }
        else{
            previous_element.after(html);
        }

        jQuery('#due_date_submission_allowed_id').val(due_date.submission_allowed_id).attr('id', '');
        jQuery('#due_date_resubmission_allowed_id').val(due_date.resubmission_allowed_id).attr('id', '');
        jQuery('#due_date_review_allowed_id').val(due_date.review_allowed_id).attr('id', '');
        jQuery('#due_date_rereview_allowed_id').val(due_date.rereview_allowed_id).attr('id', '');
        jQuery('#due_date_review_of_review_allowed_id').val(due_date.review_of_review_allowed_id).attr('id', '');
        jQuery('#due_date_quiz_allowed_id').val(due_date.quiz_allowed_id).attr('id', '');
        jQuery('#due_date_threshold').val(due_date.threshold).attr('id', '');
        jQuery('#due_date_name').val(due_date.deadline_name).attr('id', '');
        jQuery('#due_date_description_url').val(due_date.description_url).attr('id', '');

        jQuery('#datetimepicker_' + element_id).datetimepicker({
            dateFormat: 'yy/mm/dd',
            timeFormat: 'HH:mm:ss z',
            controlType: 'select',
            timezoneList: [
                { value: -000, label: 'GMT'},
                { value: -300, label: 'Eastern'},
                { value: -360, label: 'Central' },
                { value: -420, label: 'Mountain' },
                { value: -480, label: 'Pacific' }
            ]
        });
    }

     function removeDueDateTableElement(deadline_type, round_no) {
      var element_id;
      if (round_no == 0) {
        element_id = '#' + deadline_type;
      } else {
        element_id = '#' + deadline_type + '_round_' + round_no;
      }
      jQuery(element_id).remove();
    }

    function changeReviewRounds() {
        var new_round_count = parseInt(jQuery('#assignment_form_assignment_rounds_of_reviews').val());
        if (new_round_count <= 0) {
            alert('ERROR: number of rounds of review should be greater than 0');
            return
        }

        var i;
        var due_dates_table_element_list = jQuery('#due_dates_table>tbody>tr:not(#due_date_heading)');
        var current_round_count = 0;
        var round_no;
        for (i = 0; i < due_dates_table_element_list.length; i++) {
            round_no = parseInt(due_dates_table_element_list[i].id.split('_').last());
            if (!isNaN(round_no)) {
                if (current_round_count < round_no) {
                    current_round_count = round_no;
                }
            }
        }
        var original_round_count = <%= @assignment_form.assignment.rounds_of_reviews%>;
        if (new_round_count == current_round_count) {
            return
        }
        if (new_round_count >= original_round_count && current_round_count < original_round_count) {
            //make sure all the rounds are already displayed
            <% for i in 1..@assignment_form.assignment.rounds_of_reviews %>
            addDueDateTableElement(false,'submission', <%=i%>, <%= due_date(@assignment_form.assignment,'submission', i-1).to_json.html_safe %>);
            addDueDateTableElement(false,'review', <%=i%>, <%= due_date(@assignment_form.assignment,'review', i-1).to_json.html_safe %>);
            <% end %> //use ruby because i need the i variable... @_@ unfortunate but dunno how to get around
            //dont worry the addDueDateTableElement function check to see if it exist first before doing anything
        }
        if (new_round_count < current_round_count) {
            for (i = new_round_count + 1; i <= current_round_count; i++) {
                removeDueDateTableElement('submission', i);
                removeDueDateTableElement('review', i);
            }
        }
        if (new_round_count > current_round_count) {
            for (i = original_round_count + 1; i <= new_round_count; i++) {
                addDueDateTableElement(false,'submission', i, <%= due_date(@assignment_form.assignment,'submission', -1).to_json.html_safe%>);
                addDueDateTableElement(false,'review', i, <%= due_date(@assignment_form.assignment,'review', -1).to_json.html_safe%>);
            }
        }
        //jQuery.get("/assignment/update");
        //jQuery('#assignment_form').submit();
    }

    function handleChangenameurl(checkvalue,due_date_name_column,due_date_url_column){
        var state = checkvalue;
        var round_count = <%= @assignment_form.assignment.rounds_of_reviews%>;
        if (!document.getElementById) {
            return;
        }
        if (state == false && round_count >1){
            //hide name and url colomns
            for (i =1; i <= round_count; i++) {
                removeDueDateTableElement('submission', i);
                removeDueDateTableElement('review', i);
            }
            removeDueDateTableElement('metareview', 0);
            <% for i in 1..@assignment_form.assignment.rounds_of_reviews %>
            addDueDateTableElement(false,'submission', <%=i%>, <%= due_date(@assignment_form.assignment,'submission', i-1).to_json.html_safe %>);
            addDueDateTableElement(false,'review', <%=i%>, <%= due_date(@assignment_form.assignment,'review', i-1).to_json.html_safe %>);
            <% end %>
            addDueDateTableElement(false,'metareview',0,<%= due_date(@assignment_form.assignment,'metareview', 0).to_json.html_safe%>);
            due_date_name_column.style.display="none";
            due_date_url_column.style.display="none";
        }
        if (state == true && round_count >1){
            //display name and url colomns
            for (i =1; i <= round_count; i++) {
                removeDueDateTableElement('submission', i);
                removeDueDateTableElement('review', i);
            }
            removeDueDateTableElement('metareview', 0);
            <% for i in 1..@assignment_form.assignment.rounds_of_reviews %>
            addDueDateTableElement(true,'submission', <%=i%>, <%= due_date(@assignment_form.assignment,'submission', i-1).to_json.html_safe %>);
            addDueDateTableElement(true,'review', <%=i%>, <%= due_date(@assignment_form.assignment,'review', i-1).to_json.html_safe %>);
            <% end %>
            addDueDateTableElement(true,'metareview',0,<%= due_date(@assignment_form.assignment,'metareview', 0).to_json.html_safe %>);
            due_date_name_column.removeAttribute("style");
            due_date_url_column.removeAttribute("style");
        }
        else{
            return;
        }
    }
</script>

<div style="font-size:large;">
<b><label id="staggered_label" style="display:none">Deadlines for chapter 1</label></b>
</div>

<div style='padding: 5px' id='review_round'>
<%= label_tag('assignment_form[assignment][rounds_of_reviews]', 'Number of Review Rounds:') %>
<%= text_field_tag('assignment_form[assignment][rounds_of_reviews]', @assignment_form.assignment.rounds_of_reviews, :style => 'width:50px') %>
  <button type="button" id="set_rounds">Set</button>
</div>

<!--Add a change name or url checkbox. By: Xiaoqiang Shao-->
<input name="changenameurl" type="hidden" value="false" />
<%= check_box_tag('changenameurl', 'true', @due_date_nameurl_notempty_checkbox,:onclick=>"handleChangenameurl(this.checked,due_date_name_column,due_date_url_column)" ) %>
<%= label_tag('changenameurl', 'Name and description URL vary by round') %>

<table class='exp' id='due_dates_table' style='padding:10px;min-width: 990px;overflow: hidden;'>

<tr id='due_date_heading'>
<th width=15%>Deadline type</th>
<th width=20%>Date & time</th>
<th width=10%>Submission allowed</th>
<th width=8%>Review allowed</th>

<th width=10%>Meta-review allowed</th>
<%if @assignment_form.assignment.require_quiz%>
  <th width=9%>Has quiz</th>
<%end%>
<th width=8%>Reminder(hrs)</th>
<th width=10% id="due_date_name_column" >Due date name</th>
<th width=10% id="due_date_url_column">Description URL</th>

</tr>
  <tr id='blank' style='display:hidden'></tr>
  <script>
    jQuery(document).ready(function () {
        <% 1.upto @assignment_form.assignment.rounds_of_reviews do |i| %>
        addDueDateTableElement(<%= @due_date_nameurl_notempty==nil ? false:@due_date_nameurl_notempty %>,'submission', <%=i%>, <%= due_date(@assignment_form.assignment, 'submission', i-1).to_json.html_safe %>); // or use questionnaire_options(@assignment, nil).to_json
        addDueDateTableElement(<%= @due_date_nameurl_notempty==nil ? false:@due_date_nameurl_notempty %>,'review', <%=i%>, <%= due_date(@assignment_form.assignment, 'review', i-1).to_json.html_safe %>) ;
        <% end %>
        addDueDateTableElement(<%= @due_date_nameurl_notempty==nil ? false:@due_date_nameurl_notempty %>,'metareview', 0, <%= due_date(@assignment_form.assignment, 'metareview').to_json.html_safe %>);
        //after webpage refreshes, hide or display name and url according to whether names and urls are empty in DB
        var due_date_name_column=document.getElementById("due_date_name_column");
        var due_date_url_column=document.getElementById("due_date_url_column");
      <% if @due_date_nameurl_notempty.nil? or @due_date_nameurl_notempty.eql? false %>
        due_date_name_column.style.display="none";
        due_date_url_column.style.display="none";
      <% end %>

    }());
  </script>
</table>

<%= render :partial => 'assignments/edit/late_policy' %>
