<style>
  .iconMenu{
    border-style: solid;
    border-width: 1px;
    border-color: #818a91;
    width: 300px;
    height: 100px;
    horiz-align: center;
    vertical-align: middle;
    padding: 5px 10px 5px 10px;
    margin: 3px 3px 3px 3px;
    float: left;
  }
</style>
<div style="height: 500px">
  <a href="../../participants/list?id=<%=@assignment_form.assignment.id%>&model=Assignment"><div class="iconMenu"><img src="/assets/tree_view/add-participant-24.png">&nbsp;Add participant</div></a>
  <a href="../../teams/list?id=<%=@assignment_form.assignment.id%>&type=Assignment"><div class="iconMenu"><img src="/assets/tree_view/create-teams-24.png">&nbsp;Create teams</div></a>
  <a href="../../review_mapping/list_mappings?id=<%=@assignment_form.assignment.id%>"><div class="iconMenu"><img src="/assets/tree_view/assign-reviewers-24.png">&nbsp;Assign reviewer</div></a>
  <a href="../../survey_deployment/new?id=<%=@assignment_form.assignment.id%>&type=AssignmentSurveyDeployment"><div class="iconMenu"><img src="/assets/tree_view/assign-survey-24.png">&nbsp;Assign survey</div></a>
  <a href="../list_submissions?id=<%=@assignment_form.assignment.id%>"><div class="iconMenu"><img src="/assets/tree_view/List-submisstions-24.png">&nbsp;View submissions</div></a>
  <a href="../../grades/view?id=<%=@assignment_form.assignment.id%>"><div class="iconMenu"><img src="/assets/tree_view/view-scores-24.png">&nbsp;View scores</div></a>
  <a href="../../review_mapping/response_report?id=<%=@assignment_form.assignment.id%>"><div class="iconMenu"><img src="/assets/tree_view/view-review-report-24.png">&nbsp;View review report</div></a>
  <a href="../../survey_response/view_responses?id=<%=@assignment_form.assignment.id%>"><div class="iconMenu"><img src="/assets/tree_view/view-survey-24.png">&nbsp;View survey responses</div></a>
  <a href="../delayed_mailer?id=<%=@assignment_form.assignment.id%>"><div class="iconMenu"><img src="/assets/tree_view/view-delayed-mailer.png">&nbsp;View delayed jobs</div></a>
</div>
