<!--The reason why add an empty form_tag here. (https://github.com/expertiza/expertiza/commit/4d1a9d50833aca4e8771afd851daa40455d4fc37)-->
<%= form_tag controller: 'assignments', action: 'edit', assignment_id: @assignment_form.assignment.id do %>
<% end %>
<table border=0 class="table-hover table-borderless" style="width: 100%">
  <col width="150"/>
  <col width="70"/>
  <col width="70"/>

<!-- Improved the UI and capitalization of the words by team E1839 @Rayan Dasoriya -->
  <tr id='assignment_review_assignment_strategy_row' class="form-inline">
    <td>
      <%= label_tag('assignment_form[assignment][review_assignment_strategy]', 'Review strategy:') %>
      <img src="/assets/info.png" title='- Instructor-Selected: Instructor decides who reviews whom- Auto-Selected: When a student is about to begin a review, Expertiza assigns that student a particular review.'>
      <%= select('assignment_form[assignment]', 'review_assignment_strategy', review_strategy_options,  {:selected => @assignment_form.assignment.review_assignment_strategy, :style => 'margin-left :250px', :class => "form-control width-200"}) %>
      <script>
          jQuery(document).ready(function() {reviewStrategyChanged();});
          jQuery('#assignment_form_assignment_review_assignment_strategy').on('change', function() {reviewStrategyChanged();});
      </script>

    </td>
  </tr>

  <tr id="assignment_review_topic_threshold_row">

  <tr class="form-inline">
    <td class="form-inline">
      <%= label_tag('assignment_form[assignment][review_topic_threshold]', 'Review Topic Threshold (k):') %>
      <img src="/assets/info.png" title='A topic is reviewable if the minimum number of reviews already done for the submissions on that topic is within k of the minimum number of reviews done on the least-reviewed submission on any topic.'>
      <%= text_field_tag('assignment_form[assignment][review_topic_threshold]', @assignment_form.assignment.review_topic_threshold, size: 1, class: "form-control width-70", :style => 'margin-left :220px') %>
    </td>
  </tr>
  <tr id="assignment_review_topic_threshold_row" class="form-inline">
    <td>
      <%= label_tag('assignment_form[assignment][max_reviews_per_submission]', 'Maximum number of reviews per submission:') %>
      <img src="/assets/info.png" title='You can set the maximum number of reviews can be done for a particular submissions.'>
      <%= text_field_tag('assignment_form[assignment][max_reviews_per_submission]', @assignment_form.assignment.max_reviews_per_submission ||= 10, size: 2, class: "form-control width-70", :style => 'margin-left : 100px') %>
    </td>
  </tr>
  <tr>
    <td>
      <%= check_box_tag('review', 'true', true, {:onChange => 'hasReviewChanged()'}) %>
      <%= label_tag('review', 'Has max review limit?') %>
      <img src="/assets/info.png" title='You can select whether the particular submission needs to have maximum limit for review or not.'>
    </td>
  </tr>

  <tr id="assignment_review_topic_threshold_row">
    <td>
      <span id="reviews_allowed" <%= 'hidden' if @assignment_form.assignment.num_reviews_allowed.nil?%> class = "form-inline">
      <%= label_tag('assignment_form[assignment][num_reviews_allowed]', ' Set allowed number of reviews per reviewer') %>
        <%if @assignment_form.assignment.num_reviews_allowed && @assignment_form.assignment.num_reviews_allowed >= 0 %>
        <%= text_field_tag('assignment_form[assignment][num_reviews_allowed]', @assignment_form.assignment.num_reviews_allowed, size: 1, class: "form-control width-70", :style => 'margin-left :130px') %>
      <%else%>
        <%= text_field_tag('assignment_form[assignment][num_reviews_allowed]',  3, size: 1, class: "form-control width-70", :style => 'margin-left :130px') %>
      <%end%>
        <br/>
        <%= label_tag('assignment_form[assignment][num_reviews_required]', 'Set required number of reviews per reviewer') %>
        <%= text_field_tag('assignment_form[assignment][num_reviews_required]', @assignment_form.assignment.num_reviews_required ||= @assignment_form.assignment.num_reviews, size: 1, class: "form-control width-70", :style => 'margin-left :120px') %>
      </span>
    </td>
  </tr>
  
  <tr style="display:<%='none' unless @metareview_allowed%>">   
  <!-- Added the meta_reviews_allowed variable to hide/show metareview section on UI -->
  <!-- Improved the UI  by team E2235 -->  
  <td>
      <%= check_box_tag('meta_review', 'true', true, {:onChange => 'hasMetaReviewChanged()'}) %>
      <%= label_tag('meta_review', 'Has meta-review limit?') %>  
      <img src="/assets/info.png" title='You can set if a particular submission can have a Meta-review or not.'>
    </td>
  </tr>

  <tr id="assignment_review_topic_threshold_row" style="display:<%='none' unless @metareview_allowed%>">
  <!-- Added the meta_reviews_allowed variable to hide/show metareview section on UI -->
  <!-- Improved the UI  by team E2235 -->  
    <td>
        <span id="meta_reviews_allowed" <%= 'hidden' if @assignment_form.assignment.num_metareviews_allowed.nil?%> class="form-inline">

        <%= label_tag('assignment_form[assignment][num_metareviews_allowed]', ' Set allowed number of meta-reviews per reviewer') %>

          <%if @assignment_form.assignment.num_metareviews_allowed && @assignment_form.assignment.num_metareviews_allowed >= 0 %>
                <%= text_field_tag('assignment_form[assignment][num_metareviews_allowed]', @assignment_form.assignment.num_metareviews_allowed ||= 3, size: 1, class: "form-control width-70", :style => 'margin-left :100px') %>
           <%else%>
          <%= text_field_tag('assignment_form[assignment][num_metareviews_allowed]',  3, size: 1, class: "form-control width-70", :style => 'margin-left :100px') %>
            <%end%>
          </br>
          <%= label_tag('assignment_form[assignment][num_metareviews_required]', 'Set required number of meta-reviews per reviewer') %>
          <%= text_field_tag('assignment_form[assignment][num_metareviews_required]',  @assignment_form.assignment.num_metareviews_required ||= @default_num_metareviews_required, size: 1, class: "form-control width-70", :style => 'margin-left :90px') %>
        </span>
    </td>
  </tr>

  <tr id="instructor_selected_review_mapping_mechanism" hidden='hidden'>
    <td>
      <%= form_tag :controller => 'review_mapping', :action => 'automatic_review_mapping', :id => @assignment_form.assignment.id do %>
        <input name="max_team_size" type="hidden" value="<%= @assignment_form.assignment.max_team_size %>"/>
        <%= radio_button_tag 'num_reviews', 'student', true %>
        <%= label_tag('num_reviews_per_student', 'Set number of reviews done by each student') %>
        <span id='num_reviews_per_student_threshold' class="form-inline">
            <%= text_field_tag('num_reviews_per_student', 0, {:class => 'form-control width-50'}) %>
          <%= submit_tag 'Assign reviewers', :id => 'first_submit_tag', :class => "btn btn-default" %>
          </span><br/>

        <%= radio_button_tag 'num_reviews', 'submission', false %>
        <%= label_tag('num_reviews_per_submission', 'Set minimum number of reviews done for each submission') %>
        <span id='num_reviews_per_submission_threshold' hidden='hidden'>
            <%= text_field_tag('num_reviews_per_submission', 0, {:style => 'width:20px'}) %>
          <%= submit_tag 'Assign reviewers', :id => 'second_submit_tag' %>
          </span><br/>

        <%= radio_button_tag 'num_reviews', 'calibrated_and_uncalibrated', false %>
        <%= label_tag('assign_both_calibrated_and_uncalibrated_artifacts', 'Set both calibrated and uncalibrated artifacts') %>
        <span id='calibrated_and_uncalibrated_artifacts_threshold' hidden='hidden'>
            <%= text_field_tag('num_calibrated_artifacts', 0, {:style => 'width:20px'}) %>
          <%= label_tag('num_calibrated_artifacts', 'of calibrated artifacts and ') %>
          <%= text_field_tag('num_uncalibrated_artifacts', 0, {:style => 'width:20px'}) %>
          <%= label_tag('num_uncalibrated_artifacts', 'of uncalibrated artifacts done by each student') %>
          <%= submit_tag 'Assign both calibrated and uncalibrated artifacts', :id => 'third_submit_tag' %>
          </span><br/>
      <% end %>
    </td>
  </tr>

  <tr>
    <td id='is_anonymous'>
      <input name="assignment_form[assignment][is_anonymous]" type="hidden" value="false"/>
      <%= check_box_tag('assignment_form[assignment][is_anonymous]', 'true', @assignment_form.assignment.is_anonymous) %>
      <%= label_tag('assignment_form[assignment][is_anonymous]', 'Is Review Anonymous?') %>
      <img src="/assets/info.png" title='You can select whether the review name should be visible or not'>
    </td>
  </tr>

  <tr>
    <td id='team_reviewing_enabled'>
      <input name="assignment_form[assignment][team_reviewing_enabled]" type="hidden" value="false"/>
      <%= check_box_tag('assignment_form[assignment][team_reviewing_enabled]', 'true', @assignment_form.assignment.team_reviewing_enabled) %>
      <%= label_tag('assignment_form[assignment][team_reviewing_enabled]', 'Is Review done by Teams?') %>
      <img src="/assets/info.png" title='You can select whether the reviews should be done by individual students or teams'>
    </td>
  </tr>


  <tr>
    <td id='assignment_is_selfreview_enabled'>
      <input name="assignment_form[assignment][is_selfreview_enabled]" type="hidden" value="false"/>
      <%= check_box_tag('assignment_form[assignment][is_selfreview_enabled]', 'true', @assignment_form.assignment.is_selfreview_enabled) %>
      <%= label_tag('assignment_form[assignment][is_selfreview_enabled]', 'Allow Self Reviews?') %>
      <img src="/assets/info.png" title='Select if you want a person to allow review their own submission'>
    </td>
  </tr>

  <!-- #E2147 -->
  <div id="duty_assignment_chkbx" hidden>
    <%= render '/duties/checkbox' %>
  </div>
  <!--#E1870-->
  <% if @assignment_form.assignment.rounds_of_reviews > 1 %>
    <tr>
      <td id='assignment_allow_selecting_additional_reviews_after_1st_round'>
        <input name="assignment_form[assignment][allow_selecting_additional_reviews_after_1st_round]" type="hidden" value="false"/>
        <%= check_box_tag('assignment_form[assignment][allow_selecting_additional_reviews_after_1st_round]', 'true', @assignment_form.assignment.allow_selecting_additional_reviews_after_1st_round) %>
        <%= label_tag('assignment_form[assignment][allow_selecting_additional_reviews_after_1st_round]', 'Allow reviews to be begun in later rounds.') %>
        <img src="/assets/info.png" title='Should a student who does not do a first-round review be allowed to review this work in subsequent rounds?'>
      </td>
    </tr>
  <% end %>

</table>
<script>
    function hasReviewChanged() {
        var checkbox = jQuery('#review');
        var reviews_allowed_field = jQuery('#reviews_allowed');
        if (checkbox.is(':checked')) {
            reviews_allowed_field.removeAttr('hidden');
            jQuery('#assignment_form_assignment_num_reviews_allowed').val('<%=@assignment_form.assignment.num_reviews_allowed ||= 3%>');
        } else {
            reviews_allowed_field.attr('hidden', true);
            jQuery('#assignment_form_assignment_num_reviews_allowed').val('-1');
        }
    }
    function hasMetaReviewChanged() {
        var checkbox = jQuery('#meta_review');
        var meta_reviews_allowed_field = jQuery('#meta_reviews_allowed');
        if (checkbox.is(':checked')) {
            meta_reviews_allowed_field.removeAttr('hidden');
            jQuery('#assignment_form_assignment_num_metareviews_allowed').val(<%=@assignment_form.assignment.num_metareviews_allowed ||= 3%>);
        } else {
            meta_reviews_allowed_field.attr('hidden', true);
            jQuery('#assignment_form_assignment_num_metareviews_allowed').val('-1');
        }
    }
    function hasDutiesChanged() {
        var checkbox = jQuery('#is_duty_checkbox');
        var add_duties_div = jQuery('#add_duties');

        if (checkbox.is(':checked')) {
            add_duties_div.removeAttr('hidden');
        }
        else {
            add_duties_div.attr('hidden', true);
        }
    }
    jQuery(document).ready(function () {
        var has_teams_checkbox = jQuery('#team_assignment');
        var duty_assignment_chkbx =  jQuery('#duty_assignment_chkbx')
        if (has_teams_checkbox.is(':checked')) {
            duty_assignment_chkbx.removeAttr('hidden');
        } else {
            duty_assignment_chkbx.attr('hidden', true);
        }
    })

</script>
