<h3>Topics for <%= @assignment_form.assignment.name %> assignment</h3><br>
<input name="assignment_form[assignment][allow_suggestions]" type="hidden" value="false"/>
<%= check_box_tag('assignment_form[assignment][allow_suggestions]', 'true', @assignment_form.assignment.allow_suggestions) %>
<%= label_tag('assignment_form[assignment][allow_suggestions]', 'Allow topic suggestions from students?') %>
<br>
<input name="assignment_form[assignment][is_intelligent]" type="hidden" value="false"/>
<%= check_box_tag('assignment_form[assignment][is_intelligent]', 'true', @assignment_form.assignment.is_intelligent?)%>
<%= label_tag('assignment_form[assignment][is_intelligent]', 'Enable bidding for topics?') %>
<img src="/assets/info.png" title="This feature allow students to &quot;bid&quot; for topics.
      Instructor must specify when topics are assigned, by going to the Due Dates tab and
      entering a due date for &quot;signup&quot;."/>
<br>
<input name="assignment_form[assignment][can_review_same_topic]" type="hidden" value="false"/>
<%= check_box_tag('assignment_form[assignment][can_review_same_topic]', 'true', @assignment_form.assignment.can_review_same_topic?)%>
<%= label_tag('assignment_form[assignment][can_review_same_topic]', 'Enable authors to review others working on same topic?') %>
<img src="/assets/info.png" title="If checked, it is possible that the authors review another artifact on the same topic "/>
<br>

<input name="assignment_form[assignment][can_choose_topic_to_review]" type="hidden" value="false"/>
<%= check_box_tag('assignment_form[assignment][can_choose_topic_to_review]', 'true', @assignment_form.assignment.can_choose_topic_to_review?)%>
<%= label_tag('assignment_form[assignment][can_choose_topic_to_review]', 'Allow reviewer to choose which topic to review?') %>

<br>
<input name="assignment_form[assignment][use_bookmark]" type="hidden" value="false"/>
<%= check_box_tag('assignment_form[assignment][use_bookmark]', 'true', @assignment_form.assignment.use_bookmark, {:onChange => 'useBookmarkChanged()'})%>
<%= label_tag('assignment_form[assignment][use_bookmark]', 'Allow participants to create bookmarks?') %>

<br>
<% if @assignment_form.assignment.can_choose_topic_to_review? == true %>
  <input name="assignment_form[assignment][bidding_for_reviews_enabled]" type="hidden" value="false"/>
  <%= check_box_tag(
    'assignment_form[assignment][bidding_for_reviews_enabled]',
    'true',
    @assignment_form.assignment.bidding_for_reviews_enabled,
    {:id => "bidding_for_reviews_enabled_checkbox"})
  %>
  <%= label_tag('assignment_form[assignment][bidding_for_reviews_enabled]', 'Allow bidding for reviewers?') %>
  <img src="/assets/info.png" title="If checked, it is possible to bid for reviews"/>
  <br>
  <% if @assignment_form.assignment.bidding_for_reviews_enabled %>
    <%= button_to 'Run Review Algorithm', :controller=>'review_bids', :action=>'assign_bidding', :assignment_id => @assignment_form.assignment.id %>
  <% end %>
<% end %>

<br><br>
<% if @assignment_form.assignment.staggered_deadline == true %>
    <%= render partial: '/sign_up_sheet/add_signup_topics_staggered', locals: {review_rounds: @review_rounds, assignment_submission_due_dates: @assignment_submission_due_dates, assignment_review_due_dates: @assignment_review_due_dates} %>
<% else %>
    <%= render '/sign_up_sheet/add_signup_topics' %>
<% end %>
