<hr/>
<p><strong><%=t ".handle"%></strong></p>
<p></p><%=t ".handle_prof"%>
</p><p><%=t ".note"%></p>
<p class="form-inline"><label for="handle" class="width-266"><%=t ".default_handle"%></label>
  <%= text_field 'user','handle', class: "form-control width-250" %></p>
