<h1><%=t ".user_profile_info" %></h1>

<br/>

<%= form_for @user, url: '/profile/update' do |f| %>
<table class="table borderless table-not-full-width">
  <%= render :partial => 'users/name' %>
  <%= render :partial => 'users/password' %>
  <tr><td><i><font size=-2><%=t ".password_msg" %></font></i></td><td></td></tr>
  <%= render :partial => 'users/email' %>
  <%= render :partial => 'users/institutions' %>
  <%= render :partial => 'users/prefs' %>
  <%= render :partial => 'handle' %>
  <% if @user.role.parent_id != nil %>
    <%= render :partial => 'limit' %>
  <% end %>
  <p class="form-inline"><label class="width-266"> <%=t ".preferred_time_zone" %></label>
  <%= time_zone_select("user", "timezonepref", ActiveSupport::TimeZone.all,{}, {:class => 'form-control width-250'})%></p>
  <%= f.submit t(".save"), class: "btn btn-default btn-md" %>
</table>
<% end %>
