<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet"
      type="text/css" xmlns="http://www.w3.org/1999/html"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<h1>User Profile Information</h1>

<br/>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $("#tabs").tabs({ selected: 0, event: "click"});
    });
</script>

<% form_tag({:action => 'update', :id => @user}) do %>

    <% tabs = TabsRenderer.new(self) %>

    <% tabs.create('General', 'General') do %>
        <%= render :partial => 'users/name' %>
        <%= render :partial => 'users/password' %>
        <i><font size=-2>If password field is blank, the password will not be updated.</font></i>
        <%= render :partial => 'users/email' %>
    <% end %>

    <% tabs.create('Preferences', 'Preferences') do %>
        <%= render :partial => 'users/prefs' %>
    <% end %>

    <% tabs.create('Handle', 'Handle') do %>
        <%= render :partial => 'handle' %>
    <% end %>

    <% tabs.create('Notifications', 'Notifications') do %>
        <%= render :partial => 'limit' %>
    <% end %>

    <%= tabs.render %>

  <%= submit_tag 'Save' %>
<% end %>
