<h1>Publishing rights for <%= @assignment_name %> assignment</h1>

<% if flash[:notice] %>
    <div class="flash_note"><%= flash[:notice] %></div>
<% end %>

<table class="general">
    <tr>
        <% if @has_topics %>
            <th width="5%" rowspan="2">Topic #</th>
            <th width="40" rowspan="2">Topic name(s)</th>
        <% end %>
        <th width="20%" rowspan="2">Team name</th>
        <th width="35%" colspan="4">Participant</th>
    </tr>
    <tr>
        <th>Name</th>
        <th>Fullname</th>
        <th>Publish Rights</th>
        <th>Verified</th>
    </tr>

    <% @teams_info.each do |team_info| %>
        <% 
            users = team_info[:users]
            num_students = users.size 
        %>        
        <tr>
            <% if @has_topics %>
                <td rowspan="<%= num_students %>"><%= team_info[:topic_id] %> </td>
                <td rowspan="<%= num_students %>"><%= team_info[:topic_name] %></td>
            <% end %> 
            <td align="center" rowspan="<%= num_students %>">
                <b><%= team_info[:name] %></b> 
            </td>
            
            <% users.each do |user| %>
                <td> <%=user[:name]%> </td>
                <td> <%=user[:fullname]%> </td>
                <td> <%=user[:pub_rights]%> </td>
                <td>
                    <% if user[:verfied] %>
                        <img src="/assets/Check-icon.png" title="verified with digitigal signature" alt="verified"/>
                    <% else %>
                        <img src="/assets/delete_icon.png" title="no digitigal signature" alt="unverified"/>
                    <% end %>
                </td> </tr><tr>
            <% end %>

        </tr>

    <% end %>
</table>

    