<script>
  $(function () {
    /*Function for sorting the table */
    $(".sortable").tablesorter({
      sortList: [[0,0]] //sort First Column by default when page loads
    });
  });

  /*Function to create tabs of the rubric-tag_prompt pairs */
  $( function() {
    $( "#tabs" ).tabs();
  } );
</script>

<% if @questionnaire_tagging_report.nil? or @questionnaire_tagging_report.count < 1 %>
      <h1 align="center">No answer tags are found for this assignment</h1>
<% else %>
    <div class="text-center">
      <h1>Tagging report for assignment "<%= @assignment.name %>"</h1>
    </div>

    <div class= "chart-table" id="tabs">
      <ul>
      <% @questionnaire_tagging_report.each do |tag_dep, report_lines| %>
        <li><a href="#tab-<%= tag_dep.id %>" id="tabmenu_<%= tag_dep.id %>"><%= tag_dep.questionnaire.name + " (" + tag_dep.tag_prompt.prompt + ")" %></a></li>
      <% end %>
        <li><a href="#tab-summary" id="tabmenu_summary">Report tags done by each user</a></li>
      </ul>
      <% @questionnaire_tagging_report.each do |tag_dep, report_lines| %>
        <p>
        <div id="tab-<%= tag_dep.id %>">
          <h4  align="center">Tagging Report for questionnaire "<%= tag_dep.questionnaire.name %>" and Tag "<%= tag_dep.tag_prompt.prompt %>"</h4>
          <table class="table table-striped sortable">
            <thead>
            <tr>
              <th class="sorter-true">Username</th>
              <th class="sorter-true">Name</th>
              <th class="sorter-true">Total # tags that could be set<img src='/assets/info.png' title='# of review comments to which a tag can be applied'></th>
              <th class="sorter-true"># tags inferred by ML<img src='/assets/info.png' title='# of tags that the machine-learning algorithm thinks it knows how to assign; these tags are grayed out, but the author can still modify them if they seem to be wrong.'></th>
              <th class="sorter-true"># tags to be set by author<img src='/assets/info.png' title='Number of tags that were not set by machine learning, and therefore can be set by the author.'></th>
              <th class="sorter-true"># tags actually set by author<img src='/assets/info.png' title='Number of tags that the author did assign'></th>
              <th class="sorter-true"># tags not set by author<img src='/assets/info.png' title='Number of tags that the author could have assigned, but did not'></th>
              <th class="sorter-true">% tags actually set by author<img src='/assets/info.png' title='Of the number of tags that machine learning did not assign, the percentage that the author did assign'></th>
            </tr>
            </thead>
            <% report_lines.each do |report_line| %>
              <tr>
                <td><%= report_line.user.name(session[:ip]) %></td>
                <td><%= report_line.user.fullname(session[:ip]) %></td>
                <td><%= report_line.no_total.to_s %></td>
                <td><%= report_line.no_inferred.to_s %></td>
                <td><%= report_line.no_taggable.to_s %></td>
                <td><%= report_line.no_tagged.to_s %></td>
                <td><%= report_line.no_not_tagged.to_s %></td>
                <td><%= report_line.percentage.to_s %>%</td>
              </tr>
            <% end %>
          </table>
        </div>
        </p>
      <% end %>
      <p>
      <div id="tab-summary">
        <h4  align="center">Summary for each user</h4>
        <table class="table table-striped sortable">
          <thead>
          <tr>
            <th class="sorter-true">Username</th>
            <th class="sorter-true">Name</th>
            <th class="sorter-true">Total # tags that could be set<img src='/assets/info.png' title='# of review comments to which a tag can be applied ⨉ # characteristics that authors are asked to tag for each comment'></th>
            <th class="sorter-true"># tags inferred by ML<img src='/assets/info.png' title='# of tags that the machine-learning algorithm thinks it knows how to assign; these tags are grayed out, but the author can still modify them if they seem to be wrong.'></th>
            <th class="sorter-true"># tags to be set by author<img src='/assets/info.png' title='Number of tags that were not set by machine learning, and therefore can be set by the author.'></th>
            <th class="sorter-true"># tags actually set by author<img src='/assets/info.png' title='Number of tags that the author did assign'></th>
            <th class="sorter-true"># tags not set by author<img src='/assets/info.png' title='Number of tags that the author could have assigned, but did not'></th>
            <th class="sorter-true">% tags actually set by author<img src='/assets/info.png' title='Of the number of tags that machine learning did not assign, the percentage that the author did assign'></th>
          </tr>
          </thead>
          <% @user_tagging_report.each do |key, val| %>
              <tr>
                <td><%= val.user.name(session[:ip]) %></td>
                <td><%= val.user.fullname(session[:ip]) %></td>
                <td><%= val.no_total.to_s %></td>
                <td><%= val.no_inferred.to_s %></td>
                <td><%= val.no_taggable.to_s %></td>
                <td><%= val.no_tagged.to_s %></td>
                <td><%= val.no_not_tagged.to_s %></td>
                <td><%= val.percentage.to_s %>%</td>
              </tr>
          <% end %>
        </table>
      </div>
      </p>
    </div>
<% end %>
