<script>
    $(function () {
        /*E: 1980Function for sorting the table */
        $("#feedbacktable").tablesorter({
            dateFormat : "mmddyyyy", //E1980: set the default date format
            sortList: [[0,0]] // E1980: sort First Column by default when page loads
        });
    });
    function changeVisibilityToVisible() {
        $('.changeVisibility').css({"visibility": "visible"});
    }

    function changeVisibilityToCollapse() {
        $('.changeVisibility').css({"visibility": "collapse"});
    }
</script>
<style>
  .changeVisibility{
    visibility: collapse;
  }
</style>
<!--E1877: table teammateReviewTable modified-->
<div class = 'rr'>
<table id= "feedbacktable" cellspacing='0' cellpadding='2' border=0 class="table table-striped">
<thead>
<!--E1980: "sorter-true" included to sort the table using each attribute-->
 <tr bgcolor='#CCCCCC'>
 <th class="sorter-true" onclick="changeVisibilityToCollapse()">Rejoinder<span class="glyphicon glyphicon-sort" data-reactid=".0.1.0.$table2.3.0.0.2.1"></span></th>
 <th class="sorter-true" onclick="changeVisibilityToVisible()"># author feedbacks done<span class="glyphicon glyphicon-sort" data-reactid=".0.1.0.$table2.3.0.0.2.1"></span></th>
 <th class="sorter-true" onclick="changeVisibilityToVisible()">Review responded to<span class="glyphicon glyphicon-sort" data-reactid=".0.1.0.$table2.3.0.0.2.1"></span></th>
 <th class="sorter-true" onclick="changeVisibilityToVisible()">Last responded at<span class="glyphicon glyphicon-sort" data-reactid=".0.1.0.$table2.3.0.0.2.1"></span></th>
 </tr>
</thead>

    <%@l = -1 %>

    <% @authors.each do |r| %>
      <% next unless r %>
      <% if @assignment.varying_rubrics_by_round? %>
           <% get_each_round_review_and_feedback_response_map_for_feedback_report(r) %> 
      <% else %>
           <% get_certain_round_review_and_feedback_response_map_for_feedback_report(r) %>      
      <% end %>

      <% @first_col_identifier = true %>
      <% if @assignment.varying_rubrics_by_round? %>
          <!--data prepare-->
          <% @count_round_one, @count_round_two, @count_round_three = 0, 0, 0 %>
          <% unless @feedback_response_maps_round_one.nil? %>
            <% @feedback_response_maps_round_one.each  do |rm| %>
              <% if Response.exists? map_id: rm.id %>
                <% @count_round_one += 1%>
              <% end %>
            <% end %>
          <% end %>
          <% unless @feedback_response_maps_round_two.nil? %>
            <% @feedback_response_maps_round_two.each {|rm| @count_round_two += 1 if Response.exists? map_id: rm.id} %>
          <% end %>
          <% unless @feedback_response_maps_round_three.nil? %>
            <% @feedback_response_maps_round_three.each {|rm| @count_round_three += 1 if Response.exists? map_id: rm.id} %>
          <% end %>
          <!--Rejoinder-->
    


       	<% ['one', 'two', 'three'].each do |round| %>
	<% @roundCount = instance_variable_get("@rspan_round_#{round}") %>
             <% @totalreviews = @roundCount  #ISSUE1980%>
            <% @totalIteration=0 ## ISSSUE-1980%>
        
            <% @reviewer_name = r.user.fullname(session[:ip]) %>

           <!--# author feedbacks done-->
           <% @rspan_certain_round = instance_variable_get("@rspan_round_#{round}") %>
           <% @count_certain_round = instance_variable_get("@count_round_#{round}") %>
        
	  <% unless @rspan_certain_round == 0 %>
       	  <!--When second or third round then do not repeat author id-->
          <% if round !="one" %>   
	   	<tr><td class = changeVisibility>
             	 <%= link_to @reviewer_name, :controller => 'popup', :action => 'reviewer_details_popup', :id => r.id, :assignment_id => @id %>
           	 </td>

           	 <% @l = @l+1 %>
            	<% (@l % 2 == 0) ? @bgcolor = "#ffffff" : @bgcolor = "#f9f9f9" %>
            	<td bgcolor=<%= @bgcolor %>  align="left" >

              	<%= @count_certain_round %>/<%= @rspan_certain_round %></td>

          <% else %>
          	<tr><td>
              	<%= link_to @reviewer_name, :controller => 'popup', :action => 'reviewer_details_popup', :id => r.id, :assignment_id => @id %>
            	</td>

           	 <% @l = @l+1 %>
            	<% (@l % 2 == 0) ? @bgcolor = "#ffffff" : @bgcolor = "#f9f9f9" %>
            	<td bgcolor=<%= @bgcolor %>  align="left">

              	<%= @count_certain_round %>/<%= @rspan_certain_round %></td>
          <% end %>
	  <% end %>
          <% @review_responses_certain_round = instance_variable_get("@review_responses_round_#{round}") %>
          <% @review_responses_certain_round.each do |rr| %>
            <!--'FeedbackResponseMap' alias as 'frm' -->
            <% @frm = FeedbackResponseMap.where(["reviewed_object_id = ? and reviewer_id = ? and reviewee_id = ?", rr.id, r.id, rr.response_map.reviewer_id]).first %>

            <% if @frm.blank? %>
             		 <!--Review response rejoined-->
             			 <td id = "green" bgcolor=<%= @bgcolor %> style="color:#A90201" align = 'left'>

               			 <%= link_to user_name = Participant.find(rr.response_map.reviewer_id).user.name(session[:ip]), impersonate_impersonate_path(:user => {:name => user_name}), :method => :post, :title => "Click here to impersonate this user" %>
               				 (<%= Participant.find(rr.response_map.reviewer_id).user.fullname(session[:ip]) %>)
             			 </td>
             				 <!--Last rejoined at-->
             			 <td bgcolor=<%= @bgcolor %> style="color:#A90201" align = 'left'>No</td>
        <%if @totalIteration < @totalreviews-1  %>
                </tr>
                <tr>
                  <td class = changeVisibility>
                        <%= link_to @reviewer_name, :controller => 'popup', :action => 'reviewer_details_popup', :id => r.id, :assignment_id => @id %>
                  </td>
                    <!--# teammate reviews done-->
                <td bgcolor=<%= @bgcolor %>  align="left" >
                        <%= @count_certain_round %>/<%= @rspan_certain_round %></td>
                 <% @totalIteration=@totalIteration+1  %>
	<%else%>
              </tr>
<% end %>

            <% else %>
             	 <% @reviewee_name = Participant.find(@frm.reviewee_id).user.fullname(session[:ip]) %>
              	<% if Response.exists?(map_id: @frm.id) %>
                		<% feedback_response = Response.where(map_id: @frm.id).first %>
               			 <!--Review response rejoined-->
                	<td id = "green" bgcolor=<%= @bgcolor %> align='left'>
                  	<%= link_to user_name = Participant.find(rr.response_map.reviewer_id).user.name(session[:ip]), impersonate_impersonate_path(:user => {:name => user_name}), :method => :post, :title => "Click here to impersonate this user" %>
                  	(<%= link_to @reviewee_name, :controller => 'popup', :action => 'author_feedback_popup', :response_id => feedback_response.id, :reviewee_id => @frm.reviewee_id, :source => 'author_feedback' %>)
                	</td>
                <!--Last rejoined at-->
               		 <td bgcolor=<%= @bgcolor %> align='left'>
                 		 <%= feedback_response.updated_at.to_time.strftime("%m/%d/%Y - %I:%M%p") %>
               		 </td>
                <% else %>
                <!--Review response rejoined-->
                         <td id = "green" bgcolor=<%= @bgcolor %> style="color:#A90201" align = 'left'>
                         <%= link_to user_name = Participant.find(rr.response_map.reviewer_id).user.name(session[:ip]), impersonate_impersonate_path(:user => {:name => user_name}), :method => :post, :title => "Click here to impersonate this user" %>
                  (<%= @reviewee_name %>)
                        </td>
                <!--Last rejoined at-->
                        <td bgcolor=<%= @bgcolor %> style="color:#A90201" align = 'left'>No</td>
              <% end %>
        <%if @totalIteration < @totalreviews-1  %>
                </tr>
                <tr>
                  <td class = changeVisibility>
                        <%= link_to @reviewer_name, :controller => 'popup', :action => 'reviewer_details_popup', :id => r.id, :assignment_id => @id %>
                  </td>
                    <!--# teammate reviews done-->
                <td bgcolor=<%= @bgcolor %>  align="left">
                        <%= @count_certain_round %>/<%= @rspan_certain_round %></td>
                 <% @totalIteration=@totalIteration+1  %>
                <%else%>
              </tr>
	      <%end%>
	     <%end%>
 
          <% end %>
        <% end %>
      <% else %>
      <% @totalreviews = @review_responses.count #ISSUE1980%>
      <%@totalIteration = 0 %>
          <% @count = 0 %>
          <% @feedback_response_maps.each {|rm| @count += 1 if Response.exists? map_id: rm.id} %>
          <% @l = @l+1 %>
          <% (@l % 2 == 0) ? @bgcolor = "#ffffff" : @bgcolor = "#f9f9f9" %>
          <!--Rejoinder-->
          <!--# author feedbacks done-->
          <% unless @rspan == 0 %>
            <tr><td bgcolor=<%= @bgcolor %>>
            <% @reviewer_name = r.user.fullname(session[:ip]) %>
            <%= link_to @reviewer_name, :controller => 'popup', :action => 'reviewer_details_popup', :id => r.id, :assignment_id => @id %>
          </td>

            <td bgcolor=<%= @bgcolor %>  align="left">
              <%= @count %>/<%= @rspan %>
            </td>
          <%if @review_responses.count == 0 %>
            <td>--</td>
            <td>--</td>
              <%end %>
          <% end %>
          <% @review_responses.each do |rr| %>
            <!--'FeedbackResponseMap' alias as 'frm' -->
            <% @frm = FeedbackResponseMap.where(["reviewed_object_id = ? and reviewer_id = ? and reviewee_id = ?", rr.id, r.id, rr.response_map.reviewer_id]).first %>

             <% if @frm.blank? %>
             		 <!--Review response rejoined-->
              		<td id = "green" bgcolor=<%= @bgcolor %> style="color:#A90201" align = 'left'>
                	<%= link_to user_name = Participant.find(rr.response_map.reviewer_id).user.name(session[:ip]), impersonate_impersonate_path(:user => {:name => user_name}), :method => :post, :title => "Click here to impersonate this user" %>
               		 (<%= reviewee_name = Participant.find(rr.response_map.reviewer_id).user.fullname(session[:ip]) %>)
             		 </td>
             		 <!--Last rejoined at-->
                        <td bgcolor=<%= @bgcolor %> style="color:#A90201" align = 'left'>No</td>
          <%if @totalIteration < @totalreviews-1 %>
            </tr>
            <tr>
              <td bgcolor=<%= @bgcolor %> class = changeVisibility>
              <% @reviewer_name = r.user.fullname(session[:ip]) %>
              <%= link_to @reviewer_name, :controller => 'popup', :action => 'reviewer_details_popup', :id => r.id, :assignment_id => @id %>
              </td>
              <td bgcolor=<%= @bgcolor %>  align="left">
                <%= @count %>/<%= @rspan %>
              </td>
              <% @totalIteration=@totalIteration+1  %>
          <%else%>
            </tr>
          <%end%>
             <% else %>
                   <% @reviewee_name = Participant.find(@frm.reviewee_id).user.fullname(session[:ip]) %>
                   <% if Response.exists?(map_id: @frm.id) %>
               		 <% feedback_response = Response.where(map_id: @frm.id).first %>
               		 <!--Review response rejoined-->
                	<td id = "green" bgcolor=<%= @bgcolor %> align='left'>
                  	<%= link_to user_name = Participant.find(rr.response_map.reviewer_id).user.name(session[:ip]), impersonate_impersonate_path(:user => {:name => user_name}), :method => :post, :title => "Click here to impersonate this user"%>
                  	(<%= link_to @reviewee_name, :controller => 'popup', :action => 'author_feedback_popup', :response_id => feedback_response.id, :reviewee_id => @frm.reviewee_id, :source => 'author_feedback' %>)
                	</td>
                	<!--Last rejoined at-->
               		 <td bgcolor=<%= @bgcolor %> align='left'>
                 	 <%= feedback_response.updated_at.to_time.strftime("%m/%d/%Y - %I:%M%p") %>
                	</td>
                   <% else %>
                	<!--Review response rejoined-->
               		 <td id = "green" bgcolor=<%= @bgcolor %> style="color:#A90201" align = 'left'>
                 	 <%= link_to user_name = Participant.find(rr.response_map.reviewer_id).user.name(session[:ip]), impersonate_impersonate_path(:user => {:name => user_name}), :method => :post, :title => "Click here to impersonate this user" %>
                 	 (<%= @reviewee_name %>)
                	</td>
                	<!--Last rejoined at-->
                	<td bgcolor=<%= @bgcolor %> style="color:#A90201" align = 'left'>No</td>
                  <% end %>

<%if @totalIteration < @totalreviews-1 %>
</tr>
<tr>
<td bgcolor=<%= @bgcolor %> class = changeVisibility>
            <% @reviewer_name = r.user.fullname(session[:ip]) %>
            <%= link_to @reviewer_name, :controller => 'popup', :action => 'reviewer_details_popup', :id => r.id, :assignment_id => @id %>
          </td>
<td bgcolor=<%= @bgcolor %>  align="left">
              <%= @count %>/<%= @rspan %>
            </td>
<% @totalIteration=@totalIteration+1  %>
                <%else%>
              </tr>
<%end%>
       <% end %>

          <% end %>
      <% end %>
    <% end %>
  </table>
</div>
