<table id="myTable" class="tbl_heat tablesorter" width="100%" cellspacing='0' cellpadding='2' border='0'>
  <thead>
  <tr bgcolor='#CCCCCC'>
    <!-- class value decides whether the column should be sortable or not  -->
    <th width="30%" class="sorter-true">Team <span></span></th>
    <th width="30%" class="sorter-false">Reviewers <span></span></th>
    <th width="40%" class="sorter-true">Metrics <span></span></th>
  </tr>
  </thead>
  <tbody>
  max Scores:<% max_scores= get_max_assignment_review_score_per_round(@id) %>
  <% max_scores.each do |score|%>
  <%=score %>
  <% end%>
  <%@reviewers.keys.each do |team_name| %>
    <tr>
      <td>
        <% members, participant_id = get_team_members_by_team_name(team_name, @id)%>
        <strong>Team Name:</strong><%= link_to team_name, controller: 'grades', action: 'view_team', id: participant_id%><br>
        <strong>Team Members:</strong><br>
        <% members.each do |member|%>
          <%=User.find(member.user_id).fullname %><br>
        <% end %>
      </td>
      <td>
        <%question_answers = get_reviews_score_for_team(@id, team_name) %>
        <% i = 1 %>
        <% question_answers.each do |question_answer| %>
	        <% average = average_by_round_calculate(question_answer) %>
	        <% std = std_by_round_calculate(average,question_answer) %>
          <div style="border-top: dotted; border-width: 1px; border-top-color:#000000;">
            <strong><%= "Round: " + i.to_s %></strong><br>
	          <i>Reviewers with scores</i><br>
            <% question_answer.each do |reviewer, answer| %>
              <div>
                <li><% response_id = get_response_id(reviewer, @teams[team_name], @id) %>
                  <%= link_to "("+@reviewers[team_name.to_s][reviewer.to_s].to_s+")", :controller => 'popup', :action => 'team_users_popup', :id => @teams[team_name], :id2 => response_id, :assignment_id=>@id %>
                  <%= list_review_submissions(reviewer, @teams[team_name], response_id) %>
                  <%= list_hyperlink_submission(response_id, 5386) if Assignment.find_by(id: @id.to_i).course.instructor.name == 'Jkidd' %>
                  <%= ": " + answer.to_s %>
		            </li>
              </div>
            <% end %>
          </div>
          <br><strong>Average Score: </strong><%=  average.to_s %><br>
          <strong>Standard Deviation: </strong><%=  std.to_s %>
	        <% i+=1 %>
        <% end %>
      </td>
      <td>

      </td>
    </tr>
  <% end %>
  </tbody>
</table>
