<!-- Partial view for rendering reviewer information -->
<tr>
  <% unless reviewer.id == 1 %>
    <% user = Participant.find(reviewer.id).user %>
    <!-- Reviewer -->
    <td>
      <%= index + 1 %>.
      <%= link_to user.name(session[:ip]), impersonate_impersonate_path(:user => {:name => user.name(session[:ip])}), :method => :post, :class => "user_unityID" %>
      (<span class="user_name"><%= user.fullname(session[:ip]) %></span>)
    </td>
    <!-- Reviews done -->
    <td align='left'>
      <% (1..@assignment.num_review_rounds).each do |round| %>
        <%= instance_variable_get("@review_in_round_" + round.to_s) %>/<%= @rspan %>
        <%= ', ' unless round == @assignment.num_review_rounds %>
      <% end %>
      <%= link_to "summary", {:controller => 'popup', :action => 'view_review_scores_popup', :reviewer_id => reviewer.id, :assignment_id=>@id}, target: :_blank %>
    </td>
  <% end %>
</tr>
