
<table width="100%" border="0" >
        <% i = 1 %>
        <% @statistics[team_name.to_s].each do |stat| %>
        <tr>
        <td width="30%">
        <div>
            <strong>Reviewers with scores</strong><br>
            <ol>
            <% stat[:question_answer].each do |reviewer, answer| %>
                <li><% response_id = response_id_review_conflict(reviewer, @teams[team_name], @id) %>
                <%= link_to "("+@reviewers[team_name.to_s][reviewer.to_s].to_s+")", :controller => 'popup', :action => 'team_users_popup', :id => @teams[team_name], :id2 => response_id, :assignment_id=>@id %>
                <%= list_review_submissions(reviewer, @teams[team_name], response_id) %>
                <%= ": " + answer.to_s %>
                </li>
            <% end %>
            </ol>
            </div>
          <strong>Max Review Score: </strong><%=max_scores[i-1]%><br>
          <strong>Average Score: </strong><%=  stat[:average].to_s %><br>
          <strong>Standard Deviation: </strong><%=  stat[:std].to_s %><br><br>
      </td>
      <td>
      <div style="text-align:center;">
          <strong><u><%= "Round: " + i.to_s %></u></strong>
          <%= generate_score_chart(max_scores[i-1], stat[:question_answer], @reviewers, team_name) %>
      </div>
      </td>
    </tr>
    <% i+=1 %>
  <% end %>
  </table>