<table width="100%" border="0" >
  <%review_scores = review_score_for_team(@id, team_name) %>
  <% i = 1 %>
  <% review_scores.each do |review_score| %>
    <% metrics = get_score_metrics(review_score, max_scores[i-1]) %>
    <tr>
      <td width="30%">
        <div>
          <strong>Reviewers with scores</strong><br>
          <ol>
            <% review_score.each do |reviewer, score| %>
              <li><% response_id = response_id_review_conflict(reviewer, @teams[team_name], @id) %>
              <mark style="background-color:<%=get_conflict_color(false, score, metrics[:upper_tolerance_limit], metrics[:lower_tolerance_limit])%>">
                <%= link_to "("+@reviewers[team_name.to_s][reviewer.to_s].to_s+")", :controller => 'popup', :action => 'team_users_popup', :id => @teams[team_name], :id2 => response_id, :assignment_id=>@id %>
                <%= list_review_submissions(reviewer, @teams[team_name], response_id) %>
                <div class="raw_points" style="display:inline">
                  <%= ": " + score.to_s %>
                </div>
                <div class="percentage_points" style="display:none">
                  <%= ": " + (((score.to_f/max_scores[i-1].to_f)*100).round(2)).to_s %>
                </div>
              </mark>
              </li>
            <% end %>
          </ol>
        </div>
        <div class="raw_points">
        <strong>Max Possible Review Score: </strong><%=max_scores[i-1]%><br>
        <strong>Average Score: </strong><%=  metrics[:average].to_s %><br>
        <strong>Standard Deviation: </strong><%=  metrics[:std].to_s %><br>
        <strong>Lower Threshold: </strong><%= metrics[:lower_tolerance_limit].to_s %><br>
        <strong>Upper Threshold: </strong><%= metrics[:upper_tolerance_limit].to_s %><br><br>
        </div>
        <div class="percentage_points" style="display:none">
        <strong>Max Possible Review Score: </strong>100<br>
        <strong>Average Score: </strong><%=  metrics[:average_percent].to_s %><br>
        <strong>Standard Deviation: </strong><%=  metrics[:std_percent].to_s %><br>
        <strong>Lower Threshold: </strong><%= metrics[:lower_tolerance_limit_percent].to_s %><br>
        <strong>Upper Threshold: </strong><%= metrics[:upper_tolerance_limit_percent].to_s %><br><br>
        </div>
      </td>
      <td>
        <div>
          <strong><u><%= "Round: " + i.to_s %></u></strong>
          <div class="raw_points_graph" style="display:block">
            <%= generate_score_chart(max_scores[i-1], review_score, true) %>
          </div>
          <div class="percentage_points_graph" style="display:none">
          <%= generate_score_chart(max_scores[i-1], review_score, false) %>
          </div>
        </div>
      </td>
    </tr>
    <% i+=1 %>
  <% end %>
</table>

<style>
  ol {
    column-count: 3;
  }
</style>