<%= create_report_table_header("Reviewer" => "16%",
                               "Self review" => "20%",
                               "Last reviewed at" => "20%") %>
    <%@l = -1 %>
    <% @self_review_response_maps.each do |sr| %>
      <%@l = @l+1 %>
      <% (@l % 2 == 0) ? @bgcolor = "#ffffff" : @bgcolor = "#DDDDBB" %>
      <!--Reviewer-->
      <td id = "green" bgcolor=<%= @bgcolor %> align='left'>
        <%= link_to @user_name = Participant.find(sr.reviewer_id).user.username(session[:ip]), impersonate_impersonate_path(:user => {:username => @user_name}), :method => :post, :title => "Click here to impersonate this user" %>
      </td>
      <!--Self review-->
      <td id = "green" bgcolor=<%= @bgcolor %> align='left'>
        <% if sr.response.first %>
          <%= link_to @user_name, controller: 'popup', action: 'self_review_popup', response_id: sr.response.first.id, user_fullname: Participant.find(sr.reviewer_id).user.fullname(session[:ip]) %>
        <% else %>
          <%= @user_name %>
        <% end %> 
      </td>
      <!--Last reviewed at-->
      <td bgcolor=<%= @bgcolor %> align='left'>
        <%= sr.updated_at.to_time.strftime("%m/%d/%Y - %I:%M%p") %>
      </td></tr><tr>
    <% end %>
  </table>
</div>
