<% unless @assignment.varying_rubrics_by_round? %>
    <!--Score awarded / Avg. score-->
    <div>
    <% if @review_scores[reviewer_id][team_id] %>
	<% unless @review_scores[reviewer_id][team_id].nil? || @review_scores[reviewer_id][team_id] == -1.0 %>
        <%= @review_scores[reviewer_id][team_id].inspect %>%
	<% end %>
    <% else %>
        --
    <% end %>
    /
    <%if @avg_and_ranges[team_id] %>
    <% unless @avg_and_ranges[team_id][:avg].nil? ||  @avg_and_ranges[team_id][:avg].round(0) == -1.0 %>
        <%= @avg_and_ranges[team_id][:avg].round(0) %>%
    <% end %>
    <%else%>
        --
    <%end%>
    </div>
<%else%>
    <!--Assignments have vary_rubric_by_rounds-->
    <!--Score awarded / Avg. score-->
    <% get_awarded_review_score(reviewer_id, team_id) %>
    <div>
    <% (1..@assignment.num_review_rounds).each do |round| %>
        <% review_metrics(round, team_id) %>
            <%= instance_variable_get("@score_awarded_round_" + round.to_s) %> / <%= @avg %>
            <%= ', ' unless round == @assignment.num_review_rounds %>
        <!--Score range
        <td bgcolor=<%= bgcolor %> align = 'left' >
            (<%= @min %>% - <%= @max %>%)
        </td>-->
    <%end%>
    </div>
<%end%>
