<h1>Assignments</h1>
<%= render 'publishing_rights' %>

<div style="width: 1024px">
  <div class="taskbox">
    <strong>&nbsp;&nbsp;<span class="tasknum">&nbsp;<%= @tasknotstarted.size.to_s %>&nbsp;</span> Tasks not yet started<br></strong><br>

    <% @tasknotstarted.each do |student_task|
      participant = student_task.participant
      stage = student_task.current_stage
      controller = ""
      action = ""
      if stage == "submission" || stage == 'signup'
        controller = "submitted_content"
        action = "edit"

        # check if the assignment has a sign-up sheet
        if SignUpTopic.find_by_assignment_id(participant.assignment.id)
          selected_topics = nil

          #ACS Get the topics selected by all teams
          #removed code that handles team and individual assignments differently
          # get the user's team and check if they have signed up for a topic yet
          users_team = SignedUpUser.find_team_users(participant.assignment.id,participant.user.id)
          if users_team.size > 0
            selected_topics = SignedUpUser.find_user_signup_topics(participant.assignment.id,users_team[0].t_id)
          end

          if selected_topics.nil? || selected_topics.length == 0
            # there is a signup sheet and user/team hasn't signed up yet, produce a link to do so
            controller = "sign_up_sheet"
            action = "list"
            id = participant.parent_id
            stage = "signup"
            end
          end
        elsif stage == "resubmission"
          controller = "submitted_content"
          action = "edit"
        elsif stage == "review" or stage == "rereview" or stage == "metareview"
          controller = "student_review"
          action = "list"
        end
      %>

    <span>&nbsp; &raquo;
      <%= link_to student_task.assignment.name + " " + student_task.current_stage, :controller => controller, :action => action, :id => id %>
      (<%= student_task.relative_deadline %> left)
    </span><br/>
  <% end %>

  <br/> <strong> &nbsp;&nbsp;<span class="revnum">&nbsp;<%= @taskrevisions.size.to_s %>&nbsp;</span> Revisions<br></strong><br>
  <% @taskrevisions.each do |student_task|
    participant = student_task.participant
    stage = student_task.current_stage
    duedate = participant.assignment.get_stage_deadline(participant.topic_id)
    controller = ""
    action = ""
    if stage == "submission" or stage == "resubmission"
      controller = "submitted_content"
      action = "edit"
    elsif stage == "review" or stage == "rereview" or stage == "metareview"
      controller = "student_review"
      action = "list"
    end
  %>

<span>&nbsp; &raquo; <%= link_to participant.assignment.name + " " +
  stage, :controller => controller, :action => action, :id => participant.id %>
(<%= time_ago_in_words(duedate) %> left) </span><br/>
<% end %>
<br/>
<strong>&nbsp;&nbsp;<span class="tasknum">&nbsp;<%= @notifications.size.to_s %>&nbsp;</span> Notifications<br></strong><br>

<% @notifications.each do |student_task| %>
  <span class="notification">&nbsp; &raquo; <%= link_to student_task.assignment.name + ": " +
    student_task.current_stage + " submitted", :controller => :grades, :action => :view_my_scores, :id => student_task.participant.id %></span><br/>
<% end %>
</div>
</div>

<div class="topictable">
  <table class="listing" cellpadding="2">
    <tr class="taskheader">
      <th>&nbsp;</th>
      <th>Assignment</th>
      <th>Course</th>
      <th>Topic</th>
      <th>Current Stage</th>
      <th>Stage Deadline</th>
      <th>Publishing Rights</th>
    </tr>

    <% @student_tasks.each do |student_task| %>
      <% participant = student_task.participant %>
      <% if student_task.assignment %>
        <tr class="listingRow">
          <td>&nbsp;</td>
          <td><b><%= link_to student_task.assignment.name, :action => 'view', :id => participant %></b></td>
          <td><%= student_task.course.try :name %></td>
          <td><%= student_task.topic_name %></td>

          <td>
          <% if participant.assignment.get_link_for_current_stage(participant.topic_id)!= nil && participant.assignment.get_link_for_current_stage(participant.topic_id).length!=0%>
              <%= link_to participant.assignment.get_current_stage_name(participant.topic_id), participant.assignment.get_link_for_current_stage(participant.topic_id) %>
              <% else %>
              <%= participant.assignment.get_current_stage_name(participant.topic_id) %>
              <% end %>

          </td>

          <td><%= student_task.stage_deadline.in_time_zone(session[:user].timezonepref) %></td>
          <td align=center>
            <% if participant.permission_granted %>granted
            <% else %>denied
            <% end %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
