<h1>
  <% if @assignment.spec_location == nil|| @assignment.spec_location.length==0%>
      Submit or Review work for <%= @assignment.name %>
  <% else %>
      Submit or Review work for <%= link_to @assignment.name, @assignment.spec_location %>
  <% end %>
  <% @can_submit = @participant.can_submit %>
  <% @can_review = @participant.can_review %>
  <% @can_take_quiz = @participant.can_take_quiz %>
  <% @authorization = Participant.get_authorization(@can_submit, @can_review, @can_take_quiz) %>
</h1>

<div class="flash_note">
  Next: Click the activity you wish to perform on the assignment titled: <%= @assignment.name %>
</div>
<% if @assignment.spec_location && @assignment.spec_location.length > 0 %>
  <a href="<%= @assignment.spec_location %>" target="new">Assignment Description</a>
<% end %>
<ul>
  <%if SignUpTopic.find_by_assignment_id(@assignment.id)%>
    <% if @authorization == 'participant' %>
      <li> 
        <%= link_to 'Signup sheet', :controller=>'sign_up_sheet', :action => 'list', :assignment_id => @participant.parent_id%>
        (Sign up for a topic)
      </li>
    <% end %>
  <%end%>
<!--ACS Here we need to know the size of the team to decide whether or not
to display the label "Your team" in the student assignment tasks-->
  <%if @assignment.team_assignment? && @assignment.has_teams? && @assignment.max_team_size > 1 %>
    <% if @authorization == 'participant' %>
      <li> 
        <%= link_to 'Your team', view_student_teams_path(student_id: @participant.id) %>
        (View and manage your team)
      </li>
    <% end %>
  <%end%>
  <% if @authorization == 'participant' or @can_submit == true %>
    <li>
      <% topic_id = SignedUpTeam.topic_id(@participant.parent_id, @participant.user_id) %>
      <% topics = SignUpTopic.where(assignment_id: @participant.parent_id) %>
      <!--if one team do not hold a topic (still in waitlist), they cannot submit their work.-->
      <% if topic_id.nil? and topics.size > 0 %>
        <font color="gray">Your work</font> (You have to choose a topic first)
      <% else %>
        <% if @assignment.submission_allowed(topic_id) %>
          <%= link_to 'Your work', :controller => 'submitted_content', :action => 'edit', :id => @participant.id %> (Submit and view your work)
        <% else %>
          <%= link_to 'Your work', :controller => 'submitted_content', :action => 'view', :id => @participant.id %> (Submit and view your work)
        <% end %>
      <% end %>
    </li>
  <% end %>

  <% if @authorization == 'participant' or @can_review == true %>
    <li>
      <!--alias_name means if one participant is a reader, it will show 'Your readings' to see others' work; if one participant is not a reader, it will show 'Others' work' on the screen.-->
      <% if @authorization != 'reader' %>
        <% @alias_name = "Others' work" %>
      <% else %>
        <% @alias_name = "Your readings" %>
      <% end %>

      <% topic_id = SignedUpTeam.topic_id(@participant.parent_id, @participant.user_id) %>
      <% if @assignment.can_review(@reviewee_topic_id) or @assignment.metareview_allowed(nil) or @assignment.get_current_stage(topic_id) == "Finished" %>
        <%= link_to "#{@alias_name}",{:controller => 'student_review', :action => 'list', :id => @participant.id} %>
      <% else %>
        <font color="gray"><%= @alias_name%></font>
      <% end %>
      (Give feedback to others on their work)
    </li>
  <% end %>

    <!--Quiz-->
  <%if @assignment.require_quiz%>
    <% if @authorization == 'participant' or @can_take_quiz == true %>
      <li>
        <% topic_id = SignedUpTeam.topic_id(@participant.parent_id, @participant.user_id) %>
        <% if @assignment.require_quiz and (@assignment.quiz_allowed(@reviewee_topic_id) or @assignment.get_current_stage(topic_id) == "Finished") %>
          <%= link_to "Take quizzes", student_quizzes_path(:id => @participant.id) %>
        <% else %>
          <font color="gray">Take quizzes</font>
        <% end %>
        (Take quizzes over the work you have read)
      </li>
    <% end %> 
  <%end%>
  
  <% if @authorization == 'participant' or @can_submit == true %>
    <li>
      <%= link_to "Your scores", :controller => 'grades', :action => 'view_my_scores', :id => @participant.id %> 
      (View feedback on your work)
    </li>
  <% end %> 
    <%if @can_provide_suggestions == true %>
      <li><%= link_to "Suggest a topic",{:controller => 'suggestion', :action => 'new', :id => @assignment.id} %></li>
    <% end %>

    <% topic_id = SignedUpTeam.topic_id(@participant.parent_id, @participant.user_id) %>
    <% if @assignment.get_current_stage(topic_id) == "Complete" %>
      <!-- removed code for survey assignment add in line above && SurveyHelper::is_user_eligible_for_survey?	(@assignment.id, session[:user].id)  -->
      <li><%= link_to "Take a survey",{:controller => 'survey_response', :action => 'begin_survey', :id => @assignment.id} %> (This will log you out)</li>
    <% end %>
    <li><%= link_to "Change your handle", {:controller => 'participants', :action => 'change_handle', :id => @participant.id} %> (Provide a different handle for this assignment)</li>
  </ul>
  <br>
  <a href="javascript:window.history.back()">Back</a>
