<!doctype html>
<head>
  <title>
    <%= params[:controller] %> | <%= params[:action] %>
  </title>
  <%= render :partial => 'layouts/favicon' %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
  <script type="text/javascript" src="https://www.viralpatel.net/demo/jquery/jquery.shorten.1.0.js"></script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>
<div class="container-fluid">
  <%= render 'shared/navigation' %>
    <div class="wrapper">
      <div class="main">
        <div class="content">
          <div id="application-flash-div">
            <%= render 'shared/flash_messages' %>
          </div>
          <% if session[:user] %>
            <%= render 'shared/flash_notifications' %> <%# display notifications, Randal Myers, 22 March 2017 %>
          <% end %>
          <div class="<%= controller_name %> <%= action_name %>">
            <%= yield %>
          </div>

        </div>
      </div>
    </div>

  <div class="clearing">&nbsp;</div>
</div>
<!-- class="wrapper" -->
<div class="footer" align="center">
  <%= render 'shared/footer_message' %>
</div>
<!-- class="footer" -->

</body>
</html>
