<!doctype html>
<head>
  <title>
    <%= params[:controller] %> | <%= params[:action] %>
  </title>

  <%= stylesheet_link_tag    "application", media: "all"  %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<div ng-app='MPApp'>
  <%#= render 'shared/header' %>

  <div class="container-fluid">
  <%= render 'shared/navigation' %>

  <div class="wrapper">
<!--       <%# if not session[:user] %>
      <div class="sidebar">
          <%#= render :partial => 'auth/login' %><br/>
          <%# if session[:user].nil? %>
          <%# else %>
            <%# if session[:user].role_id == 4 || session[:user].role_id == 3 || session[:user].role_id == 2 %>
              <%#= link_to "Search log", Version %></a>
            <%# end %>
          <%# end %>
          <div>
            <%# if !current_user %>
                <%#= link_to image_tag("google.png", size: "150x50"), "/auth/google_oauth2" %>
            <%# end %>
          </div>
      </div>
      <%# end %>
 -->
      <div class="main">
        <div class="content">
          <%# if session[:menu] %>
            <%#= render :partial => 'menu_items/breadcrumbs', :locals => { :crumbs => session[:menu].crumbs } %>
          <%# end %>

          <%= render 'shared/flash_messages' %>

          <%= yield %>
        </div>
      </div>
    </div>

    <div class="clearing">&nbsp;</div>
  </div>
  <!-- class="wrapper" -->

    <div class="footer" align="center">
      <%= render 'shared/footer_message' %>
    </div>
    <!-- class="footer" -->
  </div>

</div>

</body>
</html>
