<!doctype html>
<head>
  <title>
    <%= params[:controller] %> | <%= params[:action] %>
  </title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render 'shared/header' %>

  <%= render 'shared/navigation' %>

  <div class="wrapper">
    <div class="container">

      <div class="sidebar">
        <div class="sidecontent">
          <%= render :partial => 'auth/login' %><br/>
          <% if session[:user].nil? %>
          <% else %>
            <% if session[:user].role_id ==4  %>
              <%= link_to "Manage Versions Table", Version %></a>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="main">
        <div class="content">
          <% if session[:menu] %>
            <%= render :partial => 'menu_items/breadcrumbs', :locals => { :crumbs => session[:menu].crumbs } %>
          <% end %>

          <%= render 'shared/flash_messages' %>

          <%= yield %>

        </div>
      </div>
    </div>

    <div class="clearing">&nbsp;</div>

  </div>
  <!-- class="wrapper" -->

  <div class="footer" align="center">
    <%= render 'shared/footer_message' %>
  </div>
  <!-- class="footer" -->

</body>
</html>
