<!doctype html>
<head>
  <title>
    <%= params[:controller] %> | <%= params[:action] %>
  </title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="container-fluid">
  <%= render 'shared/navigation' %>

  <div class="wrapper">
    <div class="main">
      <div class="content">
        <%= render 'shared/flash_messages' %>

        <%= yield %>

      </div>
    </div>
  </div>

  <div class="clearing">&nbsp;</div>

  </div>
  <!-- class="wrapper" -->

  <div class="footer" align="center">
    <%= render 'shared/footer_message' %>
  </div>
  <!-- class="footer" -->

</body>
</html>
