<%= form_for(@review_metrics_mapping) do |f| %>
  <% if @review_metrics_mapping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review_metrics_mapping.errors.count, "error") %> prohibited this review_metrics_mapping from being saved:</h2>

      <ul>
      <% @review_metrics_mapping.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :response %><br>
    <%= f.number_field :response %>
  </div>
  <div class="field">
    <%= f.label :metric %><br>
    <%= f.number_field :metric %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.number_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
